.well
    label {{vm.showRewardTypeData.params.params.reward.des | translate}}
    table.paddingTbl(style='min-width:100%')
        thead
            tr
                th {{vm.showRewardTypeData.params.params.reward.data.index.des | translate}}
                th {{vm.showRewardTypeData.params.params.reward.data.topUpType.des | translate}}
                th {{vm.showRewardTypeData.params.params.reward.data.rewardDes.des | translate}}
                th {{vm.showRewardTypeData.params.params.reward.data.rewardPercentage.des | translate}}
                th {{"ACTION" | translate}}
        tbody
            tr(ng-repeat='(i,data) in vm.rewardParams.reward')
                td
                    text(ng-if="vm.platformRewardPageName=='showReward'") {{data.index}}
                    input(ng-if="vm.platformRewardPageName!=='showReward'", type='number', ng-model='data.index', style='min-width:100%')
                td
                    text(ng-if="vm.platformRewardPageName=='showReward'")
                    select.form-control(ng-model='data.topUpType', ng-disabled='vm.platformRewardShowEdit()', required)
                        option(value='1') 网银支付(NetPay)
                        option(value='2') 微信扫码(WechatQR)
                        option(value='3') 支付宝扫码(AlipayQR)
                        option(value='4') 微信App支付(WechatApp)
                        option(value='5') 支付宝App支付(AlipayApp)
                        option(value='6') 快捷支付(FASTPAY)
                        option(value='7') QQ扫码(QQPAYQR)
                        option(value='8') 银联扫码支付(UnPayQR)
                        option(value='9') 京东钱包扫码支付(JdPayQR)
                        option(value='10') 微信wap(WXWAP)
                        option(value='11') 支付宝wap(ALIWAP)
                        option(value='12') QQwap(QQWAP)
                        option(value='13') 点卡(PCard)
                        option(value='98') 微信转账(WeChat)
                        option(value='99') 支付宝转账(Alipay)
                td
                    text(ng-if="vm.platformRewardPageName=='showReward'") {{data.rewardDes}}
                    input(ng-if="vm.platformRewardPageName!=='showReward'", ng-model='data.rewardDes', style='min-width:100%')
                td
                    text(ng-if="vm.platformRewardPageName=='showReward'") {{data.rewardPercentage}}
                    input(ng-if="vm.platformRewardPageName!=='showReward'", type='number', ng-model='data.rewardPercentage', style='min-width:100%')

                td.text-center
                    i.fa.fa-minus.text-danger(ng-click='vm.updateRewardInEdit("remove",rowIndex)')
            tr
                td.text-center(colspan=3)
                    i.fa.fa-plus.text-success(ng-click='vm.updateRewardInEdit("add",{})')