.well
    .full-width-input-block
        label {{vm.showRewardTypeData.params.params.targetEnable.des | translate}}
        input.form-control(type='checkbox', ng-model='vm.rewardParams.targetEnable', ng-disabled='vm.platformRewardShowEdit()')

    .full-width-input-block(ng-if="vm.platformRewardPageName!=='showReward'")
        label(style='vertical-align: top;') {{"PROVIDER" | translate}}
        div.inlineBlk
            label.margin-right-5(ng-repeat='(i,v) in vm.platformProvider') {{v.name}}
                input.pull-left(type='checkbox', ng-model="vm.firstTopUp.providerTick[v._id]", ng-change='vm.topupProviderChange(v._id,vm.firstTopUp.providerTick[v._id])')
    .full-width-input-block(ng-if="vm.platformRewardPageName =='showReward'")
        label(style='vertical-align: top;') {{"PROVIDER" | translate}}
        div.inlineBlk
            label.margin-right-5(ng-repeat='(i,v) in vm.rewardParams.providers') {{vm.getProviderText(v)|translate}}


    label {{vm.showRewardTypeData.params.params.reward.des | translate}}
    table.table.common-table
        thead
            tr
                th {{vm.showRewardTypeData.params.params.reward.data.index.des | translate}}
                th {{vm.showRewardTypeData.params.params.reward.data.minConsumptionAmount.des | translate}}
                th {{vm.showRewardTypeData.params.params.reward.data.rewardAmount.des | translate}}
                th {{vm.showRewardTypeData.params.params.reward.data.spendingTimes.des | translate}}
                th(ng-if='!vm.platformRewardShowEdit()')
        tbody
            tr(ng-repeat='(rowIndex,rowdata) in vm.rewardParams.reward')
                td
                    input.form-control(type='number', ng-model='vm.rewardParams.reward[rowIndex].index', ng-disabled='vm.platformRewardShowEdit()')
                td
                    input.form-control(type='number', ng-model='vm.rewardParams.reward[rowIndex].minConsumptionAmount', ng-disabled='vm.platformRewardShowEdit()')
                td
                    input.form-control(type='number', ng-model='vm.rewardParams.reward[rowIndex].rewardAmount', ng-disabled='vm.platformRewardShowEdit()')
                td
                    input.form-control(type='number', ng-model='vm.rewardParams.reward[rowIndex].spendingTimes', ng-disabled='vm.platformRewardShowEdit()')
                td(ng-if='!vm.platformRewardShowEdit()')
                    i.fa.fa-minus(ng-click='vm.updateRewardInEdit("remove",rowIndex)')

                // Placeholder for new entry
                tr(ng-if='!vm.platformRewardShowEdit()')
                    td(colspan=9) {{'ADD' | translate}}
                tr(ng-if='!vm.platformRewardShowEdit()')
                    td
                        input.form-control(type='number', ng-model='vm.tempNewRewardEntry.index')
                    td
                        input.form-control(type='number', ng-model='vm.tempNewRewardEntry.minConsumptionAmount')
                    td
                        input.form-control(type='number', ng-model='vm.tempNewRewardEntry.rewardAmount')
                    td
                        input.form-control(type='number', ng-model='vm.tempNewRewardEntry.spendingTimes')
                    td
                        i.fa.fa-plus(ng-click='vm.updateRewardInEdit("add",vm.tempNewRewardEntry);vm.tempNewRewardEntry={}')