.well
    .full-width-input-block
        label {{vm.showRewardTypeData.params.params.needApply.des | translate}}
        input(type='checkbox', ng-model='vm.rewardParams.needApply', ng-disabled='vm.platformRewardShowEdit()')

    //.full-width-input-block
        label {{vm.showRewardTypeData.params.params.useConsumption.des | translate}}
        input(type='checkbox', ng-model='vm.rewardParams.useConsumption', ng-disabled='vm.platformRewardShowEdit()')


    label {{vm.showRewardTypeData.params.params.reward.des | translate}}
    table.paddingTbl
         thead
             tr
                    th
                        label &nbsp;
                    th(ng-repeat='(i,v) in vm.showRewardTypeData.params.params.reward.data') {{v.des | translate}}
             tbody
                tr(ng-repeat='(r,row) in vm.allPlayerLvl')
                    td {{row.name}}
                    td(ng-repeat='(m,n) in vm.showRewardTypeData.params.params.reward.data')
                        .percentage(ng-if='n.type=="Percentage"')
                            input.form-control.inlineBlk(type='number', min='0',percentage, ng-model='vm.rewardParams.reward[row.value][m]', ng-disabled='vm.platformRewardShowEdit()')
                        input.form-control(ng-if='n.type=="Number"', type='number', min='0', ng-model='vm.rewardParams.reward[row.value][m]', ng-disabled='vm.platformRewardShowEdit()')