.col-md-12.well.scrollRecord
    table.simple-table.table-vertical-middle.margin-medium.limitOffersTB
        thead
            tr
                th(style='min-width:150px;') {{'Display Order' | translate}}
                th(style='min-width:150px;') {{'Offer Name' | translate}}
                th(style='min-width:100px;') {{'Original Amount' | translate}}
                th(style='min-width:100px;') {{'Offer Amount' | translate}}
                th(style='min-width:100px;') {{'Display Original Price' | translate}}
                th(style='min-width:100px;') {{'Required Level' | translate}}
                th(style='min-width:100px;') {{'Quantity' | translate}}
                th(style='min-width:100px;') {{'Limit Apply Per Person' | translate}}
                th(style='min-width:100px;') {{'Expired Time' | translate}}
                th(style='min-width:100px;') {{'Bet' | translate}}
                th(style='min-width:120px;') {{'Game Providers' | translate}}
                th(style='min-width:200px;') {{'START_DATE' | translate}}
                th(style='min-width:100px;') {{'Repeat Day' | translate}}
                th(style='min-width:100px;') {{'inStock DisplayTime' | translate}}
                th(style='min-width:100px;') {{'Out Of Stock DisplayTime' | translate}}
                th(style='min-width:100px;') {{'CountDown Time' | translate}}
                th(style='min-width:100px;') {{'Image Url' | translate}}
                th(style='min-width:100px;') {{'STATUS' | translate}}
                th(style='min-width:50px;')

        tbody
            tr
                input(ng-model="vm.daySelection['0']", type='checkbox', ng-click="vm.rewardParamsDaySelectedAll()", ng-checked="true", ng-init="check=true")
                label ALL /
                    div(ng-repeat='(i,v) in vm.weekDayList', style="display:inline-block")
                        input(type='checkbox', ng-model='vm.daySelection[i]', ng-click="vm.isDayChecked(i)")
                        label {{v }} /

            tr(ng-repeat='(rowIndex,rowdata) in vm.rewardParamsFilter', ng-init="$last && vm.endLoadWeekDay()")
                td
                    div
                        input.form-control(type='String', min='0', ng-model='vm.rewardParamsFilter[rowIndex].displayOrder', ng-disabled='vm.platformRewardShowEdit()', required)
                td
                    div
                        input.form-control(type='String', min='0', ng-model='vm.rewardParamsFilter[rowIndex].name', ng-disabled='vm.platformRewardShowEdit()', required)
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].oriPrice', ng-disabled='vm.platformRewardShowEdit()', required)
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].offerPrice', ng-disabled='vm.platformRewardShowEdit()', required)

                td
                    div
                        input(type='checkbox', ng-model='vm.rewardParamsFilter[rowIndex].displayOriPrice', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        select.form-control(ng-model='vm.rewardParamsFilter[rowIndex].requiredLevel', ng-disabled='vm.platformRewardShowEdit()')
                            option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].qty', ng-disabled='vm.platformRewardShowEdit()', required)

                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].limitPerson', ng-disabled='vm.platformRewardShowEdit()', required)

                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].limitTime', ng-disabled='vm.platformRewardShowEdit()', required)
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].bet', ng-disabled='vm.platformRewardShowEdit()', required)

                td
                    div
                        select.form-control.spicker(ng-if="!vm.selectedPlatform.data.useProviderGroup" ng-model='vm.rewardParamsFilter[rowIndex].providers', multiple, ng-disabled='vm.platformRewardShowEdit()', data-actions-box='true')
                            option(ng-repeat='(i,v) in vm.platformProvider', value='{{v._id}}') {{v.name}}
                        select.form-control(ng-if="vm.selectedPlatform.data.useProviderGroup" ng-model="vm.rewardParamsFilter[rowIndex].providerGroup" ng-disabled='vm.platformRewardShowEdit()')
                            option(style="display: inline-block" ng-repeat='v in vm.gameProviderGroup', value='{{v._id}}' ng-init='$last && vm.endLoadWeekDay()') {{v.name}}
                td
                    div(style="display:inline-block;width:45%")
                        select.form-control(ng-model='vm.rewardParamsFilter[rowIndex].hrs', ng-disabled='vm.platformRewardShowEdit()')
                            option(ng-repeat='(i,v) in vm.dayHrs', value='{{v}}') {{v}}
                    div(style="display:inline-block;width:45%")
                        select.form-control(ng-model='vm.rewardParamsFilter[rowIndex].min', ng-disabled='vm.platformRewardShowEdit()')
                            option(ng-repeat='(i,v) in vm.dayMin', value='{{v}}') {{v}}
                td
                    div
                        select.spicker( ng-model='vm.rewardParamsFilter[rowIndex].repeatWeekDay', multiple, ng-disabled='vm.platformRewardShowEdit()', data-actions-box='true')
                            option(ng-repeat='(i,v) in vm.weekDayList', value='{{i}}' ) {{v}}
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].inStockDisplayTime', ng-disabled='vm.platformRewardShowEdit()', required)
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].outStockDisplayTime', ng-disabled='vm.platformRewardShowEdit()', required)

                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParamsFilter[rowIndex].countDownTime', ng-disabled='vm.platformRewardShowEdit()', required)
                td
                    div
                        input.form-control(type='String', min='0', ng-model='vm.rewardParamsFilter[rowIndex].imgUrl', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        select.form-control( ng-model='vm.rewardParamsFilter[rowIndex].status', ng-disabled='vm.platformRewardShowEdit()')
                            option(value="0") {{'Open'| translate}}
                            option(value="1") {{'Closed'| translate}}
                td(ng-if='!vm.platformRewardShowEdit()')
                    i.fa.fa-minus(ng-click='vm.updateLimitedOffersEdit("remove",rowIndex, vm.rewardParamsFilter[rowIndex]._id)')
            //editReward
            tr(ng-if='!vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='String', min='0', ng-model='vm.tempNewRewardEntry.displayOrder', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='String', min='0', ng-model='vm.tempNewRewardEntry.name', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.oriPrice', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.offerPrice', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input(type='checkbox', ng-model='vm.tempNewRewardEntry.displayOriPrice', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        select.form-control(ng-model='vm.tempNewRewardEntry.requiredLevel', ng-init='vm.tempNewRewardEntry.requiredLevel = vm.allPlayerLvl[0]._id', ng-disabled='vm.platformRewardShowEdit()')
                            option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.qty', ng-disabled='vm.platformRewardShowEdit()')

                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.limitPerson', ng-disabled='vm.platformRewardShowEdit()')

                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.limitTime', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.bet', ng-disabled='vm.platformRewardShowEdit()')

                td
                    div
                        select.spicker.form-control(ng-if="!vm.selectedPlatform.data.useProviderGroup" ng-model='vm.tempNewRewardEntry.providers', multiple, ng-disabled='vm.platformRewardShowEdit()', data-actions-box='true')
                            option(ng-repeat='(i,v) in vm.platformProvider', value='{{v._id}}') {{v.name}}
                        label.form-control(ng-if='!vm.selectedPlatform.data.useProviderGroup && vm.providerGame[vm.rewardParams.providers[i].providerObjId] && vm.providerGame[vm.rewardParams.providers[i].providerObjId].length==0') {{"NO_GAME" | translate}}
                        select.form-control(ng-if="vm.selectedPlatform.data.useProviderGroup" ng-model="vm.tempNewRewardEntry.providerGroup" ng-disabled='vm.platformRewardShowEdit()')
                            option(style="display: inline-block" ng-repeat='v in vm.gameProviderGroup', value='{{v._id}}' ng-init='$last && vm.endLoadWeekDay()') {{v.name}}
                td
                    div(style="display:inline-block;width:45%")
                        select.form-control(ng-model='vm.tempNewRewardEntry.hrs')
                            option(ng-repeat='(i,v) in vm.dayHrs', value='{{v}}') {{v}}
                    div(style="display:inline-block;width:45%")
                        select.form-control(ng-model='vm.tempNewRewardEntry.min')
                            option(ng-repeat='(i,v) in vm.dayMin', value='{{v}}') {{v}}
                td
                    div
                        select.spicker.form-control( ng-model='vm.tempNewRewardEntry.repeatWeekDay', multiple, ng-disabled='vm.platformRewardShowEdit()', data-actions-box='true')
                            option(ng-repeat='(i,v) in vm.weekDayList', ng-init='$last && vm.endLoadWeekDay()', value='{{i}}') {{v}}
                        label.form-control(ng-if='vm.providerGame[vm.rewardParams.providers[i].providerObjId] && vm.providerGame[vm.rewardParams.providers[i].providerObjId].length==0') {{"NO_GAME" | translate}}
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.inStockDisplayTime', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.outStockDisplayTime', ng-disabled='vm.platformRewardShowEdit()')

                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.tempNewRewardEntry.countDownTime', ng-disabled='vm.platformRewardShowEdit()')

                td
                    div
                        input.form-control(type='String', min='0', ng-model='vm.tempNewRewardEntry.imgUrl', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        select.form-control( ng-model='vm.tempNewRewardEntry.status', ng-init='1' ng-disabled='vm.platformRewardShowEdit()')
                            option(value="1") {{'Open'| translate}}
                            option(value="2") {{'Closed'| translate}}
                td
                    i.fa.fa-plus(ng-click='vm.updateLimitedOffersEdit("add",vm.tempNewRewardEntry);vm.tempNewRewardEntry={}')
            //tr
                td
                    div
                        input(type='checkbox', ng-model='vm.rewardParams.checkConsumption', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParams.numOfConsumeDays', ng-disabled='vm.platformRewardShowEdit()')
                td
                    div
                        input.form-control(type='number', min='0', ng-model='vm.rewardParams.minConsumeAmount', ng-disabled='vm.platformRewardShowEdit()')
    div(ng-if='vm.rewardParams.checkConsumption')
        input(type='checkbox', ng-model='vm.rewardParams.andProvider', ng-disabled='vm.platformRewardShowEdit()')
