div(ng-if="checkViewPermission('Partner', 'Report')")
    .col-md-3(ng-if='!vm.hideLeftPanel')
        .panel.panel-primary
            .panel-body.common-left-panel-body.leftPanel-vlist
                #reportCategory.panel-group
                    .panel.panel-default
                        .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#reportCategory", href='#generalReport')
                            h4.panel-title
                                label.text-success {{'GENERAL_REPORT' | translate}}
                        #generalReport.panel-collapse.collapse.in
                            .panel-body
                                div
                                    li.list-group-item(class="{{vm.seleDataType.PLAYERPARTNER_REPORT}}" ng-click='vm.loadPage("PLAYERPARTNER_REPORT")', ng-if="checkViewPermission('Partner', 'Report', 'PLAYERPARTNER_REPORT')")
                                        text {{'PLAYERPARTNER_REPORT' | translate}}
                                    li.list-group-item(class="{{vm.seleDataType.PARTNERPLAYERBOUNS_REPORT}}" ng-click='vm.loadPage("PARTNERPLAYERBOUNS_REPORT")', ng-if="checkViewPermission('Partner', 'Report', 'PARTNERPLAYERBOUNS_REPORT')")
                                        text {{'PARTNERPLAYERBOUNS_REPORT' | translate}}
                                    li.list-group-item(class="{{vm.seleDataType.REAL_TIME_COMMISSION_REPORT}}" ng-click='vm.loadPage("REAL_TIME_COMMISSION_REPORT")', ng-if="checkViewPermission('Report', 'General', 'REAL_TIME_COMMISSION_REPORT')")
                                        text {{'REAL_TIME_COMMISSION_REPORT' | translate}}
                                    li.list-group-item(class="{{vm.seleDataType.PARTNER_SETTLEMENT_HISTORY_REPORT}}" ng-click='vm.loadPage("PARTNER_SETTLEMENT_HISTORY_REPORT")', ng-if="checkViewPermission('Partner', 'Report', 'PARTNER_SETTLEMENT_HISTORY_REPORT')")
                                        text {{'PARTNER_SETTLEMENT_HISTORY_REPORT' | translate}}
                                    li.list-group-item(class="{{vm.seleDataType.PARTNER_PROFIT_REPORT}}" ng-click='vm.loadPage("PARTNER_PROFIT_REPORT")', ng-if="checkViewPermission('Partner', 'Report', 'PARTNER_PROFIT_REPORT')")
                                        text {{'PARTNER_PROFIT_REPORT' | translate}}


    div(ng-class='vm.hideLeftPanel ? "col-md-12" : "col-md-9"', style='padding-left:5px')
        #reportRightTable.panel.panel-danger.widthto100.inline-block
            .panel-heading
                .pull-left(style='margin-top: -5px;')
                    a.fa.fa-chevron-circle-left.contractIcon(ng-show='!vm.hideLeftPanel', ng-click='vm.setPanel(true)')
                    a.fa.fa-chevron-circle-right.contractIcon(ng-show='vm.hideLeftPanel', ng-click='vm.setPanel(false)')
                label {{vm.showPageName | translate}}
            .panel-body
                div(ng-if='vm.showPageName=="PLAYERPARTNER_REPORT"')
                    include ./player-partner
                div(ng-if='vm.showPageName=="PARTNERPLAYERBOUNS_REPORT"')
                    include ./partner-player-bonus
                div(ng-if='vm.showPageName=="REAL_TIME_COMMISSION_REPORT"')
                    include ./real-time-commission
                div(ng-if='vm.showPageName=="PARTNER_SETTLEMENT_HISTORY_REPORT"')
                    include ./partner-settlement-history
                div(ng-if='vm.showPageName=="PARTNER_PROFIT_REPORT"')
                    include ./partner-profit


link(rel='stylesheet', href='css/analysis.css')