#partnerPlayerBonusQuery.col-md-12.well
    .search-filters-item
        label {{"PLATFORM" | translate}}
        select.form-control(ng-model='vm.partnerPlayerBonusQuery.platformObjId')
            option(ng-repeat='(i,v) in vm.platformList', value='{{v.id}}') {{v.text}}
    .search-filters-item
        label *{{"partnerName"|translate}}
        input.form-control.span.input-sm(type="text", ng-model="vm.partnerPlayerBonusQuery.partnerName")
    .search-filters-item
        label {{"Start date"|translate}}
        .startTime
    .search-filters-item
        label {{"End date"|translate}}
        .endTime
    .text-right.widthto100
        button.btn.btn-success.btn-space(ng-click='vm.searchPartnerPlayerBonusData(true)', ng-disabled='!vm.partnerPlayerBonusQuery.partnerName') {{'SEARCH' | translate}}
        button.btn.btn-info.btn-space(ng-click="vm.searchPartnerPlayerBonusData(true, true)") {{'EXPORT_EXCEL' | translate}}
        span#partnerPlayerBonusTableSpin.collapse
            i.fa.fa-spinner.fa-spin
        span.margin-left-5 {{vm.operationReportLoadingStatus}}
.clearfix
label {{"Total" | translate}} {{vm.partnerPlayerBonusQuery.totalCount}} {{"records" | translate}} {{vm.partnerPlayerBonusQuery.message | translate}} / {{"Search time" | translate}}: {{vm.reportSearchTime}} {{"Seconds" | translate}}
table.common-table#partnerPlayerBonusTable.display(style="width:inherit;min-width:100%;overflow-x: scroll")
    thead
        tr
            th(rowspan=2) {{'playerName' | translate}}
            th(rowspan=2) {{'registrationTime' | translate}}
            th(rowspan=2) {{'lastAccessTime' | translate}}
            th(rowspan=2) {{'lastBonusTime' | translate}}
            th(colspan=6) {{'total' | translate}}
            th(colspan=6) {{'Within Search Period' | translate}}
        tr
            th {{'TOP_UP_TIMES' | translate}}
            th {{'BonusTime' | translate}}
            th {{'TOP_UP_SUM' | translate}}
            th {{'BonusAmount' | translate}}
            th {{'TopUp Fee' | translate}}
            th {{'Withdrawal Fee' | translate}}
            th {{'TOP_UP_TIMES' | translate}}
            th {{'BonusTime' | translate}}
            th {{'TOP_UP_SUM' | translate}}
            th {{'BonusAmount' | translate}}
            th {{'TopUp Fee' | translate}}
            th {{'Withdrawal Fee' | translate}}
#partnerPlayerBonusTablePage
table.common-table#partnerPlayerBonusExcelTable.display(style="width:inherit; min-width:100%; overflow-x: scroll; display: none")
    thead
        tr
            th(rowspan=2) {{'playerName' | translate}}
            th(rowspan=2) {{'registrationTime' | translate}}
            th(rowspan=2) {{'lastAccessTime' | translate}}
            th(rowspan=2) {{'lastBonusTime' | translate}}
            th(colspan=6) {{'total' | translate}}
            th(colspan=6) {{'Within Search Period' | translate}}
        tr
            th {{'TOP_UP_TIMES' | translate}}
            th {{'BonusTime' | translate}}
            th {{'TOP_UP_SUM' | translate}}
            th {{'BonusAmount' | translate}}
            th {{'TopUp Fee' | translate}}
            th {{'Withdrawal Fee' | translate}}
            th {{'TOP_UP_TIMES' | translate}}
            th {{'BonusTime' | translate}}
            th {{'TOP_UP_SUM' | translate}}
            th {{'BonusAmount' | translate}}
            th {{'TopUp Fee' | translate}}
            th {{'Withdrawal Fee' | translate}}