#realTimeCommissionQuery.col-md-12.well
    .search-filters-item
        label {{"PLATFORM" | translate}}
        select.form-control(ng-model='vm.realTimeCommissionQuery.platformObjId')
            option(ng-repeat='(i,v) in vm.platformList', value='{{v.id}}') {{v.text}}
    .search-filters-item
        label {{"COMMISSION_TYPE" | translate}}
        select.form-control(ng-model='vm.realTimeCommissionQuery.commissionType' ng-change="vm.showRealTimeCommissionSettlementButton = false")
            option(value='7') {{"DAILY_CONSUMPTION" | translate}}
            option(value='2') {{"WEEKLY_BONUS_AMOUNT" | translate}}
            option(value='4') {{"MONTHLY_BONUS_AMOUNT" | translate}}
    .search-filters-item
        label {{"PARTNER_NAME" | translate}}
        input.form-control(type="text", ng-model="vm.realTimeCommissionQuery.partnerName" ng-change="vm.showRealTimeCommissionSettlementButton = false")
    .search-filters-item
        label {{"COMMISSION_TYPE" | translate}}
        select.form-control(ng-model='vm.selectCommissionPeriod' ng-change="vm.showRealTimeCommissionSettlementButton = false")
            option(value='') {{"CURRENT_PERIOD" | translate}}
            option(value='1') {{"PREVIOUS_X_PERIOD" | translate}}
    div(ng-if='vm.selectCommissionPeriod' ng-change="vm.showRealTimeCommissionSettlementButton = false")
        label {{'　'}}
        input.form-control.span.input-sm(type="number" step='1' ng-model='vm.selectedCommissionPeriod' min=0 ng-change='vm.getSelectedCommissionPeriod()')
    .text-right.widthto100
        button.btn.btn-success.btn-space(ng-click='vm.searchRealTimePartnerCommissionData()') {{'SEARCH' | translate}}
        button.btn.btn-info.btn-space(ng-click="vm.exportToExcel('realTimeComissionTable', 'REAL_TIME_COMMISSION_REPORT')") {{'EXPORT_EXCEL' | translate}}
        span#realTimeCommissionTableSpin.searchRealTimePartnerCommissionData
            i.fa.fa-spinner.fa-spin
        span.margin-left-5 {{vm.realTimeCommissionLoadingStatus}}
.clearfix
label {{"Search time" | translate}}: {{vm.reportSearchTime}} {{"Seconds" | translate}}
table.simple-table#realTimeComissionTable
    thead
        tr
            th {{'PARTNER_NAME' | translate}}
            th {{'REAL_NAME' | translate}}
            //th(ng-repeat= "grp in vm.realTimeCommissionData[0].rawCommissions" ng-if="vm.realTimeCommissionData[0]") {{grp.groupName | translate}} {{"Commission" | translate}}
            th {{'DIRECT_DOWN_LINE' | translate}}
            th {{'MULTI_LEVEL_PARTNER' | translate}}
            th {{'TOTAL_REWARD_FEE' | translate}}
            th {{'TOTAL_PLATFORM_FEE' | translate}}
            th {{'TOTAL_TOPUP_FEE' | translate}}
            th {{'TOTAL_WITHDRAWAL_FEE' | translate}}
            th {{'REAL_TIME_COMMISSION_FORCAST' | translate}}
            //th {{'parentPartnerCommissionEstimation' | translate}}
            th {{'PARTNER_ACCOUNT_BALANCE' | translate}}
            th {{'ACTIVE_DOWNLINES' | translate}}
            th {{'PREVIOUS_THREE_INTERVAL_ACTIVE_DOWNLINES' | translate}}
            th {{'PREVIOUS_THREE_INTERVAL_NET_COMMISSSION' | translate}}
            th {{'REMARKS' | translate}}
    tbody
        tr(ng-repeat="(i,v) in vm.realTimeCommissionData")
            td {{v.partnerName}}
            td {{v.partnerRealName}}
            //td(ng-repeat= "(igrp, grp) in v.rawCommissions")
            //    a(ng-style='grp.isCustomCommissionRate ? {color:"red"} : {}', data-toggle="modal", data-target='#modalCommissionTable', ng-click="vm.partnerCommVar.partner=i; vm.partnerCommVar.group=grp; vm.partnerCommVar.selectTab=igrp; vm.calculatePartnerDLTotalDetail(v.downLinesRawCommissionDetail,'consumptionDetail')") {{grp.amount | number : 2}}
            td
                a(ng-click="vm.partnerCommVar.partner=i; vm.partnerCommVar.group=v.rawCommissions[0]; vm.partnerCommVar.selectTab=0; vm.calculatePartnerDLTotalDetail(v.downLinesRawCommissionDetail,'consumptionDetail')" data-toggle="modal" data-target='#modalCommDetail') {{v.grossCommission | number : 2}}
            td
                a(ng-click="vm.partnerCommVar.partner=i;" data-toggle="modal", data-target='#modalChildComm') {{v.childSummary.grossCommission | number : 2}}
            td
                a(data-toggle="modal", data-target='#modalRewardFeeTablea', ng-click="vm.partnerCommVar.partner=i; vm.calculatePartnerDLTotalDetail(v.downLinesRawCommissionDetail,'rewardDetail')", ng-style='v.partnerCommissionRateConfig.rateAfterRebatePromoIsCustom ? {color:"red"} : {}') {{v.totalRewardFee | number : 2}}
            td
                a(data-toggle="modal", data-target='#modalCommDetail', ng-click="vm.partnerCommVar.partner=i; vm.partnerCommVar.group=v.rawCommissions[0]; vm.partnerCommVar.selectTab=vm.partnerCommVar.platformFeeTab; vm.calculatePartnerDLTotalDetail(v.downLinesRawCommissionDetail,'consumptionDetail')") {{v.totalPlatformFee | number : 2}}
            td
                a(data-toggle="modal", data-target='#modalTopUpFeeTablea', ng-click="vm.partnerCommVar.partner=i; vm.calculatePartnerDLTotalDetail(v.downLinesRawCommissionDetail,'topUpDetail')", ng-style='v.partnerCommissionRateConfig.rateAfterRebateTotalDepositIsCustom ? {color:"red"} : {}') {{v.totalTopUpFee | number : 2}}
            td
                a(data-toggle="modal", data-target='#modalWithdrawalFeeTablea', ng-click="vm.partnerCommVar.partner=i; vm.calculatePartnerDLTotalDetail(v.downLinesRawCommissionDetail,'withdrawalDetail')", ng-style='v.partnerCommissionRateConfig.rateAfterRebateTotalWithdrawalIsCustom ? {color:"red"} : {}') {{v.totalWithdrawalFee | number : 2}}
            td {{v.grossCommission + v.childSummary.grossCommission | number : 2}}
            //td {{v.parentPartnerCommissionDetail.totalParentCommissionFee || 0 | number : 2}}
            td {{v.partnerCredit | number : 2}}
            td
                a(data-toggle="modal", data-target='#modalActivePlayerTablea', ng-click="vm.partnerCommVar.partner=i") {{v.activeDownLines}}
            td
                text.span {{v.pastActiveDownLines[0]? v.pastActiveDownLines[0] : "-" | translate}} {{","}} {{v.pastActiveDownLines[1]? v.pastActiveDownLines[1] : "-" | translate}} {{","}} {{v.pastActiveDownLines[2]? v.pastActiveDownLines[2] : "-" | translate}}
            td
                text.span {{calculateTotalSum(v.pastNettCommission, "", "")}} {{" ("}} {{v.pastNettCommission[0]? v.pastNettCommission[0] : "-" | translate}} {{","}} {{v.pastNettCommission[1]? v.pastNettCommission[1] : "-" | translate}} {{","}} {{v.pastNettCommission[2]? v.pastNettCommission[2] : "-" | translate}} {{")"}}
            td {{v.remarks ? v.remarks : ""}}
.clearfix
div
    br
    button.btn.btn-primary.common-button.pull-right(ng-if='vm.showRealTimeCommissionSettlementButton && checkViewPermission("Report", "General","PAST_COMMISSION_SETTLEMENT")' ng-click='vm.settlePastCommission()') {{ "SettleCommission" | translate}}