#playerAlipayAccountReport.col-md-12.well
    .search-filters-item
        label {{"playerName" | translate}}
        input.form-control(ng-model="vm.playerAlipayAccReport.playerName")
    .search-filters-item
        label {{"RECORD_ALIPAY_ACC"|translate}}
        input.form-control(ng-model="vm.playerAlipayAccReport.alipayAcc")
    .search-filters-item
        label {{"RECORD_ALIPAY_NAME"|translate}}
        input.form-control(ng-model="vm.playerAlipayAccReport.alipayName")
    .search-filters-item
        label {{"RECORD_ALIPAY_NICKNAME"|translate}}
        input.form-control(ng-model="vm.playerAlipayAccReport.alipayNickname")
    .search-filters-item
        label {{"RECORD_ALIPAY_REMARK"|translate}}
        input.form-control(ng-model="vm.playerAlipayAccReport.alipayRemark")
    .search-filters-item
        label {{"Start date"|translate}}
        #playerAlipayAccountReportStartTime
    .search-filters-item
        label {{"End date"|translate}}
        #playerAlipayAccountReportEndTime
    .text-right.widthto100
        button.btn.btn-success.btn-space(ng-click='vm.getPlayerAlipayAccReport(true)') {{'SEARCH' | translate}}
        span#playerAlipayAccReportSpin.collapse
            i.fa.fa-spinner.fa-spin
.clearfix
label {{"Total" | translate}} {{vm.playerAlipayAccReport.totalCount}} {{"records" | translate}} / {{"Search time" | translate}}: {{vm.reportSearchTime}} {{"Seconds" | translate}}
table.common-table#playerAlipayAccReportTable.display(style="width:100% ;overflow-x: scroll")
#playerAlipayAccReportTablePage