#reportRightTable.panel.panel-danger(style='width:100%;display:inline-block')
    .panel-heading
        .pull-left(style='margin-top: -5px;')
            a.fa.fa-chevron-circle-left.contractIcon(ng-show='!vm.hideLeftPanel', ng-click='vm.setPanel(true)')
            a.fa.fa-chevron-circle-right.contractIcon(ng-show='vm.hideLeftPanel', ng-click='vm.setPanel(false)')
        label {{vm.showPageName | translate}}
        span(ng-if='vm.currentRewardCode').margin-left-5 ({{"REWARD_CODE" | translate}} : {{vm.currentRewardCode}})
    .panel-body
        div(ng-if='vm.showPageName=="TOPUP_REPORT"')
            #topUpReportQuery.block-query.col-md-12.well
                //div
                    label &nbsp;
                    button.btn.btn-primary(ng-click='vm.resetTopupRecord()') {{'Reset' | translate}}
                div(style='max-width:125px')
                    label {{'PLAYER_NAME' | translate}}
                    input.form-control(type='text', ng-model='vm.queryTopup.playerName')
                div(style='max-width:125px')
                    label {{'Proposal No' | translate}}
                    input.form-control(type='text', ng-model='vm.queryTopup.proposalID')
                div
                    label {{'topupType' | translate}}
                    select.form-control(ng-change='vm.filterMerchant()',ng-model='vm.queryTopup.mainTopupType', required)
                        option(value='') {{"any" | translate}}
                        option(ng-repeat='(i,v) in vm.topUpTypeList', value='{{v}}') {{i | translate}}
                div(style='max-width:125px')
                    label {{'DEVICE' | translate}}
                    select.form-control.merchantNoList(ng-change='vm.filterMerchant()',ng-model='vm.queryTopup.userAgent', required, multiple, static-bsp, data-actions-box='true')
                        option(value='1') WEB
                        option(value='2') APP
                        option(value='3') H5

                div(style='max-width:180px')
                    label {{'Online Topup Type' | translate}}
                    select.form-control.merchantNoList(ng-change='vm.filterMerchant()', ng-model='vm.queryTopup.topupType', multiple, static-bsp, data-actions-box='true')
                        option(ng-repeat='(i,v) in merchantTopupTypeJson', value='{{i}}') {{ v | translate}}({{v}})
                div(style='max-width:125px')
                    label {{'3rd Party Platform' | translate}}
                    select.form-control.merchantNoList(ng-change='vm.filterMerchant()', ng-model='vm.queryTopup.merchantGroup',ng-options='mer as mer.name for mer in vm.merchantGroupCloneList', multiple, bsp, data-actions-box='true')
                div(style='max-width:125px')
                    label {{'DEPOSIT_METHOD' | translate}}
                    select.form-control.merchantNoList(ng-model='vm.queryTopup.depositMethod', multiple, static-bsp, data-actions-box='true')
                        option(value='1') 网银转账(OnlineTransfer)
                        option(value='2') 自动取款机(ATM)
                        option(value='3') 银行柜台(Counter)
                        option(value='4') 网银跨行(Online Banking - InterBank Transfer)
                        option(value='5') 支付宝(AliPay)


                div(style='max-width:125px')
                    label 收款银行类别
                    select.form-control.merchantNoList(ng-change='vm.filterMerchant()', ng-model='vm.queryTopup.bankTypeId', ng-options='i as v | translate for (i,v) in vm.allBankTypeList', multiple, bsp, data-actions-box='true')
                div(style='max-width:125px')
                    label {{'Business Acc/ Bank Acc' | translate}}
                    select.form-control.merchantNoList( ng-model='vm.queryTopup.merchantNo', ng-options='a.merchantNo as a.name group by a.merchantTypeName for a in vm.merchantCloneList' , multiple, bsp, data-actions-box='true')
                        //option(value='') {{'any' | translate}}
                        //option(ng-repeat='(i,v) in vm.merchantNoList' ,ng-init='$last && vm.initMultiSelect()', value='{{v.merchantNo}}') {{v.name}}
                        //option()
                div(style='max-width:125px')
                    label {{'STATUS' | translate}}
                    select.form-control.merchantNoList(ng-model='vm.queryTopup.status', ng-options='v as v | translate for (i,v) in vm.proposalStatusList', multiple, bsp, data-actions-box='true')
                div
                    label.control-label {{'Start date' | translate}}
                    .startTime
                div
                    label.control-label {{'End date' | translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchTopupRecord(true)') {{'SEARCH' | translate}}
                    span#topupTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.queryTopup.totalCount}} {{"records" | translate}}
            table#topupTable.common-table.display(style="min-width:100% ;overflow: scroll")
            #topupTablePage
        div(ng-if='vm.showPageName=="PROPOSAL_REPORT"')
            #proposalReportQuery.block-query.col-md-12.well
                div
                    label {{"REGISTRATION_AGENT"|translate}}
                    select.form-control(ng-model="vm.proposalQuery.inputDevice")
                        option(value='') {{'all'|translate}}
                        option(value=0) {{'Backstage'|translate}}
                        option(value=1) {{'Web Player'|translate}}
                        option(value=2) {{'Web Agent'|translate}}
                        option(value=3) {{'HTML5 Player'|translate}}
                        option(value=4) {{'HTML5 Agent'|translate}}
                        option(value=5) {{'APP Player'|translate}}
                        option(value=6) {{'APP Agent'|translate}}
                div
                    label(style='width:200px;') {{"Proposal Type"|translate}}
                    select.form-control#selectProposalType(multiple="multiple", ng-options='i._id as i.name | translate group by vm.getProposalTypeOptionValue(i) | translate for (k,i) in ( vm.allProposalType | unique: "name" ) track by i.name', ng-model='abc')

                    //select.form-control(ng-model='vm.proposalQuery.proposalTypeId', style='max-width:300px', required)
                        option(value='all') {{"all" | translate}}
                        option(ng-repeat='(i,v) in vm.allProposalType', value='{{v._id}}', ng-selected='vm.selectedProposalType==v._id') {{v.name | translate}}

                div
                    label(style='width:150px;') {{"CUSTOMIZED_PROMO_NAME"|translate}}
                    select.form-control#selectRewardType(multiple="multiple", ng-options='i._id as i.name for (k,i) in ( vm.rewardList | unique: "name" ) track by i.name', ng-model='bbc')
                div
                    label(style='width:150px;') {{"PROMO_CODE_NAME"|translate}}
                    select.form-control#selectPromoType(multiple="multiple", ng-options='i._id as i.name for (k,i) in ( vm.promoTypeList | unique: "name" ) track by i.name', ng-model='cbc')

                div
                    label {{"Proposal Status"|translate}}
                    select.form-control(ng-model='vm.proposalQuery.status', style='max-width:300px', required)
                        option(value='all') {{'all' | translate}}
                        option(ng-repeat='(i,v) in vm.proposalStatusList', value='{{v}}', ng-selected='vm.proposalQuery.status==v._id') {{v | translate}}
                div
                    label {{"RELATED_ACCOUNT" | translate}}
                    input(style='width:180px;').form-control(ng-model='vm.proposalQuery.relatedAccount', type='text')

                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label {{"Proposal No"|translate}}
                    input(style='width:110px;').noGrey.form-control(type="text", ng-model="vm.proposalQuery.proposalId", ng-change='vm.hideOtherConditions("#proposalReportQuery",vm.proposalQuery.proposalId,".noGrey")')
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchProposalRecord(true)') {{'SEARCH' | translate}}
                    span#proposalTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.proposalQuery.totalCount}} {{"records" | translate}}
            table.common-table#proposalTable.display(style="width:100%;overflow: scroll;max-height:700px")
            #proposalTablePage

        div(ng-if='vm.showPageName=="PROVIDER_REPORT"')
            //提供商报表
            #operationReportQuery.block-query.col-md-12.well
                div
                    label {{"Provider"|translate}}
                    select.form-control(ng-model='vm.queryOperation.providerId', style='max-width:300px', required)
                        option(value="all") {{'all' | translate}}
                        option(ng-repeat='(i,v) in vm.allProviders', value='{{v._id}}') {{v.name || translate}}

                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchOperationRecord()') {{'SEARCH' | translate}}
                    span#operationTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.operationReportLoadingStatus}}
            .clearfix
            table#operationTable.common-table.display(style="width:100%;overflow: scroll;max-height:700px")
            table.common-table.simple-table#operationSummaryTable.collapse(style='margin-top:10px;font-size:12px')
                thead
                    tr
                        th {{'TOTAL_PLAYER' | translate}}
                        th {{'TOTAL_CONSUMPTION' | translate}}
                        th {{'VALID_CONSUMPTION' | translate}}
                        th {{'TIMES_CONSUMED' | translate}}
                        th {{'TOTAL_EARNING' | translate}}
                        th {{'EARNING_RATIO' | translate}}
                tbody
                    tr
                        td {{vm.operationSummaryData.total_player}}
                        td {{vm.operationSummaryData.total_amount | number : 2}}
                        td {{vm.operationSummaryData.validAmount | number : 2}}
                        td {{vm.operationSummaryData.total_consumption}}
                        td {{vm.operationSummaryData.bonusAmount | number : 2}}
                        td {{(vm.operationSummaryData.bonusAmount/vm.operationSummaryData.validAmount*100 || 0) | number : 2 }}%

        div(ng-if='vm.showPageName=="PLAYER_EXPENSE_REPORT"')
            #playerExpenseReportQuery.block-query.col-md-12.well
                div
                    label {{"Player ID"|translate}}
                    input.form-control.span.input-sm(type="text", ng-model="vm.playerExpenseQuery.playerId")
                div
                    label {{"Player Name"|translate}}
                    input.form-control.span.input-sm(type="text", ng-model="vm.playerExpenseQuery.playerName")
                div
                    label {{"Provider"|translate}}
                    select.form-control(ng-model='vm.playerExpenseQuery.providerId', style='max-width:300px', required)
                        option(value='all') {{'all' | translate}}
                        option(ng-repeat='(i,v) in vm.allProviders', value='{{v._id}}', ng-selected='vm.playerExpenseQuery.providerId==v._id') {{v.name || translate}}
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchProviderPlayerRecord(true)') {{'SEARCH' | translate}}
                    span#playerExpenseTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.operationReportLoadingStatus}}
            .clearfix
            label {{"Total" | translate}} {{vm.playerExpenseQuery.totalCount}} {{"records" | translate}}
            table.common-table#playerExpenseTable.display(style="width:100% ;overflow-x: scroll")
            #playerExpenseTablePage

        div(ng-if='vm.showPageName=="PLAYER_REPORT"')
            .block-query.col-md-12.well
                div
                    label(style='min-width:130px') {{"CREDIBILITY"|translate}}
                    select.form-control#selectCredibilityRemarks(multiple="multiple", style='min-width:100px;height:34px;', ng-options='remark._id as remark.name for remark in vm.credibilityRemarks', ng-model="vm.playerQuery.credibilityRemarks")
                div
                    label {{'LEVEL' | translate}}
                    select.form-control(ng-model="vm.playerQuery.level", ng-options='a as b.name for (a,b) in vm.playerLvlData')
                        option(value='') {{'any' | translate}}
                div
                    label {{"Provider"|translate}}
                    select.form-control(ng-model='vm.playerQuery.providerId', style='max-width:300px', required)
                        option(value='') {{'all' | translate}}
                        option(ng-repeat='(i,v) in vm.allProviders', value='{{v._id}}') {{v.name || translate}}
                div
                    label {{'Start date' | translate}}
                        //a.fa.fa-times.text-danger.close(ng-click='vm.clearDatePicker("#regDateTimePicker")')
                        .startTime
                    #startingDateTimePicker
                div
                    label {{'End date' | translate}}
                        //a.fa.fa-times.text-danger.close(ng-click='vm.clearDatePicker("#regEndDateTimePicker")')
                        .endTime
                    #endingEndDateTimePicker
                div
                    label {{'Player Name' | translate}}
                    input.form-control.span.input-sm(ng-model="vm.playerQuery.name")
                div
                    label {{"Consumption Times"|translate}}
                    select.form-control(ng-model="vm.playerQuery.consumptionTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerQuery.consumptionTimesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerQuery.consumptionTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerQuery.consumptionTimesValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerQuery.consumptionTimesOperator === 'range'")
                div
                    label {{"PLAYER_PROFIT_AMOUNT"|translate}}
                    select.form-control(ng-model="vm.playerQuery.profitAmountOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerQuery.profitAmountValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerQuery.profitAmountOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerQuery.profitAmountValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerQuery.profitAmountOperator === 'range'")
                div
                    label {{"TOP_UP_TIMES"|translate}}
                    select.form-control(ng-model="vm.playerQuery.topUpTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerQuery.topUpTimesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerQuery.topUpTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerQuery.topUpTimesValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerQuery.topUpTimesOperator === 'range'")
                div
                    label {{"BonusTime"|translate}}
                    select.form-control(ng-model="vm.playerQuery.bonusTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerQuery.bonusTimesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerQuery.bonusTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerQuery.bonusTimesValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerQuery.bonusTimesOperator === 'range'")
                div
                    label {{"TOTAL_TOP_UP"|translate}}
                    select.form-control(ng-model="vm.playerQuery.topUpAmountOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerQuery.topUpAmountValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerQuery.topUpAmountOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerQuery.topUpAmountValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerQuery.topUpAmountOperator === 'range'")
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPlayerReport(true)') {{'SEARCH' | translate}}
                    span#loadingPlayerReportTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.playerQuery.totalCount}} {{"records" | translate}}
            table.common-table#playerReportTable.display(style="width:100% ;overflow-x: scroll")
            #playerReportTablePage

        div(ng-if='vm.showPageName=="NEWACCOUNT_REPORT"')
            #newPlayerReportQuery.block-query.col-md-12.well
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchNewPlayerRecord(true)') {{'SEARCH' | translate}}
                    span *搜寻在该时段开户玩家的总记录
            //.row.text-center
            //    .col-md-2
            //        label.block {{"Total Players" | translate}}
            //        label.block.text-danger {{vm.newPlayerQuery.totalPlayerCount || 0}}
            //    .col-md-2
            //        label.block {{"Player with Top-ups" | translate}}
            //        label.block.text-danger {{vm.newPlayerQuery.totalTopupPlayerCount || 0}}
            //    .col-md-2
            //        label.block {{"Player with Top-ups Multiple Times" | translate}}
            //        label.block.text-danger {{vm.newPlayerQuery.totalTopupMultipleTimesPlayerCount || 0}}
            //    .col-md-2
            //        label.block {{"Player with Domain" | translate}}
            //        label.block.text-danger {{vm.newPlayerQuery.totalDomainPlayerCount || 0}}
            //    .col-md-2
            //        label.block {{"Player with Partner" | translate}}
            //        label.block.text-danger {{vm.newPlayerQuery.totalpartnerPlayerCount || 0}}
            .text-center
                table.playerLvlTable(style='width:100%')
                    thead
                        tr
                            th(ng-click='vm.newPlayerQuery.promoteWaySort = vm.newPlayerQuery.promoteWaySort == "promoteWayName" ? "-promoteWayName":"promoteWayName"') {{"Promotion Method" | translate}}
                            th(ng-click='vm.newPlayerQuery.promoteWaySort = vm.newPlayerQuery.promoteWaySort == "totalNewAccount" ? "-totalNewAccount":"totalNewAccount"') {{"Total New Account" | translate}}
                            th(ng-click='vm.newPlayerQuery.promoteWaySort = vm.newPlayerQuery.promoteWaySort == "playerWithTopup" ? "-playerWithTopup":"playerWithTopup"') {{"Player with Top-ups" | translate}}
                            th(ng-click='vm.newPlayerQuery.promoteWaySort = vm.newPlayerQuery.promoteWaySort == "playerWithMultiTopup" ? "-playerWithMultiTopup":"playerWithMultiTopup"') {{"Player with Top-ups Multiple Times" | translate}}
                            th(ng-click='vm.newPlayerQuery.promoteWaySort = vm.newPlayerQuery.promoteWaySort == "validPlayer" ? "-validPlayer":"validPlayer"') {{"Valid Player" | translate}}
                    tbody
                        tr(ng-repeat='(i, v) in vm.newPlayerQuery.promoteWayData | orderBy: vm.newPlayerQuery.promoteWaySort | filter: vm.filterNoNewAccountPromoteWay')
                            td
                                span {{v.promoteWayName}}
                            td
                                span {{v.totalNewAccount}}
                            td
                                span {{v.playerWithTopup}}
                            td
                                span {{v.playerWithMultiTopup}}
                            td
                                span {{v.validPlayer}}
                        tr
                            td
                                span {{ "total" | translate}}
                            td
                                span {{ vm.newPlayerQuery.newPlayers.length}}
                            td
                                span {{ vm.newPlayerQuery.totalNewPlayerWithTopup }}
                            td
                                span {{ vm.newPlayerQuery.totalNewPlayerWithMultiTopup }}
                            td
                                span {{ vm.newPlayerQuery.totalNewValidPlayer }}
            br
            .clearfix
            .penal.panel-info
                .panel-heading {{'Valid Player (promote way analysis)' | translate}}
                .penal_body
                    .col-md-6.padding-top-5
                        #validPlayerPie(style="height:380px;width:100%")
                    .col-md-6(style='padding-top:10px')
                        .text-center
                            table.playerLvlTable(style='width:100%')
                                thead
                                    tr
                                        th(ng-click='vm.newPlayerQuery.validPlayerGraphSort = vm.newPlayerQuery.validPlayerGraphSort == "promoteWayName" ? "-promoteWayName":"promoteWayName"') {{"Promotion Method" | translate}}
                                        th(ng-click='vm.newPlayerQuery.validPlayerGraphSort = vm.newPlayerQuery.validPlayerGraphSort == "validPlayer" ? "-validPlayer":"validPlayer"') {{"Valid Player" | translate}}
                                        th(ng-click='vm.newPlayerQuery.validPlayerGraphSort = vm.newPlayerQuery.validPlayerGraphSort == "ratio" ? "-ratio":"ratio"') {{ "ratio" | translate}}
                                tbody
                                    tr(ng-repeat='(i, v) in vm.newPlayerQuery.promoteWayData | orderBy: vm.newPlayerQuery.validPlayerGraphSort | filter: vm.filterNoValidPlayer')
                                        td
                                            a(ng-click='vm.drawValidPlayerGraphByElementId("#validPlayerPie", vm.newPlayerQuery.promoteWayData, v.promoteWayName); vm.newPlayerQuery.validPlayerGraphPromoteWay = v.promoteWayName') {{v.promoteWayName}}
                                        td
                                            span {{v.validPlayer}}
                                        td
                                            span {{v.ratio}}%
                                    tr
                                        td
                                            a(ng-click='vm.drawValidPlayerGraphByElementId("#validPlayerPie", vm.newPlayerQuery.promoteWayData); vm.newPlayerQuery.validPlayerGraphPromoteWay = null') {{ "total" | translate}}
                                        td
                                            span {{ vm.newPlayerQuery.totalNewValidPlayer }}
                                        td
                                            span 100%
                    .col-md-12(ng-if="vm.newPlayerQuery.validPlayerGraphPromoteWay" style='padding-top:10px')
                        .text-center(style='overflow:auto')
                            table.common-table.playerLvlTable
                                thead
                                    tr
                                        th {{"MEMBERSHIP_ACCOUNT_NUMBER" | translate}}
                                        th {{"realName" | translate}}
                                        th {{ "REGISTRATION_TIME" | translate}}
                                        th {{ "PHONE_LOCATION" | translate}}
                                        th {{ "IP_LOCATION" | translate}}
                                        th {{ "Game Provider" | translate}}
                                        th {{ "LAST_ACCESS_TIME" | translate}}
                                        th {{ "LOGIN_TIMES" | translate}}
                                        th {{ "topUpTimes" | translate}}
                                        th {{ "PLAYER_VALUE" | translate}}
                                        th {{ "REGISTRATION_ADMIN" | translate}}
                                        th {{ "PROMOTE_WAY" | translate}}
                                        th {{ "Source Domain" | translate}}
                                        th {{ "Registration Domain" | translate}}
                                        th {{ "REGISTRATION_AGENT" | translate}}
                                        th {{ "OS" | translate}}
                                        th {{ "Browser" | translate}}
                                        th {{ "partner" | translate}}
                                tbody
                                    tr(ng-repeat='(i, v) in vm.newPlayerQuery.newValidPlayer | filter: vm.filterValidPlayerPromoteWayTable')
                                        td
                                            span {{v.playerId}}
                                        td
                                            span {{v.realName}}
                                        td
                                            span {{v.registrationTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                                        td
                                            span {{v.phoneProvince}} {{v.phoneCity}}
                                        td
                                            span {{v.province}} {{v.city}}
                                        td
                                            span {{v.lastPlayedProvider.name}}
                                        td
                                            span {{v.lastAccessTime| date : 'yyyy-MM-dd HH:mm:ss'}}
                                        td
                                            span {{v.loginTimes}}
                                        td
                                            span {{v.topUpTimes}}
                                        td
                                            span {{v.valueScore}}
                                        td
                                            span {{v.accAdmin}}
                                        td
                                            span {{v.partner ? 'partner' : v.promoteWay | translate}}
                                        td(style='min-width: 100px;max-width: 200px')
                                            span(data-toggle="tooltip" title='{{v.sourceUrl}}' style='max-width: 85%;overflow: hidden;display: inline-block;text-overflow: ellipsis;') {{v.sourceUrl}}
                                            a.fa.fa-clipboard.pull-right(style='top:4px; position: relative;' ng-if='v.sourceUrl' ng-click='vm.copyToClipboard(v.sourceUrl)')
                                        td(style='min-width: 100px;max-width: 200px')
                                            span(data-toggle="tooltip" title='{{v.domain}}' style='max-width: 85%;overflow: hidden;display: inline-block;text-overflow: ellipsis;') {{v.domain}}
                                            a.fa.fa-clipboard.pull-right(style='top: 4px;position: relative;' ng-if='v.domain' ng-click='vm.copyToClipboard(v.domain)')
                                        td
                                            span {{constPlayerRegistrationInterface[v.registrationInterface] | translate}}
                                        td
                                            span {{v.userAgent[0].os}}
                                        td
                                            span {{v.userAgent[0].browser}}
                                        td
                                            span {{v.partner.partnerName}}

            .clearfix
            br
            .penal.panel-info
                .panel-heading {{'Valid Player (cs officer analysis)' | translate}}
                .penal_body
                    .col-md-6.padding-top-5
                        #validPlayerCsAnalysisPie(style="height:380px;width:100%")
                    .col-md-6(style='padding-top:10px')
                        .text-center
                            table.playerLvlTable(style='width:100%')
                                thead
                                    tr
                                        th(ng-click='vm.newPlayerQuery.validPlayerCsAnalysisGraphSort = vm.newPlayerQuery.validPlayerCsAnalysisGraphSort == "promoteWayName" ? "-promoteWayName":"promoteWayName"') {{"Create Account Cs Name" | translate}}
                                        th(ng-click='vm.newPlayerQuery.validPlayerCsAnalysisGraphSort = vm.newPlayerQuery.validPlayerCsAnalysisGraphSort == "validPlayer" ? "-validPlayer":"validPlayer"') {{"Valid Player" | translate}}
                                        th(ng-click='vm.newPlayerQuery.validPlayerCsAnalysisGraphSort = vm.newPlayerQuery.validPlayerCsAnalysisGraphSort == "ratio" ? "-ratio":"ratio"') {{ "ratio" | translate}}
                                tbody
                                    tr(ng-repeat='(i, v) in vm.newPlayerQuery.csAnalysisNewPlayerData | orderBy: vm.newPlayerQuery.validPlayerCsAnalysisGraphSort | filter: vm.filterNoValidPlayer')
                                        td
                                            a(ng-click='vm.drawValidPlayerGraphByElementId("#validPlayerCsAnalysisPie", vm.newPlayerQuery.csAnalysisNewPlayerData, v.promoteWayName); vm.newPlayerQuery.validPlayerGraphCsAnalysis = v.promoteWayName') {{v.promoteWayName}}
                                        td
                                            span {{v.validPlayer}}
                                        td
                                            span {{v.ratio}}%
                                    tr
                                        td
                                            a(ng-click='vm.drawValidPlayerGraphByElementId("#validPlayerCsAnalysisPie", vm.newPlayerQuery.csAnalysisNewPlayerData); vm.newPlayerQuery.validPlayerGraphCsAnalysis = null') {{ "total" | translate}}
                                        td
                                            span {{ vm.newPlayerQuery.totalNewValidPlayer }}
                                        td
                                            span 100%
                    .col-md-12(ng-if="vm.newPlayerQuery.validPlayerGraphCsAnalysis" style='padding-top:10px')
                        .text-center(style='overflow:auto')
                            table.common-table.playerLvlTable
                                thead
                                    tr
                                        th {{"MEMBERSHIP_ACCOUNT_NUMBER" | translate}}
                                        th {{"realName" | translate}}
                                        th {{ "REGISTRATION_TIME" | translate}}
                                        th {{ "PHONE_LOCATION" | translate}}
                                        th {{ "IP_LOCATION" | translate}}
                                        th {{ "Game Provider" | translate}}
                                        th {{ "LAST_ACCESS_TIME" | translate}}
                                        th {{ "LOGIN_TIMES" | translate}}
                                        th {{ "topUpTimes" | translate}}
                                        th {{ "PLAYER_VALUE" | translate}}
                                        th {{ "REGISTRATION_ADMIN" | translate}}
                                        th {{ "PROMOTE_WAY" | translate}}
                                tbody
                                    tr(ng-repeat='(i, v) in vm.newPlayerQuery.newValidPlayer | filter: vm.filterValidPlayerCsAnalysisTable')
                                        td
                                            span {{v.playerId}}
                                        td
                                            span {{v.realName}}
                                        td
                                            span {{v.registrationTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                                        td
                                            span {{v.phoneProvince}} {{v.phoneCity}}
                                        td
                                            span {{v.province}} {{v.city}}
                                        td
                                            span {{v.lastPlayedProvider.name}}
                                        td
                                            span {{v.lastAccessTime| date : 'yyyy-MM-dd HH:mm:ss'}}
                                        td
                                            span {{v.loginTimes}}
                                        td
                                            span {{v.topUpTimes}}
                                        td
                                            span {{v.valueScore}}
                                        td
                                            span {{v.accAdmin}}
                                        td
                                            span {{v.partner ? 'partner' : v.promoteWay | translate}}

            .clearfix
            br
            .clearfix
            .penal.panel-info
                .panel-heading {{'PARTNER' | translate}}
                .penal_body
                    .col-md-6.padding-top-5
                        #partnerPlayerPie(style="height:380px;width:100%")
                    .col-md-6(style='padding-top:10px')
                        table#newPlayerPartnerTable.common-table.display(style='width:100%')
            .clearfix
            .penal.panel-info(ng-show="vm.detailPartnerPlayer.partnerObjectId")
                .panel-heading {{'PLAYER_DOMAIN' | translate}} : {{vm.detailDomainPlayer.domainName}}
                .penal_body
                    table#detailPartnerPlayerTable.common-table.display(style='min-width:100%')
                    #detailPartnerPlayerTablePage
            .clearfix
            .penal.panel-info
                .panel-heading {{'PLAYER_DOMAIN' | translate}}
                .penal_body
                    .col-md-6.padding-top-5
                        #domainPlayerPie(style="height:380px;width:100%")
                    .col-md-6(style='padding-top:10px')
                        table#newPlayerDomainTable.common-table.display(style='width:100%')
            .clearfix
            .penal.panel-info(ng-show="vm.detailDomainPlayer.domainName")
                .panel-heading {{'PLAYER_DOMAIN' | translate}} : {{vm.detailDomainPlayer.domainName}}
                .penal_body
                    table#detailDomainPlayerTable.common-table.display(style='min-width:100%')
                    #detailDomainPlayerTablePage

        div(ng-if='vm.showPageName=="DX_NEWACCOUNT_REPORT"')
            #dxNewPlayerReportQuery.block-query.col-md-12.well
                div
                    label {{"USER TYPE"|translate}}
                    select.form-control(ng-model='vm.dxNewPlayerQuery.userType', style='max-width:300px')
                        option(value='') {{'all' | translate}}
                        option(value='1') {{'NON_PARTNER' | translate}}
                        option(value='2') {{'WITH_PARTNER' | translate}}
                div
                    label {{'REGISTRATION_TIME_START' | translate}}
                    .startTime
                div
                    label {{'REGISTRATION_TIME_END' | translate}}
                    .endTime
                div
                    label {{"ACCUMULATE_DAYS" | translate}}
                    input.form-control.span.input-sm(type="Number" ng-model="vm.dxNewPlayerQuery.days")
                div
                    label {{"csPromoteWay"|translate}}
                    select.spicker.form-control(ng-model='vm.dxNewPlayerQuery.csPromoteWay', multiple, data-actions-box='true')
                        option(ng-repeat='(i,v) in vm.allPromoteWay', value='{{v.name}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.name}}
                div
                    label {{"REGISTRATION_DEPARTMENT"|translate}}
                    select.spicker.form-control(ng-model='vm.dxNewPlayerQuery.departments', multiple, data-actions-box='true' data-width="200px" ng-change="vm.setQueryRole(vm.dxNewPlayerQuery)")
                        option(ng-repeat='(i,v) in vm.queryDepartments', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.departmentName}}
                div
                    label {{"REGISTRATION_ROLE"|translate}}
                    select.spicker.form-control(ng-model='vm.dxNewPlayerQuery.roles', multiple, data-actions-box='true' data-width="200px" ng-change="vm.setQueryAdmins(vm.dxNewPlayerQuery)")
                        option(ng-repeat='(i,v) in vm.queryRoles', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.roleName}}
                div
                    label {{"REGISTRATION_ADMIN"|translate}}
                    select.spicker.form-control(ng-model='vm.dxNewPlayerQuery.admins', multiple, data-actions-box='true' data-width="200px")
                        option(ng-repeat='(i,v) in vm.queryAdmins', value='{{v.adminName}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.adminName}}
                div
                    label {{"PlayerValue"|translate}}
                    select.form-control(ng-model="vm.dxNewPlayerQuery.valueScoreOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.playerScoreValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.dxNewPlayerQuery.valueScoreOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.playerScoreValueTwo" style="width:80px;display:inline-block" ng-if="vm.dxNewPlayerQuery.valueScoreOperator === 'range'")
                div
                    label {{"TOP_UP_TIMES"|translate}}
                    select.form-control(ng-model="vm.dxNewPlayerQuery.topUpTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.topUpTimesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.dxNewPlayerQuery.topUpTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.topUpTimesValueTwo" style="width:80px;display:inline-block" ng-if="vm.dxNewPlayerQuery.topUpTimesOperator === 'range'")
                div
                    label {{"BonusTime"|translate}}
                    select.form-control(ng-model="vm.dxNewPlayerQuery.bonusTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.bonusTimesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.dxNewPlayerQuery.bonusTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.bonusTimesValueTwo" style="width:80px;display:inline-block" ng-if="vm.dxNewPlayerQuery.bonusTimesOperator === 'range'")
                div
                    label {{"TOTAL_TOP_UP"|translate}}
                    select.form-control(ng-model="vm.dxNewPlayerQuery.topUpAmountOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.topUpAmountValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.dxNewPlayerQuery.topUpAmountOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.dxNewPlayerQuery.topUpAmountValueTwo" style="width:80px;display:inline-block" ng-if="vm.dxNewPlayerQuery.topUpAmountOperator === 'range'")
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchDXNewPlayerReport(true)') {{'SEARCH' | translate}}
                    span#dxNewPlayerReportTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.dxNewPlayerQuery.totalCount}} {{"records" | translate}}
            table.common-table#dxNewPlayerReportTable.display(style="width:100% ;overflow-x: scroll")

        div(ng-if='vm.showPageName=="PLAYERPARTNER_REPORT"')
            #playerPartnerReportQuery.block-query.col-md-12.well
                div
                    label {{"PARTNER_NAME"|translate}}
                    input.form-control.span.input-sm(type="text", ng-model="vm.partnerQuery.partnerName")

                div
                    label {{"REGISTRATION_TIME_START"|translate}}
                    .startTime
                div
                    label {{"REGISTRATION_TIME_END"|translate}}
                    .endTime
                div
                    label {{"PLAYER_TYPE"|translate}}
                    select.form-control( style='max-width:300px', ng-model="vm.partnerQuery.playerType")
                        option(value='all') {{'all' | translate}}
                        option(value='Real Player') {{'REAL_PLAYER' | translate}}
                        option(value='Test Player') {{'TEST_PLAYER' | translate}}

                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPlayerPartnerRecord(true)') {{'SEARCH' | translate}}
                    span#playerParnterTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.operationReportLoadingStatus}}
            .clearfix
            table#playerPartnerTable.common-table.display(style="width:100%;overflow: scroll;max-height:700px")
                label {{"Total" | translate}} {{vm.partnerQuery.totalCount}} {{"records" | translate}}
            #playerPartnerTablePage
            table.common-table.simple-table#playerPartnerSummaryTable.collapse(style='margin-top:10px;font-size:12px')
                thead
                    tr
                        th {{'PARTNER_NAME' | translate}}
                        th {{'TOTAL_PLAYER' | translate}}
                        th {{'TOTAL_TOPUP_TIMES' | translate}}
                        th {{'TOTAL_CONSUMPTION_TIMES' | translate}}
                tbody
                    tr(ng-repeat='(i, v) in vm.playerPartnerSummaryData')
                        td {{v._id.partnerName}}
                        td {{v.total_players}}
                        td {{v.total_topup_times}}
                        td {{v.total_consumption_times}}
        div(ng-if='vm.showPageName=="PLAYERDOMAIN_REPORT"')
            #playerDomainReportQuery.block-query.col-md-12.well
                div
                    label {{"USER_TYPE"|translate}}
                    select.form-control( style='max-width:300px', ng-model="vm.playerDomain.playerType")
                        option(value='Real Player (all)') {{'REAL_PLAYER_ALL' | translate}}
                        option(value='Real Player (Individual)') {{'REAL_PLAYER_INDIVIDUAL' | translate}}
                        option(value='Real Player (Under Partner)') {{'REAL_PLAYER_UNDER_PARTNER' | translate}}
                        option(value='Test Player') {{'TEST_PLAYER' | translate}}
                        option(value='Partner') {{'partner' | translate}}
                div
                    label {{"REGISTRATION_TIME_START"|translate}}
                    .startTime
                div
                    label {{"REGISTRATION_TIME_END"|translate}}
                    .endTime
                div
                    label {{"PLAYER_NAME"|translate}}
                    input.form-control(type="text", ng-model="vm.playerDomain.name")
                div
                    label {{"realName"|translate}}
                    input.form-control(type="text", ng-model="vm.playerDomain.realName")
                div
                    label {{"TOP_UP_TIMES"|translate}}
                    select.form-control(ng-model="vm.playerDomain.topUpTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerDomain.topUpTimesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerDomain.topUpTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerDomain.topUpTimesValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerDomain.topUpTimesOperator === 'range'")
                div
                    label {{"csPromoteWay"|translate}}
                    select.spicker.form-control(ng-model='vm.playerDomain.csPromoteWay', multiple, data-actions-box='true')
                        option(ng-repeat='(i,v) in vm.pdAllPromoteWay', value='{{v.name}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.name}}
                div
                    label {{"REGISTRATION_DEPARTMENT"|translate}}
                    select.spicker.form-control(ng-model='vm.playerDomain.departments', multiple, data-actions-box='true' data-width="200px" ng-change="vm.setPDQueryRole()")
                        option(ng-repeat='(i,v) in vm.pdQueryDepartments', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.departmentName}}
                div
                    label {{"REGISTRATION_ROLE"|translate}}
                    select.spicker.form-control(ng-model='vm.playerDomain.roles', multiple, data-actions-box='true' data-width="200px" ng-change="vm.setPDQueryAdmins()")
                        option(ng-repeat='(i,v) in vm.pdQueryRoles', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.roleName}}
                div
                    label {{"REGISTRATION_ADMIN"|translate}}
                    select.spicker.form-control(ng-model='vm.playerDomain.admins', multiple, data-actions-box='true' data-width="200px")
                        option(ng-repeat='(i,v) in vm.pdQueryAdmins', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.adminName}}
                div
                    label {{"Registration Domain"|translate}}
                    input.form-control(type="text", ng-model="vm.playerDomain.domain")
                div
                    label {{"Source Domain"|translate}}
                    input.form-control(style="width:100%" type="text", ng-model="vm.playerDomain.sourceUrl")
                div
                    label {{"PLAYER_VALUE"|translate}}
                    select.form-control(ng-model="vm.playerDomain.playerValueOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.playerDomain.playerValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.playerDomain.playerValueOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.playerDomain.playerValueTwo" style="width:80px;display:inline-block" ng-if="vm.playerDomain.playerValueOperator === 'range'")
                div
                    label {{"REGISTRATION_AGENT"|translate}}
                    select.form-control(ng-model="vm.playerDomain.registrationInterface")
                        option(value='') {{'all'|translate}}
                        option(value=0) {{'Backstage'|translate}}
                        option(value=1) {{'Web Player'|translate}}
                        option(value=2) {{'Web Agent'|translate}}
                        option(value=3) {{'HTML5 Player'|translate}}
                        option(value=4) {{'HTML5 Agent'|translate}}
                        option(value=5) {{'APP Player'|translate}}
                        option(value=6) {{'APP Agent'|translate}}
                div
                    label(ng-hide="true") {{"SYSTEM_PLAYER"|translate}}
                    select.form-control(ng-model="vm.playerDomain.isNewSystem", ng-hide="true")
                        option(value='') {{'all'|translate}}
                        option(value='new') {{'NEW_SYSTEM'|translate}}
                        option(value='old') {{'OLD_SYSTEM'|translate}}
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPlayerDomainRepport(true)') {{'SEARCH' | translate}}
                    span#playerDomainReportTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.playerDomain.totalCount}} {{"records" | translate}}
            table#playerDomainReportTable.common-table.display(style="width:100%")
            #playerDomainReportTablePage

        div(ng-if='vm.showPageName=="PARTNERPLAYERBOUNS_REPORT"')
            #partnerPlayerBonusQuery.block-query.col-md-12.well
                div
                    label *{{"partnerName"|translate}}
                    input.form-control.span.input-sm(type="text", ng-model="vm.partnerPlayerBonusQuery.partnerName")
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPartnerPlayerBonusData(true)', ng-disabled='!vm.partnerPlayerBonusQuery.partnerName') {{'SEARCH' | translate}}
                    span#partnerPlayerBonusTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.operationReportLoadingStatus}}
            .clearfix
            label {{"Total" | translate}} {{vm.partnerPlayerBonusQuery.totalCount}} {{"records" | translate}} {{vm.partnerPlayerBonusQuery.message | translate}}
            table.common-table#partnerPlayerBonusTable.display(style="width:inherit;min-width:100%;overflow-x: scroll")
                thead
                    tr
                        th(rowspan=2) {{'playerName' | translate}}
                        th(rowspan=2) {{'registrationTime' | translate}}
                        th(rowspan=2) {{'lastAccessTime' | translate}}
                        th(rowspan=2) {{'lastBonusTime' | translate}}
                        th(colspan=4) {{'total' | translate}}
                        th(colspan=4) {{'Within Search Period' | translate}}
                    tr
                        th {{'TOP_UP_TIMES' | translate}}
                        th {{'BonusTime' | translate}}
                        th {{'TOP_UP_SUM' | translate}}
                        th {{'BonusAmount' | translate}}
                        th {{'TOP_UP_TIMES' | translate}}
                        th {{'BonusTime' | translate}}
                        th {{'TOP_UP_SUM' | translate}}
                        th {{'BonusAmount' | translate}}
            #partnerPlayerBonusTablePage
        div(ng-if='vm.showPageName=="PARTNERCOMMISSION_REPORT"')
            #partnerCommissionQuery.block-query.col-md-12.well
                div
                    label {{"PARTNER_NAME"|translate}}
                    input.form-control.span.input-sm(type="text", ng-model="vm.partnerCommissionQuery.partnerName")
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPartnerCommissionData(true)') {{'SEARCH' | translate}}
                    span#partnerCommissionTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.partnerCommissionReportLoadingStatus}}
            .clearfix
            label {{"Total" | translate}} {{vm.partnerCommissionQuery.totalCount}} {{"records" | translate}}
            span.text-danger.margin-left-5 {{vm.partnerCommissionQuery.message | translate}}
            table.common-table#partnerCommissionTable.display(style="width:inherit;min-width:100%;overflow-x: scroll")
            #partnerCommissionTablePage
        div(ng-if='vm.showPageName=="FEEDBACK_REPORT"')
            #feedbackReportQuery.block-query.col-md-12.well
                div
                    label {{"USER TYPE"|translate}}
                    select.form-control(ng-model='vm.feedbackQuery.userType', style='max-width:300px')
                        option(value='Real Player (all)') {{'REAL_PLAYER_ALL' | translate}}
                        option(value='Real Player (Individual)') {{'REAL_PLAYER_INDIVIDUAL' | translate}}
                        option(value='Real Player (Under Partner)') {{'REAL_PLAYER_UNDER_PARTNER' | translate}}
                        option(value='Test Player') {{'TEST_PLAYER' | translate}}
                div
                    label {{"FEEDBACK_TIME_START" | translate}}
                    .startTime
                div
                    label {{"FEEDBACK_TIME_END" | translate}}
                    .endTime
                div
                    label {{"ACCUMULATE_DAYS" | translate}}
                    input.form-control.span.input-sm(type="Number" ng-model="vm.feedbackQuery.days")
                div
                    label {{"FEEDBACK_RESULT"|translate}}
                    select.spicker.form-control(ng-model='vm.feedbackQuery.result', multiple, data-actions-box='true')
                        option(ng-repeat='(i,v) in vm.allFeedbackResults', value='{{v.key}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.value}}
                div
                    label {{"FEEDBACK_TOPIC"|translate}}
                    select.spicker.form-control(ng-model='vm.feedbackQuery.topic', multiple, data-actions-box='true')
                        option(ng-repeat='(i,v) in vm.allFeedbackTopics', value='{{v.key}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.value}}
                div
                    label {{"FEEDBACK_DEPARTMENT"|translate}}
                    select.spicker.form-control(ng-model='vm.feedbackQuery.departments', multiple, data-actions-box='true' data-width="200px" ng-change="vm.setQueryRole(vm.feedbackQuery)")
                        option(ng-repeat='(i,v) in vm.queryDepartments', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.departmentName}}
                div
                    label {{"FEEDBACK_ROLE"|translate}}
                    select.spicker.form-control(ng-model='vm.feedbackQuery.roles', multiple, data-actions-box='true' data-width="200px" ng-change="vm.setQueryAdmins(vm.feedbackQuery)")
                        option(ng-repeat='(i,v) in vm.queryRoles', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.roleName}}
                div
                    label {{"FEEDBACK_ADMIN"|translate}}
                    select.spicker.form-control(ng-model='vm.feedbackQuery.admins', multiple, data-actions-box='true' data-width="200px")
                        option(ng-repeat='(i,v) in vm.queryAdmins', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.adminName}}
                div
                    label {{"CREDIBILITY"|translate}}
                    select.spicker.form-control(ng-model='vm.feedbackQuery.credibility', multiple, data-actions-box='true')
                        option(ng-repeat='(i,v) in vm.credibilityRemarks;', value='{{v._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.name}}
                div
                    label {{"PLAYER_VALUE"|translate}}
                    select.form-control(ng-model="vm.feedbackQuery.valueOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.feedbackQuery.valueFormal" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.feedbackQuery.valueOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.feedbackQuery.valueLatter" style="width:80px;display:inline-block" ng-if="vm.feedbackQuery.valueOperator === 'range'")
                div
                    label {{"TOP_UP_TIMES"|translate}}
                    select.form-control(ng-model="vm.feedbackQuery.topUpTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.feedbackQuery.topUpTimesFormal" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.feedbackQuery.topUpTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.feedbackQuery.topUpTimesLatter" style="width:80px;display:inline-block" ng-if="vm.feedbackQuery.topUpTimesOperator === 'range'")
                div
                    label {{"BonusTime"|translate}}
                    select.form-control(ng-model="vm.feedbackQuery.bonusTimesOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.feedbackQuery.bonusTimesFormal" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.feedbackQuery.bonusTimesOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.feedbackQuery.bonusTimesLatter" style="width:80px;display:inline-block" ng-if="vm.feedbackQuery.bonusTimesOperator === 'range'")
                div
                    label {{"TOTAL_TOP_UP"|translate}}
                    select.form-control(ng-model="vm.feedbackQuery.topUpAmountOperator" style="width:75px;display:inline-block")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.feedbackQuery.topUpAmountFormal" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.feedbackQuery.topUpAmountOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.feedbackQuery.topUpAmountLatter" style="width:80px;display:inline-block" ng-if="vm.feedbackQuery.topUpAmountOperator === 'range'")
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchFeedbackReport(true)') {{'SEARCH' | translate}}
                    span#feedbackReportTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.feedbackQuery.totalCount}} {{"records" | translate}}
            table.common-table#feedbackReportTable.display(style="width:100% ;overflow-x: scroll")
            #feedbackReportTablePage

        // rewards report
        div(ng-if='vm.currentRewardCode')
            .panel.panel-primary
                .panel-heading
                    label {{'PROPOSAL' | translate}}
                .panel-body
                    #generalRewardProposalQuery.block-query.col-md-12.well
                        div
                            label {{"Start date"|translate}}
                            .startTime
                        div
                            label {{"End date"|translate}}
                            .endTime
                        div
                            label &nbsp;
                            button.btn.btn-success(ng-click='vm.generalRewardProposalSearch(true)') {{'SEARCH' | translate}}
                            span#generalRewardProposalTableSpin.collapse
                                i.fa.fa-spinner.fa-spin
                    .clearfix
                    label {{"Total" | translate}} {{vm.generalRewardProposalQuery.totalCount}} {{"records" | translate}}
                    table#generalRewardProposalTable.common-table.display(style="width:100%")
                    #generalRewardProposalTablePage
        div(ng-if='vm.currentRewardTaskName')
            .panel.panel-primary
                .panel-heading
                    label {{'Reward task' | translate}}
                .panel-body
                    #generalRewardTaskQuery.block-query.col-md-12.well
                        div
                            label {{"Start date"|translate}}
                            .startTime
                        div
                            label {{"End date"|translate}}
                            .endTime
                        div
                            label &nbsp;
                            button.btn.btn-success(ng-click='vm.searchGeneralRewardTask(true)') {{'SEARCH' | translate}}
                            span#generalRewardTaskSpin.collapse
                                i.fa.fa-spinner.fa-spin
                    .clearfix
                    label {{"Total" | translate}} {{vm.generalRewardTaskTableProp.totalCount}} {{"records" | translate}}
                    table#generalRewardTaskTable.common-table.display(style="width:100%")
                    #generalRewardTaskTablePage

        //MISCELLANEOUS_REPORT
        div(ng-if='vm.showPageName=="PLAYER_FEEDBACK_REPORT"')
            #playerFeedbackReportQuery.block-query.col-md-12.well
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label {{"PLAYER_NAME"|translate}}
                    input.form-control(type='text', ng-model='vm.playerFeedbackQuery.playerName')
                div
                    label {{"RESULT"|translate}}
                    select.form-control(ng-model='vm.playerFeedbackQuery.result', style='max-width:300px')
                        option(value='all') {{'all' | translate}}
                        option(ng-repeat='(i,v) in vm.feedbackResultList', value='{{v}}') {{v | translate}}
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPlayerFeedbackQuery(true)') {{'SEARCH' | translate}}
                    span#playerFeedbackTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.playerFeedbackQuery.totalCount}} {{"records" | translate}}
            table.common-table#playerFeedbackTable.display(style="width:100% ;overflow-x: scroll")
            #playerFeedbackTablePage

        div(ng-if='vm.showPageName=="CREDIT_CHANGE_REPORT"')
            #creditChangeReportQuery.block-query.col-md-12.well
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchCreditChangeQuery(true)') {{'SEARCH' | translate}}
                    span#creditChangeTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.creditChangeQuery.totalCount}} {{"records" | translate}}
            table.common-table#creditChangeTable.display(style="width:100% ;overflow-x: scroll")
            #creditChangeTablePage

        div(ng-if='vm.showPageName=="PLAYER_ALMOST_LEVELUP_REPORT"')
            .block-query.col-md-12.well
                div
                    label {{"Level-Up Progress"|translate}}
                    .percentage
                        input.form-control.inlineBlk(type='number', max='100', percentage, ng-model='vm.playerAlmostLevelUpQuery.percentage')
                //div
                    label {{"Search limit(Max rows)"|translate}}
                    input.form-control(type='number', ng-model='vm.playerAlmostLevelUpQuery.limit', min='1', ng-init='vm.playerAlmostLevelUpQuery.limit=20')
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchPlayerAlmostLevelUp(true)') {{'SEARCH' | translate}}
                    span#playerAlmostLevelUpTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.playerAlmostLevelUpQuery.totalCount}} {{"records" | translate}}
            table#playerAlmostLevelUpTable.common-table.display(style="width:100%;")
            #playerAlmostLevelUpTablePage
        div(ng-if='vm.showPageName=="ACTIONLOG_REPORT"')
            #actionLogReportQuery.block-query.col-md-12.well
                div
                    label {{'TYPE' | translate}}
                    select.form-control(ng-options='i.action as i.text | translate group by i.group | translate for (k,i) in vm.actionLogQuery.allActions', ng-model='vm.actionLogQuery.action')
                        option(value='') {{'any' | translate}}
                div
                    label {{'adminName' | translate}}
                    input.form-control(type='text', ng-model='vm.actionLogQuery.admin')
                div
                    label {{'PLAYERNAME' | translate}}
                    input.form-control(type='text', ng-model='vm.actionLogQuery.player')
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.searchActionLogData(true)') {{'SEARCH' | translate}}
                    span#actionLogTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            label {{"Total" | translate}} {{vm.queryProposal.totalCount}} {{"records" | translate}}
            table#actionLogTable.common-table.display(style="width:100%;")
            #actionLogTablePage
        div(ng-if='vm.showPageName=="WINRATE_REPORT"')
            // 输赢报表
            #winrateReportQuery.block-query.col-md-12.well
                div
                    label {{"Provider"|translate}}
                    select.form-control(ng-model='vm.winRateQuery.providerId', style='max-width:300px', required)
                        option(value="all") {{'all' | translate}}
                        option(ng-repeat='(i,v) in vm.allProviders', value='{{v._id}}') {{v.name || translate}}

                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.getWinRateReportData()') {{'SEARCH' | translate}}
                    span#winRateTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.winRateReportLoadingStatus}}
            .clearfix
            table#winRateTable.common-table.display(style="width:100%;overflow: scroll;max-height:700px")
            table.common-table.simple-table#winRateSummaryTable(style='margin-top:10px;font-size:12px')
                thead
                    tr
                        th {{'CONSUMPTION_PARTICIPANT' | translate}}
                        th {{'TIMES_CONSUMED' | translate}}
                        th {{'TOTAL_CONSUMPTION' | translate}}
                        th {{'VALID_CONSUMPTION' | translate}}
                        th {{'PLAYER_PROFIT_AMOUNT' | translate}}
                        th {{'COMPANY_EARNING_RATIO' | translate}}
                tbody
                    tr
                        td {{vm.winRateSummaryData.participantNumber}}
                        td {{vm.winRateSummaryData.consumptionTimes}}
                        td {{(vm.winRateSummaryData.totalAmount) | number : 2}}
                        td {{(vm.winRateSummaryData.validAmount) | number : 2}}
                        td {{(vm.winRateSummaryData.bonusAmount) | number : 2}}
                        td {{(-vm.winRateSummaryData.bonusAmount/vm.winRateSummaryData.validAmount*100 || 0) | number : 2 }}%

        div(ng-if='vm.showPageName=="ONLINE_PAYMENT_MISMATCH_REPORT"')
            // 输赢报表
            #onlinePaymentMismatchQuery.block-query.col-md-12.well
                div
                    label {{'Topup Type' | translate}}
                        select.form-control(ng-model='vm.onlinePaymentMismatchQuery.type')
                            //option(value='all') {{'any' | translate}}
                            option(value='online') {{"TOPUPONLINE" | translate }}
                            option(value='manual') {{"TOPUPMANUAL" | translate }}
                            option(value='bonus') {{"Bonus" | translate }}
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.getMismatchReport()') {{'SEARCH' | translate}}
                    span#onlinePaymentMismatchTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.winRateReportLoadingStatus}}
            .clearfix
            table#onlinePaymentMismatchTable.common-table.display(style="width:100%;overflow: scroll;max-height:700px")
                thead
                    tr
                        th {{'PROPOSAL_ID' | translate}}
                        th {{'CREATE_TIME' | translate}}
                        th {{'SYSTEM_THAT_MISSING' | translate}}
                        th {{'CREDIT' | translate}}
                tbody
                    tr(ng-repeat='(i,v) in vm.proposalMismatchDetail.mismatches')
                        td {{v.proposalId}}
                        td {{v.createTime}}
                        td {{v.missing}}
                        td {{v.amount}}
            div
                span fpms：提案个数： {{vm.proposalMismatchDetail.fpmsCount || 0}}  提案总额度： {{vm.proposalMismatchDetail.fpmsAmount || 0}}
            div
                span pms：提案个数： {{vm.proposalMismatchDetail.pmsCount || 0}}  提案总额度： {{vm.proposalMismatchDetail.pmsAmount || 0}}

        div(ng-if='vm.showPageName=="LIMITED_OFFER_REPORT"')
            #limitedOfferQuery.block-query.col-md-12.well
                div
                    label {{'PLAYERNAME' | translate}}
                    input.form-control(type='text', ng-model='vm.limitedOfferQuery.playerName')
                div
                    label {{'promoName' | translate}}
                    input.form-control(type='text', ng-model='vm.limitedOfferQuery.promoName')
                div
                    label {{'Receive Status' | translate}}
                    select.form-control(ng-model='vm.limitedOfferQuery.status', ng-options="a | translate for a in vm.claimStatus", style='max-width:200px', multiple, bsp)
                div
                    label {{'Level Requirement' | translate}}
                    select.form-control(ng-model='vm.limitedOfferQuery.level', ng-options="a.name for a in vm.playerLvlData", style='max-width:200px', multiple, bsp)
                div
                    label {{'DEVICE' | translate}}
                    select.form-control(ng-model='vm.limitedOfferQuery.inputDevice', ng-options="+(i) as v | translate for (i,v) in vm.playerInputDevice", style='max-width:200px', multiple, bsp)
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.getLimitedOfferReport(true)') {{'SEARCH' | translate}}
                    span#limitedOfferTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5 {{vm.winRateReportLoadingStatus}}
            .clearfix
            //table#limitedOfferTable.common-table.display(style="width:100%;overflow: scroll;max-height:700px")
                thead
                    tr
                        th {{'ORDER' | translate}}
                        th {{'Proposal No' | translate}}
                        th {{'TITLE' | translate}}
                        th {{'PLAYERNAME' | translate}}
                        th {{'LIMITED_OFFER_APPLY_TIME' | translate}}
                        th {{'topUpProposalId' | translate}}
                        th {{'TopupAmount' | translate}}
                        th {{'rewardProposalId' | translate}}
                        th {{'OFFER_AMOUNT' | translate}}
                        th {{'SPENDING_AMOUNT' | translate}}
                tbody
                    tr(ng-repeat='(i,el) in vm.limitedOfferDetail')
                        td {{(i+1)}}
                        td {{el.proposalId}}
                        td {{el.data.limitedOfferName}}
                        td {{el.data.playerName}}
                        td {{el.createTime}}
                        td {{el.data.topUpProposalId}}
                        td {{el.data.topUpAmount}}
                        td {{el.data.rewardProposalId}}
                        td {{el.data.rewardProposalId ? el.data.rewardAmount : ""}}
                        td {{el.data.spendingAmount}}
            table#limitedOfferTable.common-table.display(style="width:100%")
            #limitedOfferTablePage

#modalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            div(ng-if='vm.proposalDialog == "proposalTopUp"')
                                #ProposalDetail.tab-pane.fade.in.active
                                    include ./proposal-dialog-detail
                            div(ng-if='vm.proposalDialog == "proposal"')
                                #ProposalDetail.tab-pane.fade.in.active
                                    include ./proposal-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')



include ../common-widget/telephone-popover
script(src='js/lib/flot/jquery.flot.min.js')
script(src='js/lib/flot/jquery.flot.pie.min.js')
