#financialReport.block-query.col-md-12.well
    div
        label(style='color: red; font-size:10pt') {{"*Default 00:00:00" | translate}}
        label {{"Search Date (Start)" | translate}}
        .startTime
    div
        label(style='color: red; font-size:10pt') {{"*Default 23:59:59" | translate}}
        label {{"Search Date (End)" | translate}}
        .endTime
    div(style='width:155px')
        label &nbsp;
        label {{"Platform (Multiple Selection)" | translate}}
        select.form-control#selectFinancialReportPlatform(multiple='multiple', ng-model='vm.financialReport.platform')
            option(ng-repeat='(i,v) in vm.platformList', value='{{v._id}}') {{v.name}}
    div
        label &nbsp;
        label {{"Display Method"|translate}} &nbsp;
        select.form-control(ng-model='vm.financialReport.displayMethod' disabled)
            option(value='sum') {{"A. Sum" | translate}}
            option(value='daily') {{"B. Daily" | translate}}
    div
        label &nbsp;
        label &nbsp;
        button.btn.btn-success(ng-click='vm.searchFinancialReport()') {{'SEARCH' | translate}}
        span#financialReportSpin.collapse
            i.fa.fa-spinner.fa-spin
    div
        label &nbsp;
        label &nbsp;
        button.btn.btn-danger(data-toggle="modal", data-target='#modalDepositGroupSetting', ng-click='vm.initDepositGroupSetting()') {{'Deposit Group Setting' | translate}}（{{'Impact report display' | translate}}）
.clearfix
    label {{"Search time" | translate}}: {{vm.searchFinancialReportSearchInterval}} {{"Seconds" | translate}}
    div#dailyFinancialReport(style="min-width:100% ;overflow-x: scroll; display; none !important" ng-if="vm.dailyFinancialReportList.length > 0")
        table.simple-table-single.table-vertical-middle.text-center(style='width:100%')
            thead
                tr
                    th(rowspan=2 style="min-width:210px") {{vm.financialReportPlatformName}}
                    th(ng-repeat="group in vm.topUpHeader | orderBy: 'groupId'" style="min-width:210px") {{ group.groupName }}
                    th(style="min-width:210px") {{'All Withdrawal' | translate}}
                    th(rowspan=2 style="min-width:210px") {{'Total Platform Fee' | translate}}
                tr.no-border
                    th(ng-repeat="group in vm.topUpHeader  | orderBy: 'groupId'" style="min-width:210px;")
                        table
                            th.text-center(ng-repeat="method in group.topUpDetail | orderBy: 'depositId' track by $index" style="min-width:210px;border-right: 1px solid rgba(43, 102, 152, 0.5);height: 120px")
                                span(ng-if='method.topUpTypeId != 2') {{ method.depositName }}
                                span(ng-if='method.topUpTypeId == 2') {{ method.depositName | translate}}({{ method.depositName }}): {{ method.topUpMethodId }}
                            th.text-center(style="color:red;min-width:210px;" ) {{ group.groupName }}（{{ 'Total Sum' | translate }}）
                    th(ng-repeat="group in vm.bonusHeader" style="min-width:210px;")
                        table
                            th.text-center(ng-repeat="type in group.bonusDetail | orderBy: 'typeId' track by $index" style="min-width:210px;border-right: 1px solid rgba(43, 102, 152, 0.5);height: 120px")
                                span {{ type.typeName | translate }}
                            th.text-center(style="color:red;min-width:210px;" ) {{'All Withdrawal' | translate}}（{{'Total Sum' | translate}}）

            tbody
                tr.no-border(ng-repeat="financialReport in vm.dailyFinancialReportList track by $index" style="padding:0 !important;")
                    td
                        span {{ financialReport.date }}

                    td(ng-repeat="method in financialReport.topUpList | orderBy: 'groupId' track by $index")
                        table(style='width:100%')
                            td(ng-repeat="detail in method.topUpDetail | orderBy: 'depositId' track by $index" style="min-width: 210px;border-right: 1px solid rgba(43, 102, 152, 0.5)")
                                span {{ detail.amount || 0}}
                            td(style="color:red;min-width: 210px")
                                span {{ method.totalAmount || 0}}

                    td(ng-repeat="type in financialReport.bonusList track by $index")
                        table(style='width:100%')
                            td(ng-repeat="detail in type.bonusDetail | orderBy: 'typeId' track by $index" style="min-width: 210px;border-right: 1px solid rgba(43, 102, 152, 0.5)")
                                span {{ detail.amount || 0}}
                            td(style="color:red;min-width: 210px")
                                span {{ type.totalAmount || 0}}

                    td(ng-repeat="platformFee in financialReport.platformFeeEstimate track by $index")
                        span {{ platformFee.totalPlatformFeeEstimate || 0}}

    div#sumFinancialReport(style="min-width:100% ;overflow-x: scroll; display; none !important")
        table.simple-table.table-vertical-middle.text-center(style='width:100%')
            thead
                tr.no-border
                    th(colspan=2)
                    th(style='border-right:none;')
                        table(style='width:100%;')
                            td(ng-repeat="header in vm.sumFinancialReportList.platformFeeEstimateList | orderBy: 'platformId'" style="min-width:230px")
                                span.text-center {{header.platformName}}

            tbody
                tr.no-border(ng-repeat="topUp in vm.sumFinancialReportList.topUpList | orderBy: 'groupId' track by $index" style="padding:0 !important;")
                    td(style="min-width:230px; border-right:none;")
                        span {{ topUp.groupName }}

                    td
                        table(style='width:100%;')
                            tr(ng-repeat="method in topUp.topUpDetail | orderBy: 'depositId' track by $index")
                                td(style="min-width: 230px; border-top:none; border-left:none; border-right:none;")
                                    span {{ method.depositName }}
                            tr
                                td(style="min-width:230px; height:50px;color:red; border-bottom:none; border-left:none; border-right:none;")
                                    span {{ topUp.groupName }}（{{'Total Sum' | translate}}）
                    td(style="vertical-align:top; border-right:none;")
                        table(style='width:100%;')
                            tr(ng-repeat="method in topUp.topUpDetail | orderBy: 'depositId' track by $index")
                                td(style="min-width: 230px; border-top:none; border-left:none; " ng-repeat="detail in method.topUpDetail | orderBy: 'platformId' track by $index")
                                    span {{ detail.amount || 0 }}
                            tr
                                td(style="min-width:230px; height:50px;color:red; border-left:none; border-bottom:none" ng-repeat="sum in topUp.totalAmountList | orderBy: 'platformId' track by $index")
                                    span {{ sum.totalAmount || 0 }}

                tr.no-border(ng-repeat="bonus in vm.sumFinancialReportList.bonusList track by $index" style="padding:0 !important;")
                    td(style="min-width:230px") {{'All Withdrawal' | translate}}
                    td
                        table(style='width:100%')
                            tr(ng-repeat="group in bonus.groups | orderBy: 'typeId' track by $index")
                                td(style="min-width:230px; border-top:none; border-left:none; border-right:none;")
                                    span {{ group.typeName  | translate}}
                            tr
                                td(style="min-width:230px;color:red; border-bottom:none; border-left:none; border-right:none;")
                                    span {{'All Withdrawal' | translate}}（{{'Total Sum' | translate}}

                    td(style="vertical-align:top; border-right:none;")
                        table(style='width:100%')
                            tr(ng-repeat="group in bonus.groups | orderBy: 'typeId' track by $index")
                                td(style="min-width:230px; border-top:none; border-left:none;" ng-repeat="detail in group.bonusDetail | orderBy: 'platformId' track by $index")
                                    span {{ detail.amount || 0 }}
                            tr
                                td(style="min-width:230px;color:red; border-bottom:none; border-left:none;" ng-repeat="sum in vm.sumFinancialReportList.totalSumBonusTopUp | orderBy: 'platformId' track by $index")
                                    span {{ sum.amount || 0 }}

                tr.no-border
                    td(colspan=2 style="min-width:230px;") {{'Total Platform Fee' | translate}}

                    td(style='border-right:none;')
                        table(style='width:100%; border-right:none;')
                            tr
                                td(style="min-width:230px; border-bottom:none; border-top:none; border-left:none;" ng-repeat="platformFee in vm.sumFinancialReportList.platformFeeEstimateList | orderBy: 'platformId' track by $index")
                                    span {{ platformFee.totalPlatformFeeEstimate || 0 }}


#modalDepositGroupSetting.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Deposit Group Setting" | translate}}
            .modal-body(style='overflow:auto;')
                div(style='position: relative;')
                    .col-md-4
                        table.common-table.playerLvlTable
                            thead
                                tr
                                    th {{"All Deposit Method" | translate}}
                                    th {{"add to group" | translate}}
                            tbody
                                tr(ng-repeat='(i, v) in vm.noGroupDepositMethodList')
                                    td
                                        span {{v.name | translate}}
                                    td
                                        select.form-control(ng-disabled='!vm.editConfig' ng-model='v.group' style='width:80%;display:inline-block')
                                            option(ng-repeat="(k, t) in vm.depositGroups | filter: {depositParentDepositId: -1}", value="{{t.depositId}}") {{t.depositName | translate}}
                                        i.fa.fa-plus.fa-lg(ng-if='vm.editConfig' ng-click='vm.addDepositSettingToGroup(v, i, 1);')

                                tr(ng-repeat='(i, v) in vm.noGroupMerchantTopUpTypeList')
                                    td
                                        span {{v.name | translate}}
                                    td
                                        select.form-control(ng-disabled='!vm.editConfig' ng-model='v.group' style='width:80%;display:inline-block')
                                            option(ng-repeat="(k, t) in vm.depositGroups | filter: {depositParentDepositId: -1}", value="{{t.depositId}}") {{t.depositName | translate}}
                                        i.fa.fa-plus.fa-lg(ng-if='vm.editConfig' ng-click='vm.addDepositSettingToGroup(v, i, 2);')

                                tr(ng-repeat='(i, v) in vm.noGroupAlipayWechatPayList')
                                    td
                                        span {{v.name | translate}}
                                    td
                                        select.form-control(ng-disabled='!vm.editConfig' ng-model='v.group' style='width:80%;display:inline-block')
                                            option(ng-repeat="(k, t) in vm.depositGroups | filter: {depositParentDepositId: -1}", value="{{t.depositId}}") {{t.depositName | translate}}
                                        i.fa.fa-plus.fa-lg(ng-if='vm.editConfig' ng-click='vm.addDepositSettingToGroup(v, i, v.typeId);')

                    .col-md-8
                        table.common-table.playerLvlTable
                            thead
                                tr
                                    th {{"Deposit Group" | translate}}
                                    th {{"Deposit Group Setting Detail" | translate}}
                                    th {{"Function" | translate}}
                            tbody
                                tr(ng-repeat='(i, v) in vm.depositGroups | filter: {depositParentDepositId: -1}')
                                    td
                                        input.form-control(type='text' ng-if='vm.editConfig' ng-model='v.depositName')
                                        span(ng-if='!vm.editConfig') {{v.depositName}}
                                    td
                                        div(ng-repeat='(ii, vv) in vm.depositGroups | filter: vm.filterDepositSettingGroup(v.depositId)')
                                            span {{ vv.depositName | translate}}
                                            i.fa.fa-minus.fa-lg(ng-if='vm.editConfig' ng-click='vm.removeDepositSettingFromGroup(vv)')
                                    td
                                        button.btn.common-btn.btn-primary(ng-if='vm.editConfig' data-toggle="modal", data-target='#modalDeleteDepositGroup' ng-click="vm.deletingDepositGroup=v") {{'DELETE' | translate}}
                        br
                        button.btn.btn-primary.common-button.pull-right(ng-if='vm.editConfig' ng-click='vm.addNewDepositGroup()')
                            text {{"ADD GROUP" | translate}}
                            img.img-edit

                    button.btn.btn-primary.common-button.pull-right(ng-if="!vm.editConfig && checkViewPermission('Report', 'General', 'DepositGroupSetting')", ng-click='vm.editConfig=!vm.editConfig')
                        text {{'EDIT' | translate}}
                        img.img-edit
                    button.btn.btn-danger.common-button.pull-right(ng-if='vm.editConfig', ng-click='vm.editConfig=!vm.editConfig;vm.initDepositGroupSetting()') {{"CANCEL" | translate}}
                    button.btn.btn-primary.common-button.pull-right(data-dismiss='modal', ng-if='vm.editConfig', ng-click='vm.updateDepositGroup()') {{"CONFIRM" | translate}}

#modalDeleteDepositGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_DEPOSIT_GROUP" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete sms setting group"|translate}}
                                    strong.text-danger &nbsp;{{vm.deletingDepositGroup.depositName}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.deleteDepositGroup(vm.deletingDepositGroup)') {{"DELETE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}