#playerAlipayAccountReport.block-query.col-md-12.well
    div
        label {{"playerName" | translate}}
        input.form-control.span.input-sm(ng-model="vm.playerAlipayAccReport.playerName")
    div
        label {{"RECORD_ALIPAY_ACC"|translate}}
        input.form-control.span.input-sm(ng-model="vm.playerAlipayAccReport.alipayAcc")
    div
        label {{"RECORD_ALIPAY_NAME"|translate}}
        input.form-control.span.input-sm(ng-model="vm.playerAlipayAccReport.alipayName")
    div
        label {{"RECORD_ALIPAY_NICKNAME"|translate}}
        input.form-control.span.input-sm(ng-model="vm.playerAlipayAccReport.alipayNickname")
    div
        label {{"RECORD_ALIPAY_REMARK"|translate}}
        input.form-control.span.input-sm(ng-model="vm.playerAlipayAccReport.alipayRemark")
    div
        label {{"Start date"|translate}}
        #playerAlipayAccountReportStartTime
    div
        label {{"End date"|translate}}
        #playerAlipayAccountReportEndTime
    div
        label &nbsp;
        button.btn.btn-success(ng-click='vm.searchProviderPlayerRecord(true)') {{'SEARCH' | translate}}
        button.btn.btn-info.margin-left-5(ng-click='vm.searchProviderPlayerRecord(true,true)') {{'EXPORT_EXCEL' | translate}}
        span#playerExpenseTableSpin.collapse
            i.fa.fa-spinner.fa-spin
        span.margin-left-5 {{vm.operationReportLoadingStatus}}
.clearfix
label {{"Total" | translate}} {{vm.playerExpenseQuery.totalCount}} {{"records" | translate}}
table.common-table#playerExpenseTable.display(style="width:100% ;overflow-x: scroll")
#playerExpenseTablePage
table.common-table#playerExpenseExcelTable.display(style="width:100% ;overflow-x: scroll")