nav.side-menu
    ul.list-group
        li.list-group-item
            .hiddenContent.hide
                | Dashboard
                | many many content
            a(href='#')
                i.fa.fa-home.fa-2x
        li.list-group-item
            .hiddenContent.hide
                | UI Components
                | many many content
            a(href='#')
                i.fa.fa-laptop.fa-2x
        li.list-group-item
            .hiddenContent.hide
                | Forms
                | many many content
            a(href='#')
                i.fa.fa-list.fa-2x
        li.list-group-item
            .hiddenContent.hide
                | Dashboard
                | many many content
            a(href='#')
                i.fa.fa-home.fa-2x
        li.list-group-item
            .hiddenContent.hide
                | UI Components
                | many many content
            a(href='#')
                i.fa.fa-laptop.fa-2x
        li.list-group-item
            .hiddenContent.hide
                | Forms
                | many many content
            a(href='#')
                i.fa.fa-list.fa-2x

//#operContent
    button.btn.btn-primary.common-button Request Initial TopUp Reward
    button.btn.btn-primary.common-button Search Player