div
    .titleBackground.margin-bottom-5.text-center {{'Basic' | translate}}
    .label-value
        label {{'Lock Status' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.isLocked.adminName || 'not locked' | translate}}
        //button.pull-right.btn.btn-danger.btn-sm.margin-left-5(ng-if="vm.selectedProposal.showLockBtn", ng-click='vm.lockProposal(vm.selectedProposal.proposalId)') {{'Lock Proposal' | translate}}
        //button.pull-right.btn.btn-success.btn-sm.margin-left-5(ng-if="vm.selectedProposal.showUnlockBtn", ng-click='vm.unlockProposal(vm.selectedProposal.proposalId)') {{'Unlock Proposal' | translate}}
    .label-value
        label {{'TITLE' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.type.name || 'none'|translate}}
    .label-value
        label {{'STATUS' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.status || vm.selectedProposal.process.status || 'none' | translate}}
    .label-value
        label {{'PROPOSAL_NO' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.proposalId || 'none' | translate}}
    .label-value
        label {{'CREATOR' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.creator.name || 'System' | translate}}
    .label-value
        label {{'CREATION_TIME' | translate}}&nbsp;:&nbsp;
        label {{vm.dateReformat(vm.selectedProposal.createTime) || 'none'}}

    .titleBackground.margin-bottom-5.text-center {{'Proposal History Process' | translate}}
    div(ng-repeat='(i,v) in vm.thisProposalSteps', ng-show='v.operator')
        .label-value
            label {{'DEPARTMENT' | translate}}&nbsp;:&nbsp;
            label {{v.department.departmentName || 'Unknown' | translate}}
        .label-value
            label {{'Operator' | translate}}&nbsp;:&nbsp;
            label {{v.operator.adminName || 'Unknown' | translate}}
        .label-value
            label {{'OperationTime' | translate}}&nbsp;:&nbsp;
            label {{vm.dateReformat(v.operationTime) || 'Unknown' | translate}}
        .label-value(ng-show='v.memo')
            label {{'remark' | translate}}&nbsp;:&nbsp;
            label {{v.memo}}
        hr
    //hr
    //div(ng-show='vm.selectedProposal.remark.length > 0')
        .col-md-12
            label.text-center {{'remark' | translate}}
        div(style='height:200px;overflow-auto;')
            .margin-left-5.wordWrap(ng-repeat='(i,v) in vm.selectedProposal.remark')
                text.margin-right-5(style='font-style: italic;') &nbsp;&nbsp;&nbsp;&nbsp;{{v.admin.adminName || ('unknown' | translate)}}
                text.margin-right-5(style='font-style: italic;') ({{vm.dateReformat(v.addTime)}})
                label {{v.content}}
div.proposalDataDetail(ng-switch="vm.selectedProposal.type.name")
    label {{'UPDATE_DETAIL' | translate}}
    //div(ng-switch-when="ManualPlayerTopUp")
    //    include ./category/manualTopUp
    div(ng-switch-default)
        .col-md-12(ng-show='vm.selectedProposal.type.name=="PlayerTopUp" && vm.selectedProposal.status=="Pending" && checkViewPermission("Operation","Proposal","RepairPayment")')
            button.common-btn.btn-primary(ng-click='vm.submitRepairPayment(vm.selectedProposal)') {{'Repair Payment' | translate}}
            i.margin-left-5.margin-right-5.fa.fa-spinner.fa-spin(ng-show='vm.repairPaymentStage==1')
            text.text-success(ng-show='vm.repairPaymentStage==2') {{'Success' | translate}}
            text.text-danger(ng-show='vm.repairPaymentStage==3') {{'Fail' | translate}}
        //- .col-md-12(ng-show='(vm.selectedProposal.type.name=="PlayerBonus") && checkViewPermission("Operation","Proposal","updatePlayerBonusStatus")')
        //-     label.margin-right-5 {{'updatePlayerBonusStatus' | translate}}
        //-     input.margin-right-5(type='text', ng-model='playerBonusRemark', placeholder="{{'REMARK' | translate}}")
        //-     button.btn.common-btn.btn-primary.margin-right-5(ng-disabled='vm.submitPlayerBonusProcess==1', ng-click='vm.submitPlayerBonusStatus(vm.selectedProposal,"1",playerBonusRemark)') {{'Pending' | translate}}
        //-     button.btn.common-btn.btn-primary.margin-right-5(ng-disabled='vm.submitPlayerBonusProcess==1', ng-click='vm.submitPlayerBonusStatus(vm.selectedProposal,"2",playerBonusRemark)') {{'Approved' | translate}}
        //-     i.margin-left-5.margin-right-5.fa.fa-spinner.fa-spin(ng-show='vm.submitPlayerBonusProcess==1')
        //-     text.text-success(ng-show='vm.submitPlayerBonusProcess==2') {{'Success' | translate}}
        //-     text.text-danger(ng-show='vm.submitPlayerBonusProcess==3') {{'Fail' | translate}}
        table.table(style='width:100%')
            tr(ng-repeat='(i,v) in vm.selectedProposalDetailForDisplay')
                td {{ i | translate}}
                td
                    div(ng-bind-html='vm.showProposalDetailField(vm.selectedProposal,i,v)')


