button.btn.btn-primary.margin-right-5(ng-click='vm.showCreatePage();vm.pageTag="create"', data-toggle='modal', data-target='#modalCreate') {{vm.mainFrameCreateName}}
li.btn.dropdown
	a.btn.btn-primary.margin-right-5(data-toggle='dropdown')
		| {{vm.mainFrameActionName}}
		i.fa.fa-caret-down.margin-left-5
	ul.dropdown-menu
		li
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showEditPage(true)', data-toggle='modal', data-target='#modalEdit')
				i.fa.fa-pencil-square-o.btn-info.margin-right-5
				| {{"EDIT" | translate}}
		li(ng-if='vm.page!=="admin"')
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showAttachAdminPage(true);', data-toggle='modal', data-target='#modalAction')
				i.fa.fa-plus-square.btn-success.margin-right-5
				| {{"ATTACH_ADMIN" | translate}}
		li(ng-if='vm.page!=="admin"')
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showDetachAdminPage(true);', data-toggle='modal', data-target='#modalAction')
				i.fa.fa-minus-square.btn-success.margin-right-5
				| {{"DETACH_ADMIN" | translate}}
		li(ng-if='vm.page!=="group"')
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showAttachGroupPage(true);', data-toggle='modal', data-target='#modalAction')
				i.fa.fa-plus-square.btn-success.margin-right-5
				| {{"ATTACH_GROUP" | translate}}
		li(ng-if='vm.page!=="group"')
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showDetachGroupPage(true);', data-toggle='modal', data-target='#modalAction')
				i.fa.fa-minus-square.btn-success.margin-right-5
				| {{"DETACH_GROUP" | translate}}
		li(ng-if='vm.page!=="policy"')
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showAttachPolicyPage(true);', data-toggle='modal', data-target='#modalAction')
				i.fa.fa-plus-square.btn-success.margin-right-5
				| {{"ATTACH_POLICY" | translate}}
		li(ng-if='vm.page!=="policy"')
			a(ng-disabled="vm.totalCommonTableChecked!==1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked!==1]", ng-click='vm.showDetachPolicyPage(true);', data-toggle='modal', data-target='#modalAction')
				i.fa.fa-minus-square.btn-success.margin-right-5
				| {{"DETACH_POLICY" | translate}}
		li
			a(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.showDelete()')
				i.fa.fa-times.btn-danger.margin-right-5
				| {{"DELETE" | translate}}
| Showing {{vm.commonTableLength}} results
div
	include ./common-table

#modalAction.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog(style='width:80%;')
		.modal-content
			.modal-body
				include ./common-action
				button.btn.btn-default(ng-click="vm.getAllMainData(vm.drawTable);", type='button', data-dismiss='modal') {{"GO_BACK" | translate}}

#modalCreate.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog(style='width:80%;')
		.modal-content
			.modal-body
				div(ng-if='vm.page=="admin"')
					include ../mainPage/admin-create
				div(ng-if='vm.page=="group"')
					include ../group/group-create
				div(ng-if='vm.page=="policy"')
					include ../policy/policy-create
				button.btn.btn-default(type='button', data-dismiss='modal') {{"GO_BACK" | translate}}
#modalEdit.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog(style='width:80%;')
		.modal-content
			.modal-body
				div(ng-if='vm.page=="admin"')
					include ../mainPage/admin-update
				div(ng-if='vm.page=="group"')
					include ../group/group-update
				div(ng-if='vm.page=="policy"')
					include ../policy/policy-update
				button.btn.btn-default(type='button', ng-click="vm.getAllMainData(vm.drawTable);", data-dismiss='modal') {{"GO_BACK" | translate}}
