.panel.panel-primary
	.panel-heading
		label {{vm.detailPageTitle}}
	.panel-body
		ul.nav.nav-tabs
			li.active
				a(data-toggle="tab", href="#home", ng-click="vm.initDetailPage()") {{"DETAIL" | translate}}
			li(ng-if='vm.page!=="admin"')
				a(data-toggle="tab", href="#menu1", ng-click="vm.initDetailPage();vm.showDetachAdminPage(false);") {{"DETACH_ADMIN" | translate}}
			li(ng-if='vm.page!=="admin"')
				a(data-toggle="tab", href="#menu2", ng-click="vm.initDetailPage();vm.showAttachAdminPage(false);") {{"ATTACH_ADMIN" | translate}}
			li(ng-if='vm.page!=="group"')
				a(data-toggle="tab", href="#menu3", ng-click="vm.initDetailPage();vm.showDetachGroupPage(false);") {{"DETACH_GROUP" | translate}}
			li(ng-if='vm.page!=="group"')
				a(data-toggle="tab", href="#menu4", ng-click="vm.initDetailPage();vm.showAttachGroupPage(false);") {{"ATTACH_GROUP" | translate}}
			li(ng-if='vm.page!=="policy"')
				a(data-toggle="tab", href="#menu5", ng-click="vm.initDetailPage();vm.showDetachPolicyPage(false);") {{"DETACH_POLICY" | translate}}
			li(ng-if='vm.page!=="policy"')
				a(data-toggle="tab", href="#menu6", ng-click="vm.initDetailPage();vm.showAttachPolicyPage(false);") {{"ATTACH_POLICY" | translate}}
			li
				a(data-toggle="tab", href="#menu7", ng-click="vm.showEditPage(false)") {{"EDIT" | translate}}
		div.tab-content
			#home.tab-pane.fade.in.active
				.panel-body
					.row
						.col-lg-12
							| {{"READ_ONLY" | translate}}
					p
					.row
						.col-lg-12
							textarea.form-control.custom-control(rows="20" ,style="resize:none") {{vm.detailString}}
				p
			#menu1.tab-pane.fade
				.panel-body
					include ./common-table
					div.row(ng-if="vm.commonTableLength>0")
						.col-lg-12
							button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.submitAdmin("detach")') {{"DETACH_ADMIN" | translate}}

			#menu2.tab-pane.fade
				.panel-body
					include ./common-table
					div.row(ng-if="vm.commonTableLength>0")
						.col-lg-12
							button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.submitAdmin("attach")') {{"ATTACH_ADMIN" | translate}}

			#menu3.tab-pane.fade
				.panel-body
					include ./common-table
					div.row(ng-if="vm.commonTableLength>0")
						.col-lg-12
							button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.submitGroup("detach")') {{"DETACH_GROUP" | translate}}

			#menu4.tab-pane.fade
				.panel-body
					include ./common-table
					div.row(ng-if="vm.commonTableLength>0")
						.col-lg-12
							button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.submitGroup("attach")') {{"ATTACH_GROUP" | translate}}

			#menu5.tab-pane.fade
				.panel-body
					include ./common-table
					div.row(ng-if="vm.commonTableLength>0")
						.col-lg-12
							button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.submitPolicy("detach")') {{"DETACH_POLICY" | translate}}

			#menu6.tab-pane.fade
				.panel-body
					include ./common-table
					div.row(ng-if="vm.commonTableLength>0")
						.col-lg-12
							button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled="vm.totalCommonTableChecked<1", ng-class="{true: 'cbDisabled'}[vm.totalCommonTableChecked<1]", ng-click='vm.submitPolicy("attach")') {{"ATTACH_POLICY" | translate}}
			#menu7.tab-pane.fade
				.panel-body
					div(ng-if='vm.page==="admin"')
						include ../admin/admin-property
					div(ng-if='vm.page==="group"')
						include ../group/group-property
					div(ng-if='vm.page==="policy"')
						include ../policy/policy-property
					button.btn-sm.margin-right-5.btn.btn-primary.col-lg-2(ng-disabled='form_group.$invalid', ng-click="vm.submitUpdate();") {{vm.detailUpdateName}}
button.btn-sm.margin-right-5.btn.btn-danger.col-lg-1(ng-click="vm.pageTag='showAll';vm.getAllMainData(vm.drawTable);") {{"GO_BACK" | translate}}
