#modalYesNo.modal.fade(style='z-index:1201;', tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-medium
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.modalYesNo.modalTitle}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    text {{vm.modalYesNo.modalText}}
            .modal-footer
                button.btn.btn-primary.btn-space(data-dismiss='modal' ng-click="vm.modalYesNo.actionYes()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.btn-space(data-dismiss='modal' ng-click="vm.modalYesNo.actionNo()") {{"CANCEL" | translate}}