templates.hide(ng-non-bindable)

    #ezModalTemplate
        .modal.fade(id="{{modalId}}", tabindex="-1", role="dialog", data-backdrop="static", aria-labelledby="myModalLabel", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header(ng-transclude="extractedHeader")
                        //- This is the default header, but it can be overridden if you supply an <ez-modal-header>
                        a.fa.fa-times.close(type="button", data-dismiss="modal")
                        h4.modal-title {{modalTitle}}
                    .modal-body
                        .panel-body(ng-transclude="extractedBody")
                            //- Content from <ez-modal-body> will appear here
                    .modal-footer(ng-transclude="extractedFooter")
                        //- Buttons from <ez-modal-footer> will appear here

    #ezConfirmButtonTemplate
        button.common-button.margin-right-5.btn.btn-primary(data-dismiss="modal", ng-transclude)

    #ezCancelButtonTemplate
        button.common-button.margin-right-5.btn.btn-danger(data-dismiss="modal", ng-transclude)

    #ezNormalButtonTemplate
        button.common-button.margin-right-5.btn.btn-primary(data-dismiss="modal", ng-transclude)
