form(name="form_player_topup_yunqr", novalidate)
    label.control-label 请在指定 XX 分钟内，按照下列订单方式，转帐至指定银行卡。
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label *{{"ProposalId" | translate}}
        .form-group.col-md-6
            div {{vm.existingAssignTopup.proposalId}}
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label *{{"充值金额" | translate}}
        .form-group.col-md-6
            div {{vm.existingAssignTopup.data.amount}}
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label *{{"充值金额" | translate}}
        .form-group.col-md-6
            div {{vm.existingAssignTopup.data.amount}}
    .row.margin-left-5.margin-right-5
        div qrcode
    .row.margin-left-5.margin-right-5
        div *此二维码仅提供本次云闪付转帐使用。
    .row.margin-left-5.margin-right-5
        div.btn.btn-primary 复制上述信息
