form(name='form_playerPaymentInfo3')
    div.col-sm-12
        label.control-label {{'BANK_ACCOUNT_NAME' | translate}}
        input.form-control(ng-model='playerPayment3.bankAccountName3', ng-disabled='!isEditingPlayerPayment3')
    div.col-sm-12.margin-top-10
        label.control-label *{{'BANK_NAME' | translate}}
        select.form-control(ng-model='playerPayment3.bankName3', ng-show='!isEditingPlayerPayment3', disabled)
            option(ng-repeat="(i,v) in allBankTypeList", value='{{i}}') {{v}}
    div.col-md-6(ng-show='isEditingPlayerPayment3')
        select.form-control(ng-model='playerPayment3.bankName3', ng-options='i as v for (i,v) in filteredBankTypeList', required)
    div.col-md-6(ng-show='isEditingPlayerPayment3')
        input.form-control(type='text', placeholder="{{'SEARCH' | translate}}", ng-model='filterBankName', ng-change='filterBankname("playerPayment3")')
    div.control-label
        div.col-sm-12.margin-top-10
            label {{'BANK_ACCOUNT' | translate}}
            text.margin-left-5.small ({{'Min length 16, all digits' | translate}})
        div.col-sm-11
            input.form-control.inlineBlk(ng-model='playerPayment3.encodedBankAccount3', ng-if='!isEditingPlayerPayment3', disabled)
            input.form-control.inlineBlk(ng-model='playerPayment3.newBankAccount3', ng-change='playerPayment3.showNewAccountNo3=true; checkDuplicatedBankAccount(playerPayment3)', ng-if='isEditingPlayerPayment3 && !playerPayment3.showNewAccountNo3')
            input.form-control.inlineBlk(focus-me="playerPayment3.showNewAccountNo3" ng-model='playerPayment3.newBankAccount3', ng-if='isEditingPlayerPayment3 && playerPayment3.showNewAccountNo3', ng-change="checkDuplicatedBankAccount(playerPayment3)")
        div.col-sm-1.pull-right
            button.btn.btn-info.pull-right(ng-click='isEditingPlayerPaymentShowVerify=!isEditingPlayerPaymentShowVerify')
                text(ng-if='isEditingPlayerPaymentShowVerify') {{::'CLOSE' | translate}}
                text(ng-if='!isEditingPlayerPaymentShowVerify') {{::'VERIFY' | translate}}
            label.text-disabled(ng-if="isEditingPlayerPayment3 && playerPayment3.showAlert3") {{ playerPayment3.alertMsg3 | translate}}
    div.col-sm-12
        .panel.panel-default.margin-top-10(ng-if='isEditingPlayerPaymentShowVerify')
            .panel-body
                label.control-label {{"VERIFY_BANK_ACCOUNT" | translate}}
                input.form-control(type="text", placeholder="{{'VERIFY_BANK_ACCOUNT' | translate}}", ng-model="verifyBankAccount")
                p
                button.btn.btn-primary.common-button(ng-disabled='!verifyBankAccount', ng-click="verifyPlayerBankAccount(verifyBankAccount)") {{"VERIFY" | translate}}
                label.fa.fa-check.colorGreen(ng-if='correctVerifyBankAccount')
                label.fa.fa-times.colorRed(ng-if='(!correctVerifyBankAccount && (correctVerifyBankAccount !== undefined))')
    div.col-md-4
        label.control-label {{"PHONE_PROVINCE" | translate}}
        select.form-control(type='text', ng-model='currentProvince3.province', ng-options='v.id as v.name for (i,v) in provinceList3', ng-change='changeProvince3(true)', ng-disabled='!isEditingPlayerPayment3')
            option(ng-if="!isIdInList(provinceList3, currentProvince3.province)" ng-value="currentProvince3.province") {{currentProvince3.province}}
    div.col-md-4
        label.control-label {{"PHONE_CITY" | translate}}
        select.form-control(type='text', ng-model='currentCity3.city', ng-options='v.id as v.name for (i,v) in cityList3', ng-change='changeCity3(true)', ng-disabled='!isEditingPlayerPayment3')
            option(ng-if="!isIdInList(cityList3, currentCity3.city)" ng-value="currentCity3.city") {{currentCity3.city}}
    div.col-md-4
        label.control-label {{"districtId" | translate}}
        select.form-control(type='text', ng-model='currentDistrict3.district', ng-options='v.id as v.name for (i,v) in districtList3', ng-disabled='!isEditingPlayerPayment3')
            option(value='')
            option(ng-if="!isIdInList(districtList3, currentDistrict3.district)" ng-value="currentDistrict3.district") {{currentDistrict3.district}}
    div.col-sm-12.margin-top-10
        label.control-label {{'Account Branch' | translate}}
        input.form-control(ng-model='playerPayment3.bankAddress3', ng-disabled='!isEditingPlayerPayment3')
    div.col-sm-12.margin-top-10
        button.common-button.margin-right-5.btn.btn-primary(ng-show='!isEditingPlayerPayment3', ng-click="isEditingPlayerPayment3=true") {{"EDIT" | translate}}
        button.common-button.margin-right-5.btn.btn-primary(ng-show='isEditingPlayerPayment3', ng-click="prepareEditPlayerPayment3()") {{"CANCEL" | translate}}
        button.common-button.margin-right-5.btn.btn-primary(data-dismiss='dialog',ng-show='isEditingPlayerPayment3', ng-disabled='form_playerPaymentInfo3.$invalid || form_playerPaymentInfo3.$pristine || playerPayment3.invalid', ng-click="updatePlayerPayment('bank3');") {{"UPDATE" | translate}}
        button.common-button.margin-right-5.btn.btn-primary(data-dismiss='dialog') {{"CLOSE" | translate}}
        button.common-button.margin-right-5.btn.btn-danger(ng-show='isEditingPlayerPayment3', ng-click="deletePlayerPayment('bank3', false);") {{"DELETE" | translate}}
