form#formEditPlayer(name="form_edit_player", novalidate)
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label {{"Bankcard Group"|translate}}
            select.form-control(ng-model='playerBeingEdited.bankCardGroup')
                option(ng-repeat='(i,v) in platformBankCardGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.bankCardGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"MERCHANT_GROUP"|translate}}
            select.form-control(ng-model='playerBeingEdited.merchantGroup')
                option(ng-repeat='(i,v) in platformMerchantGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.merchantGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"alipayGroup"|translate}}
            select.form-control(ng-model='playerBeingEdited.alipayGroup')
                option(ng-repeat='(i,v) in platformAlipayGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.alipayGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"WechatPay Group"|translate}}
            select.form-control(ng-model='playerBeingEdited.wechatPayGroup')
                option(ng-repeat='(i,v) in platformWechatPayGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.wechatPayGroup==v._id') {{v.displayName}}
        .form-group.col-md-6.collapse
            label.control-label {{"QuickPay Group"|translate}}
            select.form-control(ng-model='playerBeingEdited.quickPayGroup')
                option(ng-repeat='(i,v) in platformQuickPayGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.quickPayGroup==v._id') {{v.displayName}}
        .form-group.col-md-12
            label {{'REMARKS' | translate}}:
            div
                textarea.form-control(rows="3", ng-model="topUpGroupRemark", placeholder="{{'Topup Group' | translate}}{{'REMARKS' | translate}}")
