form(name='form_playerPaymentInfo3')
    div.col-sm-12
        label.control-label {{'BANK_ACCOUNT_NAME' | translate}}
        input.form-control(ng-model='playerPayment3.bankAccountName3', ng-disabled='!isEditingPlayerPayment')
    div.col-sm-12.margin-top-10
        label.control-label *{{'BANK_NAME' | translate}}
        select.form-control(ng-model='playerPayment3.bankName', ng-show='!isEditingPlayerPayment', disabled)
            option(ng-repeat="(i,v) in allBankTypeList", value='{{i}}') {{v}}
    div.col-md-6(ng-show='isEditingPlayerPayment')
        select.form-control(ng-model='playerPayment3.bankName', ng-options='i as v for (i,v) in filteredBankTypeList', required)
    div.col-md-6(ng-show='isEditingPlayerPayment')
        input.form-control(type='text', placeholder="{{'SEARCH' | translate}}", ng-model='filterBankName', ng-change='filterBankname("playerPayment3")')
    div.control-label
        div.col-sm-12.margin-top-10
            label {{'BANK_ACCOUNT' | translate}}
            text.margin-left-5.small ({{'Min length 16, all digits' | translate}})
        div.col-sm-11
            input.form-control.inlineBlk(ng-model='playerPayment3.encodedBankAccount3', ng-if='!isEditingPlayerPayment', disabled)
            input.form-control.inlineBlk(ng-model='playerPayment3.newBankAccount3', ng-change='playerPayment3.showNewAccountNo3=true; checkDuplicatedBankAccount(playerPayment3)', ng-if='isEditingPlayerPayment && !playerPayment3.showNewAccountNo3')
            input.form-control.inlineBlk(focus-me="playerPayment3.showNewAccountNo3" ng-model='playerPayment3.newBankAccount3', ng-if='isEditingPlayerPayment && playerPayment3.showNewAccountNo3', ng-change="checkDuplicatedBankAccount(playerPayment3)")
            //input.form-control.inlineBlk(ng-model='playerPayment3.newBankAccount', pattern="((.{0})|([0-9]{16,}))", ng-if='isEditingPlayerPayment')
        div.col-sm-1.pull-right
            button.btn.btn-info.pull-right(ng-click='isEditingPlayerPaymentShowVerify=!isEditingPlayerPaymentShowVerify')
                text(ng-if='isEditingPlayerPaymentShowVerify') {{::'CLOSE' | translate}}
                text(ng-if='!isEditingPlayerPaymentShowVerify') {{::'VERIFY' | translate}}
            label.text-disabled(ng-if="isEditingPlayerPayment && playerPayment3.showAlert3") {{ playerPayment3.alertMsg3 | translate}}
    div.col-sm-12
        .panel.panel-default.margin-top-10(ng-if='isEditingPlayerPaymentShowVerify')
            .panel-body
                label.control-label {{"VERIFY_BANK_ACCOUNT" | translate}}
                input.form-control(type="text", placeholder="{{'VERIFY_BANK_ACCOUNT' | translate}}", ng-model="verifyBankAccount")
                p
                button.btn.btn-primary.common-button(ng-disabled='!verifyBankAccount', ng-click="verifyPlayerBankAccount(verifyBankAccount)") {{"VERIFY" | translate}}
                label.fa.fa-check.colorGreen(ng-if='correctVerifyBankAccount')
                label.fa.fa-times.colorRed(ng-if='(!correctVerifyBankAccount && (correctVerifyBankAccount !== undefined))')
    //.form-group-col-md-6
    //    label.control-label {{'BANK_ACCOUNT_TYPE' | translate}}
    //    select.form-control(ng-model='playerPayment3.bankAccountType', ng-disabled='!isEditingPlayerPayment')
    //        option(value='2') {{'Debit Card '|translate}}
    //        option(value='1') {{'Credit Card '|translate}}
    //        //option(value='3') {{'储存卡'|translate}}
    //        //option(value='4') {{'储蓄卡'|translate}}
    //        //option(value='5') {{'商务理财卡'|translate}}
    //        //option(value='6') {{'工商银行一卡通'|translate}}
    div.col-md-4
        label.control-label {{"PHONE_PROVINCE" | translate}}
        select.form-control(type='text', ng-model='currentProvince3.province', ng-options='v.id as v.name for (i,v) in provinceList', ng-change='changeProvince3(true)', ng-disabled='!isEditingPlayerPayment')
            option(ng-if="!isIdInList(provinceList, currentProvince3.province)" ng-value="currentProvince3.province") {{currentProvince3.province}}
    div.col-md-4
        label.control-label {{"PHONE_CITY" | translate}}
        select.form-control(type='text', ng-model='currentCity3.city', ng-options='v.id as v.name for (i,v) in cityList', ng-change='changeCity3(true)', ng-disabled='!isEditingPlayerPayment')
            option(ng-if="!isIdInList(cityList, currentCity3.city)" ng-value="currentCity3.city") {{currentCity3.city}}
    div.col-md-4
        label.control-label {{"districtId" | translate}}
        select.form-control(type='text', ng-model='currentDistrict3.district', ng-options='v.id as v.name for (i,v) in districtList', ng-disabled='!isEditingPlayerPayment')
            option(value='')
            option(ng-if="!isIdInList(districtList, currentDistrict3.district)" ng-value="currentDistrict3.district") {{currentDistrict3.district}}
    div.col-sm-12.margin-top-10
        label.control-label {{'Account Branch' | translate}}
        input.form-control(ng-model='playerPayment3.bankAddress3', ng-disabled='!isEditingPlayerPayment')
    div.col-sm-12.margin-top-10
        button.common-button.margin-right-5.btn.btn-primary(ng-show='!isEditingPlayerPayment', ng-click="isEditingPlayerPayment=true") {{"EDIT" | translate}}
        button.common-button.margin-right-5.btn.btn-primary(ng-show='isEditingPlayerPayment', ng-click="prepareEditPlayerPayment()") {{"CANCEL" | translate}}
        button.common-button.margin-right-5.btn.btn-primary(data-dismiss='dialog',ng-show='isEditingPlayerPayment', ng-disabled='form_playerPaymentInfo3.$invalid || form_playerPaymentInfo3.$pristine || playerPayment3.invalid', ng-click="updatePlayerPayment('bank3');") {{"UPDATE" | translate}}
        button.common-button.margin-right-5.btn.btn-primary(data-dismiss='dialog') {{"CLOSE" | translate}}
