form(name="form_player_topup_yunqr", novalidate, id="qrCode")
    i.fa.fa-exclamation-triangle.text-danger.margin-right-5
    label.control-label 请在指定 XX 分钟内，按照下列订单方式，转帐至指定银行卡。
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label *{{"PROPOSAL_NO" | translate}}
        .form-group.col-md-6
            div {{vm.existingAssignTopup.proposalId}}
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label *{{"TopUp Amount" | translate}}
        .form-group.col-md-6
            div {{vm.existingAssignTopup.data.amount}}
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label *{{"TopUpType" | translate}}
        .form-group.col-md-6
            div {{vm.getDepositMethodbyId[vm.existingAssignTopup.data.depositMethod] | translate}}
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            img(ng-src="{{vm.existingAssignTopup.data && vm.existingAssignTopup.data.resultData && vm.existingAssignTopup.data.resultData.codeAddress}}")
    .row.margin-left-5.margin-right-5
        div *此二维码仅提供本次云闪付转帐使用。
    .row.margin-left-5.margin-right-5
        div.btn.btn-primary(ng-click="vm.copyClipboard('#qrClipBoard')") 复制上述信息
