h4(style='text-align:center;font-weight:bold') {{"Audit Credit Change" | translate}}
table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
    thead
        tr
            th {{'TITLE' | translate}}
            th {{'VALUE' | translate}}
    tbody
        tr
            td {{'setCreditAmount' | translate}}
            td
                text(ng-if='!vm.editAuditConfig.auditCreditChange') {{"when changed amount reached" | translate}}{{vm.auditCreditChangeSetting.minimumAuditAmount || '-'}}{{"dollars, auto send audit email" | translate}}
                input(ng-if='vm.editAuditConfig.auditCreditChange' ng-model='vm.auditCreditChangeSetting.minimumAuditAmount' type='number' step='0.01')
        tr
            td {{'DEFAULT_EMAIL_NAME' | translate}}
            td
                input.inline-block(type='text' ng-model='vm.auditCreditChangeSetting.emailNameExtension', ng-disabled='!vm.editAuditConfig.auditCreditChange')
                text(style='color:red') {{"credit amount changes (x): username -- date" | translate}}
        //tr
        //    td {{'RECIPIENT_SELECT' | translate}}
        //    td
        //        text(ng-if='!vm.editAuditConfig.auditCreditChange') {{"Please tick website's recipient" | translate}}
        //        a(data-toggle="modal", data-target='#modalRecipientSelection', ng-if='vm.editAuditConfig.auditCreditChange', ng-click='vm.initRecipientModal("auditCreditChangeSetting")') {{"Please tick website's recipient" | translate}}
        //tr
        //    td {{'The person who have the right to execute proposal' | translate}}
        //    td
        //        text(ng-if='!vm.editAuditConfig.auditCreditChange') {{"Please tick website's reviewer" | translate}}
        //        a(data-toggle="modal", data-target='#modalRecipientSelection', ng-if='vm.editAuditConfig.auditCreditChange', ng-click='vm.initRecipientModal("auditCreditChangeSetting")') {{"Please tick website's reviewer" | translate}}
        tr
            td {{'audit link domain' | translate}}
            td
                input(type='text' ng-model='vm.auditCreditChangeSetting.domain', ng-disabled='!vm.editAuditConfig.auditCreditChange', placeholder='(e.g. "em9000.fpms8.me:9000")')

                // todo :: change view permission
div.margin-top-5
    button.btn.btn-primary.common-button(ng-if="!vm.editAuditConfig.auditCreditChange && checkViewPermission('Platform', 'ConfigEdit', 'emailAuditConfigEdit')", ng-click='vm.editAuditConfig.auditCreditChange=!vm.editAuditConfig.auditCreditChange')
        text {{'EDIT' | translate}}
        img.img-edit
    button.btn.btn-danger.common-button(ng-if='vm.editAuditConfig.auditCreditChange', ng-click='vm.editAuditConfig.auditCreditChange=!vm.editAuditConfig.auditCreditChange;vm.configTabClicked("emailAuditConfig")') {{"CANCEL" | translate}}
    button.btn.btn-primary.common-button(ng-if='vm.editAuditConfig.auditCreditChange', ng-click='vm.editAuditConfig.auditCreditChange=!vm.editAuditConfig.auditCreditChange;vm.updateEmailAuditSetting("auditCreditChangeSetting")') {{"CONFIRM" | translate}}

h4(style='text-align:center;font-weight:bold') {{"Audit Manual Reward" | translate}}
table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
    thead
        tr
            th {{'TITLE' | translate}}
            th {{'VALUE' | translate}}
    tbody
        tr
            td {{'setCreditAmount' | translate}}
            td
                text(ng-if='!vm.editAuditConfig.auditManualReward') {{"when manual reward reached" | translate}}{{vm.auditManualRewardSetting.minimumAuditAmount || '-'}}{{"dollars, auto send audit email" | translate}}
                input(ng-if='vm.editAuditConfig.auditManualReward' ng-model='vm.auditManualRewardSetting.minimumAuditAmount' type='number' step='0.01')
        tr
            td {{'DEFAULT_EMAIL_NAME' | translate}}
            td
                input.inline-block(type='text' ng-model='vm.auditManualRewardSetting.emailNameExtension', ng-disabled='!vm.editAuditConfig.auditManualReward')
                text(style='color:red') {{"manual reward (x): username -- date" | translate}}
        //tr
        //    td {{'RECIPIENT_SELECT' | translate}}
        //    td
        //        text(ng-if='!vm.editAuditConfig.auditManualReward') {{"Please tick website's recipient" | translate}}
        //        a(data-toggle="modal", data-target='#modalRecipientSelection', ng-if='vm.editAuditConfig.auditManualReward', ng-click='vm.initRecipientModal("auditManualRewardSetting")') {{"Please tick website's recipient" | translate}}
        //tr
        //    td {{'The person who have the right to execute proposal' | translate}}
        //    td
        //        text(ng-if='!vm.editAuditConfig.auditManualReward') {{"Please tick website's reviewer" | translate}}
        //        a(data-toggle="modal", data-target='#modalRecipientSelection', ng-if='vm.editAuditConfig.auditManualReward', ng-click='vm.initRecipientModal("auditManualRewardSetting")') {{"Please tick website's reviewer" | translate}}
        tr
            td {{'audit link domain' | translate}}
            td
                input(type='text' ng-model='vm.auditManualRewardSetting.domain', ng-disabled='!vm.editAuditConfig.auditManualReward', placeholder='(e.g. "em9000.fpms8.me:9000")')

                // todo :: change view permission
div.margin-top-5
    button.btn.btn-primary.common-button(ng-if="!vm.editAuditConfig.auditManualReward && checkViewPermission('Platform', 'ConfigEdit', 'emailAuditConfigEdit')", ng-click='vm.editAuditConfig.auditManualReward=!vm.editAuditConfig.auditManualReward')
        text {{'EDIT' | translate}}
        img.img-edit
    button.btn.btn-danger.common-button(ng-if='vm.editAuditConfig.auditManualReward', ng-click='vm.editAuditConfig.auditManualReward=!vm.editAuditConfig.auditManualReward;vm.configTabClicked("emailAuditConfig")') {{"CANCEL" | translate}}
    button.btn.btn-primary.common-button(ng-if='vm.editAuditConfig.auditManualReward', ng-click='vm.editAuditConfig.auditManualReward=!vm.editAuditConfig.auditManualReward;vm.updateEmailAuditSetting("auditManualRewardSetting")') {{"CONFIRM" | translate}}

h4(style='text-align:center;font-weight:bold') {{"Audit Repair Transfer" | translate}}
table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
    thead
        tr
            th {{'TITLE' | translate}}
            th {{'VALUE' | translate}}
    tbody
        tr
            td {{'setCreditAmount' | translate}}
            td
                text(ng-if='!vm.editAuditConfig.auditRepairTransfer') {{"when transfer repair reached" | translate}}{{vm.auditRepairTransferSetting.minimumAuditAmount || '-'}}{{"dollars, auto send audit email" | translate}}
                input(ng-if='vm.editAuditConfig.auditRepairTransfer' ng-model='vm.auditRepairTransferSetting.minimumAuditAmount' type='number' step='0.01')
        tr
            td {{'DEFAULT_EMAIL_NAME' | translate}}
            td
                input.inline-block(type='text' ng-model='vm.auditRepairTransferSetting.emailNameExtension', ng-disabled='!vm.editAuditConfig.auditRepairTransfer')
                text(style='color:red') {{"repair transfer (x): username -- date" | translate}}
        //tr
        //    td {{'RECIPIENT_SELECT' | translate}}
        //    td
        //        text(ng-if='!vm.editAuditConfig.auditRepairTransfer') {{"Please tick website's recipient" | translate}}
        //        a(data-toggle="modal", data-target='#modalRecipientSelection', ng-if='vm.editAuditConfig.auditRepairTransfer', ng-click='vm.initRecipientModal("auditRepairTransferSetting")') {{"Please tick website's recipient" | translate}}
        //tr
        //    td {{'The person who have the right to execute proposal' | translate}}
        //    td
        //        text(ng-if='!vm.editAuditConfig.auditRepairTransfer') {{"Please tick website's reviewer" | translate}}
        //        a(data-toggle="modal", data-target='#modalRecipientSelection', ng-if='vm.editAuditConfig.auditRepairTransfer', ng-click='vm.initRecipientModal("auditRepairTransferSetting")') {{"Please tick website's reviewer" | translate}}
        tr
            td {{'audit link domain' | translate}}
            td
                input(type='text' ng-model='vm.auditRepairTransferSetting.domain', ng-disabled='!vm.editAuditConfig.auditRepairTransfer', placeholder='(e.g. "em9000.fpms8.me:9000")')

                // todo :: change view permission
div.margin-top-5
    button.btn.btn-primary.common-button(ng-if="!vm.editAuditConfig.auditRepairTransfer && checkViewPermission('Platform', 'ConfigEdit', 'emailAuditConfigEdit')", ng-click='vm.editAuditConfig.auditRepairTransfer=!vm.editAuditConfig.auditRepairTransfer')
        text {{'EDIT' | translate}}
        img.img-edit
    button.btn.btn-danger.common-button(ng-if='vm.editAuditConfig.auditRepairTransfer', ng-click='vm.editAuditConfig.auditRepairTransfer=!vm.editAuditConfig.auditRepairTransfer;vm.configTabClicked("emailAuditConfig")') {{"CANCEL" | translate}}
    button.btn.btn-primary.common-button(ng-if='vm.editAuditConfig.auditRepairTransfer', ng-click='vm.editAuditConfig.auditRepairTransfer=!vm.editAuditConfig.auditRepairTransfer;vm.updateEmailAuditSetting("auditRepairTransferSetting")') {{"CONFIRM" | translate}}


#modalRecipientSelection.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:80%")
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Recipient and executor setting' | translate}}
            .modal-body
                table.simple-table(style='max-width:100%')
                    thead
                        tr
                            th {{'RECIPIENT' | translate}}
                            th {{'USER_NAME' | translate}}
                            th {{'EMAIL' | translate}}
                            th {{'DEPARTMENT' | translate}}
                            th {{'ROLE' | translate}}
                            th {{'EMAIL_EXECUTE_PERMISSION' | translate}}
                    tbody
                        tr(ng-repeat='(i,admin) in vm.adminList | unique: "_id"' ng-attr-id="{{ 'auditSettingRow' + i }}")
                            td
                                input(type='checkbox' ng-model='vm.auditRecipientList[i]' ng-click='vm.setEmailAuditRecipient(admin._id, vm.auditRecipientList[i], i)')
                            td
                                text {{admin.adminName}}
                            td
                                text {{admin.email}}
                            td
                                text {{admin.departmentName | translate}}
                            td
                                text {{vm.getAdminRoleNameString(admin.roleName) | translate}}
                            td
                                input(ng-if='vm.auditRecipientList[i]' type='checkbox' ng-model='vm.auditReviewerList[i]' ng-click='vm.setEmailAuditReviewer(admin._id, vm.largeWithdrawCheckReviewer[i], i)')
                                text(ng-if='!vm.auditRecipientList[i]') {{"-"}}

            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal' ng-click='vm.updateEmailAuditReviewSetting()') {{"CONFIRM" | translate}}
                button.btn.btn-success.common-button(data-dismiss='modal' ng-click='vm.configTabClicked("emailAuditConfig")') {{"CLOSE" | translate}}