h4 {{'TOP_UP_AMOUNT_RANGE' | translate}}
table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
    thead
        tr
            th(colspan=2) {{'Top Up Amount Range' | translate}}
    tbody
        tr
            td
                input.form-control(type='number', ng-model='vm.topUpAmountBasic.commonTopUpAmountRange.minAmount', ng-disabled='!vm.configTableEdit')
            td
                input.form-control(type='number', ng-model='vm.topUpAmountBasic.commonTopUpAmountRange.maxAmount', ng-disabled='!vm.configTableEdit')

br
h4 {{'Top Up Count Amount Range' | translate}}
table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
    thead
        tr
            th {{'Top Up Count(less than or equal)' | translate}}
            th(colspan=3) {{'Top Up Amount Range' | translate}}
    tbody
        tr(ng-repeat='setting in vm.topUpAmountBasic.topUpCountAmountRange')
            td
                input.form-control(type='number', ng-model='setting.topUpCount', ng-disabled='!vm.configTableEdit')
            td
                input.form-control(type='number', ng-model='setting.minAmount', ng-disabled='!vm.configTableEdit')
            td
                input.form-control(type='number', ng-model='setting.maxAmount', ng-disabled='!vm.configTableEdit')
            td(ng-if='vm.configTableEdit')
                i.fa.fa-minus(ng-click='vm.updateTopUpCountAmountRangeConfigInEdit("remove", $index)')

        //Placeholder for new entry
        tr(ng-if='vm.configTableEdit')
            td(colspan=4) {{'ADD' | translate}}
        tr(ng-if='vm.configTableEdit')
            td
                input.form-control(type='number', ng-model='vm.tempNewTopUpCountAmountRange.topUpCount')
            td
                input.form-control(type='number', ng-model='vm.tempNewTopUpCountAmountRange.minAmount')
            td
                input.form-control(type='number', ng-model='vm.tempNewTopUpCountAmountRange.maxAmount')
            td
                i.fa.fa-plus(ng-click='vm.updateTopUpCountAmountRangeConfigInEdit("add", vm.tempNewTopUpCountAmountRange);vm.tempNewTopUpCountAmountRange={}')

br
button.btn.btn-primary.common-button(ng-if="!vm.configTableEdit && checkViewPermission('Platform', 'ConfigEdit', 'TopUpAmountConfigEdit')", ng-click='vm.configTableEdit=!vm.configTableEdit')
    text {{'EDIT' | translate}}
    img.img-edit
button.btn.btn-danger.common-button(ng-if='vm.configTableEdit', ng-click='vm.configTableEdit=!vm.configTableEdit;vm.configTabClicked("topUpAmountConfig")') {{"CANCEL" | translate}}
button.btn.btn-primary.common-button(ng-if='vm.configTableEdit', ng-click='vm.configSubmitUpdate("topUpAmountConfig")') {{"CONFIRM" | translate}}