form(name="form_update_admin", novalidate)
	div.form-group.col-lg-6
		label.control-label *{{"ADMIN_NAME" | translate}}
		input.form-control(type="text", placeholder="Admin Name", ng-model="vm.newAdmin.adminName", required)
	div.form-group.col-lg-6
		label.control-label {{"EMAIL" | translate}}
		input.form-control(type="email", placeholder="email", ng-model="vm.newAdmin.email")
		span.help-block(ng-show="form_update_admin.email.$dirty && form_update_admin.email.$error.email") {{"Email is invalid"|translate}}
	//div.form-group.col-lg-6
		label.control-label {{"PASSWORD" | translate}}
		input#password.form-control(type="password", placeholder="********", name="password1", ng-model="vm.newAdmin.password", match="vm.pswdverify")
	//div.form-group.col-lg-6
		label.control-label {{"PASSWORD_RETYPE" | translate}}
		input#pswdverify.form-control(type="password", placeholder="********", name="password2", ng-model="vm.pswdverify", match="vm.newAdmin.password")
		span.help-block(ng-show="form_update_admin.password2.$dirty && form_update_admin.password2.$error.match && !form_admin.password2.$error.required") {{"Passwords don't match"|translate}}
	div.form-group.col-lg-6
		label.control-label {{"FIRSTNAME" | translate}}
		input.form-control(type="text", placeholder="firstName", ng-model="vm.newAdmin.firstName")
	div.form-group.col-lg-6
		label.control-label {{"LASTNAME" | translate}}
		input.form-control(type="text", placeholder="lastName", ng-model="vm.newAdmin.lastName")
	div.form-group.col-lg-6
		label.control-label {{"Caller ID" | translate}}
		input.form-control(type="number", placeholder='{{"Caller ID" | translate}}', ng-model="vm.newAdmin.callerId")
	div.form-group.col-lg-6
		label.control-label {{"DID" | translate}}
		input.form-control(type="number", placeholder="DID", ng-model="vm.newAdmin.did")
	div.form-group.col-lg-6
		label.control-label {{"LIVE800 ACC" | translate}}
		input.form-control(type="text", placeholder="LIVE800 Acc", ng-model="vm.updateAdminLive800.live800AccTXT")