.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-if="vm.curPlatformText")
    .panel(ng-if="checkViewPermission('QualityInspection', 'CsAudioRecordingSystem','Read')")
        .tab-content
            .panel.panel-primary
                .panel-heading.common-left-panel-heading
                    ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')
                        #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                        li.active(ng-show="checkViewPermission('QualityInspection', 'CsAudioRecordingSystem', 'Read')" style="margin-left: 20px;")
                            a.common-tab(data-toggle="tab", ng-click="vm.audioSystemTab ='audioRecord'; vm.initAudioRecordingReport();" )
                                .fa.fa-wrench.margin-right-5
                                text.span {{"AUDIO RECORD" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'CsAudioRecordingSystem', 'Read')")
                            a.common-tab(data-toggle="tab", ng-click="vm.audioSystemTab ='audioReport';vm.initCsAudioReport();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"REPORT OF AUDIO RECORDING SYSTEM" | translate}}
                .panel-body.common-right-panel-body
                    div(ng-show="vm.audioSystemTab == 'audioRecord'")
                        #audioRecordDiv.tab-pane.fade.in.active.well
                            //.search-filters-item
                            //    label {{"PRODUCT" |translate}}
                            //    select.form-control(ng-change='vm.getCsByPlatform(vm.audioRecordSearching.platform)',ng-model='vm.audioRecordSearching.platform', ng-options='product.data._id as product.data.name for product in vm.platformList', multiple, bsp, data-actions-box='true', required)
                            .search-filters-item
                                label FPMS {{"CS Account" | translate}}
                                select.form-control(ng-model='vm.audioRecordSearching.csObjId', ng-change='vm.getCallerId(vm.audioRecordSearching.csObjId)', ng-options='admin._id as admin.adminName for admin in vm.csList', multiple, bsp, data-actions-box='true', ng-init='vm.endLoadMultipleSelect()')
                            .search-filters-item
                                label {{"Caller ID" | translate}}
                                select.form-control(ng-model='vm.audioRecordSearching.callerId', ng-options='v for (i,v) in vm.callerIdList', multiple, bsp, data-actions-box='true', ng-init='vm.endLoadMultipleSelect()')
                            .search-filters-item
                                label {{'START_DATE' | translate}}
                                #audioRecordStartDatetimePicker.input-append.form-control
                                    input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                    span.add-on
                                        i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                            .search-filters-item
                                label {{'END_DATE' | translate}}
                                #audioRecordEndDatetimePicker.input-append.form-control
                                    input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                    span.add-on
                                        i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                            .search-filters-item
                                label {{'Duration' | translate}}
                                div
                                    select.form-control.threeBoxes(ng-model='vm.audioRecordSearching.durationOperator', ng-change="vm.durationOperatorChange()")
                                        option(value='none')
                                        option(value='>=') >=
                                        option(value='=') =
                                        option(value='<=') <=
                                        option(value='range') {{'range' | translate}}
                                    input.form-control.threeBoxes(ng-model='vm.audioRecordSearching.durationOne', type = 'number')
                                    div.symbol(ng-if="vm.audioRecordSearching.durationOperator === 'range'") ~
                                    input.form-control.threeBoxes(type="number" ng-model="vm.audioRecordSearching.durationTwo" ng-if="vm.audioRecordSearching.durationOperator === 'range'")
                            .search-filters-item
                                label {{"Call Type" |translate}}
                                select.form-control(ng-model='vm.audioRecordSearching.callType', ng-options=' i as v | translate for (i,v) in vm.callType')

                            .text-right.widthto100(ng-show="checkViewPermission('QualityInspection', 'CsAudioRecordingSystem', 'Read')")
                                button.btn.btn-primary.btn-space(ng-click='vm.getAudioRecordData(true)') {{'SEARCH' | translate}}
                                span#csAudioRecordTableSpin.collapse
                                    i.fa.fa-spinner.fa-spin

                        .clearfix
                        label {{"Total" | translate}} {{vm.audioRecordSearching.size}} {{"records" | translate}}
                        table#AudioRecordTable.common-table.display(style="min-width:100% ;overflow: scroll")
                        #AudioRecordTablePage
                    div(ng-show="vm.audioSystemTab == 'audioReport'" )
                        #audioReportDiv.tab-pane.fade.in.active.well
                            .search-filters-item
                                label {{'CS DEPARTMENT' | translate}}
                                select.spicker.form-control(ng-model='vm.audioReportSearching.selectedCSDepartment', ng-change="vm.filterCsBasedOnDepartment(vm.audioReportSearching.selectedCSDepartment)" ng-options='v.departmentName as v.departmentName for v in vm.csDepartmentGroup', multiple, data-actions-box='true', bsp,ng-init='vm.endLoadMultipleSelect()')
                            .search-filters-item
                                label FPMS {{"CS Account" | translate}}
                                select.form-control(ng-model='vm.audioReportSearching.csObjId', ng-change='vm.getCallerId(vm.audioReportSearching.csObjId)', ng-options='admin._id as admin.adminName for admin in vm.csList', multiple, bsp, data-actions-box='true', ng-init='vm.endLoadMultipleSelect()')
                            .search-filters-item
                                label {{"Caller ID" | translate}}
                                select.form-control(ng-model='vm.audioReportSearching.callerId', ng-options='v for (i,v) in vm.callerIdList', multiple, bsp, data-actions-box='true', ng-init='vm.endLoadMultipleSelect()')
                            .search-filters-item
                                label {{"Time Scale" | translate}}
                                select.form-control(ng-model='vm.audioReportSearching.timeScale', ng-options='i as v | translate for (i,v) in vm.timeScale')
                            .search-filters-item
                                label {{'START_DATE' | translate}}
                                #audioReportStartDatetimePicker.input-append.form-control
                                    input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                    span.add-on
                                        i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                            .search-filters-item
                                label {{'END_DATE' | translate}}
                                #audioReportEndDatetimePicker.input-append.form-control
                                    input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                    span.add-on
                                        i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                            //.search-filters-item
                            //    label {{"Call Type" |translate}}
                            //    select.form-control(ng-model='vm.audioReportSearching.callType', ng-options=' i as v | translate for (i,v) in vm.callType')

                            .text-right.widthto100(ng-show="checkViewPermission('QualityInspection', 'CsAudioRecordingSystem', 'Read')")
                                button.btn.btn-primary.btn-space(ng-click='vm.getAudioReportData(true)') {{'SEARCH' | translate}}
                                span#csAudioReportTableSpin.collapse
                                    i.fa.fa-spinner.fa-spin

                        .clearfix
                        label {{"Total" | translate}} {{vm.audioReportSearching.size}} {{"records" | translate}}
                        table#AudioReportTable.common-table.display(style="min-width:100% ;overflow: scroll")
                        #AudioReportTablePage


#modalListeningAudioClip.modal.fade(tabindex='-1', role='dialog', data-backdrop=false, keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:40%;", ng-if="vm.isReadyToPlay")
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', ng-click="vm.closeListeningAudioClipModal('#modalListeningAudioClip')")
                h4.modal-title FPMS {{'CS Account' | translate}} : {{vm.selectedCSAdmin}} ({{"Caller ID"|translate}} : {{vm.selectedCallerId}} )
            .modal-body
                audio#csAudioClip(controls, autoplay, preload="auto", style="vertical-align: middle;")
                    source(type="audio/mpeg")
                span#csAudiolistenSpin(style="margin-left: 10px;")
                    i.fa.fa-spinner.fa-spin