.col-sm-12
    label {{'800 record'}}

.row
    .col-md-12
        .well.feedbackQueryDiv
            .inlineBlk
                label {{"Product"|translate}}
                select.form-control(style='max-width:155px',ng-change='vm.filterPlatform()',ng-model='vm.inspection800.platform', ng-options='product.data._id as product.data.name for product in vm.platformList', multiple, bsp, data-actions-box='true')
            .inlineBlk
                label {{"FPMS CS Acc" | translate}}
                select.form-control(ng-model='vm.inspection800.fpms', ng-change='vm.loadLive800Acc()')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.fpmsACCList', value='{{v.name}}') {{v.name | translate}}

            .inlineBlk
                label {{"Live800 Acc" | translate}}
                select.form-control(ng-model='vm.inspection800.live800Accs')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.live800Accs', value='{{v}}') {{v | translate}}

            .inlineBlk
                label.control-label {{'Start date' | translate}}
                #live800StartDatetimePicker.input-append.form-control
                    input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                    span.add-on
                        i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
            .inlineBlk
                label.control-label {{'End date' | translate}}
                #live800endDatetimePicker.input-append.form-control
                    input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                    span.add-on
                        i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
            .inlineBlk
                label {{"Rating Status" | translate}}
                select.form-control(ng-model='vm.inspection800.status')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.constQualityInspectionStatus', value='{{i}}') {{v | translate}}
            .inlineBlk
                label {{"QA" | translate}}
                select.form-control(ng-model='vm.inspection800.qiUser')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.qiDepartments', value='{{v.name}}') {{v.name | translate}}
            .inlineBlk
                button.btn.btn-primary(ng-click='vm.searchLive800()') {{"SEARCH" | translate}}
                span.collapse
                    i.fa.fa-spinner.fa-spin
                span.margin-left-5
        //.inlineBlk(style="width:200px;")
                label.control-label {{'CREDIBILITY' | translate}}
                select.form-control#selectCredibilityRemarkFeedback(multiple="multiple", style='min-width:100px;height:34px;', ng-options='remark._id as remark.name for remark in vm.credibilityRemarks', ng-model='vm.playerFeedbackQuery.credibilityRemarks')



.row(style='background-color:#337ab7;')
    div.col-sm-1(style='display:inline-block;padding-left:5px;')
    div.col-sm-1(style='display:inline-block;padding-left:5px;text-align:center;padding:4px;color:white;font-weight: bold') 评估状态
    div.col-sm-7
        div.row
            div(style="width:10%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") FPMS
            div(style="width:10%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") 类型
            div(style="width:10%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") 时间
            div(style="width:40%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") 对话内容
            div(style="width:10%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") 超时评分（+/-)
            div(style="width:10%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") 质简评分（+/-)
            div(style="width:10%;display:inline-block;text-align:center;padding:4px;color:white;font-weight: bold") 质检评语
    div.col-sm-1(style='display:inline-block;padding-left:5px;;text-align:center;padding:4px;color:white;font-weight: bold') 质检评估员
    div.col-sm-1(style='display:inline-block;padding-left:5px;;text-align:center;padding:4px;color:white;font-weight: bold') 评估时间
    div.col-sm-1(style='display:inline-block;padding-left:5px;background-color:red;text-align:center;padding:4px;color:white;font-weight: bold') 申诉内容

.row
    conversationform(ng-repeat='conversationform in vm.conversationForm',  cform = 'conversationform', rateconversation = 'vm.rateconversation(conversationform)', confirmrate='vm.confirmRate(conversationform)')



#conversationForm
    div.row(style='border:2px solid #CECECE;box-shadow: 2px black')
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            input.form-control(type="checkbox", value="{{cform.messageId}}")
        //div.col-md-1(style='display:inline-block;padding-left:5px;', ng-click="rateIt(cform.messageId)") {{cform.status}}
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            div(ng-click="rateIt(cform)"){{cform.statusName}}
            div(ng-if='cform.editable', style='margin-top:30px;')
                div.btn.btn-primary(ng-click="confirmrate(cform)") Confirm
                div.btn.btn-primary.red(ng-click="cancelrate(cform)") Cancel
        div.col-md-7(style='display:inline-block;padding-left:5px;')
            div(style="text-align:center;color:red") **** 新的对话开始 ****
            div.row(ng-repeat='convert in cform.conversation', style="border-top:1px solid #ddd")
                div(style="width:10%;display:inline-block") {{cform.fpmsAcc}}
                div(style="width:10%;display:inline-block") {{convert.roleName}}
                div(style="width:10%;display:inline-block") {{convert.displayTime}}
                div(style="width:40%;display:inline-block;padding:5px;" ) {{convert.content}}
                div(style="width:10%;display:inline-block")
                    input.form-control(type="number",value="{{convert.timeoutRate}}",DISABLED)
                div(style="width:10%;display:inline-block")
                    div(ng-if='cform.editable')
                        input.form-control(type="number",ng-model="convert.inspectionRate")
                    div(ng-if='!cform.editable')
                        div(style='text-align:center') {{convert.inspectionRate}}
                div(style="width:10%;display:inline-block")
                    div(ng-if='cform.editable')
                        input.form-control(type="text",ng-model="convert.review")
                    div(ng-if='!cform.editable')
                        div(style='text-align:center') {{convert.review}}

            div(style="text-align:center;color:red") 結束對話:访客关闭对话 ({{cform.createTime | date:"yyyy-MM-dd hh:mm:ss"}})
        div.col-md-1(style='display:inline-block;padding-left:5px;') {{cform.qualityAssessor}}
        div.col-md-1(style='display:inline-block;padding-left:5px;') {{cform.processTime | date:"yyyy-MM-dd hh:mm:ss"}}
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            input.form-control(type="textarea", value="{{cform.appealReason}}", DISABLED)
