.row.margin-left-5.margin-right-5(ng-show="checkViewPermission('QualityInspection')")
    #inspectionContent(style="padding-left:0;",ng-class='vm.rightPanelClass')
        .padding-all-5
            .panel.panel-primary
                .panel-heading.common-left-panel-heading
                    ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')
                        #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                        li.active(ng-show="checkViewPermission('QualityInspection', 'QualityInsectionSetting', 'Read')" style="margin-left: 20px;")
                            a.common-tab(data-toggle="tab", href="#Setting", ng-click="vm.qualityInspectionPageName='INSPECTION PARAMETER';vm.updatePageTile();")
                                .fa.fa-wrench.margin-right-5
                                text.span {{"INSPECTION PARAMETER" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'Read')")
                            //a.common-tab(data-toggle="tab", href="#Feedback", ng-click="vm.submitPlayerFeedbackQuery();vm.platformPageName='Feedback';vm.updatePageTile();")
                            a.common-tab(data-toggle="tab", href="#Record", ng-click="vm.qualityInspectionPageName='800 RECORD';vm.updatePageTile();vm.showLive800();vm.getTotalNumberOfAppealingRecord();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"800 RECORD" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'QualityInsectionEvaluation', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Evaluation", ng-click="vm.qualityInspectionPageName='MY EVALUATION';vm.updatePageTile();vm.initUnreadEvaluation(); vm.showLive800();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"MY EVALUATION" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'QualityInsectionCSReport', 'Read')")
                            a.common-tab(data-toggle="tab", href="#CSReport", ng-click="vm.qualityInspectionPageName='CS REPORT';vm.prepareShowQIReport();vm.updatePageTile(); vm.showLive800();")
                                .fa.fa-table.margin-right-5
                                text.span {{"CS REPORT" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'QualityInsectionReport', 'Read')")
                            a.common-tab(data-toggle="tab", href="#Report", ng-click="vm.qualityInspectionPageName='INSPECTION REPORT';vm.updatePageTile();vm.initWorkloadProgress(); vm.showLive800();")
                                .fa.fa-file-text.margin-right-5
                                text.span {{"INSPECTION REPORT" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
                            a.common-tab(data-toggle="tab", href="#WechatConversation", ng-click="vm.qualityInspectionPageName='WECHAT CONVERSATION RECORD';vm.updatePageTile();vm.initWechatConversationRecord();")
                                .fa.fa-table.margin-right-5
                                text.span {{"WECHAT/QQ CONVERSATION RECORD" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
                            a.common-tab(data-toggle="tab", href="#WechatConversationReport", ng-click="vm.qualityInspectionPageName='WECHAT CONVERSATION ANALYSIS REPORT';vm.updatePageTile();vm.initWechatConversationReport();")
                                .fa.fa-table.margin-right-5
                                text.span {{"WECHAT/QQ CONVERSATION ANALYSIS REPORT" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'CsAudioRecordingSystem', 'Read')")
                            a.common-tab(data-toggle="tab", href="#CsAudioSystem", ng-click="vm.qualityInspectionPageName='CS AUDIO RECORDING SYSTEM';vm.updatePageTile(); vm.audioSystemTab = 'audioRecord'; vm.initCSAudioSystem();")
                                .fa.fa-file-audio-o.margin-right-5
                                text.span {{"CS AUDIO RECORDING SYSTEM" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'ManualProcessReport', 'Read')")
                            a.common-tab(data-toggle="tab", href="#ManualProcessReport", ng-click="vm.qualityInspectionPageName='MANUAL PROCESS REPORT';vm.updatePageTile(); vm.initManualProcessReport();")
                                .fa.fa-table.margin-right-5
                                text.span {{"MANUAL PROCESS REPORT" | translate}}
                        li(ng-show="checkViewPermission('QualityInspection', 'CsRankingReport', 'Read')")
                            a.common-tab(data-toggle="tab", href="#csRanking", ng-click="vm.qualityInspectionPageName='CS RANKING';vm.updatePageTile(); vm.initCsRankingReport();")
                                .fa.fa-table.margin-right-5
                                text.span {{"CS RANKING" | translate}}

                .panel-body.common-right-panel-body
                    div.tab-content
                        #Setting.tab-pane.fade.in.active
                            include ./inspection-setting
                        #Record.tab-pane.fade
                            include ./inspection-800-record
                        #Evaluation.tab-pane.fade
                            include ./inspection-evaluation
                        #CSReport.tab-pane.fade
                            include ./inspection-cs-report
                        #Report.tab-pane.fade
                            include ./inspection-report
                        #WechatConversation.tab-pane.fade
                            include ./inspection-wechatRecord
                        #WechatConversationReport.tab-pane.fade
                            include ./inspection-wechatAnalysisReport
                        #CsAudioSystem.tab-pane.fade
                            include ./inspection-csAudioRecordingSystem
                        #ManualProcessReport.tab-pane.fade
                            include ./inspection-manualProcessReport
                        #csRanking.tab-pane.fade
                            include ./inspection-csRankingReport