form(name='form_800Record')
    .row
        .col-md-12
            .well
                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByProduct')")
                    label {{"PRODUCT" |translate}}
                    select.form-control(ng-change='vm.filterPlatform()',ng-model='vm.inspection800.platform', ng-options='product.data._id as product.data.name for product in vm.platformList', multiple, bsp, data-actions-box='true', required)
                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByCSAccount')")
                    label FPMS {{"CS Account" | translate}}
                    select.form-control(ng-model='vm.inspection800.fpms', ng-change='vm.loadLive800Acc()', ng-options='product._id as product.name for product in vm.fpmsACCList', multiple, bsp, data-actions-box='true')

                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByLive800Account')")
                    label Live800{{"Account" | translate}}
                    select.form-control(ng-model='vm.inspection800.live800Accs', ng-options='v as v | translate for (i,v) in vm.live800Accs', multiple, bsp, data-actions-box='true')
                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByLive800Date')")
                    label {{'Start date' | translate}}
                    #live800StartDatetimePicker.input-append.form-control
                        input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                        span.add-on
                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByLive800Date')")
                    label {{'End date' | translate}}
                    #live800endDatetimePicker.input-append.form-control
                        input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                        span.add-on
                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByEvaluationStatus')")
                    label {{"EVALUATION_STATUS" | translate}}
                    select.form-control(ng-model='vm.inspection800.status' ng-click="vm.getTotalNumberOfAppealingRecord()")
                        //option(ng-repeat='(i,v) in vm.constQualityInspectionStatus', value='{{i}}') {{v | translate}}
                        option(value=1) {{'PENDINGTOPROCESS' | translate}}
                        option(value=2) {{'COMPLETED_UNREAD' | translate}}
                        option(value=3) {{'COMPLETED_READ' | translate}}
                        option(value=4) {{'COMPLETED' | translate}}
                        option(value=5) {{'APPEALING' | translate}} ({{vm.appealingTotalRecord}})
                        option(value=6) {{'APPEAL_COMPLETED' | translate}}
                        option(value=7) {{'NOT_EVALUATED' | translate}}
                        option(value='all') {{'ALL' | translate}}

                .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'queryByQualityAssessor')")
                    label {{"QUALITY_ASSESSOR" | translate}}
                    select.form-control(ng-model='vm.inspection800.qiUser')
                        option(ng-repeat='(i,v) in vm.qiDepartments', value='{{v._id}}') {{v.name | translate}}
                        option(value='all') {{'NONE' | translate}}
                .search-filters-item
                    label {{"DISPLAY_WAY" | translate}}
                    select.form-control(ng-model='vm.inspection800.displayWay')
                        option(value='true') {{'EXTEND_CONVERSATION' | translate}}
                        option(value='false') {{'COLLAPSE_CONVERSATION' | translate}}
                //.search-filters-item
                //    input.symbol(type="checkbox", ng-model='vm.inspection800.searchBySummaryData')
                //    label {{'测试数据'}}
                .text-right.widthto100(ng-show="checkViewPermission('QualityInspection', 'Live800Record', 'Read')")
                    button.btn.btn-primary(ng-click='vm.searchLive800();vm.pgn.index=0;vm.getWorkingCSName();' ng-disabled="form_800Record.$invalid") {{"SEARCH" | translate}}
                    span.collapse
                        i.fa.fa-spinner.fa-spin
                    span.margin-left-5
                    i.searchingQualityInspection.fa.fa-spin.fa-spinner(style="display:none")

    div
        label(ng-if="!vm.inspection800.searchBySummaryData") {{'Total' | translate}}：{{vm.pgn.count}} {{'COUNT1' | translate}}{{'VALID_INVALID_CONVERSATION' | translate}}
        label(ng-if="vm.inspection800.searchBySummaryData") {{'Total' | translate}}：{{vm.pgn.count}} {{'records' | translate}}
        br
        label(ng-if="vm.workingCSName") {{'当天工作客服' | translate}} : {{vm.workingCSName}}
    div(style='height:50px')
        table#800RecordTable(style="width: 100%; text-align: center; border: 1px solid;")
            thead(style='background-color:#337ab7;')
                th(style="width: 50px;")
                    input(style="margin-top: 0.8em;" type="checkbox", id="selectAll", name="selectAll", ng-click="vm.checkUncheckSelectAll(0)")
                    label.radio-space(for="selectAll") {{'SELECT_ALL' | translate}}
                th(style="width: 38px;") {{"STATUS" | translate}}
                th(style="width: 78.18px;") {{"LIVE800_ACC" | translate}}
                th(style="width: 40px;") {{"Type" | translate}}
                th(style="width: 77.27px;") {{"TIME" | translate}}
                th(style="width: 350px;") {{"CONVERSATION_CONTENT" | translate}}
                th(style="width: 50.27px;") {{"OVERTIME (+/-)" | translate}}
                th(style="width: 50.27px;") {{"EVALUATION (+/-)" | translate}}
                th(style="width: 300px;") {{"EVALUATION_REVIEW" | translate}}
                th(style="width: 78.18px;") {{"ASSESSOR" | translate}}
                th(style="width: 77.27px;") {{"EVALUATED_TIME" | translate}}
                th(style="width: 90px; background-color: red") {{"APPEAL_REASON" | translate}}
            tbody(ng-repeat="conversationform in vm.conversationForm")
                tr(style="border: 1px solid")
                    td.col-md-1(style="width: 38px; border: 1px solid black")
                        //input.form-control(type="checkbox", value="{{unreadEvaluation.messageId}}", ng-model="unreadEvaluation.isChecked", ng-change="vm.gatherCheckedRecord(unreadEvaluation.isChecked,unreadEvaluation.messageId,unreadEvaluation.appealReason)")
                        input.form-control.batchEdit(type="checkbox", name="rowChecked", value="{{conversationform.messageId}}",ng-click="vm.storeBatchId(conversationform)")
                    td.col-md-1(style="width: 38px; border: 1px solid black;")
                        div
                            a(href="" ng-click="vm.rateIt(conversationform)", style="cursor:pointer") {{conversationform.statusName}}
                        div(ng-if='conversationform.editable', style='margin-top:30px;')
                            div.btn.btn-primary(ng-click="vm.confirmRate(conversationform)", style="cursor:pointer;width:80px") {{'CONFIRM' | translate}}
                            div.btn.btn-primary.red(ng-click="vm.cancelRate(conversationform)", style="cursor:pointer;margin-top:2px;width:80px") {{'CANCEL' | translate}}
                    td {{conversationform.fpmsAcc.adminName}} ({{conversationform.live800Acc.id}})
                    td.col-md-7(style="padding: 0px; border: 1px solid black;", colspan=6)
                        table(style="width: 100%; table-layout: fixed;")
                            tbody
                                tr(style="text-align:center;")
                                    td(style="width: 40px;")
                                    td(style="width: 77.27px;")
                                    td(style="width: 350px;")
                                    td(style="width: 50.27px;")
                                    td(style="width: 50.27px;")
                                    td(style="width: 300px;")
                                tr(style="text-align:center;")
                                    td(colspan=6, ng-click="conversationform.displayWay = !conversationform.displayWay") {{'Start date' | translate}}: {{conversationform.conversation && conversationform.conversation[0] && conversationform.conversation[0].displayTime ? conversationform.conversation[0].displayTime : null | date:"yyyy-MM-dd hh:mm:ss"}} ~ {{'End date' | translate}}: {{conversationform.createTime | date:"yyyy-MM-dd hh:mm:ss"}} ({{"Click To Extend/Collapse" | translate}})
                                tr(style="text-align:center;color:red", ng-if="conversationform.displayWay")
                                    td(colspan=6) **** 新的对话开始 ****
                                    //td(style="width: 40px;")
                                    //td(style="width: 77.27px;")
                                    //td(style="width: 350px;") **** 新的对话开始 ****
                                    //td(style="width: 50.27px;")
                                    //td(style="width: 50.27px;")
                                    //td(style="width: 300px;")
                                tr(ng-repeat="convert in conversationform.conversation", style="border: 1px solid; word-wrap: break-word; background-color:{{convert.colors}};", ng-if="conversationform.displayWay")
                                    td(style="width: 40px; border: 1px solid black;") {{convert.roleName}}
                                    td(style="width: 77.27px; border: 1px solid black;") {{convert.displayTime}}
                                    td(style="width: 350px; border: 1px solid black; text-align: left; font-weight: bold", ng-if="convert.roleName == '访客'") {{convert.content}}
                                    td(style="width: 350px; border: 1px solid black; text-align: left;", ng-if="convert.roleName != '访客'") {{convert.content}}
                                    td(style="width: 50.27px; border: 1px solid black;")
                                        input(style="width:45px;",type="number",value="{{convert.timeoutRate}}",readonly="readonly", ng-show="convert.roles==1")
                                    td(style="width: 50.27px; border: 1px solid black;")
                                        div(ng-if='conversationform.editable')
                                            input(style="width:45px;",type="number",ng-model="convert.inspectionRate")
                                        div(ng-if='!conversationform.editable')
                                            div(style='text-align:center') {{convert.inspectionRate}}
                                    td(style="width: 300px; border: 1px solid black;")
                                        div(ng-if='conversationform.editable', style="position:relative; bottom:0px;")
                                            div.form-group(ng-show="convert.roles==1")
                                                textarea.form-control(ng-model="convert.review", rows="3")
                                        div(ng-if='!conversationform.editable')
                                            div(style='text-align:center') {{convert.review}}
                                tr(style="text-align:center;color:red", ng-if="conversationform.displayWay")
                                    td(colspan=6) 結束對話:{{ conversationform.closeName$ }}关闭对话 ({{conversationform.createTime | date:"yyyy-MM-dd hh:mm:ss"}})
                                    //td(style="width: 40px;")
                                    //td(style="width: 77.27px;")
                                    //td(style="width: 350px;") 結束對話:{{ conversationform.closeName$ }}关闭对话 ({{conversationform.createTime | date:"yyyy-MM-dd hh:mm:ss"}})
                                    //td(style="width: 50.27px;")
                                    //td(style="width: 50.27px;")
                                    //td(style="width: 300px;")
                    td(style="border: 1px solid black; width: 78.18px;") {{conversationform.qualityAssessor.adminName}}
                    td(style="border: 1px solid black; width: 77.27px;") {{conversationform.processTime | date:"yyyy-MM-dd HH:mm:ss"}}
                    td(style="border: 1px solid black; width: 90px;") {{conversationform.appealReason}}
        br
        div.row
            div.col-md-12
                div.col-md-9
                    div
                div.col-md-1(style="display: inline-flex;")
                    div
                        input(type="checkbox", name="selectAll", ng-click="vm.checkUncheckSelectAll(1)")
                    div.widthto50
                        label.radio-space(for="selectAll") {{'SELECT_ALL' | translate}}
                div.col-md-2
                    .btn.btn-primary(ng-disabled="vm.batchSaveInProgress", ng-click="vm.batchSave()") {{"BATCH RATE" | translate}}

        div.row(style='margin-top:20px;')
            div.col-md-12
                div.col-md-2
                    span.inline-block {{'Length Per Page' | translate}}
                    input.form-control(style='max-width:70px;display:inline-block;',type="number",ng-model="vm.pgn.limit",ng-init=100 ,ng-blur="vm.searchLive800()")
                    span.inline-block {{'COUNT1' | translate}}
                div.col-md-7
                    //ul.pagination(ng-repeat="i in vm.pgnPages")
                        li(ng-click="vm.gotoPG(i, $event)")
                            a {{$index+1}}
                div.col-md-3
                    div.inline-block
                        span(style="width:50px;display:inline-block;") {{'Jump to' | translate}}
                        input.form-control(style='max-width:80px;display:inline-block;',type="number",ng-model="vm.pgn.currentPage",ng-init=1 ,ng-blur="vm.gotoPG((vm.pgn.currentPage),null)")
                        span(style="display:inline-block;") / {{ vm.pgn.totalPage }} {{'Page' | translate}}
                    div.inline-block
                        .btn.btn-primary(ng-click="vm.nextPG()") {{'Page_Next' | translate}}
                    div.inline-block
                        i.searchingQualityInspection.fa.fa-spin.fa-spinner(style="display:none")