.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-if="vm.curPlatformText", style='padding-left:0')
    .panel.panel-primary(ng-if="checkViewPermission('QualityInspection', 'Evaluation','Read')")
        .panel-body.common-right-panel-body
            .tab-content
                .panel.panel-primary
                    .panel-heading.common-left-panel-heading
                        ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')
                            #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                            li.active(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'Read')" style="margin-left: 20px;")
                                a.common-tab(data-toggle="tab", ng-click="vm.evaluationTab ='unreadEvaluation'" )
                                    .fa.fa-wrench.margin-right-5
                                    text.span {{"UNREAD EVALUATION" | translate}}
                            li(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'Read')")
                                //a.common-tab(data-toggle="tab", href="#Feedback", ng-click="vm.submitPlayerFeedbackQuery();vm.platformPageName='Feedback';vm.updatePageTile();")
                                a.common-tab(data-toggle="tab", ng-click="vm.evaluationTab ='readEvaluation'")
                                    .fa.fa-file-text.margin-right-5
                                    text.span {{"READ EVALUATION" | translate}}
                            li(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'Read')")
                                a.common-tab(data-toggle="tab", ng-click="vm.evaluationTab ='appealEvaluation'")
                                    .fa.fa-file-text.margin-right-5
                                    text.span {{"APPEAL EVALUATION" | translate}}
                    .panel-body.common-right-panel-body
                        div(ng-show="vm.evaluationTab == 'unreadEvaluation'")
                            #unreadEvaluationDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'START_DATE' | translate}}
                                    #unreadEvaluationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'END_DATE' | translate}}
                                    br
                                    #unreadEvaluationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    //button.common-button.btn.btn-primary(ng-if='vm.queryProposalId', ng-click='vm.getOneProposal()') {{'SEARCH' | translate}}
                                    button.common-button.btn.btn-primary(ng-click='vm.getUnreadEvaluationRecord()') {{'SEARCH' | translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-warning(ng-click='vm.resetFilter()') {{'Reset' | translate}}

                                .row(style='background-color:#337ab7;')
                                    div.col-md-1(style='display:inline-block;padding-left:5px;')
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估状态
                                    div.col-md-7
                                        div.row
                                            div.col-md-1 'FPMS'
                                            div.col-md-1 '类型'
                                            div.col-md-1 '时间'
                                            div.col-md-1 '对话内容'
                                            div.col-md-1 '超时评分（+/-)'
                                            div.col-md-1 '质简评分（+/-)'
                                            div.col-md-1 '质检评语'
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 质检评估员
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估时间
                                    div.col-md-1(style='display:inline-block;padding-left:5px;background-color:red') 申诉内容

                                .row
                                    qaform(ng-repeat='qaform in vm.qaForm', qaform='qaform')

                                #QAForm
                                    div.row
                                        div.col-md-1(style='display:inline-block;padding-left:5px;')
                                            input.form-control(type="checkbox", value="{{qaform.messageId}}")
                                        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qaform.status}}
                                        div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
                                            div.row(ng-repeat='convert in qaform.conversation')
                                                div.col-md-1 {{qaform.fpmsAcc}}
                                                div.col-md-1 {{convert.roles}}
                                                div.col-md-1 {{convert.createTime}}
                                                div.col-md-1 '对话内容...'
                                                div.col-md-1 {{convert.timeoutRate}} {{convert}}
                                                div.col-md-1 {{convert.inspectionRate}}
                                                div.col-md-1 {{convert.review}}

                                        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qaform.qualityAssessor}}
                                        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qaform.processTime}}
                                        div.col-md-1(style='display:inline-block;padding-left:5px;')
                                            input.form-control(type="textarea", value="{{qaform.appealReason}}")

                        div(ng-show="vm.evaluationTab == 'readEvaluation'")
                            #readEvaluationDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'START_DATE' | translate}}
                                    #readEvaluationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'END_DATE' | translate}}
                                    br
                                    #readEvaluationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-primary(ng-if='vm.queryProposalId', ng-click='vm.getOneProposal()') {{'SEARCH' | translate}}
                                    button.common-button.btn.btn-primary(ng-if='!vm.queryProposalId', ng-click='vm.searchProposalByQuery(true)') {{'SEARCH' | translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-warning(ng-click='vm.resetFilter()') {{'Reset' | translate}}

                        div(ng-show="vm.evaluationTab == 'appealEvaluation'")
                            #appealEvaluationDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'CONVERSATION_START_DATE' | translate}}
                                    #conversationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'CONVERSATION_END_DATE' | translate}}
                                    br
                                    #conversationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'APPEAL_START_DATE' | translate}}
                                    #appealEvaluationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'APPEAL_END_DATE' | translate}}
                                    br
                                    #appealEvaluationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalStatus')")
                                    label {{'APPEAL STATUS' | translate}}
                                    select.form-control#selectAppealStatus(ng-model="vm.appealStatus" ng-init='vm.appealStatus="all"')
                                        option(value='all' selected="true") {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in vm.evaluationAppealStatus', value='{{v}}') {{i|translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-primary(ng-if='vm.queryProposalId', ng-click='vm.getOneProposal()') {{'SEARCH' | translate}}
                                    button.common-button.btn.btn-primary(ng-if='!vm.queryProposalId', ng-click='vm.searchProposalByQuery(true)') {{'SEARCH' | translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-warning(ng-click='vm.resetFilter()') {{'Reset' | translate}}
