.col-sm-12
    label {{'800 record'}}

.row
    .col-md-12
        .well.feedbackQueryDiv
            .inlineBlk
                label {{"Product"|translate}}
                select.form-control(style='max-width:300px', ng-model="vm.playerFeedbackQuery.playerType")
                    option(value='Real Player (all)') {{'Any' | translate}}
                    option(value='Real Player (Individual)') {{'REAL_PLAYER_INDIVIDUAL' | translate}}

            .inlineBlk
                label {{"FPMS CS Acc" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}

            .inlineBlk
                label {{"Live800 Acc" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}

            .inlineBlk
                label {{"startTime" | translate}}
                input.form-control(type="number" )

            .inlineBlk
                label {{"endTime" | translate}}
                input.form-control(type="number" )

            .inlineBlk
                label {{"Rating Status" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
            .inlineBlk
                label {{"QA" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
            .inlineBlk
                button.btn.btn-primary() {{"SEARCH" | translate}}
                span.collapse
                    i.fa.fa-spinner.fa-spin
                span.margin-left-5
        //.inlineBlk(style="width:200px;")
                label.control-label {{'CREDIBILITY' | translate}}
                select.form-control#selectCredibilityRemarkFeedback(multiple="multiple", style='min-width:100px;height:34px;', ng-options='remark._id as remark.name for remark in vm.credibilityRemarks', ng-model='vm.playerFeedbackQuery.credibilityRemarks')
.row(style='background-color:#337ab7;')
    div.col-md-1(style='display:inline-block;padding-left:5px;')
    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估状态
    div.col-md-7
        div.row
            div.col-md-1 'FPMS'
            div.col-md-1 '类型'
            div.col-md-1 '时间'
            div.col-md-1 '对话内容'
            div.col-md-1 '超时评分（+/-)'
            div.col-md-1 '质简评分（+/-)'
            div.col-md-1 '质检评语'
    div.col-md-1(style='display:inline-block;padding-left:5px;') 质检评估员
    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估时间
    div.col-md-1(style='display:inline-block;padding-left:5px;background-color:red') 申诉内容

.row
    qaform(ng-repeat='qaform in vm.qaForm', qaform='qaform')


#QAForm
    div.row
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            input.form-control(type="checkbox", value="{{qaform.messageId}}")
        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qaform.status}}
        div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
            div.row(ng-repeat='convert in qaform.conversation')
                div.col-md-1 {{qaform.fpmsAcc}}
                div.col-md-1 {{convert.roles}}
                div.col-md-1 {{convert.created_time}}
                div.col-md-1 '对话内容...'
                div.col-md-1 {{convert.timeout_rate}}
                div.col-md-1 {{convert.inspection_rate}}
                div.col-md-1 {{convert.review}}

        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qaform.qualityAssessor}}
        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qaform.process_time}}
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            input.form-control(type="textarea", value="{{qaform.appeal_reason}}")
