#WechatRecordQuery.col-md-12.well(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'PRODUCT' | translate}}
        select.form-control(ng-change='vm.getWechatDeviceNickNameList();',ng-model='vm.inspectionWechat.platform', ng-options='product.data._id as product.data.name for product in vm.platformList', multiple, bsp, data-actions-box='true', required)

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'Type' | translate}}
        select.form-control(ng-model='vm.inspectionWechat.type' ng-change='vm.getWechatDeviceNickNameList();')
            option(value='wechat') {{"WECHAT"|translate}}
            option(value='qq') QQ

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'Create Device Name' | translate}}
        select.form-control(ng-model='vm.inspectionWechat.deviceName', ng-options='device for device in vm.wechatDeviceList', multiple, bsp, data-actions-box='true')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'Customer Service Account (Input, Comma Added)' | translate}}
        input.form-control(type='text', ng-model='vm.inspectionWechat.csName')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'Message Begin Time' | translate}}
        #wechatMessageBeginDatetimePicker.input-append.form-control
            input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
            span.add-on
                i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'Message End Time' | translate}}
        #wechatMessageEndDatetimePicker.input-append.form-control
            input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
            span.add-on
                i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'Message Content (Keyword)' | translate}}
        input.form-control(type='text', ng-model='vm.inspectionWechat.content')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')")
        label {{'wechatReceivingPlayer(Precise Search)' | translate}}
        input.form-control(type='text', ng-model='vm.inspectionWechat.playerWechatRemark')

    .widthto100.text-right
        label &nbsp;
        button.btn.btn-primary.btn-space(ng-click='vm.searchWechatConversationDevice()' ng-show="checkViewPermission('QualityInspection', 'WechatConversationRecord', 'Read')") {{'SEARCH' | translate}}
        span#wechatConversationTableSpin.collapse
            i.fa.fa-spinner.fa-spin
.clearfix

br
.panel.panel-primary
    .panel-body
        div(ng-if="vm.deviceList && vm.deviceList != 0")
            label {{"Total" | translate}} {{vm.deviceListTotal || 0}} {{"records" | translate}}
            table#wechatMessageDeviceTable(style="width: 60%; text-align: center;")
                thead
                    th.col-md-4 {{"PRODUCT" | translate}}
                    th(style="width: 432px;") {{"Device" | translate}}
                    th(style="width: 433px;" ng-show="vm.inspectionWechat.type==='wechat'") {{"wechatReceivingPlayer" | translate}}
                    th(style="width: 433px;" ng-show="vm.inspectionWechat.type==='qq'") {{"qqReceivingPlayer" | translate}}
                tbody(ng-repeat="deviceList in vm.deviceList")
                    tr(ng-if="vm.playerDetailsSummary.length == 0" style="border: 1px solid;")
                        td(colspan = 10) {{ 'No data available in table' | translate }}
                    tr(style="border: 1px solid;")
                        td(style="word-wrap: break-word;") {{deviceList.platformName}}
                        td(colspan=2)
                            table(style='width:100%')
                                tbody
                                    tr.lastchild-noborder(ng-repeat="device in deviceList.deviceNickName" style='border-right:1px solid; border-bottom:1px solid;' )
                                        td(style="vertical-align: top; line-height: 2.5;border-left:1px solid;word-wrap: break-word; ")
                                            div(style="width: 300px;")
                                                a(ng-click="vm.searchWechatConversation(deviceList.platformId, device.deviceNickName);") {{device.deviceNickName}}
                                        td
                                        td(style="line-height: 2.5;")
                                            div(style="width: 300px;")
                                                table(style="margin: 0 auto;width: 100%;")
                                                    tbody
                                                        tr.lastchild-noborder(ng-repeat="wechatRemark in device.playerWechatRemark" style='border-bottom: 1px solid')
                                                            td(style="border-left:1px solid;word-wrap: break-word;")
                                                                div(style="width: 300px;")
                                                                    a(ng-click="vm.searchWechatConversation(deviceList.platformId, device.deviceNickName, [wechatRemark.playerWechatRemark]);") {{wechatRemark.playerWechatRemark}} {{"("}} {{wechatRemark.encodedPlayerWechatOrQQId}} {{")"}}
                tfoot
                    tr
                        th
                            div(style='display:inline-block;font-weight:normal')
                                text.margin-right-5(style='display:inline-block') {{'EachPage' | translate}}
                                input.form-control(style='max-width:80px;display:inline-block;',type='number',ng-init=1000,ng-model='vm.inspectionWechat.limit' ,ng-blur='vm.searchWechatConversationDevice()')
                                text.margin-left-5(style="display:inline-block") {{'COUNT1' | translate}}
                        th(colspan=4 style="text-align:right")
                            div(style='display:inline-block;font-weight:normal')
                                text.margin-right-5(style='display:inline-block') {{'Jump to' | translate}}
                                input.form-control.margin-right-5(style='max-width:60px;display:inline-block', type='number',ng-model='vm.inspectionWechat.currentPage',ng-init=1 ,ng-blur="vm.gotoInspectionWechatPage((vm.inspectionWechat.currentPage),null)")
                                text(style="display:inline-block") / {{ vm.inspectionWechat.totalPage }} {{'Page' | translate}}
                            div(style='display:inline-block')
                                button.btn.btnPage.next_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.nextInspectionWechatPage()', ng-disabled='vm.inspectionWechat.currentPage == vm.inspectionWechat.totalPage') {{'NEXT_PAGE' | translate}}


        div(ng-if="!vm.deviceList || vm.deviceList == 0")
            label {{ 'No data available in table' | translate }}
br
.panel.panel-primary(ng-if="vm.wechatConversationList && vm.wechatConversationList.length && vm.wechatConversationList.length > 0")
    .panel-body
        label {{"Total" | translate}} {{vm.wechatConversationList.length || 0}} {{"records" | translate}}
        table#wechatMessageTable.common-table.display(style="min-width:100% ;overflow: scroll")
        #wechatMessageTablePage
