.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-if="vm.curPlatformText", style='padding-left:0')
    .panel.panel-primary(ng-if="checkViewPermission('QualityInspection', 'Evaluation','Read')")
        .panel-body.common-right-panel-body
            .tab-content
                .panel.panel-primary
                    .panel-heading.common-left-panel-heading
                        ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')
                            #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                            li.active(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'Read')" style="margin-left: 20px;")
                                a.common-tab(data-toggle="tab", ng-click="vm.evaluationTab ='unreadEvaluation';vm.initUnreadEvaluation();" )
                                    .fa.fa-wrench.margin-right-5
                                    text.span {{"UNREAD EVALUATION" | translate}}
                            li(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'Read')")
                                //a.common-tab(data-toggle="tab", href="#Feedback", ng-click="vm.submitPlayerFeedbackQuery();vm.platformPageName='Feedback';vm.updatePageTile();")
                                a.common-tab(data-toggle="tab", ng-click="vm.evaluationTab ='readEvaluation';vm.initReadEvaluation();")
                                    .fa.fa-file-text.margin-right-5
                                    text.span {{"READ EVALUATION" | translate}}
                            li(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'Read')")
                                a.common-tab(data-toggle="tab", ng-click="vm.evaluationTab ='appealEvaluation';vm.initAppealEvaluation();")
                                    .fa.fa-file-text.margin-right-5
                                    text.span {{"APPEAL EVALUATION" | translate}}
                    .panel-body.common-right-panel-body
                        div(ng-show="vm.evaluationTab == 'unreadEvaluation'")
                            #unreadEvaluationDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'START_DATE' | translate}}
                                    #unreadEvaluationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'END_DATE' | translate}}
                                    br
                                    #unreadEvaluationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    //button.common-button.btn.btn-primary(ng-if='vm.queryProposalId', ng-click='vm.getOneProposal()') {{'SEARCH' | translate}}
                                    button.common-button.btn.btn-primary(ng-click='vm.getUnreadEvaluationRecord()') {{'SEARCH' | translate}}

                                .row(style='background-color:#337ab7;')
                                    div.col-md-1(style='display:inline-block;padding-left:5px;')
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估状态
                                    div.col-md-7
                                        div.row
                                            div.col-md-1 'FPMS'
                                            div.col-md-1 '类型'
                                            div.col-md-1 '时间'
                                            div.col-md-1 '对话内容'
                                            div.col-md-1 '超时评分（+/-)'
                                            div.col-md-1 '质简评分（+/-)'
                                            div.col-md-1 '质检评语'
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 质检评估员
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估时间
                                    div.col-md-1(style='display:inline-block;padding-left:5px;background-color:red') 申诉内容

                                //.row
                                //    qaform(ng-repeat='qaform in vm.qaForm', qform='qaform')
                                .row
                                    #unreadEvaluationForm(ng-repeat='unreadTable in vm.unreadEvaluationTable')
                                        div.row
                                            div.col-md-1(style='display:inline-block;padding-left:5px;')
                                                input.form-control(type="checkbox", value="{{unreadTable.messageId}}",ng-model="unreadTable.isChecked", ng-change="vm.gatherCheckedRecord(unreadTable.isChecked,unreadTable.messageId,unreadTable.appealReason)")
                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{unreadTable.status | translate}}
                                            div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
                                                div.row(ng-repeat='c in unreadTable.conversation')
                                                    div.col-md-1 {{unreadTable.fpmsAcc}}
                                                    div.col-md-1 {{c.roles}}
                                                    div.col-md-1 {{c.createTime}}
                                                    div.col-md-1 '对话内容...'
                                                    div.col-md-1 {{c.timeoutRate}}
                                                    div.col-md-1 {{c.inspectionRate}}
                                                    div.col-md-1 {{c.review}}

                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{unreadTable.qualityAssessor}}
                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{unreadTable.processTime}}
                                            div.col-md-1(style='display:inline-block;padding-left:5px;')
                                                input.form-control(type="textarea", value="{{unreadTable.appealReason}}", ng-model="unreadTable.appealReason", ng-change="vm.ammendCheckedRecord(unreadTable.messageId,unreadTable.appealReason);")

                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    //button.common-button.btn.btn-primary(ng-if='vm.queryProposalId', ng-click='vm.getOneProposal()') {{'SEARCH' | translate}}
                                    button.common-button.btn.btn-primary(ng-click='vm.markEvaluationRecordAsRead()') {{'MARK_AS_READ' | translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-warning(ng-click='vm.appealEvaluation()') {{'I_WANT_TO_APPEAL' | translate}}

                        div(ng-show="vm.evaluationTab == 'readEvaluation'")
                            #readEvaluationDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'START_DATE' | translate}}
                                    #readEvaluationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'END_DATE' | translate}}
                                    br
                                    #readEvaluationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-primary(ng-click='vm.getReadEvaluationRecord()') {{'SEARCH' | translate}}

                                .row(style='background-color:#337ab7;')
                                    //div.col-md-1(style='display:inline-block;padding-left:5px;')
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估状态
                                    div.col-md-7
                                        div.row
                                            div.col-md-1 'FPMS'
                                            div.col-md-1 '类型'
                                            div.col-md-1 '时间'
                                            div.col-md-1 '对话内容'
                                            div.col-md-1 '超时评分（+/-)'
                                            div.col-md-1 '质简评分（+/-)'
                                            div.col-md-1 '质检评语'
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 质检评估员
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估时间
                                    div.col-md-1(style='display:inline-block;padding-left:5px;background-color:red') 申诉内容

                                .row
                                    #readEvaluationForm(ng-repeat='readTable in vm.readEvaluationTable')
                                        div.row
                                            div.col-md-1(style='display:inline-block;padding-left:10px;') {{readTable.status | translate}}
                                            div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
                                                div.row(ng-repeat='c in readTable.conversation')
                                                    div.col-md-1 {{readTable.fpmsAcc}}
                                                    div.col-md-1 {{c.roles}}
                                                    div.col-md-1 {{c.createTime}}
                                                    div.col-md-1 '对话内容...'
                                                    div.col-md-1 {{c.timeoutRate}}
                                                    div.col-md-1 {{c.inspectionRate}}
                                                    div.col-md-1 {{c.review}}

                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{readTable.qualityAssessor}}
                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{readTable.processTime}}
                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{readTable.appealReason}}
                                                //input.form-control(type="textarea", value="{{readTable.appealReason}}", ng-model="readTable.appealReason")

                        div(ng-show="vm.evaluationTab == 'appealEvaluation'")
                            #appealEvaluationDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'CONVERSATION_START_DATE' | translate}}
                                    #conversationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'CONVERSATION_END_DATE' | translate}}
                                    br
                                    #conversationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'APPEAL_START_DATE' | translate}}
                                    #appealEvaluationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalDate')")
                                    label {{'APPEAL_END_DATE' | translate}}
                                    br
                                    #appealEvaluationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalStatus')")
                                    label {{'APPEAL STATUS' | translate}}
                                    select.form-control#selectAppealStatus(ng-model="vm.appealStatus" ng-init='vm.appealStatus="all"')
                                        option(value='all' selected="true") {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in vm.evaluationAppealStatus', value='{{v}}') {{i|translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-primary(ng-click='vm.getAppealEvaluationRecordByConversationDate()') {{'SEARCH_BY_CONVERSATION_DATE' | translate}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-warning(ng-click='vm.getAppealEvaluationRecordByAppealDate()') {{'SEARCH_BY_APPEAL_DATE' | translate}}

                                .row(style='background-color:#337ab7;')
                                    //div.col-md-1(style='display:inline-block;padding-left:5px;')
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估状态
                                    div.col-md-7
                                        div.row
                                            div.col-md-1 'FPMS'
                                            div.col-md-1 '类型'
                                            div.col-md-1 '时间'
                                            div.col-md-1 '对话内容'
                                            div.col-md-1 '超时评分（+/-)'
                                            div.col-md-1 '质简评分（+/-)'
                                            div.col-md-1 '质检评语'
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 质检评估员
                                    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估时间
                                    div.col-md-1(style='display:inline-block;padding-left:5px;background-color:red') 申诉内容

                                .row
                                    #appealEvaluationForm(ng-repeat='appealTable in vm.appealEvaluationTable')
                                        div.row
                                            div.col-md-1(style='display:inline-block;padding-left:10px;') {{appealTable.status | translate}}
                                            div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
                                                div.row(ng-repeat='c in appealTable.conversation')
                                                    div.col-md-1 {{appealTable.fpmsAcc}}
                                                    div.col-md-1 {{c.roles}}
                                                    div.col-md-1 {{c.createTime}}
                                                    div.col-md-1 '对话内容...'
                                                    div.col-md-1 {{c.timeoutRate}}
                                                    div.col-md-1 {{c.inspectionRate}}
                                                    div.col-md-1 {{c.review}}

                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{appealTable.qualityAssessor}}
                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{appealTable.processTime}}
                                            div.col-md-1(style='display:inline-block;padding-left:5px;') {{appealTable.appealReason}}
                                                //input.form-control(type="textarea", value="{{appealTable.appealReason}}", ng-model="appealTable.appealReason")


    //#QAForm
    //        div.row
    //            div.col-md-1(style='display:inline-block;padding-left:5px;')
    //                input.form-control(type="checkbox", value="{{qform.messageId}}", ng-model="vm.test" ng-change='gatherCheckedRecord();')
    //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.status}}
    //            div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
    //                div.row(ng-repeat='convert in qform.conversation')
    //                    div.col-md-1 {{qform.fpmsAcc}}
    //                    div.col-md-1 {{convert.roles}}
    //                    div.col-md-1 {{convert.createTime}}
    //                    div.col-md-1 '对话内容...'
    //                    div.col-md-1 {{convert.timeoutRate}}
    //                    div.col-md-1 {{convert.inspectionRate}}
    //                    div.col-md-1 {{convert.review}}
    //
    //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.qualityAssessor}}
    //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.process_time}}
    //            div.col-md-1(style='display:inline-block;padding-left:5px;')
    //                input.form-control(type="textarea", value="{{qform.appeal_reason}}")
    //#QAForm
    //    div.row
    //        div.col-md-1(style='display:inline-block;padding-left:5px;')
    //            //label {{qform.conversation}}
    //            input.form-control(type="checkbox",ng-model="qform.checkBox", value="{{qform.messageId}}", ng-change="gatherCheckedRecord()")
    //        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.status | translate}}
    //        div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
    //            div.row(ng-repeat='convert in qform.conversation')
    //                div.col-md-1 {{qform.fpmsAcc}}
    //                div.col-md-1 {{convert.roles}}
    //                div.col-md-1 {{convert.createTime}}
    //                div.col-md-1 '对话内容...'
    //                div.col-md-1 {{convert.timeoutRate}}
    //                div.col-md-1 {{convert.inspectionRate}}
    //                div.col-md-1 {{convert.review}}
    //            input.form-control(type="checkbox", value="{{qform.messageId}}")
    //        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.status}}
    //        //div.col-md-7
    //        //    div.innerConversation.row(ng-repeat='tt in qform.conversation')
    //        //        //div.col-md-1 {{qform.fpmsAcc}}
    //        //        div(style="width:10%") {{tt.roles}}
    //        //        div(style="width:10%") {{tt.createTime}}
    //        //        div(style="width:50%") {{tt.content}}
    //        //        div(style="width:10%") {{tt.timeoutRate}}
    //        //        div(style="width:10%") {{tt.inspectionRate}}
    //        //        div(style="width:10%") {{tt.review}}
    //        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.qualityAssessor}}
    //        div.col-md-1(style='display:inline-block;padding-left:5px;') {{qform.processTime}}
    //        div.col-md-1(style='display:inline-block;padding-left:5px;')
    //            input.form-control(type="textarea", value="{{qform.appealReason}}")
