.col-sm-12
    label {{'800 record'}}

.row
    .col-md-12
        .well.feedbackQueryDiv
            .inlineBlk
                label {{"Product"|translate}}
                select.form-control(style='max-width:300px', ng-model="vm.playerFeedbackQuery.playerType")
                    option(value='Real Player (all)') {{'Any' | translate}}
                    option(value='Real Player (Individual)') {{'REAL_PLAYER_INDIVIDUAL' | translate}}

            .inlineBlk
                label {{"FPMS CS Acc" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}

            .inlineBlk
                label {{"Live800 Acc" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}

            .inlineBlk
                label {{"startTime" | translate}}
                input.form-control(type="number" )

            .inlineBlk
                label {{"endTime" | translate}}
                input.form-control(type="number" )

            .inlineBlk
                label {{"Rating Status" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
            .inlineBlk
                label {{"QA" | translate}}
                select.form-control(ng-model='vm.playerFeedbackQuery.playerLevel')
                    option(value='all') {{'ALL' | translate}}
                    option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
            .inlineBlk
                button.btn.btn-primary(ng-click='vm.searchLive800()') {{"SEARCH" | translate}}
                span.collapse
                    i.fa.fa-spinner.fa-spin
                span.margin-left-5
        //.inlineBlk(style="width:200px;")
                label.control-label {{'CREDIBILITY' | translate}}
                select.form-control#selectCredibilityRemarkFeedback(multiple="multiple", style='min-width:100px;height:34px;', ng-options='remark._id as remark.name for remark in vm.credibilityRemarks', ng-model='vm.playerFeedbackQuery.credibilityRemarks')



.row(style='background-color:#337ab7;')
    div.col-md-1(style='display:inline-block;padding-left:5px;')
    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估状态
    div.col-md-7
        div.row
            div.col-md-1 'FPMS'
            div.col-md-1 '类型'
            div.col-md-1 '时间'
            div.col-md-1 '对话内容'
            div.col-md-1 '超时评分（+/-)'
            div.col-md-1 '质简评分（+/-)'
            div.col-md-1 '质检评语'
    div.col-md-1(style='display:inline-block;padding-left:5px;') 质检评估员
    div.col-md-1(style='display:inline-block;padding-left:5px;') 评估时间
    div.col-md-1(style='display:inline-block;padding-left:5px;background-color:red') 申诉内容

.row
    conversationform(ng-repeat='conversationform in vm.conversationForm',  cform = 'conversationform', rateconversation = 'vm.rateconversation(conversationform)', confirmrate='vm.confirmRate(conversationform)')



#conversationForm
    div.row(style='border:2px solid #CECECE;box-shadow: 2px black')
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            input.form-control(type="checkbox", value="{{cform.messageId}}")
        //div.col-md-1(style='display:inline-block;padding-left:5px;', ng-click="rateIt(cform.messageId)") {{cform.status}}
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            div(ng-click="rateIt(cform)"){{cform.statusName}}
            div(ng-if='cform.editable', style='margin-top:30px;')
                div.btn.btn-primary(ng-click="confirmrate(cform)") Confirm
                div.btn.btn-primary.red(ng-click="cancelrate(cform)") Cancel
        div.col-md-7(style='display:inline-block;padding-left:5px;')
            div(style="text-align:center;color:red") **** 新的对话开始 ****
            div.row(ng-repeat='convert in cform.conversation')
                div(style="width:10%;display:inline-block") {{cform.fpmsAcc}}
                div(style="width:10%;display:inline-block") {{convert.roleName}}
                div(style="width:10%;display:inline-block") {{convert.createTime}}
                div(style="width:40%;display:inline-block;padding:5px;") {{convert.content}}
                div(style="width:10%;display:inline-block")
                    input.form-control(type="number",value="{{convert.timeoutRate}}",DISABLED)
                div(style="width:10%;display:inline-block")
                    div(ng-if='cform.editable')
                        input.form-control(type="number",ng-model="convert.inspectionRate")
                    div(ng-if='!cform.editable')
                        div(style='text-align:center') {{convert.inspectionRate}}
                div(style="width:10%;display:inline-block")
                    div(ng-if='cform.editable')
                        input.form-control(type="text",ng-model="convert.review")
                    div(ng-if='!cform.editable')
                        div(style='text-align:center') {{convert.review}}

            div(style="text-align:center;color:red") 結束對話:访客关闭对话 (2018-01-15 17:09:05)
        div.col-md-1(style='display:inline-block;padding-left:5px;') {{cform.qualityAssessor}}
        div.col-md-1(style='display:inline-block;padding-left:5px;') {{cform.processTime}}
        div.col-md-1(style='display:inline-block;padding-left:5px;')
            input.form-control(type="textarea", value="{{cform.appealReason}}", DISABLED)