.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-if="vm.curPlatformText", style='padding-left:0')
    .panel.panel-primary(ng-if="checkViewPermission('QualityInspection', 'Report','Read')")
        .panel-body.common-right-panel-body
            .tab-content
                .panel.panel-primary
                    .panel-heading.common-left-panel-heading
                        ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')
                            #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                            li.active(ng-show="checkViewPermission('QualityInspection', 'Report', 'Read')" style="margin-left: 20px;")
                                a.common-tab(data-toggle="tab", ng-click="vm.inspectionReportTab ='workloadReport'" )
                                    .fa.fa-wrench.margin-right-5
                                    text.span {{"WORKLOAD REPORT" | translate}}
                            li(ng-show="checkViewPermission('QualityInspection', 'Report', 'Read')")
                                a.common-tab(data-toggle="tab", ng-click="vm.inspectionReportTab ='evaluationProgress';vm.initEvaluationProgress()")
                                    .fa.fa-file-text.margin-right-5
                                    text.span {{"EVALUATION PROGRESS" | translate}}
                    .panel-body.common-right-panel-body
                        div(ng-show="vm.inspectionReportTab == 'workloadReport'")
                            #workloadProgressDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalStatus')")
                                    label {{'QC_ACCOUNT' | translate}}
                                    select.form-control#selectQCAccount(ng-model="vm.qcAccount" ng-init='vm.qcAccount="all"')
                                        option(value='all' selected="true") {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in vm.qcAccount', value='{{v}}') {{i|translate}}
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Report', 'queryByProposalDate')")
                                    label {{'START_DATE' | translate}}
                                    #reportConversationStartDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Report', 'queryByProposalDate')")
                                    label {{'END_DATE' | translate}}
                                    br
                                    #reportConversationEndDatetimePicker.input-append.form-control
                                        input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-primary(ng-click='vm.getWorkloadReport()') {{'SEARCH' | translate}}

                                .row
                                    //label {{"Total" | translate}} {{vm.playerRegistrationRecords.totalCount}} {{"records" | translate}}
                                    //i.fa.fa-spin.fa-spinner(ng-show='vm.playerRegistrationRecords.loading')
                                    table#workloadReportTable.common-table.display(style='width:100%')
                                    #workloadReportTablePage

                                //.row(style='background-color:#337ab7;margin: 5px 2px 0px 2px;padding: 10px 2px; border-bottom: 1px solid #111;')
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"QC_ACCOUNT" | translate}}
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"COMPLETED_UNREAD_QUANTITY" | translate}}
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"COMPLETED_READ_QUANTITY" | translate}}
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"COMPLETED_QUANTITY" | translate}}
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"APPEALING_QUANTITY" | translate}}
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"APPEAL_COMPLETED_QUANTITY" | translate}}
                                //
                                //.row
                                //    #workloadReportForm(ng-repeat='workloadReportTable in vm.workloadReportTable')
                                //        div.row(style="margin-left: 2px; margin-top: 5px;")
                                //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.qcAccount | translate}}
                                //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.completedUnread | translate}}
                                //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.completedRead | translate}}
                                //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.completed | translate}}
                                //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.appealing | translate}}
                                //            div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.appealCompleted | translate}}
                                //            //div.col-md-1(style='display:inline-block;padding-left:5px;')
                                //            //div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.status | translate}}
                                //            //div.col-md-7(style='display:inline-block;padding-left:5px;background-color:#CECECE;border-bottom:1px solid black')
                                //            //    div.row(ng-repeat='c in workloadReportTable.conversation')
                                //            //        div.col-md-1 {{workloadReportTable.fpmsAcc}}
                                //            //        div.col-md-1 {{c.roles}}
                                //            //        div.col-md-1 {{c.createTime}}
                                //            //        div.col-md-1 '对话内容...'
                                //            //        div.col-md-1 {{c.timeoutRate}}
                                //            //        div.col-md-1 {{c.inspectionRate}}
                                //            //        div.col-md-1 {{c.review}}
                                //            //
                                //            //div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.qualityAssessor}}
                                //            //div.col-md-1(style='display:inline-block;padding-left:5px;') {{workloadReportTable.processTime}}
                                //            //div.col-md-1(style='display:inline-block;padding-left:5px;')
                                //            //    input.form-control(type="textarea", value="{{workloadReportTable.appealReason}}", ng-model="workloadReportTable.appealReason")

                        div(ng-show="vm.inspectionReportTab == 'evaluationProgress'")
                            #evaluationProgressDiv.tab-pane.fade.in.active
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalStatus')")
                                    label {{'YEAR - MONTH' | translate}}
                                    select.form-control(ng-model="vm.yearMonth")
                                        option(ng-repeat='v in vm.evaluationProgressYearMonth', value='{{v}}') {{v.year}} - {{v.month}}
                                    //select.form-control(ng-model="vm.yearMonth", ng-init="vm.yearMonth = vm.yearMonth || vm.evaluationProgressYearMonth[0].date", ng-options='yearMonth.date  for yearMonth in vm.evaluationProgressYearMonth')
                                        //option(ng-repeat='(i,v) in vm.evaluationProgressYearMonth', value='{{v.year - v.month}}') {{v.year}} - {{v.month}}
                                .inlineBlk(ng-show="checkViewPermission('QualityInspection', 'Evaluation', 'queryByProposalStatus')")
                                    label {{'PRODUCT(DEPARTMENT)' | translate}}
                                    select.spicker.form-control(ng-model='vm.evaluationProgressPlatform', multiple, data-actions-box='true', bsp)
                                        option(ng-repeat='(i,v) in vm.platformList', value='{{v.data._id}}' ng-init='$last && vm.endLoadMultipleSelect()') {{v.data.name}}
                                .inlineBlk.pull-right(style='width:100px;padding-top:20px')
                                    button.common-button.btn.btn-primary(ng-click='vm.getEvaluationProgressRecord()') {{'SEARCH' | translate}}
                                .inlineBlk(ng-show='vm.loadingEvaluationProgressTable')
                                    label.blink.text-danger {{'Loading' | translate}}

                                //.row(style='background-color:#337ab7;margin: 5px 2px 0px 2px;padding: 10px 2px; border-bottom: 1px solid #111;')
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{"PRODUCT_NAME" | translate}}
                                //    div.col-md-1(style='display:inline-block;padding-left:5px;') {{vm.evaluationProgressTableTitle | translate}}

                                //.row(style='margin: 5px 2px 0px 2px;padding: 10px 2px; ')
                                //    #evaluationProgressForm(ng-repeat='progress in vm.evaluationProgressTable')
                                //        div.row
                                //            div.col-md-1(style='display:inline-block;padding-left:10px;') {{progress.platformName | translate}}

                                .row(style='margin: 5px 2px 0px 2px;padding: 10px 2px; ')
                                    table#evaluationProgressTable.simple-table.table-vertical-middle.limitOffersTB
                                        thead
                                            th.col-md-2 {{"PRODUCT_NAME" | translate}}
                                            th(colspan=7) {{vm.evaluationProgressTableTitle | translate}}
                                        tbody(ng-repeat="progress in vm.evaluationProgressTable track by $index")
                                            tr
                                                td {{progress.platformName}}

                                                td
                                                    table(style="width: 100%")
                                                        tbody
                                                            tr
                                                                td(ng-repeat="t in progress.calendarTitle track by $index" style="background-color:#337ab7; font-weight: bold") {{t | translate}}

                                                            tr(ng-repeat="p in progress.calendarData track by $index")
                                                                td(ng-if="p[0].isCompleted" style="background-color: #6D9EEB") {{p[0].day}}
                                                                td(ng-if="!p[0].isCompleted") {{p[0].day}}
                                                                td(ng-if="p[1].isCompleted" style="background-color: #6D9EEB") {{p[1].day}}
                                                                td(ng-if="!p[1].isCompleted") {{p[1].day}}
                                                                td(ng-if="p[2].isCompleted" style="background-color: #6D9EEB") {{p[2].day}}
                                                                td(ng-if="!p[2].isCompleted") {{p[2].day}}
                                                                td(ng-if="p[3].isCompleted" style="background-color: #6D9EEB") {{p[3].day}}
                                                                td(ng-if="!p[3].isCompleted") {{p[3].day}}
                                                                td(ng-if="p[4].isCompleted" style="background-color: #6D9EEB") {{p[4].day}}
                                                                td(ng-if="!p[4].isCompleted") {{p[4].day}}
                                                                td(ng-if="p[5].isCompleted" style="background-color: #6D9EEB") {{p[5].day}}
                                                                td(ng-if="!p[5].isCompleted") {{p[5].day}}
                                                                td(ng-if="p[6].isCompleted" style="background-color: #6D9EEB") {{p[6].day}}
                                                                td(ng-if="!p[6].isCompleted") {{p[6].day}}



                                            //td(ng-repeat="(i,v) in cond.header track by $index")
                                            //    input(ng-if="v.type == 'text' || v.type == 'checkbox' || v.type == 'number'" type="{{v.type}}" ng-model="entry[i]" ng-change="vm.changeRewardParamLayout({i:i, v:v, entry:entry});")
                                            //    span.percentage(ng-if="v.type == 'percentage'")
                                            //        input(type='number', min='0', percentage, style="display: inline-block", ng-model='entry[i]')
                                            //    table(ng-if="v.type == 'PercentageAmount'")
                                            //        thead
                                            //            tr
                                            //                th {{'Percentage' | translate}}
                                            //                th {{'Amount' | translate}}
                                            //                th
                                            //        tbody
                                            //            tr(ng-repeat='(idx,val) in entry[i]')
                                            //                td
                                            //                    span.percentage
                                            //                        input(type='number', min='0', percentage, style="display: inline-block", ng-model='val.percentage')
                                            //                td
                                            //                    input(type="number" ng-model="val.amount" style="width: 150px;")
                                            //                td
                                            //                    i.fa.fa-minus(ng-click='vm.rewardPercentageAmountDeleteRow(idx,entry[i])' ng-show='vm.platformRewardIsEnabled && idx!=0')
                                            //                    i.fa.fa-plus(ng-click='vm.rewardPercentageAmountNewRow(entry[i])' ng-show='vm.platformRewardIsEnabled && idx==0')
