#WechatRecordQuery.col-md-12.well(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
        label {{'PRODUCT' | translate}}
        select.form-control(ng-change='vm.getWechatDeviceNickNameListForReport();',ng-model='vm.inspectionWechatReport.platform', ng-options='product.data._id as product.data.name for product in vm.platformList', multiple, bsp, data-actions-box='true', required)

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
        label {{'Type' | translate}}
        select.form-control(ng-model='vm.inspectionWechatReport.type' ng-change='vm.getWechatDeviceNickNameListForReport();')
            option(value='wechat') {{"WECHAT"|translate}}
            option(value='qq') QQ

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
        label {{'Create Device Name' | translate}}
        select.form-control(ng-model='vm.inspectionWechatReport.deviceName', ng-options='device for device in vm.wechatReportDeviceList', multiple, bsp, data-actions-box='true')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
        label {{'Customer Service Account (Input, Comma Added)' | translate}}
        input.form-control(type='text', ng-model='vm.inspectionWechatReport.csName')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
        label {{'Message Begin Time' | translate}}
        #wechatMessageReportBeginDatetimePicker.input-append.form-control
            input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
            span.add-on
                i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')

    .search-filters-item(ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')")
        label {{'Message End Time' | translate}}
        #wechatMessageReportEndDatetimePicker.input-append.form-control
            input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
            span.add-on
                i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')

    .text-right.widthto100
        label &nbsp;
        button.btn.btn-primary.btn-space(ng-click='vm.searchWechatConversationReport()' ng-show="checkViewPermission('QualityInspection', 'WechatConversationReport', 'Read')") {{'SEARCH' | translate}}
        span#wechatConversationReportTableSpin.collapse
            i.fa.fa-spinner.fa-spin
.clearfix

.panel.panel-primary
    .panel-body
        label {{"Total" | translate}} {{ vm.wechatConversationReportSize || 0}} {{"records" | translate}}
        table#wechatMessageReportTable.common-table.display(style="min-width:100% ;overflow: scroll")
        #wechatMessageReportTablePage