.centerMenu{
  text-align: -webkit-center;
}

.login-control{
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  appearance: none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  -webkit-transition : border-color 2s;
  -moz-transition : border-color 2s;
  transition : border-color 2s  ;
}

.login-group{
  padding: .5em;
  display: table;
}

label{
  display: table-header-group!important;
}
.icon{
  position: absolute;
  right: 10%;
  bottom: 40.5%
}
.login{
  padding: 2em;
  text-align: left;
  margin-top: 5em;
  width: 370px!important;
}

.card, .card a{
  color: #747474;
  font-weight: 100;
}

input[type="checkbox"]{
  margin-right: .5em
}

input:focus, select:focus{
  outline: none;
  border-bottom:2px solid #343a40;
}

input:focus+label ,select:focus+label  {
  color: #343a40;
  font-weight: bold;
}

.focusClass{
  color: #343a40;
  font-weight: bold;
}

.customize-cardHeader{
  color:white!important;
  padding: 1em 1em 0 1em!important;
}

.customize-cardFooter{
  background-color:white!important;
  border-top: none!important;
}

.onlinePlayer-cardColor{
  background-color:#5cb85c!important;
  border-color:#5cb85c!important;
}

.topup-cardColor{
  background-color:#2B6698!important;
  border-color:#2B6698!important;
}

.withdrawal-cardColor{
  background-color:#4B0082!important;
  border-color:#4B0082!important;
}

.bet-cardColor{
  background-color:#f39c12!important;
  border-color:#f39c12!important;
}

.newPlayer-cardColor{
  background-color: #d9534f!important;
  border-color:#d9534f!important;
}

.infoNum{
  font-size: 2rem;
}

.infoText{
  font-size:16px
}

.onlinePlayer-footer{color: #5cb85c;}
.topup-footer{color: #2B6698;}
.withdrawal-footer{color: #4B0082;}
.bet-footer{color: #f39c12;}
.newPlayer-footer{color: #d9534f;}


.nav-bar{
  background-color: #495057;
  padding: .5em 1em;
  /*position: fixed;*/
  z-index: 100;
  width: 100%;
  color:#f1f1f1;
  margin-bottom: 1em;

}
.nav-bar svg {
  cursor: pointer;
}

/* The Overlay (background) */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #343a40;
  /*background-color: rgba(0,0,0, 0.9); */
  overflow-y: hidden;
  transition: 0.5s;
}

.dropdown{
  height: 200px;
  width: 170px;
  position: fixed!important;
  z-index: 100;
  right: 0%;
  top: 5%;
  background-color: #343a40;
  transition: 0.5s;
  overflow-y: hidden;
}

/*.show{*/
  /*height: 200px;*/
/*}*/

.overlay-header .form-control{
  color: #f1f1f1;
  background-color: #495057!important;
  border: none!important;
}

.overlay-header .form-control:focus{
  color: #f1f1f1!important;
}
.overlay-header {
  position: relative;
  top: 5%;
  width: 100%;
  padding: 1em;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  padding: 0 1em;
}

.overlay span,
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid #818181;
}

.overlay a:last-child{
  border-bottom: none;

}

.overlay a:hover, .overlay a:focus, .dropdown a:hover, .dropdown a:focus {
  color: #818181;
  text-decoration: none;
}

.overlay .closebtn {
  position: absolute;
  top: -25px;
  font-size: 50px;
  border-bottom: none;
  font-weight: 100;
}

.dropdown a,
.dropdown span {
  padding: 9px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.filterBodyClose{
    height: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 3em;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
    border-bottom-left-radius:0.25rem;
    border-bottom-right-radius:0.25rem;
}

.filterBodyOpen{
    height: 250px!important;
    position: initial!important;
}


@media screen and (min-width: 576px) {
  .infoText, .infoNum{
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  .infoNum{
    font-size: 1.5rem;
  }
  .infoText{
    font-size:15px
  }
}