.centerMenu{
  text-align: -webkit-center;
}

.login-control{
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  appearance: none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  -webkit-transition : border-color 2s; 
  -moz-transition : border-color 2s;
  transition : border-color 2s  ;
}

.login-group{
  padding: .5em;
  display: table;
}
label{
  display: table-header-group!important;
}
.icon{
  position: absolute;
  right: 10%;
  bottom: 40.5%
}
.card{
  padding: 2em;
  width: 370px;
  text-align: left;
  margin-top: 7em;
}

.card, .card a{
  color: #747474;
  font-weight: 100;
}

input[type="checkbox"]{
  margin-right: .5em
}

input:focus, select:focus{
  outline: none;
  border-bottom:2px solid #343a40;
}

input:focus+label ,select:focus+label  {
  color: #343a40;
  font-weight: bold;
}

.focusClass{
  color: #343a40;
  font-weight: bold;
}

