include ./partner-setting-platform-select
form.margin-top-5(name="formPartnerCommission" ng-if='vm.platformInSetting' novalidate)
    .col-md-12
        .panel(style="box-shadow: none;")
            .panel-body
                //label.margin-right-5 {{'customizePartnerCommission' | translate}}
                    input.pull-left.margin-right-5(type='radio', ng-model='vm.isMultiLevelCommission', ng-click='vm.selectedCommissionTab(vm.commissionSettingTab, null, vm.isMultiLevelCommission);vm.getCommissionRateGameProviderGroup();', ng-value='false', ng-checked='!vm.multiLvlSelected')
                //label.margin-right-5 {{'customizeMultiLevelPartnerCommission' | translate}}
                    input.pull-left.margin-right-5(type='radio', ng-model='vm.isMultiLevelCommission', ng-click='vm.selectedCommissionTab(vm.commissionSettingTab, null, vm.isMultiLevelCommission);vm.getCommissionRateGameProviderGroup();', ng-value='true', ng-checked='vm.multiLvlSelected')
                .padding-all-5
                    .panel.panel-primary
                        .panel-heading.common-left-panel-heading
                            ul.nav.nav-tabs.common-nav-tabs
                                li(ng-class='{active: vm.commissionSettingTab == "DAILY_CONSUMPTION" || !vm.commissionSettingTab}')
                                    a.common-tab(data-toggle="tab", ng-click="vm.selectedCommissionTab('DAILY_CONSUMPTION', null, vm.isMultiLevelCommission);")
                                        text.span {{"DAILY_CONSUMPTION" | translate}}
                                li(ng-class='{active: vm.commissionSettingTab == "WEEKLY_BONUS_AMOUNT"}')
                                    a.common-tab(data-toggle="tab", ng-click="vm.selectedCommissionTab('WEEKLY_BONUS_AMOUNT', null, vm.isMultiLevelCommission);")
                                        text.span {{"WEEKLY_BONUS_AMOUNT" | translate}}
                                li(ng-class='{active: vm.commissionSettingTab == "MONTHLY_BONUS_AMOUNT"}')
                                    a.common-tab(data-toggle="tab", ng-click="vm.selectedCommissionTab('MONTHLY_BONUS_AMOUNT', null, vm.isMultiLevelCommission);")
                                        text.span {{"MONTHLY_BONUS_AMOUNT" | translate}}
                                //li
                                    a.common-tab(data-toggle="tab", ng-click="vm.selectedCommissionTab('BIWEEKLY_BONUS_AMOUNT');")
                                        text.span {{"BIWEEKLY_BONUS_AMOUNT" | translate}}
                                //li
                                    a.common-tab(data-toggle="tab", ng-click="vm.selectedCommissionTab('MONTHLY_BONUS_AMOUNT');")
                                        text.span {{"MONTHLY_BONUS_AMOUNT" | translate}}
                                //li
                                    a.common-tab(data-toggle="tab", ng-click="vm.selectedCommissionTab('WEEKLY_CONSUMPTION');")
                                        text.span {{"WEEKLY_CONSUMPTION" | translate}}

                        .panel-body.common-right-panel-body
                            div.tab-content
                                h4 {{'Partner Commission Info' | translate}}

                                div(ng-repeat="gpg in vm.partnerCommission.gameProviderGroup track by $index")
                                    table.simple-table(style='width:auto;min-width:99.9%')
                                        thead
                                            tr
                                                th(colspan=6) {{gpg.name | translate}}{{'Commission'| translate}}:{{vm.commissionSettingTab | translate}}
                                            tr
                                                th(colspan=2) {{vm.playerConsumptionTableHeader | translate}}
                                                th(colspan=2) {{vm.activePlayerTableHeader | translate}}
                                                th(rowspan=2) {{'Commission Rate' | translate}}
                                                th(rowspan=2) {{'ACTION_BUTTON' | translate}}
                                            tr
                                                th {{'From' | translate}}
                                                th {{'To' | translate}}
                                                th {{'From' | translate}}
                                                th {{'To' | translate}}
                                        tbody
                                            tr(ng-repeat='commissionSetting in gpg.showConfig.commissionSetting track by $index')
                                                td
                                                    input.form-control(type='number', ng-model='commissionSetting.playerConsumptionAmountFrom' ng-disabled='!commissionSetting.isEditing' ng-change="vm.updateCommissionChangeGroup(gpg.name)")
                                                td
                                                    input.form-control(type='number', ng-if='commissionSetting.playerConsumptionAmountTo || commissionSetting.isEditing || commissionSetting.isCreateNew', ng-model='commissionSetting.playerConsumptionAmountTo' ng-disabled='!commissionSetting.isEditing' ng-change="vm.updateCommissionChangeGroup(gpg.name)")
                                                    input.form-control(style='text-align: right' type='text', ng-if='!commissionSetting.playerConsumptionAmountTo && !commissionSetting.isEditing && !commissionSetting.isCreateNew', value='-', disabled)
                                                td
                                                    input.form-control(type='number', ng-model='commissionSetting.activePlayerValueFrom' ng-disabled='!commissionSetting.isEditing' ng-change="vm.updateCommissionChangeGroup(gpg.name)")
                                                td
                                                    input.form-control(type='number', ng-if='commissionSetting.activePlayerValueTo || commissionSetting.isEditing || commissionSetting.isCreateNew', ng-model='commissionSetting.activePlayerValueTo', ng-disabled='!commissionSetting.isEditing' ng-change="vm.updateCommissionChangeGroup(gpg.name)")
                                                    input.form-control(style='text-align: right' type='text', ng-if='!commissionSetting.activePlayerValueTo && !commissionSetting.isEditing && !commissionSetting.isCreateNew', value='-', disabled)
                                                td
                                                    span.percentage
                                                        input(type='number', step='0.01' style="display: inline-block", ng-model='commissionSetting.commissionRate' ng-disabled='!commissionSetting.isEditing')
                                                td
                                                    a(href="" ng-if="!commissionSetting.isEditing && !commissionSetting.isCreateNew" ng-click="vm.commissionSettingEditRow($index, gpg.showConfig.commissionSetting)", style="cursor:pointer") {{'Edit' | translate}}
                                                    a(href="" ng-if="commissionSetting.isEditing && !commissionSetting.isCreateNew" ng-click="vm.commissionSettingCancelRow($index, gpg.showConfig.commissionSetting, gpg.srcConfig.commissionSetting, true, false)", style="cursor:pointer") {{'CANCEL' | translate}}
                                                    text(ng-if="!commissionSetting.isCreateNew") /
                                                    a(href="", ng-if='vm.isSettingExist', ng-click="vm.commissionSettingNewRow(gpg.showConfig.commissionSetting, $index)", style="cursor:pointer") {{'INSERT' | translate}}
                                                    a(href="", ng-if='!vm.isSettingExist', style="pointer-events:none;") {{'INSERT' | translate}}
                                                    text /
                                                    a(href="", ng-if='vm.isSettingExist', ng-click="vm.commissionSettingDeleteRow($index, gpg.showConfig.commissionSetting)", style="cursor:pointer") {{'DELETE' | translate}}
                                                    a(href="", ng-if='!vm.isSettingExist', style="pointer-events:none;") {{'DELETE' | translate}}
                                                    text(ng-if='gpg._id') /
                                                    a(href="", ng-if='gpg._id', ng-click="vm.resetGroupPartnerCommissionRate(gpg._id)", style="cursor:pointer") {{'Sync' | translate}}
                                        br
                                br
                                .pull-right
                                    button.btn.btn-primary.common-button(ng-if="vm.partnerCommission.isGameProviderIncluded && vm.partnerCommission.isEditing", ng-click='vm.isSetAllDisablePartnerConfigSetting(vm.partnerCommission.gameProviderGroup, false, true, vm.partnerCommission.gameProviderGroup)') {{'CANCEL' | translate}}
                                    button.btn.btn-primary.common-button(ng-if="vm.partnerCommission.isGameProviderIncluded && !vm.partnerCommission.isEditing", ng-click='vm.isSetAllDisablePartnerConfigSetting(vm.partnerCommission.gameProviderGroup, true, true)') {{'Edit' | translate}}
                                    button.btn.btn-primary.common-button(ng-if="vm.partnerCommission.isGameProviderIncluded && vm.partnerCommission.isEditing", ng-click='vm.submitPartnerCommissionConfigWithGameProviderGroup()') {{'SUBMIT' | translate}}
                                    button.btn.btn-primary.common-button(ng-click='vm.resetAllPartnerCustomizedCommissionRate()') {{'SYNC_ALL_COMMISSION_RATE' | translate}}
                                br
                                div(ng-if="vm.updateCommissionRateRequirement")
                                    text {{"Current update will remove the commission customization of relevant partners." | translate}}



    .col-md-12(ng-if='vm.commissionSettingTab != "DAILY_CONSUMPTION"')
        .panel(style="box-shadow: none;")
            .panel-body
                .padding-all-5
                    .panel.panel-primary
                        .panel-body.common-right-panel-body(style="min-height: 450px;")
                            div
                                h4 {{'Partner Rate Setting' | translate}}
                                table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
                                    thead
                                        tr
                                            th {{'NAME' | translate}}
                                            th {{'VALUE' | translate}}
                                    tbody
                                        tr
                                            td {{'Rate After Rebate Promo' | translate}}
                                            td
                                                span.percentage
                                                    input(style="display: inline-block", ng-model='vm.rateAfterRebatePromo', ng-change='vm.validateNumber(vm.rateAfterRebatePromo, "rateAfterRebatePromo")', ng-disabled='!vm.isCommissionRateEditing')
                                        tr
                                            td {{'Rate After Rebate Platform' | translate}}
                                            td
                                                span.percentage
                                                    input(style="display: inline-block", ng-model='vm.rateAfterRebatePlatform', ng-change='vm.validateNumber(vm.rateAfterRebatePlatform, "rateAfterRebatePlatform")', ng-disabled='!vm.isCommissionRateEditing')

                                        tr(ng-repeat='(idx,val) in vm.rateAfterRebateGameProviderGroup')
                                            td {{val.name | translate}}
                                            td
                                                span.percentage
                                                    input(style="display: inline-block", ng-model='val.rate', ng-change='vm.validateNumber(val.rate, "rateAfterRebateGameProviderGroup", idx)', ng-disabled='!vm.isCommissionRateEditing')
                                        tr
                                            td {{'Rate After Rebate Total Deposit' | translate}}
                                            td
                                                span.percentage
                                                    input(style="display: inline-block", ng-model='vm.rateAfterRebateTotalDeposit', ng-change='vm.validateNumber(vm.rateAfterRebateTotalDeposit, "rateAfterRebateTotalDeposit")', ng-disabled='!vm.isCommissionRateEditing')
                                        tr
                                            td {{'Rate After Rebate Total Withdrawal' | translate}}
                                            td
                                                span.percentage
                                                    input(style="display: inline-block", ng-model='vm.rateAfterRebateTotalWithdrawal', ng-change='vm.validateNumber(vm.rateAfterRebateTotalWithdrawal, "rateAfterRebateTotalWithdrawal")', ng-disabled='!vm.isCommissionRateEditing')
                                br
                                .pull-right
                                    button.btn.btn-primary.common-button(ng-if='vm.isCommissionRateEditing' ng-click='vm.cancelPartnerRateSetting()') {{'CANCEL' | translate}}
                                    button.btn.btn-primary.common-button(ng-if='!vm.isCommissionRateEditing' ng-click='vm.editPartnerRateSetting()') {{'Edit' | translate}}
                                    button.btn.btn-primary.common-button(ng-if='vm.isCommissionRateEditing' ng-click='vm.createUpdateCommissionRateSetting()') {{'SUBMIT' | translate}}

