div(style="background: #d3d3d34d; padding: 10px; margin: 10px; position:relative;")
    div(style="display: inline;")
        label {{'ADD_SCRIPT_DESCRIPTION' | translate}}
        br
        label.text-danger {{'Note: can be inter-switchable between CS Test and Production' | translate}}
    btn.btn.btn-success(style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);", ng-click="vm.scriptSetting(false, false)")
        span.fa.fa-pencil-square-o {{"ADD" | translate}}

div.fronendConfigDiv.popUpAdvModal(style="height: 60vh; min-height: 500px;")
    div.fronendConfigScrollDiv
        ul.connected-sortable.droppable-area1
            li(ng-repeat="item in vm.scriptSettingData", ng-dblclick="vm.scriptSetting(false, false, item._id)", id="{{item._id}}")
                div(style="padding: 0.5em; background-color: white; border-radius: 4px; margin: 1em 0; border: 1px solid rgb(190,190,190); text-align: center; position: relative;")
                    span(style="vertical-align: -webkit-baseline-middle;") {{item.title}}
                    div(style="display: inline-block; position: absolute; top: 50%; right: 0; transform: translateY(-50%); z-index: 100;")
                        button.btn.btn-primary(ng-if="item.isVisible" ng-click="item.isVisible = false") on
                        button.btn.btn-success(ng-if="!item.isVisible", ng-click="item.isVisible = true") off
                        button.btn.btn-danger.btn-delete(ng-click="vm.deleteFrontEndSetting(item._id)")
                            span.fa.fa-trash-o

div.text-right(style="position: absolute; bottom: 0; right: 0;")
    button.btn-danger.btn.btn-space(ng-click="vm.loadScriptSetting(vm.filterFrontEndSettingPlatform)") {{'CANCEL' | translate}}
    button#popUpAdvSaveButton.btn-primary.btn(ng-click="vm.updateScriptSetting()") {{'SAVE' | translate}}