div(style="background: #d3d3d34d; padding: 10px; margin: 10px; position:relative;")
    div(style="display: inline;")
        label {{'URL_CONFIGURATION' | translate}}
        br
        label.text-danger {{'URL_CONFIGURATION_NOTE' | translate}}

.full-width-input-block
    label {{"WEBSITE_TITLE"|translate}}
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.websiteTitle" placeholder="{{'Please insert title'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label {{"WEBSITE_NAME"|translate}}
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.websiteName" placeholder="{{'Please insert website name'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label {{"APP_DOWNLOAD"|translate}}

.full-width-input-block
    label {{"ANDROID"|translate}}
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.androidAppUrl" placeholder="{{'Please insert app（android）download url'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label {{"IOS"|translate}}
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.iosAppUrl" placeholder="{{'Please insert app（ios）download url'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label meta(KeyWords)
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.metaKeyword" placeholder="{{'Please insert meta(KeyWords)'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label meta(Description)
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.metaDescription" placeholder="{{'Please insert meta(Description)'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label {{"HORIZONTAL_SCREEN_STYLE_FILE"|translate}}
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.horizontalScreenStyleFileUrl" placeholder="{{'Please insert horizontal screen style file url'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label favicon
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.faviconUrl" placeholder="{{'Please insert favicon(link-icon) image url'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label {{"Website Logo"|translate}}
    div.inline-block
        input.form-control(type="text" ng-model="vm.frontEndUrlConfig.websiteLogo" placeholder="{{'Please insert website logo image url'|translate}}" ng-change="vm.urlConfigShowMessage=''")

.full-width-input-block
    label {{"Current Skin(PC)"|translate}}
    div.inline-block
        select.form-control(ng-model='vm.frontEndUrlConfig.pcSkin' ng-change="vm.urlConfigShowMessage=''")
            option(ng-repeat='(i,v) in vm.frontEndSkinSetting', ng-if="v.device==1", value='{{v._id}}') {{v.name}}

.full-width-input-block
    label {{"Current Skin(H5)"|translate}}
    div.inline-block
        select.form-control(ng-model='vm.frontEndUrlConfig.h5Skin' ng-change="vm.urlConfigShowMessage=''")
            option(ng-repeat='(i,v) in vm.frontEndSkinSetting', ng-if="v.device==2", value='{{v._id}}') {{v.name}}

.full-width-input-block
    label {{"Current Skin(APP)"|translate}}
    div.inline-block
        select.form-control(ng-model='vm.frontEndUrlConfig.appSkin' ng-change="vm.urlConfigShowMessage=''")
            option(ng-repeat='(i,v) in vm.frontEndSkinSetting', ng-if="v.device==4", value='{{v._id}}') {{v.name}}

.full-width-input-block
    label {{ "htmlTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.htmlTextColor")

.full-width-input-block
    label {{ "textColor1" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.textColor1")

.full-width-input-block
    label {{ "textColor2" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.textColor2")

.full-width-input-block
    label {{ "mainNavTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.mainNavTextColor")

.full-width-input-block
    label {{ "mainNavActiveTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.mainNavActiveTextColor")

.full-width-input-block
    label {{ "mainNavActiveBorderColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.mainNavActiveBorderColor")

.full-width-input-block
    label {{ "navTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.navTextColor")

.full-width-input-block
    label {{ "navActiveTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.navActiveTextColor")

.full-width-input-block
    label {{ "formBgColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.formBgColor")

.full-width-input-block
    label {{ "formLabelTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.formLabelTextColor")

.full-width-input-block
    label {{ "formInputTextColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.formInputTextColor")

.full-width-input-block
    label {{ "formBorderBottomColor" | translate}}
    div.inline-block
        input(type="color" value="#ff0000" ng-model="vm.frontEndUrlConfig.formBorderBottomColor")

.full-width-input-block()
    button.btn.btn-success(style="float: right;" ng-click='vm.saveFrontEndUrlConfig()') {{"SAVE_SETTING" | translate}}
    span(style='display:inline-block; float: right; margin-top: 8px; margin-right: 10px') {{vm.urlConfigShowMessage | translate}}




