button.btn-primary.btn.btn-space(ng-click="vm.getPopularRecommendationSettingDevice('1')") {{'PC' | translate}}
button.btn-primary.btn.btn-space(ng-click="vm.getPopularRecommendationSettingDevice('2')") {{'H5' | translate}}
button.btn-primary.btn.btn-space(ng-click="vm.getPopularRecommendationSettingDevice('4')") {{'App' | translate}}


div(style="background: #d3d3d34d; padding: 10px; margin: 10px; position:relative;")
    div(style="display: inline;")
        label {{'Setting For First Page' | translate}}
        br
        label.text-danger {{'Note: only allow to add, delete, move, double click to edit' | translate}}
    btn.btn.btn-success(style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);", ng-click="vm.initPopularRecommendationSetting()")
        span.fa.fa-pencil-square-o {{"ADD" | translate}}
div.col-md-4.fronendConfigDiv
    span(style='font-weight: bold;') {{'Navigation_Bar' | translate}}
    ul.connected-sortable.droppable-area1
        li.draggable-item(ng-repeat="one in vm.frontEndPopularRecommendationData", ng-if="one.category == 1 && one.device == vm.popularDevice", ng-dblclick="vm.editPopularRecommendationSetting(one._id)", id="{{one._id}}")
            img(ng-src="{{one.imageUrl}}" width="100%" height="80px")
            .tab-btngroup
                button.btn.btn-primary(ng-if="one.isVisible" ng-click="one.isVisible = false") on
                button.btn.btn-success(ng-if="!one.isVisible", ng-click="one.isVisible = true") off
                button.btn.btn-danger.btn-delete(id="{{one._id}}")
                    span.fa.fa-trash-o

div.col-md-4.fronendConfigDiv
    span(style='font-weight: bold;') {{'Body' | translate}}
    ul.connected-sortable.droppable-area2
        li.draggable-item(ng-repeat="two in vm.frontEndPopularRecommendationData", ng-if="two.category == 2 && two.device == vm.popularDevice", ng-dblclick="vm.editPopularRecommendationSetting(two._id)" id="{{two._id}}")
            img(ng-src="{{two.imageUrl}}" width="100%" height="80px")
            .tab-btngroup
                button.btn.btn-primary(ng-if="two.isVisible" ng-click="two.isVisible = false") on
                button.btn.btn-success(ng-if="!two.isVisible", ng-click="two.isVisible = true") off
                button.btn.btn-danger.btn-delete(id="{{two._id}}")
                    span.fa.fa-trash-o

div.col-md-4.fronendConfigDiv
    span(style='font-weight: bold;') {{'Bottom_Banner' | translate}}
    ul.connected-sortable.droppable-area3
        li.draggable-item(ng-repeat="three in vm.frontEndPopularRecommendationData", ng-if="three.category == 3 && three.device == vm.popularDevice", ng-dblclick="vm.editPopularRecommendationSetting(three._id)" id="{{three._id}}")
            img(ng-src="{{three.imageUrl}}" width="100%" height="80px")
            .tab-btngroup
                button.btn.btn-primary(ng-if="three.isVisible" ng-click="three.isVisible = false") on
                button.btn.btn-success(ng-if="!three.isVisible", ng-click="three.isVisible = true") off
                button.btn.btn-danger.btn-delete(id="{{three._id}}")
                    span.fa.fa-trash-o

div.text-right
    button.btn-danger.btn.btn-space(ng-click="vm.frontEndDeletedList=[];vm.loadPopularRecommendationSetting(vm.filterFrontEndSettingPlatform)") {{'CANCEL' | translate}}
    button#testSave.btn-primary.btn.btn-space(ng-click="vm.updatePopularRecommendationSetting()") {{'SAVE' | translate}}
