.row
    .col-md-4
        .panel.panel-primary
            .panel-heading
                .fa.fa-file-text.margin-right-5
                label {{"SUPPORTED_FILE_FORMAT" | translate}}:
                |  .csv
            .panel-body
                div
                    form
                        input(type='file', name='file' on-read-file='vm.uploadPhoneFileCSV($fileContent); vm.showContentCSV($fileContent)', ng-click="vm.phoneNumCSVResult=false;")
                        br
                        .well(ng-if='vm.contentCSV')
                            label {{"CONTENT_CSV" | translate}}:
                            p {{vm.contentCSV}}
                        .pull-right
                            button.btn.btn-primary.common-button(ng-click="vm.phoneNumCSVResult=true;")
                                i.fa.fa-check
                                text {{"SUBMIT" | translate}}
                // display result
                div(ng-if="vm.phoneNumCSVResult")
                    br
                    label {{"RESULT" | translate}}:
                    .well
                        label {{"DUPLICATE_PHONE" | translate}}:
                        p {{vm.samePhoneCSV}}
                    .well
                        label {{"NON_DUPLICATE_PHONE" | translate}}:
                        p {{vm.diffPhoneCSV}}
                    .pull-right
                        button.btn.btn-primary.common-button(type='button', ng-csv='vm.diffPhoneCSVArray', filename='phoneNumber.csv', ng-click='vm.phoneNumCSVResult=true;')
                            i.fa.fa-check
                            text {{"EXPORT_CSV" | translate}}

    .col-md-4
        .panel.panel-primary
            .panel-heading
                .fa.fa-file-text.margin-right-5
                label {{"SUPPORTED_FILE_FORMAT" | translate}}:
                |  .txt
            .panel-body
                input#fileSelect(type='file', accept='text/plain')
                br
                .pull-right
                    button.btn.btn-primary.common-button
                        i.fa.fa-check
                        text {{"SUBMIT" | translate}}

    .col-md-4
        .panel.panel-primary
            .panel-heading
                .fa.fa-phone.margin-right-5
                label {{"ADD_PHONE_NUMBER_FILTER" | translate}}
            .panel-body
                label {{"ADD_PHONE_NUMBER_FILTER_INSTRUCTION" | translate}}
                textarea.form-control(rows='5', placeholder="14444444444, 15555555555, 16666666666", ng-model="vm.inputNewPhoneNum")
                br
                .pull-right
                    button.btn.btn-primary.common-button(ng-click="vm.phoneNumListResult=true; vm.comparePhoneNum(vm.inputNewPhoneNum);")
                        i.fa.fa-check
                        text {{"SUBMIT" | translate}}
                // display result
                div(ng-if="vm.phoneNumListResult")
                    br
                    label {{"RESULT" | translate}}:
                    .well
                        label {{"DUPLICATE_PHONE" | translate}}:
                        p {{vm.samePhoneList}}
                    .well
                        label {{"NON_DUPLICATE_PHONE" | translate}}:
                        p {{vm.diffPhoneList}}

