.row
    .col-md-12
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedAuctionSystemTab === "createProduct"}', ng-click='vm.auctionSystemTabClicked("createProduct")')
            span {{"CREATE_PRODUCT" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedAuctionSystemTab === "monitoringSystem"}', ng-click='vm.auctionSystemTabClicked("monitoringSystem")')
            span {{"MONITORING_SYSTEM" | translate}}

    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"auctionSystem" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedAuctionSystemTab')
                    label.text-danger {{'Please select a type' | translate}}

                // Tab - createProduct
                div(ng-if='vm.selectedAuctionSystemTab=="createProduct" && checkViewPermission("Platform", "auctionSystem", "createProduct")')


                // Tab - monitoringSystem
                div(ng-if='vm.selectedAuctionSystemTab=="monitoringSystem" && checkViewPermission("Platform", "auctionSystem", "monitoringSystem")')
