.row
    .col-md-12
        .well#smsRecordQueryDiv
            .inlineBlk
                label.control-label {{'ACCOUNT' | translate}}
                input.form-control(ng-model='vm.smsRecordQuery.recipientName')
            .inlineBlk
                label.control-label {{'PHONENUMBER' | translate}}
                input.form-control(ng-model='vm.smsRecordQuery.phoneNumber', ng-blur="vm.submitSMSRecordQuery(true)")
            .inlineBlk
                label {{"Type"|translate}}
                select.form-control(ng-model="vm.smsRecordQuery.purpose", ng-options='v | translate for (i,v) in vm.allSMSPurpose')
                    option(value='') {{'all'|translate}}
            .inlineBlk(ng-if='vm.smsRecordQuery.purpose === "demoAccount"')
                label {{"ACCOUNT_STATUS"|translate}}
                select.form-control(ng-model="vm.smsRecordQuery.accountStatus", ng-options='v | translate for (i,v) in vm.allAccountStatus')
                    option(value='') {{'all'|translate}}
            .inlineBlk
                label {{"DEVICE"|translate}}
                select.form-control(ng-model="vm.smsRecordQuery.inputDevice")
                    option(value='') {{'all'|translate}}
                    option(value=1) {{'Web Player'|translate}}
                    option(value=2) {{'Web Agent'|translate}}
                    option(value=3) {{'HTML5 Player'|translate}}
                    option(value=4) {{'HTML5 Agent'|translate}}
                    option(value=5) {{'APP Player'|translate}}
                    option(value=6) {{'APP Agent'|translate}}
            .inlineBlk
                label.control-label {{'Start date' | translate}}
                .startTime
            .inlineBlk
                label.control-label {{'End date' | translate}}
                .endTime

            button.btn.btn-primary(ng-if="checkViewPermission('Platform', 'vertificationSMS', 'Read')",ng-click='vm.submitSMSRecordQuery(true)') {{"SEARCH" | translate}}
            i#loadVertificationSMSIcon.fa.fa-refresh.fa-spin.collapse.margin-left-5.text-danger.fa-2x
.row.margin-top-bottom-small(ng-show='!vm.selectedPlatform')
    .text-center.text-danger
        label {{"NO_PLATFORM_MESSAGE" | translate}}
.row.margin-top-bottom-small(ng-show='vm.selectedPlatform')
    .col-md-12
        label.margin-left-5 {{"total" | translate}} {{vm.smsRecordQuery.totalCount}} {{"records" | translate}}
        table#vertificationSMSRecordTable.display.common-table(style='min-width:100%;width:100%')
        #vertificationSMSRecordTablePage
