.row
    .col-md-12
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsRule"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRule")')
            span {{"REWARD_POINTS_RULE" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "loginRewardPoints"}', ng-click='vm.rewardPointsTabClicked("loginRewardPoints")')
            span {{"LOGIN_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "topupRewardPoints"}', ng-click='vm.rewardPointsTabClicked("topupRewardPoints")')
            span {{"TOPUP_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "gameRewardPoints"}', ng-click='vm.rewardPointsTabClicked("gameRewardPoints")')
            span {{"GAME_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsRanking"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRanking")')
            span {{"REWARD_POINTS_RANKING_BOARD" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsLog"}', ng-click='vm.rewardPointsTabClicked("rewardPointsLog")')
            span {{"REWARD_POINTS_LOG" | translate}}

    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"rewardPoint" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedRewardPointTab')
                    label.text-danger {{'Please select a type' | translate}}

                // Tab - rewardPointsRule
                div#createPromoCodePage(ng-if='vm.selectedRewardPointTab=="rewardPointsRule" && checkViewPermission("Platform", "rewardPoints", "rewardPointsRule")')
                    .full-width-input-block
                        label {{"intervalPeriod" | translate}}
                        select.form-control(ng-model='vm.rewardPointsLvlConfig.intervalPeriod' ng-change='vm.rewardPointsLvlConfigPeriodChange()' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!vm.isRewardPointsLvlConfigEditing', required)
                    .full-width-input-block(style='padding-left:50%' ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6")
                        div.dateTimePicker(id="rewardPointsLvlConfigStartDate" style="display: inline-block; width: 48%" ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6")
                        span(ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6" style='font-size:23px') &nbsp;{{ 'to' | translate}}&nbsp;
                        div.dateTimePicker(id="rewardPointsLvlConfigEndDate" style="display: inline-block; width: 48%" ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6")
                    .full-width-input-block
                        label {{"applyMethod" | translate}}
                        select.form-control(ng-model='vm.rewardPointsLvlConfig.applyMethod' ng-options="+(i) as v | translate for (i,v) in constRewardPointsApplyMethod" ng-disabled='!vm.isRewardPointsLvlConfigEditing', required)
                    br
                    br
                    table.simple-table(style="width:100%")
                        thead
                            tr
                                th {{'playerLevel' | translate}}
                                th {{'dailyMaxPoints' | translate}}
                                th {{'pointToCreditManualRate (N points : 1 Credit)' | translate}}
                                th {{'pointToCreditManualMaxPoints' | translate}}
                                th {{'pointToCreditAutoRate (N points : 1 credit)' | translate}}
                                th {{'pointToCreditAutoMaxPoints' | translate}}
                                th {{'spendingAmountOnReward' | translate}}
                                th {{'providerGroup' | translate}}
                        tbody
                            tr(ng-repeat='(idx,val) in vm.rewardPointsLvlConfig.params')
                                td(ng-repeat='(k,v) in vm.allPlayerLvl' ng-if='val.levelObjId==v._id') {{v.name}}
                                td
                                    input.form-control(type='number' ng-model='val.dailyMaxPoints' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditManualRate' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditManualMaxPoints' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditAutoRate' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditAutoMaxPoints' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.spendingAmountOnReward' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    select.form-control(ng-model="val.providerGroup" ng-options="v._id as v.name | translate for (i,v) in vm.gameProviderGroup" ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                        option(value='')
                    br
                    .pull-right
                        button.btn.btn-danger.common-button(ng-if='vm.isRewardPointsLvlConfigEditing' ng-click='vm.rewardPointsLvlConfigSetDisable(true);vm.rewardPointsTabClicked("rewardPointsRule")') {{'CANCEL' | translate}}
                        button.btn.btn-primary.common-button(ng-if='vm.isRewardPointsLvlConfigEditing' ng-click='vm.rewardPointsLvlConfigSubmit()') {{'CONFIRM' | translate}}
                        button.btn.btn-primary.common-button(ng-if='!vm.isRewardPointsLvlConfigEditing' ng-click='vm.rewardPointsLvlConfigSetDisable(false);')
                            text {{'EDIT' | translate}}
                            img.img-edit


                // Tab - loginRewardPoints
                div#createLoginRewardPoints(ng-if='vm.selectedRewardPointTab=="loginRewardPoints" && checkViewPermission("Platform", "rewardPoints", "loginRewardPoints")')
                    table.simple-table(style="width:100%")
                        thead
                            tr
                                th {{'rewardPointsCategory' | translate}}
                                th {{'refreshPeriod' | translate}}
                                th {{'displayOrder' | translate}}
                                th {{'userAgent' | translate}}
                                th {{'targetDestination' | translate}}
                                th {{'consecutiveCount' | translate}}
                                th {{'rewardPoints' | translate}}
                                th {{'rewardTitle' | translate}}
                                th {{'rewardContent' | translate}}
                                th
                        tbody
                            tr(ng-repeat="(idx,val) in vm.rewardPointsEvent | orderBy: 'index'")
                                td {{'loginRewardPoints' | translate}}
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.period' ng-change='vm.rewardPointsEventPeriodChange(idx,val)' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!val.isEditing' required)
                                    br(ng-if="val.period==6")
                                    div.dateTimePicker(id="rewardPointsEventStartDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                    div(ng-if="val.period==6") {{ 'to' | translate}}
                                    div.dateTimePicker(id="rewardPointsEventEndDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                td(style="min-width:80px;")
                                    input.form-control(type='number' style="width:100%;" ng-model='val.index' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.userAgent' ng-options="+(i) as v | translate for (i,v) in constPlayerRegistrationInterface" ng-disabled='!val.isEditing')
                                td
                                    select.spicker.form-control(ng-model="val.target.targetDestination" multiple, data-width='100%' data-actions-box='true' ng-disabled='!val.isEditing')
                                        option(style="display: inline-block" ng-repeat='(i,v) in vm.allGameProviders', value='{{v._id}}') {{v.name}}
                                td(style="min-width:60px;")
                                    input.form-control(type='number' ng-model='val.consecutiveCount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.rewardPoints' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    input.form-control(type='text' ng-model='val.rewardTitle' ng-disabled='!val.isEditing' required)
                                td(style="min-width:200px;")
                                    input.form-control(type='text' ng-model='val.rewardContent' ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    button.btn.btn-primary(ng-if='val.isEditing && !val._id' ng-click='vm.createRewardPointsEvent(val);vm.endLoadWeekDay();' ng-disabled='!(val.rewardTitle && val.period)' style='margin: 0 5px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-primary(ng-if='val.isEditing && val._id' ng-click='vm.updateRewardPointsEvent(idx,val);' ng-disabled='!(val.rewardTitle && val.period)' style='margin: 0 5px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-danger(ng-if='val.isEditing' ng-click='vm.rewardPointsTabClicked("loginRewardPoints");' style='margin: 0 5px;') {{'CANCEL' | translate}}
                                    button.btn.btn-primary(ng-if='!val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,false);' style='margin: 0 5px;') {{'EDIT' | translate}}
                                    button.btn.btn-danger(ng-if='!val.isEditing' data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click="vm.deletingRewardPointsEvent=val" style='margin: 0 5px;') {{'DELETE' | translate}}
                                    button.btn.btn-warning(ng-if='!val.isEditing' ng-click='val.status = !val.status; vm.updateRewardPointsEvent(idx,val);' style='margin: 0 5px;') {{val.status? 'CLOSE':'OPEN' | translate}}

                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-click='vm.rewardPointsEventAddNewRow(constRewardPointsTaskCategory.LOGIN_REWARD_POINTS);vm.endLoadWeekDay();')
                            text {{'ADD' | translate}}
                            img.img-create


                //Tab - topupRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="topupRewardPoints" && checkViewPermission("Platform", "rewardPoints", "topupRewardPoints")')
                    table.simple-table(style="width:100%")
                        thead
                            tr
                                th {{'rewardPointsCategory' | translate}}
                                th {{'intervalPeriod' | translate}}
                                th {{'displayOrder' | translate}}
                                th {{'userAgent' | translate}}
                                th {{'topupType' | translate}}
                                th {{'OnlineTopUpType' | translate}}
                                th {{'depositMethod' | translate}}
                                th {{'ToBankTypeId' | translate}}
                                th {{'dailyTopupAmount' | translate}}
                                th {{'consecutiveCount' | translate}}
                                th {{'rewardPoints' | translate}}
                                th {{'rewardTitle' | translate}}
                                th {{'rewardContent' | translate}}
                                th
                        tbody
                            tr(ng-repeat="(idx,val) in vm.rewardPointsEvent | orderBy: 'index'")
                                td(style="min-width:70px;") {{'TOPUP_REWARD_POINTS' | translate}}
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.period' ng-change='vm.rewardPointsEventPeriodChange(idx,val)' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!val.isEditing')
                                    br(ng-if="val.period==6")
                                    div.dateTimePicker(id="rewardPointsEventStartDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                    div(ng-if="val.period==6") {{ 'to' | translate}}
                                    div.dateTimePicker(id="rewardPointsEventEndDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.index' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.userAgent' ng-options="+(i) as v | translate for (i,v) in userAgentType" ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.target.merchantTopupMainType' ng-options="+(i) as v | translate for (i,v) in merchantTopupMainTypeJson" ng-disabled='!val.isEditing')
                                td(style="min-width:140px;")
                                    select.form-control(ng-model='val.target.merchantTopupType' ng-options="+(i) as v | translate for (i,v) in merchantTopupTypeJson" ng-disabled='!val.isEditing')
                                td(style="min-width:180px;")
                                    select.form-control(ng-model='val.target.depositMethod' ng-options="+(i) as v | translate for (i,v) in depositMethod" ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    select.form-control(ng-model='val.target.bankType' ng-options="+(i) as v | translate for (i,v) in vm.allBankTypeList" ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.target.dailyTopupAmount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.consecutiveCount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.rewardPoints' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    input.form-control(type='text' ng-model='val.rewardTitle' ng-disabled='!val.isEditing')
                                td(style="min-width:185px;")
                                    input.form-control(type='text' ng-model='val.rewardContent' ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    button.btn.btn-primary(ng-if='val.isEditing && !val._id' ng-click='vm.createRewardPointsEvent(val);vm.endLoadWeekDay();' ng-disabled='!(val.rewardTitle && val.period)' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-primary(ng-if='val.isEditing && val._id' ng-click='vm.updateRewardPointsEvent(idx,val);' ng-disabled='!(val.rewardTitle && val.period)' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-danger(ng-if='val.isEditing' ng-click='vm.rewardPointsTabClicked("topupRewardPoints");' style='margin: 1px 1px;') {{'CANCEL' | translate}}
                                    button.btn.btn-primary(ng-if='!val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,false);' style='margin: 1px 1px;') {{'EDIT' | translate}}
                                    button.btn.btn-danger(ng-if='!val.isEditing' data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click="vm.deletingRewardPointsEvent=val" style='margin: 1px 1px;') {{'DELETE' | translate}}
                                    button.btn.btn-warning(ng-if='!val.isEditing' ng-click='val.status = !val.status; vm.updateRewardPointsEvent(idx,val);' style='margin: 1px 1px;') {{val.status? 'CLOSE':'OPEN' | translate}}
                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-click='vm.rewardPointsEventAddNewRow(constRewardPointsTaskCategory.TOPUP_REWARD_POINTS);vm.endLoadWeekDay();')
                            text {{'ADD' | translate}}
                            img.img-create

                // Tab - gameRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="gameRewardPoints" && checkViewPermission("Platform", "rewardPoints", "gameRewardPoints")')
                    table.simple-table(style="width:100%;font-size: 13px;")
                        thead
                            tr
                                th {{'rewardPointsCategory' | translate}}
                                th {{'refreshPeriod' | translate}}
                                th {{'displayOrder' | translate}}
                                th {{'userAgent' | translate}}
                                th {{'targetDestination' | translate}}
                                th {{'gameType' | translate}}
                                th {{'betType' | translate}}

                                th {{'dailyConsumptionCount' | translate}}
                                th {{'singleConsumptionAmountGreaterThan' | translate}}
                                th {{'dailyValidConsumptionAmount' | translate}}
                                th {{'dailyWinGameCount' | translate}}

                                th {{'consecutiveCount' | translate}}
                                th {{'rewardPoints' | translate}}
                                th {{'rewardTitle' | translate}}
                                th {{'rewardContent' | translate}}
                                th
                        tbody
                            tr(ng-repeat="(idx,val) in vm.rewardPointsEvent | orderBy: 'index'")
                                td(style="min-width:70px;") {{'gameRewardPoints' | translate}}
                                td(style="min-width:190px;")
                                    select.form-control(ng-model='val.period' ng-change='vm.rewardPointsEventPeriodChange(idx,val)' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!val.isEditing' required)
                                    br(ng-if="val.period==6")
                                    div.dateTimePicker(id="rewardPointsEventStartDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                    div(ng-if="val.period==6") {{ 'to' | translate}}
                                    div.dateTimePicker(id="rewardPointsEventEndDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                td(style="min-width:75px;")
                                    input.form-control(type='number' ng-model='val.index' ng-disabled='!val.isEditing')
                                td(style="min-width:105px;")
                                    select.form-control(ng-model='val.userAgent' ng-options="+(i) as v | translate for (i,v) in constPlayerRegistrationInterface" ng-disabled='!val.isEditing')
                                td(style="min-width:105px;")
                                    select.spicker.form-control(ng-model="val.target.targetDestination" multiple, data-width='100%' data-actions-box='true' ng-disabled='!val.isEditing')
                                        option(style="display: inline-block" ng-repeat='(i,v) in vm.allGameProviders', value='{{v._id}}') {{v.name}}
                                td(style="min-width:105px;")
                                    select.spicker.form-control(ng-model="val.target.gameType" multiple, data-width='100%' data-actions-box='true' ng-disabled='!val.isEditing')
                                        option(style="display: inline-block" ng-repeat='(i,v) in vm.allGameType', value='{{v._id}}') {{v.name}}
                                td(style="min-width:105px;")
                                    select.spicker.form-control(ng-model="val.target.betType" multiple, data-width='100%' data-actions-box='true' ng-disabled='!val.isEditing')
                                        option(style="display: inline-block" ng-repeat='(i,v) in vm.allGameBetType', value='{{v._id}}') {{v.name}}
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.dailyConsumptionCount' ng-change='val.target.dailyWinGameCount = val.target.dailyValidConsumptionAmount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.singleConsumptionAmount' ng-change='val.target.dailyWinGameCount = val.target.dailyValidConsumptionAmount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.dailyValidConsumptionAmount' ng-change='val.target.dailyWinGameCount = val.target.singleConsumptionAmount = val.target.dailyConsumptionCount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.dailyWinGameCount' ng-change='val.target.dailyConsumptionCount = val.target.singleConsumptionAmount = val.target.dailyValidConsumptionAmount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.consecutiveCount' ng-disabled='!val.isEditing')
                                td(style="min-width:90px;")
                                    input.form-control(type='number' ng-model='val.rewardPoints' ng-disabled='!val.isEditing')
                                td(style="min-width:135px;")
                                    input.form-control(type='text' ng-model='val.rewardTitle' ng-disabled='!val.isEditing' required)
                                td(style="min-width:185px;")
                                    input.form-control(type='text' ng-model='val.rewardContent' ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    button.btn.btn-primary(ng-if='val.isEditing && !val._id' ng-click='vm.createRewardPointsEvent(val);vm.endLoadWeekDay();' ng-disabled='!(val.rewardTitle && val.period)' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-primary(ng-if='val.isEditing && val._id' ng-click='vm.updateRewardPointsEvent(idx,val);' ng-disabled='!(val.rewardTitle && val.period)' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-danger(ng-if='val.isEditing' ng-click='vm.rewardPointsTabClicked("gameRewardPoints");' style='margin: 1px 1px;') {{'CANCEL' | translate}}
                                    button.btn.btn-primary(ng-if='!val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,false);' style='margin: 1px 1px;') {{'EDIT' | translate}}
                                    button.btn.btn-danger(ng-if='!val.isEditing' data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click="vm.deletingRewardPointsEvent=val" style='margin: 1px 1px;') {{'DELETE' | translate}}
                                    button.btn.btn-warning(ng-if='!val.isEditing' ng-click='val.status = !val.status; vm.updateRewardPointsEvent(idx,val);' style='margin: 1px 1px;') {{val.status? 'CLOSE':'OPEN' | translate}}

                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-click='vm.rewardPointsEventAddNewRow(constRewardPointsTaskCategory.GAME_REWARD_POINTS);vm.endLoadWeekDay();')
                            text {{'ADD' | translate}}
                            img.img-create

                // Tab - rewardPointsRanking
                div(ng-if='vm.selectedRewardPointTab=="rewardPointsRanking" && checkViewPermission("Platform", "rewardPoints", "rewardPointsRanking")')
                    table#rewardRankingTable.common-table.display(style="min-width:100% ;overflow: scroll")
                    #rewardRankingTablePage
                    div.block-query.col-md-12.well(style="margin-top:25px !important;")
                        label {{'FAKE_ACCOUNT_GENERATE' | translate}}
                        table.simple-table(style="width:100%")
                            thead
                                tr
                                    th {{'ACTION_BUTTON' | translate}}
                                    th {{'INSERT_FAKE_ACCOUNT' | translate}}
                                    th {{'FAKE_ACC_WORD_COUNT' | translate}}
                                    th {{'FAKE_ACC_COMBINATION' | translate}}
                                    th {{'INSERT_FAKE_REWARD_POINTS' | translate}}
                                    th {{'INSERT_FAKE_REWARD_COUNT' | translate}}
                                    th {{'LOWEST_RANDOM_LEVEL' | translate}}
                            tbody
                                //tr(ng-repeat='(idx,val) in vm.topupRewardPoints')
                                tr(ng-repeat="v in vm.playerRankingRandom track by $index")
                                    td
                                        i.fa.fa-minus(ng-click='vm.deleteRankingRandomRow($index)' ng-show ='vm.isEditRandomData')
                                    td
                                        input.form-control(type='text' ng-disabled ='!vm.isEditRandomData' ng-model='v.prefix')
                                    td
                                        input.form-control(style='width:80px;display:inline-block' type='number' ng-disabled ='!vm.isEditRandomData' ng-model='v.minAccountLength')
                                        div.text-center(style="width:15px;display:inline-block") ~
                                        input.form-control(style='width:80px;display:inline-block' type='number' ng-disabled ='!vm.isEditRandomData' ng-model='v.maxAccountLength')
                                    td
                                        div(style='display:inline-block')
                                            input.form-control(style='width:50px;display:inline-block' type='checkbox' ng-model='v.isRandomAlphabet' ng-disabled ='!vm.isEditRandomData')
                                            text(style='display:inline-block') {{'ENGLISH' | translate}}
                                        div(style='display:inline-block')
                                            input.form-control(style='width:50px;display:inline-block' type='checkbox' ng-model='v.isRandomDigit' ng-disabled ='!vm.isEditRandomData')
                                            text(style='display:inline-block') {{'DIGIT' | translate}}
                                    td
                                        input.form-control(style='width:40%;display:inline-block' type='number' ng-model='v.minRewardPoints' ng-disabled ='!vm.isEditRandomData')
                                        div.text-center(style="width:15px;display:inline-block") ~
                                        input.form-control(style='width:40%;display:inline-block' type='number' ng-model='v.maxRewardPoints' ng-disabled ='!vm.isEditRandomData' required)
                                    td
                                        input.form-control(type='number' style='width:80px;display:inline-block;text-align:center' ng-model='v.randomCount' ng-disabled ='!vm.isEditRandomData')
                                    td
                                        select.form-control(ng-model='v.lowestLevel', ng-options='v._id as v.name for (i,v) in vm.allPlayerLvl' ng-disabled ='!vm.isEditRandomData')
                        .pull-right
                            br
                            label &nbsp;
                            button.common-button.margin-right-5.btn.btn-primary(ng-click='vm.isEditRandomData = true' ng-if = "!vm.isEditRandomData && checkViewPermission('Platform', 'rewardPoints', 'Create')") {{'EDIT' | translate}}
                            button.btn.btn-warning.margin-right-5(ng-click='vm.isEditRandomData = false; vm.playerRankingRandom = vm.playerRankingRandomClone' ng-if = 'vm.isEditRandomData') {{'CANCEL' | translate}}
                            button.common-button.margin-right-5.btn.btn-primary(ng-click='vm.playerRankingRandom.push({})' ng-if = 'vm.isEditRandomData') {{'ADD' | translate}}
                            button.btn.btn-success(ng-click='vm.isEditRandomData = false; vm.submitRankingRandomConfig()' ng-if = 'vm.isEditRandomData') {{'CONFIRM' | translate}}
                            button.btn.btn-success(ng-click='vm.insertRandomData()' ng-if = "!vm.isEditRandomData && checkViewPermission('Platform', 'rewardPoints', 'Create')") {{'RANDOM_GENERATE' | translate}}
                    br
                    div(style="margin-top:25px;")
                        //label {{'INCLUDE_FAKE_ACC' | translate}}
                        table#rewardRankingRandomTable.common-table.display(style="min-width:100% ;overflow: scroll")
                        #rewardRankingRandomTablePage

                // Tab - rewardPointsLog
                div(ng-if='vm.selectedRewardPointTab=="rewardPointsLog" && checkViewPermission("Platform", "rewardPoints", "rewardPointsLog")')
                    .row
                        .col-md-12
                            .well.feedbackAdminQueryDiv
                                .inlineBlk
                                    label.control-label {{'Member Account' | translate}}
                                    input.form-control(type="text" ng-model="vm.rewardPointsLogQuery.playerName")
                                .inlineBlk
                                    label.control-label {{'Reward Points Proposal No' | translate}}
                                    input.form-control(type="number" ng-model="vm.rewardPointsLogQuery.proposalId")
                                .inlineBlk
                                    label.control-label {{'Reward Points Type' | translate}}
                                    select.form-control(ng-model='vm.rewardPointsLogQuery.category')
                                        option(value='all') {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in constRewardPointsLogCategory' value='{{i}}') {{ v | translate }}
                                .inlineBlk
                                    label.control-label {{'Reward Title' | translate}}
                                    input.form-control(type="text" ng-model="vm.rewardPointsLogQuery.rewardTitle")
                                .inlineBlk
                                    label.control-label {{'userAgent' | translate}}
                                    select.form-control(ng-model='vm.rewardPointsLogQuery.userAgent')
                                        option(value='all') {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in constPlayerRegistrationInterface' value='{{i}}') {{ v | translate }}
                                .inlineBlk
                                    label.control-label {{'Reward Point Variable' | translate}}
                                    div
                                        select.form-control(ng-model='vm.rewardPointsLogQuery.rewardPointsOperator' style="width:75px;display:inline-block")
                                            option(value='>=') >=
                                            option(value='=') =
                                            option(value='<=') <=
                                            option(value='range') {{'range' | translate}}
                                        div(style= "width:8px;display:inline-block")
                                        input.form-control(ng-model='vm.rewardPointsLogQuery.rewardPointsAmountOne' style="width:80px;display:inline-block" type = 'number')
                                        div.text-center(style="width:15px;display:inline-block" ng-if="vm.rewardPointsLogQuery.rewardPointsOperator === 'range'") ~
                                        input.form-control(type="number" ng-model="vm.rewardPointsLogQuery.rewardPointsAmountTwo" style="width:80px;display:inline-block" ng-if="vm.rewardPointsLogQuery.rewardPointsOperator === 'range'")
                                .inlineBlk
                                    label.control-label {{'Proposal Status' | translate}}
                                    select.form-control(ng-model='vm.rewardPointsLogQuery.status')
                                        option(value='all') {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in constRewardPointsLogStatus' value='{{i}}') {{ v | translate }}
                                button.btn.btn-primary(ng-if="checkViewPermission('Platform', 'rewardPoints', 'Read')",ng-click='vm.submitRewardPointsLogQuery(true)') {{"SEARCH" | translate}}
                                i#loadRewardPointsLogIcon.fa.fa-refresh.fa-spin.collapse.margin-left-5.text-danger.fa-2x
                    .row.margin-top-bottom-small
                        .col-md-12
                            label.margin-left-5 {{"total" | translate}} {{vm.allRewardPointsLog.size}} {{"records" | translate}}
                            table#allRewardPointsTable.display.common-table(style='min-width:100%;width:100%')
                            #allRewardPointsTablePage

#modalDeleteRewardPointsRandom.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_REWARD_POINTS" | translate}}  {{vm.selectedRandomRanking.playerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete reward points event"|translate}}
                                    strong.text-danger &nbsp;{{vm.deletingRewardPointsEvent.rewardTitle}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.deleteRandomRanking()') {{"DELETE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalEditRewardPointsRandom.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EDIT_REWARD_POINTS_RANKING" | translate}}  {{vm.selectedRandomRanking.playerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .form-group.col-md-6
                                    label.control-label {{"PLAYERNAME" | translate}}
                                    input.form-control(type="text", ng-model="vm.selectedRandomRanking.playerName")
                                .form-group.col-md-6
                                    label.control-label {{"PLAYER_LEVEL" | translate}}
                                    select.form-control(ng-model='vm.selectedRandomRanking.playerLevel._id', ng-options='v._id as v.name for (i,v) in vm.allPlayerLvl' )
                            .col-md-12
                                .form-group.col-md-6
                                    label.control-label {{"REWARD_POINTS_CURRENT" | translate}}
                                    input.form-control(type="Number", ng-model="vm.selectedRandomRanking.points")
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.editRandomRanking()') {{"UPDATE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalDeleteRewardPointsEvent.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_REWARD_POINTS" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete reward points event"|translate}}
                                    strong.text-danger &nbsp;{{vm.deletingRewardPointsEvent.rewardTitle}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.deleteRewardPointsEvent(vm.deletingRewardPointsEvent)') {{"DELETE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalRewardPointsLogDetail.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label(style="font-size: 1.5em;") {{ 'Reward Points' | translate}}
                        li.active
                            a(data-toggle="tab", href="#detail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                div
                                    .titleBackground.margin-bottom-5.text-center {{'Basic' | translate}}
                                    .label-value
                                        label {{'TITLE' | translate}}&nbsp;:&nbsp;
                                        label {{vm.rewardPointsLogDetail.category | translate}}
                                    .label-value
                                        label {{'STATUS' | translate}}&nbsp;:&nbsp;
                                        label {{vm.rewardPointsLogDetail.status | translate}}
                                    .label-value
                                        label {{'PROPOSAL_NO' | translate}}&nbsp;:&nbsp;
                                        label {{vm.rewardPointsLogDetail.proposalId || 'none' | translate}}
                                    .label-value
                                        label {{'CREATION_TIME' | translate}}&nbsp;:&nbsp;
                                        label {{vm.dateReformat(vm.rewardPointsLogDetail.createTime)}}

                                    div(style='min-height:30px')
                                        hr
                                div.proposalDataDetail(ng-switch="vm.selectedProposal.type.name")
                                    label {{'UPDATE_DETAIL' | translate}}
                                    div(ng-switch-default)
                                        table.table(style='width:100%')
                                            tr
                                                td {{ 'Reward Point ID' | translate}}
                                                td {{ vm.rewardPointsLogDetail.pointLogId }}
                                            tr
                                                td {{ 'Member Account' | translate}}
                                                td {{ vm.rewardPointsLogDetail.playerName }}
                                            tr
                                                td {{ 'Player Level' | translate}}
                                                td {{ vm.rewardPointsLogDetail.playerLevelName | translate }}
                                            tr(ng-if='vm.rewardPointsLogDetail.currentDayAppliedAmount != null')
                                                td {{ 'dailyMaxRewardPoint' | translate}}
                                                td {{ vm.rewardPointsLogDetail.currentDayAppliedAmount}} / {{vm.rewardPointsLogDetail.maxDayApplyAmount}}
                                            tr
                                                td {{ 'rewardPointsCategory' | translate}}
                                                td {{ vm.rewardPointsLogDetail.category | translate}}
                                            tr
                                                td {{ 'rewardPoints' | translate}}
                                                td {{ vm.rewardPointsLogDetail.amount }}
                                            tr(ng-if='vm.rewardPointsLogDetail.rewardPeriod')
                                                td {{ 'eventRefreshPeriod' | translate}}
                                                td {{ vm.rewardPointsLogDetail.rewardPeriod }}
                                            tr(ng-if='vm.rewardPointsLogDetail.rewardTitle')
                                                td {{ 'rewardTitle' | translate}}
                                                td {{ vm.rewardPointsLogDetail.rewardTitle }}
                                            tr(ng-if='vm.rewardPointsLogDetail.rewardContent')
                                                td {{ 'rewardContent' | translate}}
                                                td {{ vm.rewardPointsLogDetail.rewardContent }}
                                            tr
                                                td {{ 'remark' | translate}}
                                                td {{ vm.rewardPointsLogDetail.remark }}
                                            tr(ng-if='vm.rewardPointsLogDetail.proposal && vm.rewardPointsLogDetail.proposal.data.exchangeRatio')
                                                td {{ 'exchangeRatio' | translate}}
                                                td {{ vm.rewardPointsLogDetail.proposal.data.exchangeRatio }}
                                            tr(ng-repeat='(i,v) in vm.rewardPointsLogDetail.rewardTarget')
                                                td {{ i | translate}}
                                                td
                                                    div(ng-bind-html='v')


            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
