form(name="form_new_platform" ,novalidate)

    .well(ng-show="vm.selectedPlatformDetailTab != 'system-settlement'")
        .row
            div(name="backstage-settings", ng-show="vm.selectedPlatformDetailTab == 'backstage-settings'")
                div.form-group.col-md-6
                    label.control-label *{{"PLATFORM_NAME" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_NAME' | translate}}", ng-model="vm.showPlatform.name", required)
                div.form-group.col-md-6
                    label.control-label *{{"OPERATION_DEPARTMENT" | translate}}
                    select.form-control(ng-model="vm.showPlatform.department._id", required)
                        option(ng-repeat='(i,v) in vm.departments',value='{{v._id}}', ng-selected='vm.showPlatform.department._id==v._id') {{v.departmentName}}
                div.form-group.col-md-6
                    label.control-label *{{"PLATFORM_CODE" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_CODE' | translate}}", ng-model="vm.showPlatform.code", required)
                div.form-group.col-md-6
                    label.control-label *{{"PLATFORM_ID" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_ID' | translate}}", ng-model="vm.showPlatform.platformId", required)
                div.form-group.col-md-6
                    label.control-label {{"PLATFORM_PREFIX" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_PREFIX' | translate}}", ng-model="vm.showPlatform.prefix")
                div.form-group.col-md-6
                    label.control-label {{"PLATFORM_PARTNER_PREFIX" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_PARTNER_PREFIX' | translate}}", ng-model="vm.showPlatform.partnerPrefix")
                div.form-group.col-md-6
                    label.control-label {{"PLATFORM_ICON" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM ICON URL' | translate}}", ng-model="vm.showPlatform.icon", style='width:calc(100% - 50px);display:inline-block')
                    img.margin-left-5(ng-if='vm.showPlatform.icon', src="{{vm.showPlatform.icon}}", style='width:40px;height:40px;top: 20px;position: absolute;')
                div.form-group.col-md-6
                    label.control-label {{"PUSH_NOTIFICATION_APP_KEY" | translate}}
                    input.form-control(type="text", ng-model="vm.showPlatform.jiguangAppKey")
                div.form-group.col-md-6
                    label.control-label {{"PUSH_NOTIFICATION_MASTER_KEY" | translate}}
                    input.form-control(type="text", ng-model="vm.showPlatform.jiguangMasterKey")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_EMAIL_AUTOMATED" | translate}} {{"used when sending automated messages" | translate}}
                    input.form-control(type="text", placeholder="{{'EMAIL' | translate}}", ng-model="vm.showPlatform.csEmail")
                div.form-group.col-md-6
                    label.control-label LiveCompanyId
                    input.form-control(type="text", placeholder="{{'companyId' | translate}}", ng-model= "vm.showPlatform.companyId")
                div.form-group.col-md-6
                    label.control-label CS Department
                    input.form-control(type="text", ng-model="vm.showPlatform.csDepartment", ng-blur="vm.isValidCSDepartment(vm.showPlatform.csDepartment)")
                div.form-group.col-md-6
                    label.control-label QI Department
                    input.form-control(type="text", ng-model="vm.showPlatform.qiDepartment", ng-blur="vm.isValidQIDepartment(vm.showPlatform.csDepartment)")



        div(name="player-display-data", ng-show="vm.selectedPlatformDetailTab == 'player-display-data'")
                ul.nav.nav-tabs.common-nav-tabs.popupHeaderMenu(style='height: 46px;')
                    .pull-left.padding-all-5
                    li.active(id = 'customerServiceTab',ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal",)
                        a.common-tab(data-toggle="tab", ng-click='vm.playerDisplayDataTab = \'customerServicePanel\'')
                            .fa.fa-file-text.margin-right-5
                            text.span {{"CUSTOMER_SERVICE" | translate}}
                    li(id = 'advertisementTab',ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal",)
                        a.common-tab(data-toggle="tab",ng-click='vm.playerDisplayDataTab = \'advertisementPanel\';vm.playerAdvertisementWebDevice=true;vm.playerAdvertisementH5Device=false; vm.playerAdvertisementList();vm.editAdvertisementRecord=false; vm.showAdvertisementRecord=true;vm.addNewPlayerAdvertisement=false;')
                            .fa.fa-file-text.margin-right-5
                            text.span {{"ADVERTISEMENT" | translate}}

                #customerServicePanel.panel-body(ng-if="vm.playerDisplayDataTab === 'customerServicePanel'", style="background-color: white;")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_EMAIL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'EMAIL' | translate}}", ng-model="vm.showPlatform.csEmailImageUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_HOTLINE" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'HOTLINE' | translate}}", ng-model="vm.showPlatform.csPhone")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_URL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_URL' | translate}}", ng-model="vm.showPlatform.csUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_QQ" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'QQ' | translate}}", ng-model="vm.showPlatform.csQQ")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_WEIXIN" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_WEIXIN' | translate}}", ng-model="vm.showPlatform.csWeixin")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_SKYPE" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_SKYPE' | translate}}", ng-model="vm.showPlatform.csSkype")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_DISPLAY_URL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", ng-model="vm.showPlatform.csDisplayUrl")
                    div.form-group.col-md-6
                        label.control-label {{"PLAYER_INVITE" | translate}}
                        input.form-control(type="text", ng-model="vm.showPlatform.playerInvitationUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_WEIXIN_PHOTO" | translate}}
                        input.form-control(type="text", placeholder="{{'WEIXIN_PHOTO' | translate}}", ng-model="vm.showPlatform.weixinPhotoUrl")

                #advertisementPanel.panel-body(ng-if="vm.playerDisplayDataTab === 'advertisementPanel'", style="background-color: white;")
                    #playerAdvertisementRecords.adminLogQueryDiv
                        .inlineBlk
                            label {{"WEB" | translate}}
                            input(type="checkbox" ng-model="vm.playerAdvertisementWebDevice" ng-change="vm.playerAdvertisementH5Device = !vm.playerAdvertisementWebDevice; vm.playerAdvertisementList();" ng-init="vm.playerAdvertisementWebDevice = true")
                            label {{"H5" | translate}}
                            input(type="checkbox" ng-model="vm.playerAdvertisementH5Device" ng-change="vm.playerAdvertisementWebDevice = !vm.playerAdvertisementH5Device; vm.playerAdvertisementList();")
                    .well
                        .row(style="overflow:scroll; max-height: 250px;")
                            table.common-table.playerLvlTable(style='width:auto; min-width:99.9%; background-color: white;')
                                thead
                                    tr
                                        th {{'Display Order' | translate}}
                                        th {{'ADVERTISEMENT CODE (CANNOT REPEAT)' | translate}}
                                        th {{'BANNER TITLE' | translate}}
                                        th {{'DISPLAY BACKGROUND IMAGE' | translate}}
                                        th {{'BANNER LINK BUTTON' | translate}}
                                        th {{'ACTION_BUTTON' | translate}}
                                tbody
                                    tr(ng-if="vm.showAdvertisementRecord" ng-repeat="a in vm.displayAdvertisementList" )
                                        td(ng-class='{grayRow: a.status==0}') {{a.orderNo}}
                                        td(ng-class='{grayRow: a.status==0}') {{a.advertisementCode}}
                                        td(ng-class='{grayRow: a.status==0}')
                                            table(style="width: 100%;")
                                                tbody
                                                    tr(ng-repeat="a in a.title")
                                                        td(style="") {{a.name}}
                                        td(ng-class='{grayRow: a.status==0}')
                                            table(style="font-size: 10px; width: 100%;")
                                                tbody
                                                    tr
                                                        td(colspan=2)
                                                            div(style="width: 100%; height: 80px; background-image: url('{{a.backgroundBannerImage.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                    tr
                                                        td
                                                            label {{'SOURCE' | translate}}
                                                        td
                                                            a(href='{{a.backgroundBannerImage.url}}', title='{{a.backgroundBannerImage.url}}', target='_blank') {{a.backgroundBannerImage.urlDisplay | translate}}
                                                    tr
                                                        td
                                                            label {{'HYPERLINK' | translate}}
                                                        td
                                                            a(href='{{a.backgroundBannerImage.hyperLink}}', title='{{a.backgroundBannerImage.hyperLink}}', target='_blank') {{a.backgroundBannerImage.hyperLinkDisplay | translate}}
                                        td(ng-class='{grayRow: a.status==0}')
                                            div
                                                table(style="font-size: 10px;")
                                                    tbody
                                                        tr
                                                            td(ng-repeat="(i,v) in a.imageButton" style="border: none;")
                                                                table
                                                                    tbody
                                                                        tr
                                                                            td(colspan=2)
                                                                                div(style="height: 80px;background-image: url('{{v.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                                        tr
                                                                            td
                                                                                label {{'BUTTON NAME' | translate}}
                                                                            td
                                                                                label {{v.buttonName | translate}}
                                                                        tr
                                                                            td
                                                                                label {{'SOURCE' | translate}}
                                                                            td
                                                                                a(href='{{v.url}}', title='{{v.url}}', target='_blank') {{v.urlDisplay | translate}}
                                                                        tr
                                                                            td
                                                                                label {{'HYPERLINK' | translate}}
                                                                            td
                                                                                a(href='{{v.hyperLink}}', title='{{v.hyperLink}}', target='_blank') {{v.hyperLinkDisplay | translate}}
                                                                                //input(type='text' , ng-model='v.hyperLink', style="margin-bottom: 2px;")
                                        td(ng-class='{grayRow: a.status==0}')
                                            div(style="display: inline-grid; font-size: 10px;")
                                                button.common-button.btn.btn-info(ng-click="vm.selectedAdvListData(a._id,vm.subject='player');vm.platformRewardPageName='updateReward';vm.disableAllRewardInput(false);" data-toggle="modal", data-target="#modalAdvPlatform" style="width: auto; background-color: #5bc0de") {{'PREVIEW AND SETTING' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.editAdvertisementRecord=true; vm.showAdvertisementRecord=false" style="width: auto; background-color: #5bc0de") {{'EDIT' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.deletePlayerAdvertisementRecord(a._id,$index);" style="width: auto; background-color: #5bc0de") {{'DELETE' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.changeAdvertisementStatus(a._id,0);vm.playerAdvertisementList()" ng-if="a.status == 0; " style="width: auto; background-color: #5bc0de") {{'Open' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.changeAdvertisementStatus(a._id,1);vm.playerAdvertisementList()" ng-if="a.status == 1; " style="width: auto; background-color: #5bc0de") {{'CLOSE' | translate}}

                                    tr(ng-if="vm.editAdvertisementRecord" ng-repeat="a in vm.displayAdvertisementList")
                                        td
                                            input(type='number' , ng-model='a.orderNo', style="width: 50px;" ng-change="vm.checkDuplicateOrderNoWithId(a.orderNo,a._id)" )
                                        td
                                            input(type='text' , ng-model='a.advertisementCode', style="width: 100px;" ng-change="vm.checkDuplicateAdCodeWithId(a.advertisementCode,a._id)" )
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr(ng-repeat="(i,v) in a.title")
                                                        td
                                                            input(type="text" style="width: 150px;" ng-model="v.name")
                                                        td
                                                            i.fa.fa-minus(ng-click='a.title.splice($index,1)')
                                                    tr
                                                        td
                                                            input(type="text" ng-model="vm.playerAdvertisementGroup.bannerTitle" style="width: 150px;")
                                                        td
                                                            i.fa.fa-plus(ng-click='a.title.push({name: vm.playerAdvertisementGroup.bannerTitle});vm.existingPlayerAdvertisementTitle = "true";vm.playerAdvertisementGroup.bannerTitle = ""'  )
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr
                                                        td(colspan=2)
                                                            div(style="width: 100%; height: 80px; background-image: url('{{a.backgroundBannerImage.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                    tr
                                                        td
                                                            label {{'SOURCE' | translate}}
                                                        td
                                                            input(type='text' , ng-model='a.backgroundBannerImage.url', style="margin-bottom: 2px;")
                                                    tr
                                                        td
                                                            label {{'HYPERLINK' | translate}}
                                                        td
                                                            input(type='text' , ng-model='a.backgroundBannerImage.hyperLink', style="margin-bottom: 2px;")
                                        td
                                            div
                                                table
                                                    tbody
                                                        tr
                                                            td(ng-repeat="c in a.imageButton" style="border: none;")
                                                                table(style="font-size: 10px;")
                                                                    tbody
                                                                        tr
                                                                            td(colspan=2)
                                                                                div(style="height: 80px;background-image: url('{{c.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                                            td(rowspan=4)
                                                                                i.fa.fa-minus(ng-click='a.imageButton.splice($index,1)')
                                                                        tr
                                                                            td
                                                                                label {{'BUTTON NAME' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='c.buttonName', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'SOURCE' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='c.url', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'HYPERLINK' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='c.hyperLink', style="margin-bottom: 2px;")
                                        td
                                            div(style="display: inline-grid;font-size: 10px;")
                                                button.common-button.btn.btn-info(ng-click="vm.savePlayerAdvertisementRecordChanges();" style="width: auto; background-color: #5bc0de") {{'SAVE' | translate}}
                                                //button.common-button.btn.btn-info(ng-click="a.button.push({url: '', hyperLink: '', css: 'position:absolute; width: 195px; height: 80px; top:150px; left: 500px'});" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="a.imageButton.push({buttonName: vm.addedButtonName,url: '',hyperLink: '',css:'position:absolute; width: auto; height: auto; top:50%; left: 50%',hoverCss: ':hover{filter: contrast(200%);}'});" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                //button.common-button.btn.btn-info(ng-click="vm.setEditImageButtonName(a._id);" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.playerAdvertisementList();vm.editAdvertisementRecord=false; vm.showAdvertisementRecord=true;" style="width: auto; background-color: #5bc0de") {{'CANCEL' | translate}}


                    .well(style="margin-top: 50px; background-color: white;" )
                        .row(style="text-align: right; margin-bottom: 10px;" ng-if="!vm.addNewPlayerAdvertisement")
                            button.common-button.btn.btn-info(ng-click="vm.getNextOrderNo();vm.addNewPlayerAdvertisement=true" style="width: auto; background-color: #5bc0de") {{'ADD' | translate}}
                        .row(style="text-align: center; margin-bottom: 10px;" ng-if="vm.addNewPlayerAdvertisement")
                            label {{"Add new advertisement" | translate}}
                        .row(style="overflow-x: scroll; max-height: 250px;" ng-if="vm.addNewPlayerAdvertisement")
                            table.common-table.playerLvlTable(style='width:auto; min-width:99.9%; background-color: white' )
                                thead
                                    tr
                                        th {{'Display Order' | translate}}
                                        th {{'ADVERTISEMENT CODE (CANNOT REPEAT)' | translate}}
                                        th {{'BANNER TITLE' | translate}}
                                        th {{'DISPLAY BACKGROUND IMAGE' | translate}}
                                        th {{'BANNER LINK BUTTON' | translate}}
                                        th {{'ACTION_BUTTON' | translate}}
                                tbody
                                    tr
                                        td
                                            input(type='number' , ng-model='vm.playerAdvertisementGroup.orderNo', ng-change="vm.checkDuplicateOrderNo(vm.playerAdvertisementGroup.orderNo)", style="width: 50px;" )
                                        td
                                            input(type='text' , ng-model='vm.playerAdvertisementGroup.advertisementCode', ng-change="vm.checkDuplicateAdCode(vm.playerAdvertisementGroup.advertisementCode)", style="width: 100px;")
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr(ng-if="vm.existingPlayerAdvertisementTitle" ng-repeat="(i,v) in vm.playerAdvertisementTitle")
                                                        td
                                                            input(type="text" style="width: 150px;" ng-model="v.name")
                                                        td
                                                            i.fa.fa-minus(ng-click='vm.playerAdvertisementTitle.splice($index,1)')
                                                    tr
                                                        td
                                                            input(type="text" ng-model="vm.playerAdvertisementGroup.title" style="width: 150px;")
                                                        td
                                                            i.fa.fa-plus(ng-click='vm.playerAdvertisementTitle.push({name: vm.playerAdvertisementGroup.title});vm.existingPlayerAdvertisementTitle = "true";vm.playerAdvertisementGroup.title = ""'  )
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr
                                                        td(colspan=2)
                                                            div(style="width: 100%; height: 80px; background-image: url('{{vm.playerAdvertisementGroup.backgroundUrl}}'); background-size: cover; background-repeat: no-repeat;")
                                                    tr
                                                        td
                                                            label {{'SOURCE' | translate}}
                                                        td
                                                            input(type='text' , ng-model='vm.playerAdvertisementGroup.backgroundUrl', style="margin-bottom: 2px;")
                                                    tr
                                                        td
                                                            label {{'HYPERLINK' | translate}}
                                                        td
                                                            input(type='text' , ng-model='vm.playerAdvertisementGroup.backgroundHyperLink', style="margin-bottom: 2px;")
                                        td
                                            div
                                                table
                                                    tbody
                                                        tr
                                                            td(ng-repeat="(i,v) in vm.playerAdvertisementGroup.imageButton" style="border: none;")
                                                                table(style="font-size: 10px;")
                                                                    tbody
                                                                        tr
                                                                            td(colspan=2)
                                                                                div(style="height: 80px;background-image: url('{{v.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                                            td(rowspan=4)
                                                                                i.fa.fa-minus(ng-click='vm.playerAdvertisementGroup.imageButton.splice($index,1)')
                                                                        tr
                                                                            td
                                                                                label {{'BUTTON NAME' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='v.buttonName', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'SOURCE' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='v.url', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'HYPERLINK' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='v.hyperLink', style="margin-bottom: 2px;")
                                        td
                                            div(style="display: inline-grid; font-size: 10px;")
                                                button.common-button.btn.btn-info(ng-click="vm.addNewPlayerAdvertisementRecord();vm.playerAdvertisementList();" style="width: auto; background-color: #5bc0de") {{'SAVE' | translate}}
                                                //button.common-button.btn.btn-info(ng-click="vm.playerAdvertisementGroup.imageButton.push({url: '', hyperLink: ''});" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.setNewImageButtonName();" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.resetPlayerAddTable();" style="width: auto; background-color: #5bc0de") {{'CANCEL' | translate}}

            div(name="partner-display-data", ng-show="vm.selectedPlatformDetailTab == 'partner-display-data'")
                ul.nav.nav-tabs.common-nav-tabs.popupHeaderMenu(style='height: 46px;')
                    .pull-left.padding-all-5
                    li.active(id = 'partnerServiceTab',ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal",)
                        a.common-tab(data-toggle="tab", ng-click='vm.partnerDisplayDataTab = \'partnerPanel\'')
                            .fa.fa-file-text.margin-right-5
                            text.span {{"PARTNER" | translate}}
                    li(id = 'partnerAdvertisementTab',ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal",)
                        a.common-tab(data-toggle="tab",ng-click='vm.partnerDisplayDataTab = \'partnerAdvertisementPanel\';vm.partnerAdvertisementWebDevice=true;vm.partnerAdvertisementH5Device=false; vm.partnerAdvertisementList();vm.editpartnerAdvertisementRecord=false; vm.showpartnerAdvertisementRecord=true;vm.addNewPartnerAdvertisement=false;')
                            .fa.fa-file-text.margin-right-5
                            text.span {{"ADVERTISEMENT" | translate}}

                #partnerPanel.panel-body(ng-if="vm.partnerDisplayDataTab === 'partnerPanel'", style="background-color: white;")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_EMAIL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'EMAIL' | translate}}", ng-model="vm.showPlatform.csPartnerEmail")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_HOTLINE" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'HOTLINE' | translate}}", ng-model="vm.showPlatform.csPartnerPhone")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_URL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_URL' | translate}}", ng-model="vm.showPlatform.csPartnerUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_QQ" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'QQ' | translate}}", ng-model="vm.showPlatform.csPartnerQQ")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_WEIXIN" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_WEIXIN' | translate}}", ng-model="vm.showPlatform.csPartnerWeixin")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_SKYPE" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_SKYPE' | translate}}", ng-model="vm.showPlatform.csPartnerSkype")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_PARTNER_DISPLAY_URL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", ng-model="vm.showPlatform.csPartnerDisplayUrl")
                    div.form-group.col-md-6
                        label.control-label {{"PARTNER_INVITE" | translate}}
                        input.form-control(type="text", ng-model="vm.showPlatform.partnerInvitationUrl")
                    div.form-group.col-md-6
                        label.control-label {{"PARTNER_WEIXIN_PHOTO" | translate}}
                        input.form-control(type="text", placeholder="{{'WEIXIN_PHOTO' | translate}}", ng-model="vm.showPlatform.partnerWeixinPhotoUrl")

                #partnerAdvertisementPanel.panel-body(ng-if="vm.partnerDisplayDataTab === 'partnerAdvertisementPanel'", style="background-color: white;")
                    #partnerAdvertisementRecords.adminLogQueryDiv
                        .inlineBlk
                            label {{"WEB" | translate}}
                            input(type="checkbox" ng-model="vm.partnerAdvertisementWebDevice" ng-change="vm.partnerAdvertisementH5Device = !vm.partnerAdvertisementWebDevice; vm.partnerAdvertisementList();" ng-init="vm.partnerAdvertisementWebDevice = true")
                            label {{"H5" | translate}}
                            input(type="checkbox" ng-model="vm.partnerAdvertisementH5Device" ng-change="vm.partnerAdvertisementWebDevice = !vm.partnerAdvertisementH5Device; vm.partnerAdvertisementList();")
                    .well
                        .row(style="overflow:scroll; max-height: 250px;")
                            table.common-table.playerLvlTable(style='width:auto; min-width:99.9%; background-color: white;')
                                thead
                                    tr
                                        th {{'Display Order' | translate}}
                                        th {{'ADVERTISEMENT CODE (CANNOT REPEAT)' | translate}}
                                        th {{'BANNER TITLE' | translate}}
                                        th {{'DISPLAY BACKGROUND IMAGE' | translate}}
                                        th {{'BANNER LINK BUTTON' | translate}}
                                        th {{'ACTION_BUTTON' | translate}}
                                tbody
                                    tr(ng-if="vm.showPartnerAdvertisementRecord" ng-repeat="a in vm.displayPartnerAdvertisementList" )
                                        td(ng-class='{grayRow: a.status==0}') {{a.orderNo}}
                                        td(ng-class='{grayRow: a.status==0}') {{a.advertisementCode}}
                                        td(ng-class='{grayRow: a.status==0}')
                                            table(style="width: 100%;")
                                                tbody
                                                    tr(ng-repeat="a in a.title")
                                                        td(style="") {{a.name}}
                                        td(ng-class='{grayRow: a.status==0}')
                                            table(style="font-size: 10px; width: 100%;")
                                                tbody
                                                    tr
                                                        td(colspan=2)
                                                            div(style="width: 100%; height: 80px; background-image: url('{{a.backgroundBannerImage.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                    tr
                                                        td
                                                            label {{'SOURCE' | translate}}
                                                        td
                                                            a(href='{{a.backgroundBannerImage.url}}', title='{{a.backgroundBannerImage.url}}', target='_blank') {{a.backgroundBannerImage.urlDisplay | translate}}
                                                    tr
                                                        td
                                                            label {{'HYPERLINK' | translate}}
                                                        td
                                                            a(href='{{a.backgroundBannerImage.hyperLink}}', title='{{a.backgroundBannerImage.hyperLink}}', target='_blank') {{a.backgroundBannerImage.hyperLinkDisplay | translate}}
                                        td(ng-class='{grayRow: a.status==0}')
                                            div
                                                table(style="font-size: 10px;")
                                                    tbody
                                                        tr
                                                            td(ng-repeat="(i,v) in a.imageButton" style="border: none;")
                                                                table
                                                                    tbody
                                                                        tr
                                                                            td(colspan=2)
                                                                                div(style="height: 80px;background-image: url('{{v.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                                        tr
                                                                            td
                                                                                label {{'BUTTON NAME' | translate}}
                                                                            td
                                                                                label {{v.buttonName | translate}}
                                                                        tr
                                                                            td
                                                                                label {{'SOURCE' | translate}}
                                                                            td
                                                                                a(href='{{v.url}}', title='{{v.url}}', target='_blank') {{v.urlDisplay | translate}}
                                                                        tr
                                                                            td
                                                                                label {{'HYPERLINK' | translate}}
                                                                            td
                                                                                a(href='{{v.hyperLink}}', title='{{v.hyperLink}}', target='_blank') {{v.hyperLinkDisplay | translate}}
                                                                                //input(type='text' , ng-model='v.hyperLink', style="margin-bottom: 2px;")
                                        td(ng-class='{grayRow: a.status==0}')
                                            div(style="display: inline-grid; font-size: 10px;")
                                                button.common-button.btn.btn-info(ng-click="vm.selectedAdvListData(a._id,vm.subject='partner');vm.platformRewardPageName='updateReward';vm.disableAllRewardInput(false)" data-toggle="modal", data-target="#modalAdvPlatform" style="width: auto; background-color: #5bc0de") {{'PREVIEW AND SETTING' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.editPartnerAdvertisementRecord=true; vm.showPartnerAdvertisementRecord=false" style="width: auto; background-color: #5bc0de") {{'EDIT' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.deletePartnerAdvertisementRecord(a._id,$index);" style="width: auto; background-color: #5bc0de") {{'DELETE' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.changePartnerAdvertisementStatus(a._id,0);vm.partnerAdvertisementList()" ng-if="a.status == 0; " style="width: auto; background-color: #5bc0de") {{'Open' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.changePartnerAdvertisementStatus(a._id,1);vm.partnerAdvertisementList()" ng-if="a.status == 1; " style="width: auto; background-color: #5bc0de") {{'CLOSE' | translate}}

                                    tr(ng-if="vm.editPartnerAdvertisementRecord" ng-repeat="a in vm.displayPartnerAdvertisementList")
                                        td
                                            input(type='number' , ng-model='a.orderNo', style="width: 50px;" ng-change="vm.checkPartnerDuplicateOrderNoWithId(a.orderNo,a._id)" )
                                        td
                                            input(type='text' , ng-model='a.advertisementCode', style="width: 100px;" ng-change="vm.checkPartnerDuplicateAdCodeWithId(a.advertisementCode,a._id)" )
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr(ng-repeat="(i,v) in a.title")
                                                        td
                                                            input(type="text" style="width: 150px;" ng-model="v.name")
                                                        td
                                                            i.fa.fa-minus(ng-click='a.title.splice($index,1)')
                                                    tr
                                                        td
                                                            input(type="text" ng-model="vm.partnerAdvertisementGroup.bannerTitle" style="width: 150px;")
                                                        td
                                                            i.fa.fa-plus(ng-click='a.title.push({name: vm.partnerAdvertisementGroup.bannerTitle});vm.existingPartnerAdvertisementTitle = "true";vm.partnerAdvertisementGroup.bannerTitle = ""'  )
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr
                                                        td(colspan=2)
                                                            div(style="width: 100%; height: 80px; background-image: url('{{a.backgroundBannerImage.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                    tr
                                                        td
                                                            label {{'SOURCE' | translate}}
                                                        td
                                                            input(type='text' , ng-model='a.backgroundBannerImage.url', style="margin-bottom: 2px;")
                                                    tr
                                                        td
                                                            label {{'HYPERLINK' | translate}}
                                                        td
                                                            input(type='text' , ng-model='a.backgroundBannerImage.hyperLink', style="margin-bottom: 2px;")
                                        td
                                            div
                                                table
                                                    tbody
                                                        tr
                                                            td(ng-repeat="c in a.imageButton" style="border: none;")
                                                                table(style="font-size: 10px;")
                                                                    tbody
                                                                        tr
                                                                            td(colspan=2)
                                                                                div(style="height: 80px;background-image: url('{{c.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                                            td(rowspan=4)
                                                                                i.fa.fa-minus(ng-click='a.imageButton.splice($index,1)')
                                                                        tr
                                                                            td
                                                                                label {{'BUTTON NAME' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='c.buttonName', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'SOURCE' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='c.url', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'HYPERLINK' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='c.hyperLink', style="margin-bottom: 2px;")
                                        td
                                            div(style="display: inline-grid;font-size: 10px;")
                                                button.common-button.btn.btn-info(ng-click="vm.savePartnerAdvertisementRecordChanges();" style="width: auto; background-color: #5bc0de") {{'SAVE' | translate}}
                                                //button.common-button.btn.btn-info(ng-click="a.button.push({url: '', hyperLink: '', css: 'position:absolute; width: 195px; height: 80px; top:150px; left: 500px'});" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="a.imageButton.push({buttonName: vm.addedButtonName,url: '',hyperLink: '',css:'position:absolute; width: auto; height: auto; top:50%; left: 50%',hoverCss: ':hover{filter: contrast(200%);}'});" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                //button.common-button.btn.btn-info(ng-click="vm.setEditImageButtonName(a._id);" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.partnerAdvertisementList();vm.editPartnerAdvertisementRecord=false; vm.showPartnerAdvertisementRecord=true;" style="width: auto; background-color: #5bc0de") {{'CANCEL' | translate}}


                    .well(style="margin-top: 50px; background-color: white;" )
                        .row(style="text-align: right; margin-bottom: 10px;" ng-if="!vm.addNewPartnerAdvertisement")
                            button.common-button.btn.btn-info(ng-click="vm.getPartnerNextOrderNo();vm.addNewPartnerAdvertisement=true" style="width: auto; background-color: #5bc0de") {{'ADD' | translate}}
                        .row(style="text-align: center; margin-bottom: 10px;" ng-if="vm.addNewPartnerAdvertisement")
                            label {{"Add new advertisement" | translate}}
                        .row(style="overflow-x: scroll; max-height: 250px;" ng-if="vm.addNewPartnerAdvertisement")
                            table.common-table.playerLvlTable(style='width:auto; min-width:99.9%; background-color: white' )
                                thead
                                    tr
                                        th {{'Display Order' | translate}}
                                        th {{'ADVERTISEMENT CODE (CANNOT REPEAT)' | translate}}
                                        th {{'BANNER TITLE' | translate}}
                                        th {{'DISPLAY BACKGROUND IMAGE' | translate}}
                                        th {{'BANNER LINK BUTTON' | translate}}
                                        th {{'ACTION_BUTTON' | translate}}
                                tbody
                                    tr
                                        td
                                            input(type='number' , ng-model='vm.partnerAdvertisementGroup.orderNo', ng-change="vm.checkPartnerDuplicateOrderNo(vm.partnerAdvertisementGroup.orderNo)", style="width: 50px;" )
                                        td
                                            input(type='text' , ng-model='vm.partnerAdvertisementGroup.advertisementCode', ng-change="vm.checkPartnerDuplicateAdCode(vm.partnerAdvertisementGroup.advertisementCode)", style="width: 100px;")
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr(ng-if="vm.existingPartnerAdvertisementTitle" ng-repeat="(i,v) in vm.partnerAdvertisementTitle")
                                                        td
                                                            input(type="text" style="width: 150px;" ng-model="v.name")
                                                        td
                                                            i.fa.fa-minus(ng-click='vm.partnerAdvertisementTitle.splice($index,1)')
                                                    tr
                                                        td
                                                            input(type="text" ng-model="vm.partnerAdvertisementGroup.title" style="width: 150px;")
                                                        td
                                                            i.fa.fa-plus(ng-click='vm.partnerAdvertisementTitle.push({name: vm.partnerAdvertisementGroup.title});vm.existingPartnerAdvertisementTitle = "true";vm.partnerAdvertisementGroup.title = ""'  )
                                        td
                                            table(style="font-size: 10px; width: 100%")
                                                tbody
                                                    tr
                                                        td(colspan=2)
                                                            div(style="width: 100%; height: 80px; background-image: url('{{vm.partnerAdvertisementGroup.backgroundUrl}}'); background-size: cover; background-repeat: no-repeat;")
                                                    tr
                                                        td
                                                            label {{'SOURCE' | translate}}
                                                        td
                                                            input(type='text' , ng-model='vm.partnerAdvertisementGroup.backgroundUrl', style="margin-bottom: 2px;")
                                                    tr
                                                        td
                                                            label {{'HYPERLINK' | translate}}
                                                        td
                                                            input(type='text' , ng-model='vm.partnerAdvertisementGroup.backgroundHyperLink', style="margin-bottom: 2px;")
                                        td
                                            div
                                                table
                                                    tbody
                                                        tr
                                                            td(ng-repeat="(i,v) in vm.partnerAdvertisementGroup.imageButton" style="border: none;")
                                                                table(style="font-size: 10px;")
                                                                    tbody
                                                                        tr
                                                                            td(colspan=2)
                                                                                div(style="height: 80px;background-image: url('{{v.url}}'); background-size: cover; background-repeat: no-repeat;")
                                                                        tr
                                                                            td
                                                                                label {{'BUTTON NAME' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='v.buttonName', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'SOURCE' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='v.url', style="margin-bottom: 2px;")
                                                                        tr
                                                                            td
                                                                                label {{'HYPERLINK' | translate}}
                                                                            td
                                                                                input(type='text' , ng-model='v.hyperLink', style="margin-bottom: 2px;")
                                        td
                                            div(style="display: inline-grid; font-size: 10px;")
                                                button.common-button.btn.btn-info(ng-click="vm.addNewPartnerAdvertisementRecord();vm.partnerAdvertisementList();" style="width: auto; background-color: #5bc0de") {{'SAVE' | translate}}
                                                //button.common-button.btn.btn-info(ng-click="vm.partnerAdvertisementGroup.imageButton.push({url: '', hyperLink: ''});" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.setPartnerNewImageButtonName();" style="width: auto; background-color: #5bc0de") {{'ADD NEW BUTTON' | translate}}
                                                button.common-button.btn.btn-info(ng-click="vm.resetPartnerAddTable();" style="width: auto; background-color: #5bc0de") {{'CANCEL' | translate}}


div(name="system-settlement", ng-show="vm.selectedPlatformDetailTab == 'system-settlement'")
    .col-md-12.block-query.well
        h4(style="margin-top:0;font-weight:bold;text-decoration:underline;") {{"SETTLEMENT_HISTORY" | translate}}
        div
            label.margin-right-5 {{'Settlement Interval' | translate}}
            select.form-control(ng-model='vm.queryPara.modalUpdatePlatform.interval', ng-options='a | translate for a in ["daily","weekly"]')
        div
            label {{"Start date"|translate}}
            .startTime
        div
            label {{"End date"|translate}}
            .endTime
        div
            label &nbsp;
            button.btn.common-button.btn-primary(ng-click='vm.getSettlementHistory()') {{'SEARCH' | translate}}
        hr
        table#platformSettlementHistoryTbl.common-table.display.collapse(style='width:100%')
            thead
                tr
                    th {{"SETTLEMENT" | translate}} {{'TIME' | translate}}
                    th {{"CREATE_TIME" | translate}}
                    th {{'RESULT' | translate}}
                    th(style='width:50%') {{'DETAIL' | translate}}
            tbody
                tr(ng-repeat='(i,v) in vm.platformSettlementHis')
                    td {{vm.dateReformat(v.settlementTime)}}
                    td {{vm.dateReformat(v.createTime)}}
                    td {{v.result ? "Success" : "Failure" | translate}}
                    td.wordWrap(style='width:50%;word-break:break-all') {{v.data}}



    //div.form-group.col-md-6
        label.control-label {{"_WEIXIN" | translate}}
        input.form-control(type="text", placeholder="{{'OFFICIAL_ACCOUNT_WEIXIN' | translate}}", ng-model="vm.showPlatform.oaWeixin")

    //div.form-group.col-md-6
    //    label.control-label {{"SETTLEMENT" | translate}} {{"STATUS" | translate}}
    //    select.form-control(ng-model="vm.showPlatform.settlementStatus", ng-options='o for o in ["Ready", "DailySettlement", "WeeklySettlement"]')
    //div.form-group.col-md-6
        //label.margin-left-5 {{"AUTO_SETTLEMENT" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.canAutoSettlement")
        label.margin-left-5 {{"SMS_VERIFICATION" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.requireSMSVerification")
        label.margin-left-5 {{"SMS_VERIFICATION_FOR_PASSWORD_UPDATE" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.requireSMSVerificationForPasswordUpdate")
        label.margin-left-5 {{"SMS_VERIFICATION_FOR_PAYMENT_UPDATE" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.requireSMSVerificationForPaymentUpdate")
    //.col-md-12
        .text-center
            label {{"SETTLEMENT" | translate}}
            label.colorRed.margin-left-5 {{"Weekly settlement time has to be after daily settlement time" | translate}}
    //div.platform-time.col-md-6
        .text-center
            label.text-success {{"DAILY_SETTLE_TIME" | translate}}
        table(ng-show='!vm.pickDay')
            tbody
                tr
                    td {{"HOUR" | translate}}
                    td
                    td {{"MINUTE" | translate}}
                tr
                    td
                        button.btn.btn-default(title='Increment Hour', ng-click='vm.showPlatform.dailySettlementHour=(1+vm.showPlatform.dailySettlementHour)%24')
                            span.glyphicon.glyphicon-chevron-up
                    td
                    td
                        button.btn.btn-default(title='Increment Minute', ng-click='vm.showPlatform.dailySettlementMinute=(1+vm.showPlatform.dailySettlementMinute)%60')
                            span.glyphicon.glyphicon-chevron-up
                tr
                    td
                        button.btn.btn-default(title='Pick Hour', ng-click='vm.pickDay="Hour";vm.pickWeek=null;vm.listArray.length=24')
                            .badge {{vm.getHourName(vm.showPlatform.dailySettlementHour) | translate}}
                    td :
                    td
                        button.btn.btn-default(title='Pick Minute', ng-click='vm.pickDay="Min";vm.pickWeek=null;vm.listArray.length=60')
                            .badge {{vm.getMinName(vm.showPlatform.dailySettlementMinute) | translate}}
                tr
                    td
                        button.btn.btn-default(href='#', title='Decrement Hour', ng-click='vm.showPlatform.dailySettlementHour=(vm.showPlatform.dailySettlementHour+23)%24')
                            span.glyphicon.glyphicon-chevron-down
                    td
                    td
                        button.btn.btn-default(href='#', title='Decrement Minute', ng-click='vm.showPlatform.dailySettlementMinute=(vm.showPlatform.dailySettlementMinute+59)%60')
                            span.glyphicon.glyphicon-chevron-down
        div.pickTime.col-md-12(ng-show='vm.pickDay=="Hour"')
            label {{"CHOOSE_HOUR" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                .badge(ng-click='vm.showPlatform.dailySettlementHour=$index;vm.pickDay=null;') {{vm.getHourName($index) | translate}}
        div.pickTime.col-md-12(ng-show='vm.pickDay=="Min"')
            label {{"CHOOSE_MINUTE" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                a.badge(ng-click='vm.showPlatform.dailySettlementMinute=$index;vm.pickDay=null;') {{vm.getMinName($index) | translate}}
    //div.platform-time.col-md-6
        .text-center
            label.text-success {{"WEEKLY_SETTLE_TIME" | translate}}
        table(ng-show='!vm.pickWeek')
            tbody
                tr
                    td {{"DAY" | translate}}
                    td
                    td {{"HOUR" | translate}}
                    td
                    td {{"MINUTE" | translate}}
                tr
                    td
                        button.btn.btn-default(title='Increment Day', ng-click='vm.showPlatform.weeklySettlementDay=(1+vm.showPlatform.weeklySettlementDay)%7')
                            span.glyphicon.glyphicon-chevron-up
                    td
                    td
                        button.btn.btn-default(title='Increment Hour', ng-click='vm.showPlatform.weeklySettlementHour=(1+vm.showPlatform.weeklySettlementHour)%24')
                            span.glyphicon.glyphicon-chevron-up
                    td
                    td
                        button.btn.btn-default(title='Increment Minute', ng-click='vm.showPlatform.weeklySettlementMinute=(1+vm.showPlatform.weeklySettlementMinute)%60')
                            span.glyphicon.glyphicon-chevron-up
                tr
                    td
                        button.btn.btn-default(title='Pick Day', ng-click='vm.pickWeek="Day";vm.pickDay=null;vm.listArray.length=7')
                            .badge {{vm.getDayName(vm.showPlatform.weeklySettlementDay) | translate}}
                    td
                    td
                        button.btn.btn-default(title='Pick Hour', ng-click='vm.pickWeek="Hour";vm.pickDay=null;vm.listArray.length=24')
                            .badge {{vm.getHourName(vm.showPlatform.weeklySettlementHour) | translate}}
                    td :
                    td
                        button.btn.btn-default(title='Pick Minute', ng-click='vm.pickWeek="Min";vm.pickDay=null;vm.listArray.length=60')
                            .badge {{vm.getMinName(vm.showPlatform.weeklySettlementMinute) | translate}}
                tr
                    td
                        button.btn.btn-default(href='#', title='Decrement Day', ng-click='vm.showPlatform.weeklySettlementDay=(vm.showPlatform.weeklySettlementDay+6)%7')
                            span.glyphicon.glyphicon-chevron-down
                    td
                    td
                        button.btn.btn-default(href='#', title='Decrement Hour', ng-click='vm.showPlatform.weeklySettlementHour=(vm.showPlatform.weeklySettlementHour+23)%24')
                            span.glyphicon.glyphicon-chevron-down
                    td
                    td
                        button.btn.btn-default(href='#', title='Decrement Minute', ng-click='vm.showPlatform.weeklySettlementMinute=(vm.showPlatform.weeklySettlementMinute+59)%60')
                            span.glyphicon.glyphicon-chevron-down
        div.pickTime.col-md-12(ng-show='vm.pickWeek=="Day"')
            label {{"CHOOSE_DAY" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index', style='min-width:60px')
                a.badge(ng-click='vm.showPlatform.weeklySettlementDay=$index;vm.pickWeek=null;') {{vm.getDayName($index) | translate}}
        div.pickTime.col-md-12(ng-show='vm.pickWeek=="Hour"')
            label {{"CHOOSE_HOUR" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                a.badge(ng-click='vm.showPlatform.weeklySettlementHour=$index;vm.pickWeek=null;') {{vm.getHourName($index) | translate}}
        div.pickTime.col-md-12(ng-show='vm.pickWeek=="Min"')
            label {{"CHOOSE_MINUTE" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                a.badge(ng-click='vm.showPlatform.weeklySettlementMinute=$index;vm.pickWeek=null;') {{vm.getMinName($index) | translate}}
