form(name="form_new_platform" ,novalidate)

    .well(ng-show="vm.selectedPlatformDetailTab != 'system-settlement'")
        .row
            div(name="backstage-settings", ng-show="vm.selectedPlatformDetailTab == 'backstage-settings'")
                div.form-group.col-md-6
                    label.control-label *{{"PLATFORM_NAME" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_NAME' | translate}}", ng-model="vm.showPlatform.name", required)
                div.form-group.col-md-6
                    label.control-label *{{"OPERATION_DEPARTMENT" | translate}}
                    select.form-control(ng-model="vm.showPlatform.department._id", required)
                        option(ng-repeat='(i,v) in vm.departments',value='{{v._id}}', ng-selected='vm.showPlatform.department._id==v._id') {{v.departmentName}}
                div.form-group.col-md-6
                    label.control-label *{{"PLATFORM_CODE" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_CODE' | translate}}", ng-model="vm.showPlatform.code", required)
                div.form-group.col-md-6
                    label.control-label {{"PLATFORM_PREFIX" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_PREFIX' | translate}}", ng-model="vm.showPlatform.prefix")
                div.form-group.col-md-6
                    label.control-label {{"PLATFORM_ICON" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM ICON URL' | translate}}", ng-model="vm.showPlatform.icon", style='width:calc(100% - 50px);display:inline-block')
                    img.margin-left-5(ng-if='vm.showPlatform.icon', src="{{vm.showPlatform.icon}}", style='width:40px;height:40px;top: 20px;position: absolute;')
                div.form-group.col-md-6
                    label.control-label {{"PLATFORM_PARTNER_PREFIX" | translate}}
                    input.form-control(type="text", placeholder="{{'PLATFORM_PARTNER_PREFIX' | translate}}", ng-model="vm.showPlatform.partnerPrefix")
                div.form-group.col-md-6
                    label.control-label {{"PUSH_NOTIFICATION_APP_KEY" | translate}}
                    input.form-control(type="text", ng-model="vm.showPlatform.jiguangAppKey")
                div.form-group.col-md-6
                    label.control-label {{"PUSH_NOTIFICATION_MASTER_KEY" | translate}}
                    input.form-control(type="text", ng-model="vm.showPlatform.jiguangMasterKey")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_EMAIL_AUTOMATED" | translate}} {{"used when sending automated messages" | translate}}
                    input.form-control(type="text", placeholder="{{'EMAIL' | translate}}", ng-model="vm.showPlatform.csEmail")

            div(name="player-display-data", ng-show="vm.selectedPlatformDetailTab == 'player-display-data'")
                ul.nav.nav-tabs.common-nav-tabs.popupHeaderMenu(style='height: 46px;')
                    .pull-left.padding-all-5
                    li.active(id = 'customerServeiceTab',ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal",)
                        a.common-tab(data-toggle="tab", ng-click='vm.playerDisplayDataTab = \'customerServicePanel\'')
                            .fa.fa-file-text.margin-right-5
                            text.span {{"CUSTOMER_SERVICE" | translate}}
                    li(id = 'advertisementTab',ng-disabled="!vm.canEditPlayer() || vm.selectedPlayersCount!= 1", data-toggle="modal",)
                        a.common-tab(data-toggle="tab",ng-click='vm.playerDisplayDataTab = \'advertisementPanel\'; vm.playerAdvertisementList();')
                            .fa.fa-file-text.margin-right-5
                            text.span {{"ADVERTISEMENT" | translate}}

                #customerServicePanel.panel-body(ng-if="vm.playerDisplayDataTab === 'customerServicePanel'", style="background-color: white;")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_EMAIL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'EMAIL' | translate}}", ng-model="vm.showPlatform.csEmailImageUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_HOTLINE" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'HOTLINE' | translate}}", ng-model="vm.showPlatform.csPhone")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_URL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_URL' | translate}}", ng-model="vm.showPlatform.csUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_QQ" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'QQ' | translate}}", ng-model="vm.showPlatform.csQQ")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_WEIXIN" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_WEIXIN' | translate}}", ng-model="vm.showPlatform.csWeixin")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_SKYPE" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_SKYPE' | translate}}", ng-model="vm.showPlatform.csSkype")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_DISPLAY_URL" | translate}} ({{"IMAGE_URL" | translate}})
                        input.form-control(type="text", ng-model="vm.showPlatform.csDisplayUrl")
                    div.form-group.col-md-6
                        label.control-label {{"PLAYER_INVITE" | translate}}
                        input.form-control(type="text", ng-model="vm.showPlatform.playerInvitationUrl")
                    div.form-group.col-md-6
                        label.control-label {{"CUSTOMER_SERVICE_WEIXIN_PHOTO" | translate}}
                        input.form-control(type="text", placeholder="{{'WEIXIN_PHOTO' | translate}}", ng-model="vm.showPlatform.weixinPhotoUrl")
                //#advertisementPanel.panel-body(ng-if="vm.playerDisplayDataTab === 'advertisementPanel'", style="background-color: white;")
                    #playerAdvertisementRecords.adminLogQueryDiv
                        .inlineBlk
                            label {{"DEVICE" | translate}}
                            select.form-control(ng-model='vm.advertisement.deviceStatus', ng-change="vm.getPlayerAdvertisementListByDevice(true)")
                                option(value='1' selected="true") {{"WEB_PLAYER" | translate}}
                                option(value='3') {{"H5_PLAYER" | translate}}
                    .well
                        .row
                            .col-md-12
                                p
                                label {{"Total" | translate}} {{vm.playerAdvertisementRecords.totalCount}} {{"records" | translate}}
                                i.fa.fa-spin.fa-spinner(ng-show='vm.playerAdvertisementRecords.loading')
                                table#playerAdvertisementListTable.common-table.display(style='width:100%')
                                #playerAdvertisementListTablePage
                        .row
                            button.button.btn.btn-primary.common-button(ng-click='vm.getNewPlayerListByFilter(true)') {{'SEARCH' | translate}}

                        table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
                            thead
                                tr
                                    th.col-md-2.oblique {{'Display Order' | translate}}
                                    th.col-md-3.oblique {{'ADVERTISEMENT CODE (CANNOT REPEAT)' | translate}}
                                    th.col-md-4.oblique {{'BANNER TITLE' | translate}}
                                    th.col-md-4.oblique {{'DISPLAY BACKGROUND IMAGE' | translate}}
                                    th.col-md-4.oblique {{'BANNER LINK BUTTON' | translate}}
                                    th.col-md-4.oblique {{'ACTION_BUTTON' | translate}}
                            tbody
                                tr
                                    td.col-md-4.oblique
                                        input(type='number' , ng-model='vm.playerAdvertisementGroup.orderNo', style="width: 50px;")
                                    td.col-md-4.oblique
                                        input(type='text' , ng-model='vm.playerAdvertisementGroup.adCode', , style="width: 100px;")
                                    td.col-md-4.oblique
                                        table
                                            tbody
                                                tr
                                                    td
                                                        input(type="number" ng-model="vm.playerAdvertisementGroup.bannerTitle" style="width: 150px;")
                                                    td
                                                        i.fa.fa-plus(ng-click='vm.rewardPercentageAmountNewRow(entry[i])')
                                                        //i.fa.fa-minus(ng-click='vm.rewardPercentageAmountDeleteRow(idx,entry[i])')

                                    td.col-md-4
                                        table
                                            tbody
                                                tr
                                                    td(colspan=2)
                                                        div(style="width: 430px;height: 120px;")
                                                tr
                                                    td
                                                        label {{'BANNER IMAGE URL' | translate}}
                                                    td
                                                        input(type='text' , ng-model='vm.playerAdvertisementGroup.backgroundUrl', style="margin-bottom: 2px;")
                                                tr
                                                    td
                                                        label {{'BANNER IMAGE HYPERLINK' | translate}}
                                                    td
                                                        input(type='text' , ng-model='vm.playerAdvertisementGroup.backgroundHyperLink', style="margin-bottom: 2px;")
                                    td.col-md-4.oblique
                                        table
                                            tbody
                                                tr
                                                    td(ng-repeat="a in vm.noOfPlayerAdvertisementImageButton")
                                                        div(style="display: inline-grid")
                                                            input(type="number" ng-model="vm.playerAdvertisementGroup.button" style="width: 150px;")
                                                            input(type="number" ng-model="vm.playerAdvertisementGroup.button" style="width: 150px;")
                                                            input(type="number" ng-model="vm.playerAdvertisementGroup.button" style="width: 150px;")
                                    td.col-md-4.oblique
                                        i.fa.fa-plus(ng-click='vm.durationGroupConfig.push(vm.newDelayDurationGroup); vm.newDelayDurationGroup={};')

            div(name="partner-display-data", ng-show="vm.selectedPlatformDetailTab == 'partner-display-data'")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_EMAIL" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", placeholder="{{'EMAIL' | translate}}", ng-model="vm.showPlatform.csPartnerEmail")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_HOTLINE" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", placeholder="{{'HOTLINE' | translate}}", ng-model="vm.showPlatform.csPartnerPhone")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_URL" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_URL' | translate}}", ng-model="vm.showPlatform.csPartnerUrl")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_QQ" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", placeholder="{{'QQ' | translate}}", ng-model="vm.showPlatform.csPartnerQQ")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_WEIXIN" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", placeholder="{{'CUSTOMER_WEIXIN' | translate}}", ng-model="vm.showPlatform.csPartnerWeixin")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_SKYPE" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", placeholder="{{'CUSTOMER_SERVICE_SKYPE' | translate}}", ng-model="vm.showPlatform.csPartnerSkype")
                div.form-group.col-md-6
                    label.control-label {{"CUSTOMER_SERVICE_PARTNER_DISPLAY_URL" | translate}} ({{"IMAGE_URL" | translate}})
                    input.form-control(type="text", ng-model="vm.showPlatform.csPartnerDisplayUrl")
                div.form-group.col-md-6
                    label.control-label {{"PARTNER_INVITE" | translate}}
                    input.form-control(type="text", ng-model="vm.showPlatform.partnerInvitationUrl")
                div.form-group.col-md-6
                    label.control-label {{"PARTNER_WEIXIN_PHOTO" | translate}}
                    input.form-control(type="text", placeholder="{{'WEIXIN_PHOTO' | translate}}", ng-model="vm.showPlatform.partnerWeixinPhotoUrl")

div(name="system-settlement", ng-show="vm.selectedPlatformDetailTab == 'system-settlement'")
    .col-md-12.block-query.well
        h4(style="margin-top:0;font-weight:bold;text-decoration:underline;") {{"SETTLEMENT_HISTORY" | translate}}
        div
            label.margin-right-5 {{'Settlement Interval' | translate}}
            select.form-control(ng-model='vm.queryPara.modalUpdatePlatform.interval', ng-options='a | translate for a in ["daily","weekly"]')
        div
            label {{"Start date"|translate}}
            .startTime
        div
            label {{"End date"|translate}}
            .endTime
        div
            label &nbsp;
            button.btn.common-button.btn-primary(ng-click='vm.getSettlementHistory()') {{'SEARCH' | translate}}
        hr
        table#platformSettlementHistoryTbl.common-table.display.collapse(style='width:100%')
            thead
                tr
                    th {{"SETTLEMENT" | translate}} {{'TIME' | translate}}
                    th {{"CREATE_TIME" | translate}}
                    th {{'RESULT' | translate}}
                    th(style='width:50%') {{'DETAIL' | translate}}
            tbody
                tr(ng-repeat='(i,v) in vm.platformSettlementHis')
                    td {{vm.dateReformat(v.settlementTime)}}
                    td {{vm.dateReformat(v.createTime)}}
                    td {{v.result ? "Success" : "Failure" | translate}}
                    td.wordWrap(style='width:50%;word-break:break-all') {{v.data}}



    //div.form-group.col-md-6
        label.control-label {{"_WEIXIN" | translate}}
        input.form-control(type="text", placeholder="{{'OFFICIAL_ACCOUNT_WEIXIN' | translate}}", ng-model="vm.showPlatform.oaWeixin")

    //div.form-group.col-md-6
    //    label.control-label {{"SETTLEMENT" | translate}} {{"STATUS" | translate}}
    //    select.form-control(ng-model="vm.showPlatform.settlementStatus", ng-options='o for o in ["Ready", "DailySettlement", "WeeklySettlement"]')
    //div.form-group.col-md-6
        //label.margin-left-5 {{"AUTO_SETTLEMENT" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.canAutoSettlement")
        label.margin-left-5 {{"SMS_VERIFICATION" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.requireSMSVerification")
        label.margin-left-5 {{"SMS_VERIFICATION_FOR_PASSWORD_UPDATE" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.requireSMSVerificationForPasswordUpdate")
        label.margin-left-5 {{"SMS_VERIFICATION_FOR_PAYMENT_UPDATE" | translate}}
            input.margin-left-2(type='checkbox', ng-model="vm.showPlatform.requireSMSVerificationForPaymentUpdate")
    //.col-md-12
        .text-center
            label {{"SETTLEMENT" | translate}}
            label.colorRed.margin-left-5 {{"Weekly settlement time has to be after daily settlement time" | translate}}
    //div.platform-time.col-md-6
        .text-center
            label.text-success {{"DAILY_SETTLE_TIME" | translate}}
        table(ng-show='!vm.pickDay')
            tbody
                tr
                    td {{"HOUR" | translate}}
                    td
                    td {{"MINUTE" | translate}}
                tr
                    td
                        button.btn.btn-default(title='Increment Hour', ng-click='vm.showPlatform.dailySettlementHour=(1+vm.showPlatform.dailySettlementHour)%24')
                            span.glyphicon.glyphicon-chevron-up
                    td
                    td
                        button.btn.btn-default(title='Increment Minute', ng-click='vm.showPlatform.dailySettlementMinute=(1+vm.showPlatform.dailySettlementMinute)%60')
                            span.glyphicon.glyphicon-chevron-up
                tr
                    td
                        button.btn.btn-default(title='Pick Hour', ng-click='vm.pickDay="Hour";vm.pickWeek=null;vm.listArray.length=24')
                            .badge {{vm.getHourName(vm.showPlatform.dailySettlementHour) | translate}}
                    td :
                    td
                        button.btn.btn-default(title='Pick Minute', ng-click='vm.pickDay="Min";vm.pickWeek=null;vm.listArray.length=60')
                            .badge {{vm.getMinName(vm.showPlatform.dailySettlementMinute) | translate}}
                tr
                    td
                        button.btn.btn-default(href='#', title='Decrement Hour', ng-click='vm.showPlatform.dailySettlementHour=(vm.showPlatform.dailySettlementHour+23)%24')
                            span.glyphicon.glyphicon-chevron-down
                    td
                    td
                        button.btn.btn-default(href='#', title='Decrement Minute', ng-click='vm.showPlatform.dailySettlementMinute=(vm.showPlatform.dailySettlementMinute+59)%60')
                            span.glyphicon.glyphicon-chevron-down
        div.pickTime.col-md-12(ng-show='vm.pickDay=="Hour"')
            label {{"CHOOSE_HOUR" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                .badge(ng-click='vm.showPlatform.dailySettlementHour=$index;vm.pickDay=null;') {{vm.getHourName($index) | translate}}
        div.pickTime.col-md-12(ng-show='vm.pickDay=="Min"')
            label {{"CHOOSE_MINUTE" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                a.badge(ng-click='vm.showPlatform.dailySettlementMinute=$index;vm.pickDay=null;') {{vm.getMinName($index) | translate}}
    //div.platform-time.col-md-6
        .text-center
            label.text-success {{"WEEKLY_SETTLE_TIME" | translate}}
        table(ng-show='!vm.pickWeek')
            tbody
                tr
                    td {{"DAY" | translate}}
                    td
                    td {{"HOUR" | translate}}
                    td
                    td {{"MINUTE" | translate}}
                tr
                    td
                        button.btn.btn-default(title='Increment Day', ng-click='vm.showPlatform.weeklySettlementDay=(1+vm.showPlatform.weeklySettlementDay)%7')
                            span.glyphicon.glyphicon-chevron-up
                    td
                    td
                        button.btn.btn-default(title='Increment Hour', ng-click='vm.showPlatform.weeklySettlementHour=(1+vm.showPlatform.weeklySettlementHour)%24')
                            span.glyphicon.glyphicon-chevron-up
                    td
                    td
                        button.btn.btn-default(title='Increment Minute', ng-click='vm.showPlatform.weeklySettlementMinute=(1+vm.showPlatform.weeklySettlementMinute)%60')
                            span.glyphicon.glyphicon-chevron-up
                tr
                    td
                        button.btn.btn-default(title='Pick Day', ng-click='vm.pickWeek="Day";vm.pickDay=null;vm.listArray.length=7')
                            .badge {{vm.getDayName(vm.showPlatform.weeklySettlementDay) | translate}}
                    td
                    td
                        button.btn.btn-default(title='Pick Hour', ng-click='vm.pickWeek="Hour";vm.pickDay=null;vm.listArray.length=24')
                            .badge {{vm.getHourName(vm.showPlatform.weeklySettlementHour) | translate}}
                    td :
                    td
                        button.btn.btn-default(title='Pick Minute', ng-click='vm.pickWeek="Min";vm.pickDay=null;vm.listArray.length=60')
                            .badge {{vm.getMinName(vm.showPlatform.weeklySettlementMinute) | translate}}
                tr
                    td
                        button.btn.btn-default(href='#', title='Decrement Day', ng-click='vm.showPlatform.weeklySettlementDay=(vm.showPlatform.weeklySettlementDay+6)%7')
                            span.glyphicon.glyphicon-chevron-down
                    td
                    td
                        button.btn.btn-default(href='#', title='Decrement Hour', ng-click='vm.showPlatform.weeklySettlementHour=(vm.showPlatform.weeklySettlementHour+23)%24')
                            span.glyphicon.glyphicon-chevron-down
                    td
                    td
                        button.btn.btn-default(href='#', title='Decrement Minute', ng-click='vm.showPlatform.weeklySettlementMinute=(vm.showPlatform.weeklySettlementMinute+59)%60')
                            span.glyphicon.glyphicon-chevron-down
        div.pickTime.col-md-12(ng-show='vm.pickWeek=="Day"')
            label {{"CHOOSE_DAY" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index', style='min-width:60px')
                a.badge(ng-click='vm.showPlatform.weeklySettlementDay=$index;vm.pickWeek=null;') {{vm.getDayName($index) | translate}}
        div.pickTime.col-md-12(ng-show='vm.pickWeek=="Hour"')
            label {{"CHOOSE_HOUR" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                a.badge(ng-click='vm.showPlatform.weeklySettlementHour=$index;vm.pickWeek=null;') {{vm.getHourName($index) | translate}}
        div.pickTime.col-md-12(ng-show='vm.pickWeek=="Min"')
            label {{"CHOOSE_MINUTE" | translate}}
            p
            div(ng-repeat='n in vm.listArray track by $index')
                a.badge(ng-click='vm.showPlatform.weeklySettlementMinute=$index;vm.pickWeek=null;') {{vm.getMinName($index) | translate}}


