style.
    .bg-secondary {
        background-color: #868E96;
    }
    .connected-sortable {
        margin: 0 auto;
        list-style: none;
        width: 90%;
        min-height: 500px;
    }
    li.draggable-item {
        width: inherit;
        padding: 1em;
        background-color: #f5f5f5;
        border-radius: 4px;
        margin: 1em 0;
        border: 1px solid rgb(190, 190, 190);
        text-align: center;
        position: relative;
        -webkit-transition: transform .25s ease-in-out;
        -moz-transition: transform .25s ease-in-out;
        -o-transition: transform .25s ease-in-out;
        transition: transform .25s ease-in-out;

        -webkit-transition: box-shadow .25s ease-in-out;
        -moz-transition: box-shadow .25s ease-in-out;
        -o-transition: box-shadow .25s ease-in-out;
        transition: box-shadow .25s ease-in-out;
    }
    /* styles during drag */
    li.draggable-item.ui-sortable-helper {
        background-color: #e5e5e5;
        -webkit-box-shadow: 0 0 8px rgba(53, 41, 41, .8);
        -moz-box-shadow: 0 0 8px rgba(53, 41, 41, .8);
        box-shadow: 0 0 8px rgba(53, 41, 41, .8);
        transform: scale(1.015);
        z-index: 100;
    }
    li.draggable-item.ui-sortable-placeholder {
        background-color: #ddd;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
    .tab-btngroup {
        display: inline-block;
        position: absolute;
        top: 30%;
        right: 0;
        z-index: 100;
    }
    .btn-delete {
        border-radius: 100%!important;
        margin: 0 .5em;
    }
.row
    .col-md-12
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedFrontEndSettingTab === "popularRecommendation"}', ng-click='vm.frontEndSettingTabClicked("popularRecommendation")')
            span {{"POPULAR_RECOMMENDATION" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedFrontEndSettingTab === "urlConfiguration"}', ng-click='vm.frontEndSettingTabClicked("urlConfiguration")')
            span {{"URL_CONFIGURATION" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedFrontEndSettingTab === "skinManagement"}', ng-click='vm.frontEndSettingTabClicked("skinManagement")')
            span {{"SKIN_MANAGEMENT" | translate}}

    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"FrontendConfiguration" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedFrontEndSettingTab')
                    label.text-danger {{'Please select a type' | translate}}

                .row
                    .col-md-12
                        .well.col-xs-12
                            .search-filters-item
                                label {{'PRODUCT_NAME' | translate}}
                                select.form-control(ng-model='vm.filterFrontEndSettingPlatform', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change='vm.frontEndSettingPlatform()')
                .text-center(ng-if='!vm.filterFrontEndSettingPlatform')
                    label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}

                // Tab - popular recommendation
                .col-md-12(ng-show='vm.selectedFrontEndSettingTab == "popularRecommendation" && vm.filterFrontEndSettingPlatform && checkViewPermission("Platform", "FrontEndConfiguration", "popularRecommendation")')
                    div(style="background: #d3d3d34d; padding: 10px; margin: 10px; position:relative;")
                        div(style="display: inline;")
                            label {{'Setting For Popular Recommendation' | translate}}
                            br
                            label.text-danger {{'Note: only allow to add, delete, move, double click to edit' | translate}}
                        btn.btn.btn-success(style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);", ng-click="vm.addNewPopularRecommendationSetting()")
                            span.fa.fa-pencil-square-o {{"ADD" | translate}}
                    div.col-md-4.fronendConfigDiv
                        span(style='font-weight: bold;') {{'First_Page_Popular_Recommendation' | translate}}
                        ul.connected-sortable.droppable-area1
                            li.draggable-item(ng-repeat="one in vm.frontEndPopularRecommendationData", ng-if="one.category == 1", id="{{'categoryOne_' + one._id}}")
                                img(ng-src="{{one.pc.imageUrl}}" width="100%" height="80px")
                                .tab-btngroup
                                    button.btn.btn-primary(ng-if="one.isVisible" ng-click="one.isVisible = false") on
                                    button.btn.btn-success(ng-if="!one.isVisible", ng-click="one.isVisible = true") off
                                    button.btn.btn-danger.btn-delete
                                        span.fa.fa-trash-o

                    div.col-md-4.fronendConfigDiv
                        span(style='font-weight: bold;') {{'Recommended_Game' | translate}}
                        ul.connected-sortable.droppable-area2
                            li.draggable-item(ng-repeat="two in vm.frontEndPopularRecommendationData", ng-if="two.category == 2", id="{{'categoryTwo_' + two._id}}")
                                img(ng-src="{{two.pc.imageUrl}}" width="100%" height="80px")
                                .tab-btngroup
                                    button.btn.btn-primary(ng-if="two.isVisible" ng-click="two.isVisible = false") on
                                    button.btn.btn-success(ng-if="!two.isVisible", ng-click="two.isVisible = true") off
                                    button.btn.btn-danger.btn-delete
                                        span.fa.fa-trash-o

                    div.col-md-4.fronendConfigDiv
                        span(style='font-weight: bold;') {{'Bottom_Banner' | translate}}
                        ul.connected-sortable.droppable-area3
                            li.draggable-item(ng-repeat="three in vm.frontEndPopularRecommendationData", ng-if="three.category == 3", id="{{'categoryThree_' + three._id}}")
                                img(ng-src="{{three.pc.imageUrl}}" width="100%" height="80px")
                                .tab-btngroup
                                    button.btn.btn-primary(ng-if="three.isVisible" ng-click="three.isVisible = false") on
                                    button.btn.btn-success(ng-if="!three.isVisible", ng-click="three.isVisible = true") off
                                    button.btn.btn-danger.btn-delete
                                        span.fa.fa-trash-o


                    div.text-right
                        button#testSave.btn-primary.btn {{'SAVE' | translate}}

                // Tab - url Configuration
                .col-md-12(ng-if='vm.selectedFrontEndSettingTab=="urlConfiguration" && vm.filterFrontEndSettingPlatform && checkViewPermission("Platform", "FrontEndConfiguration", "urlConfiguration")')
                    include frontEndConfiguration-url

                // Tab - skin management
                .col-md-12(ng-if='vm.selectedFrontEndSettingTab=="skinManagement" && vm.filterFrontEndSettingPlatform && checkViewPermission("Platform", "FrontEndConfiguration", "skinManagement")')
                    include frontEndConfiguration-skinManagement

#popularRecommendationSetting.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Add New Popular Recommendation Setting" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body.margin-all-5
                        .col-md-6
                            .full-width-input-block
                                label(style="width: 30%;") {{"TITLE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.title")
                            .full-width-input-block
                                label(style="width: 30%;") {{"DISPLAY TITLE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.displayTitle")
                            .full-width-input-block
                                label(style="width: 30%;") {{"CATEGORY"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.category" ng-options='v as i | translate for (i, v) in vm.popularRecommendationCategory')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") PC {{"IMAGE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input#popularRecommendationPcImageFile(type="file")
                            .full-width-input-block
                                label(style="width: 30%;") PC {{"ON-CLICK ACTION"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.onClickAction" ng-options='v as i | translate for (i, v) in vm.frontEndSettingOnClickAction')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.pc.onClickAction == 1")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.pc.newPageDetail", placeholder='{{"Please write down or upload the image/web page file" | translate}}')
                                    input#popularRecommendationPcNewPageFile(type="file")
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.pc.onClickAction == 2")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.pc.activityDetail", placeholder='{{"Please write down the link or upload the web page file" | translate}}')
                                    input#popularRecommendationPcPageDetailFile(type="file")
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.pc.onClickAction == 3")
                                label(style="width: 30%;") {{"ACTIVITY NAME"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.rewardEventObjId", ng-options='v._id as v.name | translate for v in vm.allRewardEvent')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.pc.onClickAction == 4")
                                label(style="width: 30%;") {{"ROUTE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.route", placeholder='{{"Please write down the page code" | translate}}')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.pc.onClickAction == 5")
                                label(style="width: 30%;") {{"GAME"|translate}} Code
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.gameCode", placeholder='{{"Please write down the game code" | translate}}')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") H5 {{"IMAGE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input#popularRecommendationH5ImageFile(type="file")
                            .full-width-input-block
                                label(style="width: 30%;") H5 {{"ON-CLICK ACTION"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.onClickAction" ng-options='v as i | translate for (i, v) in vm.frontEndSettingOnClickAction')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.h5.onClickAction == 1")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.h5.newPageDetail", placeholder='{{"Please write down or upload the image/web page file" | translate}}')
                                    input#popularRecommendationH5NewPageFile(type="file")
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.h5.onClickAction == 2")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.h5.activityDetail", placeholder='{{"Please write down the link or upload the web page file" | translate}}')
                                    input#popularRecommendationH5PageDetailFile(type="file")
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.h5.onClickAction == 3")
                                label(style="width: 30%;") {{"ACTIVITY NAME"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.rewardEventObjId" ng-options='v._id as v.name | translate for v in vm.allRewardEvent')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.h5.onClickAction == 4")
                                label(style="width: 30%;") {{"ROUTE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.route", placeholder='{{"Please write down the page code" | translate}}')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.h5.onClickAction == 5")
                                label(style="width: 30%;") {{"GAME"|translate}} Code
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.gameCode", placeholder='{{"Please write down the game code" | translate}}')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") APP {{"IMAGE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input#popularRecommendationAppImageFile(type="file")
                            .full-width-input-block
                                label(style="width: 30%;") APP {{"ON-CLICK ACTION"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.onClickAction" ng-options='v as i | translate for (i, v) in vm.frontEndSettingOnClickAction')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.app.onClickAction == 1")
                                    label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                    div.inline-block(style="width: 70%;")
                                        input.form-control(ng-model="vm.popularRecommendationSetting.app.newPageDetail", placeholder='{{"Please write down or upload the image/web page file" | translate}}')
                                        input#popularRecommendationAppNewPageFile(type="file")
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.app.onClickAction == 2")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.app.activityDetail", placeholder='{{"Please write down the link or upload the web page file" | translate}}')
                                    input#popularRecommendationAppPageDetailFile(type="file")
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.app.onClickAction == 3")
                                label(style="width: 30%;") {{"ACTIVITY NAME"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.rewardEventObjId" ng-options='v._id as v.name | translate for v in vm.allRewardEvent')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.app.onClickAction == 4")
                                label(style="width: 30%;") {{"ROUTE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.route", placeholder='{{"Please write down the page code" | translate}}')
                            .full-width-input-block(ng-show="vm.popularRecommendationSetting.app.onClickAction == 5")
                                label(style="width: 30%;") {{"GAME"|translate}} Code
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.gameCode", placeholder='{{"Please write down the game code" | translate}}')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") {{"VISIBLE ON DEVICE OF"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.spicker.form-control.inline-block(multiple, data-actions-box='true', bsp, ng-init='vm.endLoadMultipleSelect()', ng-model="vm.popularRecommendationSetting.visibleOnDevice" ng-options='v as i | translate for (i, v) in vm.frontEndSettingDevices')
                            .full-width-input-block
                                label(style="width: 30%;") {{"VISIBLE FOR PLAYER"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isPlayerVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER WITH REGISTERED HP NO."|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isPlayerWithRegisteredHpNoVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR NEW PLAYER"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isNewPlayerVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR FIRST-TIME-LOGIN PLAYER"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isFirstTimeLoginPlayerVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER LEVEL OF"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.spicker.form-control.inline-block(multiple, data-actions-box='true', bsp, ng-init='vm.endLoadMultipleSelect()', ng-model="vm.popularRecommendationSetting.visibleOnPlayerLevel" ng-options='v._id as v.name | translate for v in vm.allPlayerLvl')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER WITH ACCOUNT BALANCE LOWER THAN"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(type="number", min="0", ng-model="vm.popularRecommendationSetting.visibleForBalanceBelow")
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER WITH TOP UP TIMES MORE THAN"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(type="number", min="0", ng-model="vm.popularRecommendationSetting.visibleForTopUpTimeMoreThan")
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER INVOLVES IN"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.spicker.form-control.inline-block(multiple, data-actions-box='true', bsp, ng-init='vm.endLoadMultipleSelect()', ng-model="vm.popularRecommendationSetting.visibleForInvolveInGameProvider" ng-options='v._id as v.name | translate for v in vm.platformProviderList')

                        .col-md-6
                            .full-width-input-block(style="padding: 10px; border: 1px solid #aaa; text-align: center; max-height: 400px; min-height: 200px;")
                                label {{'PC Image Preview' | translate}}
                                img#pcImage(src="", style="display: block; max-width: 100%; max-height: 100%; margin: auto;")
                            .full-width-input-block(style="padding: 10px; border: 1px solid #aaa; text-align: center; max-height: 400px; min-height: 200px;")
                                label {{'H5 Image Preview' | translate}}
                                img#H5Image(src="", style="display: block; max-width: 100%; max-height: 100%; margin: auto;")
                            .full-width-input-block(style="padding: 10px; border: 1px solid #aaa; text-align: center; max-height: 400px; min-height: 200px;")
                                label {{'APP Image Preview' | translate}}
                                img#appImage(src="", style="display: block; max-width: 100%; max-height: 100%; margin: auto;")


            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(ng-click='vm.submitPopularRecommendationSettings()') {{"CONFIRM" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}
                span#frontEndPopularRecommendationUploader.collapse
                    i.fa.fa-spinner.fa-spin
