.row
    .col-md-12
        .well#userInfoRecordQueryDiv
            .search-filters-item
                label.control-label {{'Start date' | translate}}
                .startTime
            .search-filters-item
                label.control-label {{'End date' | translate}}
                .endTime
            .text-right.widthto100
                button.btn.btn-primary(ng-if="checkViewPermission('Platform', 'getExternalUserInfo', 'Read')",ng-click='vm.submitUserInfoRecordQuery(true)') {{"SEARCH" | translate}}
                i#loadUserInfoIcon.fa.fa-refresh.fa-spin.collapse.margin-left-5.text-danger.fa-2x
.row.margin-top-bottom-small(ng-show='!vm.selectedPlatform')
    .text-center.text-danger
        label {{"NO_PLATFORM_MESSAGE" | translate}}
.row.margin-top-bottom-small(ng-show='vm.selectedPlatform')
    .col-md-12
        label.margin-left-5 {{"total" | translate}} {{vm.externalUserRecordQuery.totalCount}} {{"records" | translate}}
        table#userInfoTable.display.common-table.widthto100
        #userInfoTablePage
