.col-md-12
    .well.col-xs-12
        .search-filters-item
            label {{'PRODUCT_NAME' | translate}}
            select.form-control(ng-model='vm.jiguang.platform', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change='vm.getPushNotification(vm.jiguang.platform)')

.text-center(ng-if="!vm.jiguang.platform")
    p
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}

.col-md-12(ng-if="vm.jiguang.platform")
    form
        .form-group
            label App Key
            input.form-control(type="text",ng-model="vm.jiguang.appKey",disabled="disabled")
        .form-group
            label Master Key
            input.form-control(type="text",ng-model="vm.jiguang.masterKey",disabled="disabled")
        .form-group
            label {{"PUSH_NOTIFICATION_TITTLE" | translate}}
            input.form-control(type="text",ng-model="vm.jiguang.tittle")
        .form-group
            label {{"PUSH_NOTIFICATION_TEXT" | translate}}
            textarea.form-control(ng-model="vm.jiguang.text")
        .btn.btn-primary(ng-click="vm.pushNotification()") Send