#platformSetting.row
    .col-md-12
        .panel-body.common-right-sub-panel-body
            ul.nav.nav-tabs.common-nav-tabs
                li(ng-class="vm.selectedPlatformDetailTab == 'backstage-settings' ? 'active' : null", ng-show="checkViewPermission('Platform', 'PlatformSetting','BackstageSettings')")
                    a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('backstage-settings')") {{"BACKSTAGE_SETTINGS" | translate}}
                li(ng-class="vm.selectedPlatformDetailTab == 'player-display-data' ? 'active' : null", ng-show="checkViewPermission('Platform', 'PlatformSetting','PlayerDisplayData')")
                    a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('player-display-data')") {{"PLAYER_DISPLAY_DATA" | translate}}
                li(ng-class="vm.selectedPlatformDetailTab == 'partner-display-data' ? 'active' : null", ng-show="checkViewPermission('Platform', 'PlatformSetting','PartnerDisplayData')")
                    a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('partner-display-data')") {{"PARTNER_DISPLAY_DATA" | translate}}
                li(ng-class="vm.selectedPlatformDetailTab == 'system-settlement' ? 'active' : null", ng-show="checkViewPermission('Platform', 'PlatformSetting','SystemSettlement')")
                    a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('system-settlement')", ng-show="vm.platformAction!='create'&&vm.platformAction!='edit'") {{"SYSTEM_SETTLEMENT" | translate}}
                li(ng-class="vm.selectedPlatformDetailTab == 'frontend-module-setting' ? 'active' : null", ng-show="checkViewPermission('Platform', 'PlatformSetting','FrontendModuleSetting')")
                    a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('frontend-module-setting')") {{"FRONTEND_MODULE_SETTING" | translate}}
                li(ng-class="vm.selectedPlatformDetailTab == 'theme-select' ? 'active' : null", ng-show="checkViewPermission('Platform', 'PlatformSetting','ThemeSelect')")
                    a.common-tab(data-toggle="tab", ng-click="vm.showPlatformDetailTab('theme-select')") {{"THEME_SELECT" | translate}}
            .panel.panel-primary(style="border-radius:0 !important;")
                .panel-body
                    .well(ng-show="vm.platformAction=='delete'")
                        p
                            #WarningIcon.fa.fa-exclamation-triangle
                            label.margin-right-5 {{"DELETE_PLATFORM_MESSAGE" | translate}}
                            strong.text-danger {{vm.selectedPlatform.text}} ?
                    include ./platform-detail-form
            br
            .pull-right
                button.btn.btn-primary.common-button( ng-if=" !vm.platformAction && vm.selectedPlatformDetailTab == 'frontend-module-setting' && vm.moduleDisplayDataTab === 'specialModulePanel' && !vm.addNewSpecialModule", ng-click="vm.addNewSpecialModule = true; vm.setPlatformFooter('save')") {{ 'ADD NEW MODULE' | translate}}
                button.btn.btn-primary.common-button(ng-click="vm.setPlatformFooter('create');vm.initPlatform(true);vm.clearShowPlatform();", ng-show="checkViewPermission('Platform', 'PlatformSetting', 'Create') && vm.selectedPlatformDetailTab!='system-settlement'&&!vm.platformAction&&vm.playerDisplayDataTab != 'advertisementPanel' && vm.selectedPlatformDetailTab!='frontend-module-setting' && vm.selectedPlatformDetailTab!='theme-select' && vm.selectedPlatformDetailTab!='player-display-data' && vm.selectedPlatformDetailTab!='partner-display-data'") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(ng-click="vm.setPlatformFooter('delete')", ng-show="checkViewPermission('Platform', 'PlatformSetting', 'Delete') && vm.selectedPlatformDetailTab!='system-settlement'&&!vm.platformAction && vm.playerDisplayDataTab != 'advertisementPanel' && vm.partnerDisplayDataTab != 'partnerAdvertisementPanel' && vm.selectedPlatformDetailTab!='frontend-module-setting' && vm.selectedPlatformDetailTab!='theme-select' && vm.selectedPlatformDetailTab != 'player-display-data' && vm.selectedPlatformDetailTab != 'partner-display-data'") {{"DELETE" | translate}}
                button.btn.btn-primary.common-button(ng-click="vm.setPlatformFooter('edit');vm.initPlatform(true);vm.updatePlatformConfig();", ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&!vm.platformAction&&vm.playerDisplayDataTab != 'advertisementPanel'") {{"EDIT" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-click="vm.openReplicatePlatformSettingModal()", ng-show="checkViewPermission('Platform', 'PlatformSetting', 'ReplicateSetting') && vm.selectedPlatformDetailTab == 'backstage-settings' && !vm.platformAction") {{"Replicate Other Platform Setting" | translate}}

                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction=='create'", ng-click="vm.createNewPlatform();vm.setPlatformFooter(null);", ng-disabled="form_new_platform.$invalid || vm.showPlatform.platformId == ''|| !vm.showPlatform.platformId") {{"CREATE" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction=='delete'", ng-click="vm.deletePlatform();vm.setPlatformFooter(null)") {{"CONFIRM" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-disabled="vm.csDepartmentError || vm.qiDepartmentError", ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction=='edit'", ng-click="vm.updatePlatformAction();vm.setPlatformFooter(null)") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab!='system-settlement'&&vm.platformAction|| vm.selectedPlatformDetailTab == 'frontend-module-setting' ", ng-click="vm.setPlatformFooter(null);vm.cancelUpdatePlatformConfig(); vm.editFrontEndDisplay = false") {{"CANCEL" | translate}}

                //button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlayerConsecutiveConsumptionSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Consecutive Consumption Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlayerLevelSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Level Settlement" | translate}}
                //button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlatformPlayerConsumptionIncentiveSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Consumption Incentive Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlatformPartnerCommissionSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Partner Commission Settlement" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-show="vm.selectedPlatformDetailTab == 'system-settlement'", ng-click="vm.startPlatformPlayerConsumptionReturnSettlement($event);vm.setPlatformFooter(null)")
                    text {{"Player Consumption Return Settlement" | translate}}
                div(ng-if="vm.selectedPlatformDetailTab == 'system-settlement'" ng-repeat="event in vm.settlementRewardGroupEvent")
                    button.btn.btn-primary.common-button(data-dismiss='modal' ng-click="vm.startPlatformRTGEventSettlement(event);vm.setPlatformFooter(null)")
                        text {{ "Settle" | translate }} {{ event.name | translate }}
                label.colorRed(ng-show="vm.playerDisplayDataTab == 'advertisementPanel' || vm.partnerDisplayDataTab == 'partnerAdvertisementPanel'") {{vm.errMessage | translate}}