.row
    .col-md-12
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsRule"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRule")')
            span {{"REWARD_POINTS_RULE" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "loginRewardPoints"}', ng-click='vm.rewardPointsTabClicked("loginRewardPoints")')
            span {{"LOGIN_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "topupRewardPoints"}', ng-click='vm.rewardPointsTabClicked("topupRewardPoints")')
            span {{"TOPUP_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "gameRewardPoints"}', ng-click='vm.rewardPointsTabClicked("gameRewardPoints")')
            span {{"GAME_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsRanking"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRanking")')
            span {{"REWARD_POINTS_RANKING" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsLog"}', ng-click='vm.rewardPointsTabClicked("rewardPointsLog")')
            span {{"REWARD_POINTS_LOG" | translate}}

    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"rewardPoint" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedRewardPointTab')
                    label.text-danger {{'Please select a type' | translate}}

                // Tab - rewardPointsRule
                div#createPromoCodePage(ng-if='vm.selectedRewardPointTab=="rewardPointsRule" && checkViewPermission("Platform", "rewardPoints", "rewardPointsRule")')


                // Tab - loginRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="loginRewardPoints" && checkViewPermission("Platform", "rewardPoints", "loginRewardPoints")')


                //Tab - topupRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="topupRewardPoints" && checkViewPermission("Platform", "rewardPoints", "topupRewardPoints")')


                // Tab - gameRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="gameRewardPoints" && checkViewPermission("Platform", "rewardPoints", "gameRewardPoints")')

                // Tab - rewardPointsRanking
                div(ng-if='vm.selectedRewardPointTab=="rewardPointsRanking" && checkViewPermission("Platform", "rewardPoints", "rewardPointsRanking"")')


                // Tab - rewardPointsLog
                div(ng-if='vm.selectedRewardPointTab=="rewardPointsLog" && checkViewPermission("Platform", "rewardPoints", "rewardPointsLog")')

