style.
    .bg-secondary {
        background-color: #868E96;
    }
.row
    .col-md-12
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "popularRecommendation"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRule")')
            span {{"POPULAR_RECOMMENDATION" | translate}}


    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"FrontendConfiguration" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedRewardPointTab')
                    label.text-danger {{'Please select a type' | translate}}

                // Tab - popular recommendation
                div.col-md-12(ng-if='vm.selectedRewardPointTab=="rewardPointsRule" && checkViewPermission("Platform", "FrontEndConfiguration", "popularRecommendation")')
                    div(style="background: #d3d3d34d; padding: 10px; margin: 10px; position:relative;")
                        div(style="display: inline;")
                            label {{'Setting For Popular Recommendation' | translate}}
                            br
                            label.text-danger {{'Note: only allow to add, delete, move, double click to edit' | translate}}
                        btn.btn.btn-success(style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);", ng-click="vm.addNewPopularRecommendationSetting()")
                            span.fa.fa-pencil-square-o {{"ADD" | translate}}
                    div.col-md-4.fronendConfigDiv
                        span(style='font-weight: bold;') {{'First_Page_Popular_Recommendation' | translate}}

                    div.col-md-4.fronendConfigDiv
                        span(style='font-weight: bold;') {{'Recommended_Game' | translate}}

                    div.col-md-4.fronendConfigDiv
                        span(style='font-weight: bold;') {{'Bottom_Banner' | translate}}


#popularRecommendationSetting.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Add New Popular Recommendation Setting" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body.margin-all-5
                        .col-md-6
                            .full-width-input-block
                                label(style="width: 30%;") {{"TITLE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.title")
                            .full-width-input-block
                                label(style="width: 30%;") {{"DISPLAY TITLE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.displayTitle")
                            .full-width-input-block
                                label(style="width: 30%;") {{"CATEGORY"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.category" ng-options='v as i | translate for (i, v) in vm.popularRecommendationCategory')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") PC {{"IMAGE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input#popularRecommendationPcImageFile(type="file")
                            .full-width-input-block
                                label(style="width: 30%;") PC {{"ON-CLICK ACTION"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.onClickAction" ng-options='v as i | translate for (i, v) in vm.frontEndSettingOnClickAction')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.pc.onClickAction == 1")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.pc.newPage", placeholder='{{"Please write down or upload the image/web page file" | translate}}')
                                    input#popularRecommendationPageDetailFile(type="file")
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.pc.onClickAction == 2")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.pc.pageDetail", placeholder='{{"Please write down the link or upload the web page file" | translate}}')
                                    input#popularRecommendationPageDetailFile(type="file")
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.pc.onClickAction == 3")
                                label(style="width: 30%;") {{"ACTIVITY NAME"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.rewardName", ng-options='v._id as v.name | translate for v in vm.allRewardEvent')
                                        option (value="", disabled selected) {{"test ..." | translate}}
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.pc.onClickAction == 4")
                                label(style="width: 30%;") {{"ROUTE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.route", placeholder='{{"Please write down the page code" | translate}}')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.pc.onClickAction == 5")
                                label(style="width: 30%;") {{"GAME"|translate}} Code
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.pc.gameCode", placeholder='{{"Please write down the game code" | translate}}')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") H5 {{"IMAGE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input#popularRecommendationH5ImageFile(type="file")
                            .full-width-input-block
                                label(style="width: 30%;") H5 {{"ON-CLICK ACTION"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.onClickAction" ng-options='v as i | translate for (i, v) in vm.frontEndSettingOnClickAction')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.h5.onClickAction == 1")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.h5.newPage", placeholder='{{"Please write down or upload the image/web page file" | translate}}')
                                    input#popularRecommendationPageDetailFile(type="file")
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.h5.onClickAction == 2")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.h5.pageDetail", placeholder='{{"Please write down the link or upload the web page file" | translate}}')
                                    input#popularRecommendationPageDetailFile(type="file")
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.h5.onClickAction == 3")
                                label(style="width: 30%;") {{"ACTIVITY NAME"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.rewardName" ng-options='v._id as v.name | translate for v in vm.allRewardEvent')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.h5.onClickAction == 4")
                                label(style="width: 30%;") {{"ROUTE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.route", placeholder='{{"Please write down the page code" | translate}}')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.h5.onClickAction == 5")
                                label(style="width: 30%;") {{"GAME"|translate}} Code
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.h5.gameCode", placeholder='{{"Please write down the game code" | translate}}')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") APP {{"IMAGE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input#popularRecommendationAppImageFile(type="file")
                            .full-width-input-block
                                label(style="width: 30%;") APP {{"ON-CLICK ACTION"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.onClickAction" ng-options='v as i | translate for (i, v) in vm.frontEndSettingOnClickAction')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.app.onClickAction == 1")
                                    label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                    div.inline-block(style="width: 70%;")
                                        input.form-control(ng-model="vm.popularRecommendationSetting.app.newPage", placeholder='{{"Please write down or upload the image/web page file" | translate}}')
                                        input#popularRecommendationPageDetailFile(type="file")
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.app.onClickAction == 2")
                                label(style="width: 30%;") {{"PAGE DETAIL"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control(ng-model="vm.popularRecommendationSetting.app.pageDetail", placeholder='{{"Please write down the link or upload the web page file" | translate}}')
                                    input#popularRecommendationPageDetailFile(type="file")
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.app.onClickAction == 3")
                                label(style="width: 30%;") {{"ACTIVITY NAME"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.rewardName" ng-options='v._id as v.name | translate for v in vm.allRewardEvent')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.app.onClickAction == 4")
                                label(style="width: 30%;") {{"ROUTE"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.route", placeholder='{{"Please write down the page code" | translate}}')
                            .full-width-input-block(ng-if="vm.popularRecommendationSetting.app.onClickAction == 5")
                                label(style="width: 30%;") {{"GAME"|translate}} Code
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(ng-model="vm.popularRecommendationSetting.app.gameCode", placeholder='{{"Please write down the game code" | translate}}')

                            div.frontendConfigSeperator
                            .full-width-input-block
                                label(style="width: 30%;") {{"VISIBLE ON DEVICE OF"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.spicker.form-control.inline-block(multiple, data-actions-box='true', bsp, ng-init='vm.endLoadMultipleSelect()', ng-model="vm.popularRecommendationSetting.visibleDevice" ng-options='v as i | translate for (i, v) in vm.frontEndSettingDevices')
                            .full-width-input-block
                                label(style="width: 30%;") {{"VISIBLE FOR PLAYER"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isPlayerVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER WITH REGISTERED HP NO."|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isPlayerWithRegisteredHpNumberVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR NEW PLAYER"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isNewPlayerVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR FIRST-TIME-LOGIN PLAYER"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.transform150(type='checkbox', ng-model='vm.popularRecommendationSetting.isFirstTimeLoginPlayerVisible')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER LEVEL OF"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.spicker.form-control.inline-block(multiple, data-actions-box='true', bsp, ng-init='vm.endLoadMultipleSelect()', ng-model="vm.popularRecommendationSetting.isVisibleForPlayerLevel" ng-options='v._id as v.name | translate for v in vm.allPlayerLvl')
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER WITH ACCOUNT BALANCE LOWER THAN"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(type="number", min="0", ng-model="vm.popularRecommendationSetting.isVisibleForPlayerWithBalanceLowerThan")
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER WITH TOP UP TIMES MORE THAN"|translate}}
                                div.inline-block(style="width: 70%;")
                                    input.form-control.inline-block(type="number", min="0", ng-model="vm.popularRecommendationSetting.isVisibleForPlayerWithTopUpTimesMoreThan")
                            .full-width-input-block
                                label(style="width: 30%;") {{"(FRONT END) VISIBLE FOR PLAYER INVOLVES IN"|translate}}
                                div.inline-block(style="width: 70%;")
                                    select.spicker.form-control.inline-block(multiple, data-actions-box='true', bsp, ng-init='vm.endLoadMultipleSelect()', ng-model="vm.popularRecommendationSetting.isVisibleForPlayerInGameProvider" ng-options='v._id as v.name | translate for v in vm.allGameProviders')

                        .col-md-6
                            .full-width-input-block(style="padding: 10px; border: 1px solid #aaa; text-align: center; max-height: 400px; min-height: 200px;")
                                label {{'PC Image Preview' | translate}}
                                img#pcImage(src="")
                            .full-width-input-block(style="padding: 10px; border: 1px solid #aaa; text-align: center; max-height: 400px; min-height: 200px;")
                                label {{'H5 Image Preview' | translate}}
                                img#H5Image(src="")
                            .full-width-input-block(style="padding: 10px; border: 1px solid #aaa; text-align: center; max-height: 400px; min-height: 200px;")
                                label {{'APP Image Preview' | translate}}
                                img#appImage(src="")


            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.addNewPopularRecommendationSetting()') {{"CONFIRM" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalEditRewardPointsRandom.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EDIT_REWARD_POINTS_RANKING" | translate}}  {{vm.selectedRandomRanking.playerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .form-group.col-md-6
                                    label.control-label {{"PLAYERNAME" | translate}}
                                    input.form-control(type="text", ng-model="vm.selectedRandomRanking.playerName")
                                .form-group.col-md-6
                                    label.control-label {{"PLAYER_LEVEL" | translate}}
                                    select.form-control(ng-model='vm.selectedRandomRanking.playerLevel._id', ng-options='v._id as v.name for (i,v) in vm.allPlayerLvl' )
                            .col-md-12
                                .form-group.col-md-6
                                    label.control-label {{"REWARD_POINTS_CURRENT" | translate}}
                                    input.form-control(type="Number", ng-model="vm.selectedRandomRanking.points")
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.editRandomRanking()') {{"UPDATE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalDeleteRewardPointsEvent.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_REWARD_POINTS" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete reward points event"|translate}}
                                    strong.text-danger &nbsp;{{vm.deletingRewardPointsEvent.rewardTitle}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.deleteRewardPointsEvent(vm.deletingRewardPointsEvent)') {{"DELETE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}
