.row
    .col-md-12
        .well#smsRecordQueryDiv
            .inlineBlk
                label.control-label {{'Create Officer' | translate}}
                input.form-control(ng-model='vm.newOfficer.name', placeholder="{{'Create Officer' | translate}}" )

            button.btn.btn-primary(ng-click='vm.createOfficer()') {{"CREATE" | translate}}
            span#officer-message &nbsp{{vm.officerCreateMessage}}