.row
    .col-md-12
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "create"}', ng-click='vm.promoCodeTabClicked("create")')
            span {{"CREATE_PROMO_CODE" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "history"}', ng-click='vm.promoCodeTabClicked("history")')
            span {{"PROMO_CODE_HISTORY" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "monitor"}', ng-click='vm.promoCodeTabClicked("monitor")')
            span {{"PROMO_CODE_TYPE_3_MONITOR" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "activatePromoCode"}', ng-click='vm.promoCodeTabClicked("activatePromoCode")')
            span {{"ACTIVATE_PROMO_CODE" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "smsContent"}', ng-click='vm.promoCodeTabClicked("smsContent")')
            span {{"SMS_CONTENT" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "userGroupConfig"}', ng-click='vm.promoCodeTabClicked("userGroupConfig")')
            span {{"PROMO_CODE_USER_GROUP_CONFIG" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedPromoCodeTab === "promoCodeAnalysis"}', ng-click='vm.promoCodeTabClicked("promoCodeAnalysis")')
            span {{"PROMO_CODE_ANALYSIS" | translate}}

    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"promoCode" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedPromoCodeTab')
                    label.text-danger {{'Please select a type' | translate}}

                // Tab - Create promo code
                div#createPromoCodePage(ng-if='vm.selectedPromoCodeTab=="create" && checkViewPermission("Platform", "promoCode", "createPromoCode")')
                    table#createPromoCodeTable1.simple-table(style='width:auto;min-width:99.9%')
                        thead
                            tr
                                th(style="width:150px") {{"ACCOUNT" | translate}}
                                th(style="width:150px") {{"PROMO_CODE_TYPE_1" | translate}}
                                th(style="width:100px") {{"PROMO_REWARD_AMOUNT" | translate}}
                                th(style="width:90px") {{"PROMO_minTopUpAmount" | translate}}
                                th(style="width:90px") {{"PROMO_CONSUMPTION" | translate}}
                                th(style="width:80px") {{"SHARE_WITH_XIMA" | translate}}
                                th(style="width:200px") {{"PROMO_DUE_DATE" | translate}}
                                th(style="width:80px") {{"DISABLE_WITHDRAWAL_AFTER_PROMO" | translate}}
                                th(style="width:150px") {{"ALLOWED_PROVIDER" | translate}}
                                th(style="width:150px") {{"BANNER_TEXT" | translate}}
                                th(style="width:100px") {{"PROMO_CODE" | translate}}
                                th {{"SMS_INTERMAIL" | translate}}
                                th(style="width:20px")
                                    i.fa.fa-plus
                        tbody
                            tr(ng-repeat='promoCode in vm.newPromoCode1')
                                td
                                    textarea.form-control(ng-model='promoCode.playerName', ng-change="vm.checkPlayerName(promoCode, '#createPromoCodeTable1')", ng-disabled="promoCode.code")
                                td
                                    select.form-control(ng-model='promoCode.promoCodeType', ng-options='type.name for type in vm.promoCodeType1', ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model='promoCode.amount', ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model="promoCode.minTopUpAmount", ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model='promoCode.requiredConsumption', ng-disabled="promoCode.code")
                                td
                                    input(type="radio", ng-model="promoCode.isSharedWithXIMA", ng-value = "true", ng-disabled="promoCode.code")
                                    text {{'Yes' | translate}}
                                    br
                                    input(type="radio", ng-model="promoCode.isSharedWithXIMA", ng-value = "false", ng-disabled="promoCode.code")
                                    text {{'No' | translate}}
                                td
                                    div(id="expDate1-{{$index}}", ng-disabled="!promoCode.code")
                                td
                                    input(type="radio", ng-model="promoCode.disableWithdraw", ng-value = "true", ng-disabled="promoCode.code")
                                    text {{'Yes' | translate}}
                                    br
                                    input(type="radio", ng-model="promoCode.disableWithdraw", ng-value = "false", ng-disabled="promoCode.code")
                                    text {{'No' | translate}}
                                td
                                    select.spicker.form-control(ng-if="!vm.selectedPlatform.data.useProviderGroup" data-width="150px" ng-model='promoCode.allowedProviders', multiple, data-actions-box='true' ng-change="$scope.safeApply();" data-dropup-auto='false')
                                        option(ng-repeat='prov in vm.platformProviderList', value='{{prov._id}}' ng-init="$last && vm.endLoadWeekDay()") {{prov.name}}
                                    select.form-control(ng-if="vm.selectedPlatform.data.useProviderGroup" ng-model="promoCode.allowedProviders" ng-disabled='promoCode.code')
                                        option(style="display: inline-block" ng-repeat='v in vm.gameProviderGroup', value='{{v._id}}' ng-init='$last && vm.endLoadWeekDay()') {{v.name}}
                                td
                                    input.form-control(type='string', ng-model='promoCode.bannerText', ng-disabled="promoCode.code")
                                td
                                    text(ng-if="promoCode.code") {{promoCode.code}}
                                    button.btn.btn-primary(ng-if="!promoCode.code && !promoCode.hasMoreThanOne", ng-click='vm.generatePromoCode(vm.newPromoCode1, $index, promoCode, 1);')
                                        text {{'GENERATE' | translate}}
                                    text(style="font-size:80%" ng-if="!promoCode.code && promoCode.hasMoreThanOne") * more than 1?
                                    wbr
                                    button.btn.btn-primary(ng-if="!promoCode.code && promoCode.hasMoreThanOne", ng-click='promoCode.skipCheck = true; vm.generatePromoCode(vm.newPromoCode1, $index, promoCode, 1);')
                                        text {{'Yes' | translate}}
                                    button.btn.btn-primary(ng-if="!promoCode.code && promoCode.hasMoreThanOne", ng-click='promoCode.hasMoreThanOne = false;')
                                        text {{'No' | translate}}
                                td
                                    div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{promoCode.promoCodeType.smsContent}}
                                td
                                    i.fa.fa-plus(ng-click='vm.promoCodeNewRow(vm.newPromoCode1, 1)')

                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-click="vm.generateAllPromoCode(vm.newPromoCode1)")
                            text {{'GENERATE_ALL' | translate}}
                            img.img-create
                    br

                    br
                    table#createPromoCodeTable2.simple-table(style='width:auto;min-width:99.9%')
                        thead
                            tr
                                th(style="width:150px") {{"ACCOUNT" | translate}}
                                th(style="width:150px") {{"PROMO_CODE_TYPE_2" | translate}}
                                th(style="width:100px") {{"PROMO_REWARD_AMOUNT" | translate}}
                                th(style="width:100px") {{"PROMO_CONSUMPTION" | translate}}
                                th(style="width:80px") {{"SHARE_WITH_XIMA" | translate}}
                                th(style="width:200px") {{"PROMO_DUE_DATE" | translate}}
                                th(style="width:80px") {{"DISABLE_WITHDRAWAL_AFTER_PROMO" | translate}}
                                th(style="width:150px") {{"ALLOWED_PROVIDER" | translate}}
                                th(style="width:150px") {{"BANNER_TEXT" | translate}}
                                th(style="width:100px") {{"PROMO_CODE" | translate}}
                                th {{"SMS_INTERMAIL" | translate}}
                                th(style="width:20px")
                                    i.fa.fa-plus
                        tbody
                            tr(ng-repeat='promoCode in vm.newPromoCode2')
                                td
                                    textarea.form-control(ng-model='promoCode.playerName', ng-change="vm.checkPlayerName(promoCode, '#createPromoCodeTable2')", ng-disabled="promoCode.code")
                                td
                                    select.form-control(ng-model='promoCode.promoCodeType', ng-options='type.name for type in vm.promoCodeType2', ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model='promoCode.amount', ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model='promoCode.requiredConsumption', ng-disabled="promoCode.code")
                                td
                                    input(type="radio", ng-model="promoCode.isSharedWithXIMA", ng-value = "true", ng-disabled="promoCode.code")
                                    text {{'Yes' | translate}}
                                    br
                                    input(type="radio", ng-model="promoCode.isSharedWithXIMA", ng-value = "false", ng-disabled="promoCode.code")
                                    text {{'No' | translate}}
                                td
                                    div(id="expDate2-{{$index}}", ng-disabled="promoCode.code")
                                td
                                    input(type="radio", ng-model="promoCode.disableWithdraw", ng-value = "true", ng-disabled="promoCode.code")
                                    text {{'Yes' | translate}}
                                    br
                                    input(type="radio", ng-model="promoCode.disableWithdraw", ng-value = "false", ng-disabled="promoCode.code")
                                    text {{'No' | translate}}
                                td
                                    select.spicker.form-control(ng-if="!vm.selectedPlatform.data.useProviderGroup" data-width="150px" ng-model='promoCode.allowedProviders', multiple, data-actions-box='true' ng-change="$scope.safeApply();" data-dropup-auto='false')
                                        option(ng-repeat='prov in vm.platformProviderList', value='{{prov._id}}' ng-init="$last && vm.endLoadWeekDay()") {{prov.name}}
                                    select.form-control(ng-if="vm.selectedPlatform.data.useProviderGroup" ng-model="promoCode.allowedProviders" ng-disabled='promoCode.code')
                                        option(style="display: inline-block" ng-repeat='v in vm.gameProviderGroup', value='{{v._id}}' ng-init='$last && vm.endLoadWeekDay()') {{v.name}}
                                td
                                    input.form-control(type='string', ng-model='promoCode.bannerText', ng-disabled="promoCode.code")
                                td
                                    text(ng-if="promoCode.code") {{promoCode.code}}
                                    button.btn.btn-primary(ng-if="!promoCode.code && !promoCode.hasMoreThanOne", ng-click='vm.generatePromoCode(vm.newPromoCode2, $index, promoCode, 2);')
                                        text {{'GENERATE' | translate}}
                                    text(style="font-size:80%" ng-if="!promoCode.code && promoCode.hasMoreThanOne") * more than 1?
                                    wbr
                                    button.btn.btn-primary(ng-if="!promoCode.code && promoCode.hasMoreThanOne", ng-click='promoCode.skipCheck = true; vm.generatePromoCode(vm.newPromoCode2, $index, promoCode, 2);')
                                        text {{'Yes' | translate}}
                                    button.btn.btn-primary(ng-if="!promoCode.code && promoCode.hasMoreThanOne", ng-click='promoCode.hasMoreThanOne = false;')
                                        text {{'No' | translate}}
                                td
                                    div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{promoCode.promoCodeType.smsContent}}
                                td
                                    i.fa.fa-plus(ng-click='vm.promoCodeNewRow(vm.newPromoCode2, 2)')
                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-click="vm.generateAllPromoCode(vm.newPromoCode2)")
                            text {{'GENERATE_ALL' | translate}}
                            img.img-create
                    br
                    br
                    table#createPromoCodeTable3.simple-table(style='width:auto;min-width:99.9%')
                        thead
                            tr
                                th(style="width:150px") {{"ACCOUNT" | translate}}
                                th(style="width:150px") {{"PROMO_CODE_TYPE_3" | translate}}
                                th(style="width:100px") {{"PROMO_REWARD_%" | translate}}
                                th(style="width:90px") {{"PROMO_minTopUpAmount" | translate}}
                                th(style="width:90px") {{"PROMO_maxTopUpAmount" | translate}}
                                th(style="width:90px") {{"PROMO_CONSUMPTION" | translate}}
                                th(style="width:80px") {{"SHARE_WITH_XIMA" | translate}}
                                th(style="width:200px") {{"PROMO_DUE_DATE" | translate}}
                                th(style="width:80px") {{"DISABLE_WITHDRAWAL_AFTER_PROMO" | translate}}
                                th(style="width:150px") {{"ALLOWED_PROVIDER" | translate}}
                                th(style="width:150px") {{"BANNER_TEXT" | translate}}
                                th(style="width:100px") {{"PROMO_CODE" | translate}}
                                th {{"SMS_INTERMAIL" | translate}}
                                th(style="width:20px")
                                    i.fa.fa-plus
                        tbody
                            tr(ng-repeat='promoCode in vm.newPromoCode3')
                                td
                                    textarea.form-control(ng-model='promoCode.playerName', ng-change="vm.checkPlayerName(promoCode, '#createPromoCodeTable3')", ng-disabled="promoCode.code")
                                td
                                    select.form-control(ng-model='promoCode.promoCodeType', ng-options='type.name for type in vm.promoCodeType3', ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model='promoCode.amount', ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model="promoCode.minTopUpAmount", ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model="promoCode.maxTopUpAmount", ng-disabled="promoCode.code")
                                td
                                    input.form-control(type='number', ng-model='promoCode.requiredConsumption', ng-disabled="promoCode.code")
                                td
                                    input(type="radio", ng-model="promoCode.isSharedWithXIMA", ng-value = "true", ng-disabled="promoCode.code")
                                    text {{'Yes' | translate}}
                                    br
                                    input(type="radio", ng-model="promoCode.isSharedWithXIMA", ng-value = "false", ng-disabled="promoCode.code")
                                    text {{'No' | translate}}
                                td
                                    div(id="expDate3-{{$index}}", ng-disabled="promoCode.code")
                                td
                                    input(type="radio", ng-model="promoCode.disableWithdraw", ng-value = "true", ng-disabled="promoCode.code")
                                    text {{'Yes' | translate}}
                                    br
                                    input(type="radio", ng-model="promoCode.disableWithdraw", ng-value = "false", ng-disabled="promoCode.code")
                                    text {{'No' | translate}}
                                td
                                    select.spicker.form-control(ng-if="!vm.selectedPlatform.data.useProviderGroup" data-width="150px" ng-model='promoCode.allowedProviders', multiple, data-actions-box='true' ng-change="$scope.safeApply();" data-dropup-auto='true')
                                        option(ng-repeat='prov in vm.platformProviderList', value='{{prov._id}}' ng-init="$last && vm.endLoadWeekDay()") {{prov.name}}
                                    select.form-control(ng-if="vm.selectedPlatform.data.useProviderGroup" ng-model="promoCode.allowedProviders" ng-disabled='promoCode.code')
                                        option(style="display: inline-block" ng-repeat='v in vm.gameProviderGroup', value='{{v._id}}' ng-init='$last && vm.endLoadWeekDay()') {{v.name}}
                                td
                                    input.form-control(type='string', ng-model='promoCode.bannerText', ng-disabled="promoCode.code")
                                td
                                    text(ng-if="promoCode.code") {{promoCode.code}}
                                    button.btn.btn-primary(ng-if="!promoCode.code && !promoCode.hasMoreThanOne", ng-click='vm.generatePromoCode(vm.newPromoCode3, $index, promoCode, 3);')
                                        text {{'GENERATE' | translate}}
                                    text(style="font-size:80%" ng-if="!promoCode.code && promoCode.hasMoreThanOne") * more than 1?
                                    wbr
                                    button.btn.btn-primary(ng-if="!promoCode.code && promoCode.hasMoreThanOne", ng-click='promoCode.skipCheck = true; vm.generatePromoCode(vm.newPromoCode3, $index, promoCode, 3);')
                                        text {{'Yes' | translate}}
                                    button.btn.btn-primary(ng-if="!promoCode.code && promoCode.hasMoreThanOne", ng-click='promoCode.hasMoreThanOne = false;')
                                        text {{'No' | translate}}
                                td
                                    div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{promoCode.promoCodeType.smsContent}}
                                td
                                    i.fa.fa-plus(ng-click='vm.promoCodeNewRow(vm.newPromoCode3, 3)')
                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-click="vm.generateAllPromoCode(vm.newPromoCode3)")
                            text {{'GENERATE_ALL' | translate}}
                            img.img-create

                // Tab - Promo Code History
                div(ng-if='vm.selectedPromoCodeTab=="history" && checkViewPermission("Platform", "promoCode", "promoCodeHistory")')
                    #promoCodeQuery.block-query.col-md-12.well
                        div
                            label {{"ACCOUNT" | translate}}
                            input.form-control(type='text', ng-model='vm.promoCodeQuery.playerName')
                        div
                            label {{"PROMO_CODE_TYPE" | translate}}
                            select.form-control(ng-model='vm.promoCodeQuery.promoCodeType')
                                option(value='') {{'any' | translate}}
                                option(value='1') {{"PROMO_CODE_TYPE_1" | translate}}
                                option(value='2') {{"PROMO_CODE_TYPE_2" | translate}}
                                option(value='3') {{"PROMO_CODE_TYPE_3" | translate}}
                        div(ng-if='vm.promoCodeQuery.promoCodeType')
                            label {{"PROMO_CODE_SUB_TYPE" | translate}}
                            select.form-control(ng-model='vm.promoCodeQuery.promoCodeSubType' ng-options="type.name as type.name for type in vm.promoCodeTypes | filter: {type: vm.promoCodeQuery.promoCodeType}")
                                option(value='') {{'any' | translate}}
                        div
                            label {{"STATUS" | translate}}
                            select.form-control(ng-model='vm.promoCodeQuery.status')
                                option(value='') {{'any' | translate}}
                                option(value='1') {{"AVAILABLE" | translate}}
                                option(value='2') {{"ACCEPTED" | translate}}
                                option(value='3') {{"EXPIRED" | translate}}
                        div
                            label.control-label {{'START_CREATE_TIME' | translate}}
                            .startCreateTime
                        div
                            label.control-label {{'END_CREATE_TIME' | translate}}
                            .endCreateTime
                        div
                            label.control-label {{'START_ACCEPTED_TIME' | translate}}
                            .startAcceptedTime
                        div
                            label.control-label {{'END_ACCEPTED_TIME' | translate}}
                            .endAcceptedTime
                        div
                            label &nbsp;
                            button.btn.btn-success(ng-click='vm.promoCodeQuery.searchType = 1; vm.getPromoCodeHistory(true)') {{'SEARCH_CREATETIME' | translate}}
                        div
                            label &nbsp;
                            button.btn.btn-success(ng-click='vm.promoCodeQuery.searchType = 2; vm.getPromoCodeHistory(true)') {{'SEARCH_ACCEPTEDTIME' | translate}}
                            span#promoCodeHistoryTableSpin.collapse
                                i.fa.fa-spinner.fa-spin
                    .clearfix
                    label {{"Total" | translate}} {{vm.promoCodeQuery.totalCount}} {{"records" | translate}}
                    table#promoCodeTable.common-table.display(style="min-width:100% ;overflow: scroll")
                    #promoCodeTablePage.col-md-12

                    .col-md-12.playerBtn
                        hr.margin-top-bottom-small
                        .btn-group.margin-small
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'promoCode', 'applyPromoCode')", ng-disabled="vm.selectedPromoCode.status != 1", ng-click='vm.applyPromoCode()')
                                text {{"APPLY" | translate}}
                                img.img-edit
                            button.btn.btn-primary.common-button(ng-if="checkViewPermission('Platform', 'promoCode', 'sendSMS')", ng-disabled="!vm.promoCodeQuery.totalCount", ng-click='vm.selectedPromoCode ? vm.sendSMSByPromoCode() : vm.sendSMSByPromoCodeBatch()')
                                text {{"sendSMS" | translate}}
                                img.img-edit

                //Tab - Promo Code Monitor
                div(ng-if='vm.selectedPromoCodeTab=="monitor" && checkViewPermission("Platform", "promoCode", "monitor")')
                    #promoCodeMonitorQuery.block-query.col-md-12.well
                        div
                            label.control-label {{'START_ACCEPTED_TIME' | translate}}
                            .startAcceptedTime
                        div
                            label.control-label {{'END_ACCEPTED_TIME' | translate}}
                            .endAcceptedTime
                        div
                            label &nbsp;
                            button.btn.btn-success(ng-click='vm.getPromoCodeMonitor(true)') {{'SEARCH' | translate}}
                            span#promoCodeMonitorTableSpin.collapse
                                i.fa.fa-spinner.fa-spin
                    .clearfix
                    label {{"Total" | translate}} {{vm.promoCodeMonitor.totalCount}} {{"records" | translate}}
                    table#promoCodeMonitorTable.common-table.display(style="min-width:100% ;overflow: scroll")
                    #promoCodeMonitorTablePage.col-md-12

                // Tab - SMS Content
                div(ng-if='vm.selectedPromoCodeTab=="smsContent" && checkViewPermission("Platform", "promoCode", "smsContentConfig")')
                    table.common-table.playerLvlTable
                        thead
                            tr
                                th(style="width:30%") {{"PROMO_CODE_TYPE_1" | translate}}
                                th(style="width:70%") {{"SMS_CONTENT" | translate}}
                                th(ng-if='vm.promoCodeSMSContentEdit')
                        tbody
                            tr(ng-repeat='type in vm.promoCodeType1')
                                td
                                    text {{type.name}}
                                td
                                    div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{type.smsContent}}
                                td(ng-if='vm.promoCodeSMSContentEdit')
                                    i.fa.fa-minus(ng-click='vm.updateCollectionInEdit("remove", vm.promoCodeType1, $index)')
                            tr(ng-if='vm.promoCodeSMSContentEdit')
                                td(colspan=3) {{'ADD' | translate}}
                            tr(ng-if='vm.promoCodeSMSContentEdit')
                                td
                                    input(type='text' , ng-model='vm.newPromoCodeSMSContentType1.name')
                                td
                                    input(type="text", ng-model="vm.newPromoCodeSMSContentType1.smsContent")
                                td
                                    i.fa.fa-plus(ng-click='vm.updateCollectionInEdit("add", vm.promoCodeType1, {name: vm.newPromoCodeSMSContentType1.name, smsContent: vm.newPromoCodeSMSContentType1.smsContent}); vm.newPromoCodeSMSContentType1={}')
                    br
                    table.common-table.playerLvlTable
                        thead
                            tr
                                th(style="width:30%") {{"PROMO_CODE_TYPE_2" | translate}}
                                th(style="width:70%") {{"SMS_CONTENT" | translate}}
                                th(ng-if='vm.promoCodeSMSContentEdit')
                        tbody
                            tr(ng-repeat='type in vm.promoCodeType2')
                                td
                                    text {{type.name}}
                                td
                                    div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{type.smsContent}}
                                td(ng-if='vm.promoCodeSMSContentEdit')
                                    i.fa.fa-minus(ng-click='vm.updateCollectionInEdit("remove", vm.promoCodeType2, $index)')
                            tr(ng-if='vm.promoCodeSMSContentEdit')
                                td(colspan=3) {{'ADD' | translate}}
                            tr(ng-if='vm.promoCodeSMSContentEdit')
                                td
                                    input(type='text' , ng-model='vm.newPromoCodeSMSContentType2.name')
                                td
                                    input(type="text", ng-model="vm.newPromoCodeSMSContentType2.smsContent")
                                td
                                    i.fa.fa-plus(ng-click='vm.updateCollectionInEdit("add", vm.promoCodeType2, {name: vm.newPromoCodeSMSContentType2.name, smsContent: vm.newPromoCodeSMSContentType2.smsContent}); vm.newPromoCodeSMSContentType2={}')
                    br
                    table.common-table.playerLvlTable
                        thead
                            tr
                                th(style="width:30%") {{"PROMO_CODE_TYPE_3" | translate}}
                                th(style="width:70%") {{"SMS_CONTENT" | translate}}
                                th(ng-if='vm.promoCodeSMSContentEdit')
                        tbody
                            tr(ng-repeat='type in vm.promoCodeType3')
                                td
                                    text {{type.name}}
                                td
                                    div(style="display:block;white-space:pre-wrap;word-wrap:break-word;") {{type.smsContent}}
                                td(ng-if='vm.promoCodeSMSContentEdit')
                                    i.fa.fa-minus(ng-click='vm.updateCollectionInEdit("remove", vm.promoCodeType3, $index)')
                            tr(ng-if='vm.promoCodeSMSContentEdit')
                                td(colspan=3) {{'ADD' | translate}}
                            tr(ng-if='vm.promoCodeSMSContentEdit')
                                td
                                    input(type='text' , ng-model='vm.newPromoCodeSMSContentType3.name')
                                td
                                    input(type="text", ng-model="vm.newPromoCodeSMSContentType3.smsContent")
                                td
                                    i.fa.fa-plus(ng-click='vm.updateCollectionInEdit("add", vm.promoCodeType3, {name: vm.newPromoCodeSMSContentType3.name, smsContent: vm.newPromoCodeSMSContentType3.smsContent}); vm.newPromoCodeSMSContentType3={}')

                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-if="!vm.promoCodeSMSContentEdit && checkViewPermission('Platform', 'promoCode', 'smsContentConfig')", ng-click='vm.promoCodeSMSContentEdit=!vm.promoCodeSMSContentEdit')
                            text {{'EDIT' | translate}}
                            img.img-edit
                        button.btn.btn-danger.common-button(ng-if='vm.promoCodeSMSContentEdit', ng-click='vm.promoCodeSMSContentEdit=false') {{"CANCEL" | translate}}
                        button.btn.btn-primary.common-button(ng-if='vm.promoCodeSMSContentEdit', ng-click='vm.promoCodeSMSContentEdit=!vm.promoCodeSMSContentEdit;vm.configSubmitUpdate("promoSMSContent")') {{"CONFIRM" | translate}}
                    br
                    table.playerLvlTable(style="width:10%")
                        thead
                            tr
                                th(colspan=2) {{"PROMO_CODE_LEGEND" | translate}}
                        tbody
                            tr(ng-repeat="(i, v) in constPromoCodeLegend")
                                td(style="text-align:center;") {{ i | translate }}
                                td(style="text-align:center;") {{ v }}


                // Tab - Promo Code User Group
                div(ng-if='vm.selectedPromoCodeTab=="userGroupConfig" && checkViewPermission("Platform", "promoCode", "userGroupConfig")')
                    div(style="margin-bottom:5px")
                        input.form-control(type="text", ng-model="vm.spcug", placeholder="Search", ng-change="vm.searchPromoCodeUserGroup(vm.spcug)")
                        br
                        // Group table
                        table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
                            thead
                                tr
                                    th
                                    th(width="40%") {{'promoCode_Group' | translate}}
                                    th(width="40%") {{'COLOR_CODE' | translate}}
                                    th(width="20%") {{'INLINE_EDIT' | translate}}
                            tbody
                                // before edit enabled
                                tr(ng-repeat='config in vm.userGroupConfig', ng-if='!vm.promoCodeUserGroupEdit')
                                    td {{ $index + 1 }}
                                    td(style="background-color:{{config.color}}", ng-click="vm.selectedPromoCodeUserGroup=config;") {{config.name}}
                                    td(style="background-color:{{config.color}}") {{config.color}}
                                    td(style="background-color:{{config.color}}")
                                        button.btn.btn-primary.common-button(ng-click="vm.promoCodeUserGroupEdit=true")
                                            i.fa.fa-pencil-square-o
                                            text {{'EDIT' | translate}}
                                        button.btn.btn-danger.common-button(data-toggle="modal", data-target='#modalDeletePromoCodeUserGroup' ng-click="vm.userGroupConfigDeleteIndex = $index")
                                            i.fa.fa-trash
                                            text {{'DELETE' | translate}}
                                // after edit enabled
                                tr(ng-repeat='config in vm.userGroupConfig', ng-if='vm.promoCodeUserGroupEdit')
                                    td {{ $index + 1 }}
                                    td(style="background-color:{{config.color}}", ng-click="vm.selectedPromoCodeUserGroup=config;")
                                        input.form-control(style="text-align:center;width:90%;margin: 0 auto;", type="text", ng-model="config.name")
                                    td(style="background-color:{{config.color}}")
                                        input.form-control(style="text-align:center;width:90%;margin: 0 auto;", colorpicker="rgb", type="text", ng-model="config.color")
                                    td(style="background-color:{{config.color}}")
                                        button.btn.btn-success.common-button(ng-click="vm.promoCodeUserGroupEdit=false; vm.savePromoCodeUserGroup();")
                                            i.fa.fa-floppy-o
                                            text {{'SAVE' | translate}}
                                        button.btn.btn-danger.common-button(ng-click="vm.promoCodeUserGroupEdit=false")
                                            i.fa.fa-times
                                            text {{'CANCEL' | translate}}
                                tr(ng-if='vm.promoCodeUserGroupAdd')
                                    td(colspan="4")
                                        strong {{'ADD_GROUP' | translate}}
                                tr(ng-if='vm.promoCodeUserGroupAdd')
                                    td {{ 1 }}
                                    td
                                        input(type='text', placeholder="{{'GROUP' | translate}}", ng-model='vm.newPromoCodeUserGroup.name', required)
                                    td
                                        input(colorpicker="rgb", style="background-color:{{vm.newPromoCodeUserGroup.color}}", type="text", placeholder="{{'COLOR_CODE' | translate}}", ng-model="vm.newPromoCodeUserGroup.color", required)
                                    td(ng-click='vm.newPromoCodeUserGroup.playerNames = []; vm.userGroupConfig.push(vm.newPromoCodeUserGroup); vm.newPromoCodeUserGroup={};')
                                        i.fa.fa-plus(style="font-size:2em", ng-show='vm.newPromoCodeUserGroup.name && vm.newPromoCodeUserGroup.color')
                    .pull-right
                        button.btn.btn-primary.common-button(ng-if="!vm.promoCodeUserGroupAdd", ng-click='vm.promoCodeUserGroupAdd=!vm.promoCodeUserGroupAdd')
                            i.fa.fa-plus
                            text {{'ADD_GROUP' | translate}}
                        button.btn.btn-danger.common-button(ng-if='vm.promoCodeUserGroupAdd', ng-click='vm.promoCodeUserGroupAdd=!vm.promoCodeUserGroupAdd;')
                            i.fa.fa-ban
                            text {{"CANCEL" | translate}}
                        button.btn.btn-success.common-button(ng-if='vm.promoCodeUserGroupAdd', ng-click='vm.promoCodeUserGroupAdd=!vm.promoCodeUserGroupAdd;vm.savePromoCodeUserGroup()')
                            i.fa.fa-check
                            text {{"SAVE" | translate}}

                    div(style="margin-bottom:5px", ng-if="vm.selectedPromoCodeUserGroup")
                        br
                        br
                        br
                        // Player table
                        table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
                            thead
                                tr
                                    th(style="background-color:{{vm.selectedPromoCodeUserGroup.color}}")
                                    th(width="80%", style="background-color:{{vm.selectedPromoCodeUserGroup.color}}") {{'PLAYER' | translate}} - {{vm.selectedPromoCodeUserGroup.name}}
                                    th(width="20%", style="background-color:{{vm.selectedPromoCodeUserGroup.color}}") {{'INLINE_EDIT' | translate}}
                            tbody
                                // before edit enabled
                                tr(ng-repeat='playerName in vm.selectedPromoCodeUserGroup.playerNames', ng-if='!vm.promoCodeUserGroupPlayerEdit')
                                    td {{ $index + 1 }}
                                    td(ng-if="$odd" style="background-color:#ddd") {{playerName}}
                                    td(ng-if="$even") {{playerName}}
                                    td(ng-if="$odd" style="background-color:#ddd")
                                        button.btn.btn-primary.common-button(ng-click="vm.promoCodeUserGroupPlayerEdit=true")
                                            i.fa.fa-pencil-square-o
                                            text {{'EDIT' | translate}}
                                        button.btn.btn-danger.common-button(data-toggle="modal", data-target='#modalDeletePromoCodeUserGroupPlayer' ng-click="vm.PlayerDeleteIndex = $index; vm.promoCodeUserGroupPlayerAdd=null; vm.promoCodeUserGroupPlayerAdd=!vm.promoCodeUserGroupPlayerAdd")
                                            i.fa.fa-trash
                                            text {{'DELETE' | translate}}
                                    td(ng-if="$even")
                                        button.btn.btn-primary.common-button(ng-click="vm.promoCodeUserGroupPlayerEdit=true")
                                            i.fa.fa-pencil-square-o
                                            text {{'EDIT' | translate}}
                                        button.btn.btn-danger.common-button(data-toggle="modal", data-target='#modalDeletePromoCodeUserGroupPlayer' ng-click="vm.PlayerDeleteIndex = $index; vm.promoCodeUserGroupPlayerAdd=null; vm.promoCodeUserGroupPlayerAdd=!vm.promoCodeUserGroupPlayerAdd")
                                            i.fa.fa-trash
                                            text {{'DELETE' | translate}}
                                // after edit enabled
                                tr(ng-repeat='playerName in vm.selectedPromoCodeUserGroup.playerNames', ng-if='vm.promoCodeUserGroupPlayerEdit')
                                    td {{ $index + 1 }}
                                    td(ng-if="$odd" style="background-color:#ddd")
                                        input.form-control(style="text-align:center;width:90%;margin: 0 auto;", type="text", ng-model="playerName")
                                    td(ng-if="$even")
                                        input.form-control(style="text-align:center;width:90%;margin: 0 auto;", type="text", ng-model="playerName")
                                    td(ng-if="$odd" style="background-color:#ddd")
                                        button.btn.btn-success.common-button(ng-click="vm.promoCodeUserGroupPlayerEdit=false; vm.savePromoCodeUserGroup();")
                                            i.fa.fa-floppy-o
                                            text {{'SAVE' | translate}}
                                        button.btn.btn-danger.common-button(ng-click="vm.promoCodeUserGroupPlayerEdit=false")
                                            i.fa.fa-times
                                            text {{'CANCEL' | translate}}
                                    td(ng-if="$even")
                                        button.btn.btn-success.common-button(ng-click="vm.promoCodeUserGroupPlayerEdit=false; vm.savePromoCodeUserGroup();")
                                            i.fa.fa-floppy-o
                                            text {{'SAVE' | translate}}
                                        button.btn.btn-danger.common-button(ng-click="vm.promoCodeUserGroupPlayerEdit=false")
                                            i.fa.fa-times
                                            text {{'CANCEL' | translate}}
                                tr(ng-if='vm.promoCodeUserGroupPlayerAdd')
                                    td(colspan="3")
                                        strong {{'ADD_PLAYER' | translate}}
                                tr(ng-if='vm.promoCodeUserGroupPlayerAdd')
                                    td {{ 1 }}
                                    td
                                        textarea(rows='4', placeholder="{{'PLAYER' | translate}} 1\n{{'PLAYER' | translate}} 2\n{{'PLAYER' | translate}} 3..", ng-model='vm.newUserPromoCodeUserGroup.name', required)
                                    td(ng-click='vm.addUserToPromoCodeGroup(vm.newUserPromoCodeUserGroup.name);')
                                        i.fa.fa-plus(style="font-size:3em", ng-show='vm.newUserPromoCodeUserGroup.name')
                    .pull-right(ng-if="vm.selectedPromoCodeUserGroup")
                        button.btn.btn-primary.common-button(ng-if="!vm.promoCodeUserGroupPlayerAdd", ng-click='vm.promoCodeUserGroupPlayerAdd=!vm.promoCodeUserGroupPlayerAdd')
                            i.fa.fa-plus
                            text {{'ADD_PLAYER' | translate}}
                        button.btn.btn-danger.common-button(ng-if='vm.promoCodeUserGroupPlayerAdd', ng-click='vm.promoCodeUserGroupPlayerAdd=!vm.promoCodeUserGroupPlayerAdd;')
                            i.fa.fa-ban
                            text {{"CANCEL" | translate}}
                        button.btn.btn-success.common-button(ng-if='vm.promoCodeUserGroupPlayerAdd', ng-click='vm.promoCodeUserGroupPlayerAdd=!vm.promoCodeUserGroupPlayerAdd;vm.savePromoCodeUserGroup()')
                            i.fa.fa-check
                            text {{"SAVE" | translate}}

                // Tab - Activate Promo Code
                div(ng-if='vm.selectedPromoCodeTab=="activatePromoCode" && checkViewPermission("Platform", "promoCode", "activatePromoCode")')
                    #promoCodeActivate.block-query.col-md-12.well
                        div
                            label.control-label {{'START_CREATE_TIME' | translate}}
                            .startCreateTime
                        div
                            label.control-label {{'END_CREATE_TIME' | translate}}
                            .endCreateTime
                        div
                            label {{"IS_ACTIVE" | translate}}
                            select.form-control(ng-model='vm.promoCodeActivate.flag')
                                option(value='false') {{'NO' | translate}}
                                option(value='true') {{"YES" | translate}}
                        .pull-right
                            button.btn.btn-primary.common-button(ng-click='vm.setPromoCodeActivate()') {{"SET" | translate}}
                            label {{vm.promoCodeActivate.message}}

                // Tab - Promo Code Analysis
                div(ng-if='vm.selectedPromoCodeTab=="promoCodeAnalysis" && checkViewPermission("Platform", "promoCode", "promoCodeAnalysis")')
                    #promoCodeAnalysisQuery.block-query.col-md-12.well
                        div
                            label.control-label {{'START_CREATE_TIME' | translate}}
                            .startCreateTime
                        div
                            label.control-label {{'END_CREATE_TIME' | translate}}
                            .endCreateTime
                        div
                            label {{"ACCOUNT" | translate}}
                            input.form-control(type='text', ng-model='vm.promoCodeAnalysis.playerName')
                        div
                            label {{"PROMO_CODE_TYPE" | translate}}
                            select.form-control(ng-model='vm.promoCodeAnalysis.promoCodeType', ng-change="vm.promoCodeAnalysis.promoCodeSubType = ''")
                                option(value='') {{'any' | translate}}
                                option(value='1') {{"PROMO_CODE_TYPE_1" | translate}}
                                option(value='2') {{"PROMO_CODE_TYPE_2" | translate}}
                                option(value='3') {{"PROMO_CODE_TYPE_3" | translate}}
                        div(ng-if='vm.promoCodeAnalysis.promoCodeType')
                            label {{"PROMO_CODE_SUB_TYPE" | translate}}
                            select.form-control(ng-model='vm.promoCodeAnalysis.promoCodeSubType' ng-options="type.name as type.name for type in vm.promoCodeTypes | filter: {type: vm.promoCodeAnalysis.promoCodeType}")
                                option(value='') {{'any' | translate}}
                        div
                            label &nbsp;
                            button.btn.btn-success(ng-click='vm.promoCodeAnalysis.searchType = 1; vm.getPromoCodeAnalysis(true)') {{'SEARCH_CREATETIME' | translate}}
                            span#promoCodeAnaysisTableSpin.collapse
                                i.fa.fa-spinner.fa-spin
                    .clearfix
                    label(ng-if="vm.promoCodeAnalysis.totalCount") {{"Promo Anaysis" | translate}} : {{"Total" | translate}} {{vm.promoCodeAnalysis.totalCount}} {{"records" | translate}}
                    table#promoCodeAnalysisTable.common-table.display(style="min-width:100% ;overflow: scroll")
                    #promoCodeAnalysisTablePage.col-md-12

                    .clearfix
                    label(ng-if="vm.promoCodeAnalysis2.totalCount") {{"Player Anaysis" | translate}} : {{"Total" | translate}} {{vm.promoCodeAnalysis2.totalCount}} {{"records" | translate}}
                    table#promoCodeAnalysis2Table.common-table.display(style="min-width:100% ;overflow: scroll")
                    #promoCodeAnalysis2TablePage.col-md-12

#modalDeletePromoCodeUserGroup.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_GROUP" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete group"|translate}}
                                    strong.text-danger &nbsp;{{vm.userGroupConfig[vm.userGroupConfigDeleteIndex].name}}
                                    label ?
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-click="vm.savePromoCodeUserGroup(true, vm.userGroupConfig[vm.userGroupConfigDeleteIndex]._id); vm.userGroupConfig.splice(vm.userGroupConfigDeleteIndex, 1);")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}

#modalDeletePromoCodeUserGroupPlayer.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_PLAYER" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete player"|translate}}
                                    strong.text-danger &nbsp;{{vm.selectedPromoCodeUserGroup.playerNames[vm.PlayerDeleteIndex]}}
                                    label ?
            .modal-footer
                button.btn.btn-success.common-button(data-dismiss='modal', ng-click="vm.selectedPromoCodeUserGroup.playerNames.splice(vm.PlayerDeleteIndex, 1)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                bbutton.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}