style.
    .bg-secondary {
        background-color: #868E96;
    }
.row
    .col-md-12
        div(style="display:inline-block; margin-right:10px; margin-bottom:5px;")
            select.form-control(ng-model='vm.rewardPointsSelectedPlatform' ng-options="v._id as v.name$ for v in vm.allPlatformData" ng-change="vm.rewardPointsTabClicked(vm.selectedRewardPointTab);vm.getAllPlayerLevelsLocal();vm.getAllGameProvidersLocal();")
                option(value="") {{"NO_PLATFORM_MESSAGE" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsRule"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRule")')
            span {{"REWARD_POINTS_RULE" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "loginRewardPoints"}', ng-click='vm.rewardPointsTabClicked("loginRewardPoints")')
            span {{"LOGIN_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "topupRewardPoints"}', ng-click='vm.rewardPointsTabClicked("topupRewardPoints")')
            span {{"TOPUP_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "gameRewardPoints"}', ng-click='vm.rewardPointsTabClicked("gameRewardPoints")')
            span {{"GAME_REWARD_POINTS" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsRanking"}', ng-click='vm.rewardPointsTabClicked("rewardPointsRanking")')
            span {{"REWARD_POINTS_RANKING_BOARD" | translate}}
        button.btn.btn-primary.common-button(ng-class='{active: vm.selectedRewardPointTab === "rewardPointsLog"}', ng-click='vm.rewardPointsTabClicked("rewardPointsLog")')
            span {{"REWARD_POINTS_LOG" | translate}}

    .col-md-12
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"rewardPoint" | translate}}
            .panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
            .panel-body.common-right-sub-panel-body(ng-if="vm.curPlatformText")
                .text-center(ng-if='!vm.selectedRewardPointTab')
                    label.text-danger {{'Please select a type' | translate}}

                // Tab - rewardPointsRule
                div#createPromoCodePage(ng-if='vm.selectedRewardPointTab=="rewardPointsRule" && checkViewPermission("Platform", "rewardPoints", "rewardPointsRule")')
                    .full-width-input-block
                        label {{"intervalPeriod" | translate}}
                        select.form-control(ng-model='vm.rewardPointsLvlConfig.intervalPeriod' ng-change='vm.rewardPointsLvlConfigPeriodChange()' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!vm.isRewardPointsLvlConfigEditing', required)
                    .full-width-input-block(style='padding-left:50%' ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6")
                        div.dateTimePicker(id="rewardPointsLvlConfigStartDate" style="display: inline-block; width: 48%" ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6")
                        span(ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6" style='font-size:23px') &nbsp;{{ 'to' | translate}}&nbsp;
                        div.dateTimePicker(id="rewardPointsLvlConfigEndDate" style="display: inline-block; width: 48%" ng-if="vm.rewardPointsLvlConfig.intervalPeriod==6")
                    .full-width-input-block
                        label {{"applyMethod" | translate}}
                        select.form-control(ng-model='vm.rewardPointsLvlConfig.applyMethod' ng-options="+(i) as v | translate for (i,v) in constRewardPointsApplyMethod" ng-disabled='!vm.isRewardPointsLvlConfigEditing', required)
                    br
                    br
                    table.simple-table(style="width:100%")
                        thead
                            tr
                                th {{'playerLevel' | translate}}
                                th {{'dailyMaxPoints' | translate}}
                                th {{'pointToCreditManualRate (N points : 1 Credit)' | translate}}
                                th {{'pointToCreditManualMaxPoints' | translate}}
                                th {{'pointToCreditAutoRate (N points : 1 credit)' | translate}}
                                th {{'pointToCreditAutoMaxPoints' | translate}}
                                th {{'spendingAmountOnReward' | translate}}
                                th {{'providerGroup' | translate}}
                        tbody
                            tr(ng-repeat='(idx,val) in vm.rewardPointsLvlConfig.params')
                                td(ng-repeat='(k,v) in vm.allPlayerLvl' ng-if='val.levelObjId==v._id') {{v.name}}
                                td
                                    input.form-control(type='number' ng-model='val.dailyMaxPoints' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditManualRate' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditManualMaxPoints' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditAutoRate' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.pointToCreditAutoMaxPoints' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    input.form-control(type='number' ng-model='val.spendingAmountOnReward' ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                td
                                    select.form-control(ng-model="val.providerGroup" ng-options="v._id as v.name | translate for (i,v) in vm.gameProviderGroup" ng-disabled='!vm.isRewardPointsLvlConfigEditing')
                                        option(value='') {{'ANY_LOBBY' | translate}}
                    br
                    .pull-right
                        button.btn.btn-danger.common-button(ng-if='vm.isRewardPointsLvlConfigEditing' ng-click='vm.rewardPointsLvlConfigSetDisable(true);vm.rewardPointsTabClicked("rewardPointsRule")') {{'CANCEL' | translate}}
                        button.btn.btn-primary.common-button(ng-if='vm.isRewardPointsLvlConfigEditing' ng-click='vm.rewardPointsLvlConfigSubmit()') {{'CONFIRM' | translate}}
                        button.btn.btn-primary.common-button(ng-if='!vm.isRewardPointsLvlConfigEditing' ng-click='vm.rewardPointsLvlConfigSetDisable(false);')
                            text {{'EDIT' | translate}}
                            img.img-edit


                // Tab - loginRewardPoints
                div#createLoginRewardPoints(ng-if='vm.selectedRewardPointTab=="loginRewardPoints" && checkViewPermission("Platform", "rewardPoints", "loginRewardPoints")')
                    table.simple-table(style="width:100%")
                        thead
                            tr
                                th {{'rewardPointsCategory' | translate}}
                                th {{'TYPE' | translate}}
                                th {{'LEVEL' | translate}}↑
                                th {{'refreshPeriod' | translate}}
                                th {{'displayOrder' | translate}}
                                th {{'userAgent' | translate}}
                                th {{'targetDestination' | translate}}
                                th {{'consecutiveCount' | translate}}
                                th {{'rewardPoints' | translate}}
                                th {{'rewardTitle' | translate}}
                                th {{'rewardContent' | translate}}
                                th
                        tbody
                            tr(ng-repeat="(idx,val) in vm.rewardPointsEvent | orderBy: 'index'" ng-class="{'bg-secondary': !val.status}")
                                td(style="min-width:100px;") {{'loginRewardPoints' | translate}}
                                td(style="min-width:100px;")
                                    select.form-control(ng-model="val.pointMode" ng-options="+(i) as v | translate for (i,v) in vm.loginRewardPointsMode" ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    select.form-control(ng-model="val.level" ng-disabled='!val.isEditing')
                                        option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.period' ng-change='vm.rewardPointsEventPeriodChange(idx,val)' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!val.isEditing' required)
                                    br(ng-if="val.period==6")
                                    div.dateTimePicker(id="rewardPointsEventStartDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                    div(ng-if="val.period==6") {{ 'to' | translate}}
                                    div.dateTimePicker(id="rewardPointsEventEndDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                td(style="min-width:80px;")
                                    input.form-control(type='number' style="width:100%;" ng-model='val.index' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.userAgent' ng-options="+(i) as v | translate for (i,v) in vm.userAgentWithSelectAll" ng-disabled='!val.isEditing')
                                td
                                    select.spicker.form-control(ng-model="val.target.targetDestination" multiple, data-container="body" data-width='100%' data-actions-box='true' ng-disabled='!val.isEditing')
                                        option(style="display: inline-block" value='') {{"ANY_PAGE" | translate}}
                                        option(style="display: inline-block" ng-repeat='(i,v) in vm.allGameProviders', value='{{v._id}}') {{v.name}}
                                td(style="min-width:60px;")
                                    input.form-control(type='number' ng-model='val.consecutiveCount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.rewardPoints' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    input.form-control(type='text' ng-model='val.rewardTitle' ng-disabled='!val.isEditing' required)
                                td(style="min-width:200px;")
                                    input.form-control(type='text' ng-model='val.rewardContent' ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    button.btn.btn-primary(ng-if='val.isEditing && !val._id' ng-click='vm.createRewardPointsEvent(val);vm.endLoadWeekDay();' ng-disabled='!val.rewardTitle' style='margin: 0 5px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-primary(ng-if='val.isEditing && val._id' ng-click='vm.updateRewardPointsEvent(idx,val);' ng-disabled='!val.rewardTitle' style='margin: 0 5px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-danger(ng-if='val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,true);vm.rewardPointsEventReset(idx);' style='margin: 0 5px;') {{'CANCEL' | translate}}
                                    button.btn.btn-primary(ng-if='!val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,false);' style='margin: 0 5px;') {{'EDIT' | translate}}
                                    button.btn.btn-danger(ng-if='!val.isEditing' data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click="vm.deletingRewardPointsEvent=val" style='margin: 0 5px;') {{'DELETE' | translate}}
                                    button.btn(class="{{val.status? 'btn-danger':'btn-success'}}" ng-if='!val.isEditing' ng-click='val.status = !val.status; vm.updateRewardPointsEvent(idx,val);' style='margin: 0px 5px;') {{val.status? 'Closed':'Open' | translate}}

                    br
                    .pull-left
                        button.btn.btn-primary.common-button(ng-click='vm.allRewardPointsEventStatus(true);')
                            text {{'OPEN_ALL'| translate}}
                        button.btn.btn-danger.common-button(ng-click='vm.allRewardPointsEventStatus(false);')
                            text {{'CLOSE_ALL'| translate}}
                        button.btn.btn-danger.common-button(data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click='vm.deleteAllRewardPointsEvent()')
                            text {{'DELETE_ALL'| translate}}

                    .pull-right
                        button.btn.btn-primary.common-button(ng-if='!vm.rewardPointsEventUpdateAll' ng-click='vm.rewardPointsEventSetEditStatusAll();')
                            text {{'EDIT_ALL' | translate}}
                            img.img-edit
                        button.btn.btn-primary.common-button(ng-if='vm.rewardPointsEventUpdateAll' ng-click='vm.updateAllRewardPointsEvent();')
                            text {{'UPDATE_ALL' | translate}}
                            img.img-edit
                        button.btn.btn-primary.common-button(ng-click='vm.rewardPointsEventAddNewRow(constRewardPointsTaskCategory.LOGIN_REWARD_POINTS);vm.endLoadWeekDay();')
                            text {{'ADD' | translate}}
                            img.img-create


                //Tab - topupRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="topupRewardPoints" && checkViewPermission("Platform", "rewardPoints", "topupRewardPoints")')
                    table.simple-table(style="width:100%")
                        thead
                            tr
                                th {{'rewardPointsCategory' | translate}}
                                th {{'LEVEL' | translate}}↑
                                th {{'refreshPeriod' | translate}}
                                th {{'displayOrder' | translate}}
                                th {{'userAgent' | translate}}
                                th {{'topupType' | translate}}
                                th {{'OnlineTopUpType' | translate}}
                                th {{'DEPOSIT_METHOD' | translate}}
                                th {{'ToBankTypeId' | translate}}
                                th {{'dailyTopupAmount' | translate}}
                                th {{'singleTopupAmount' | translate}}
                                th {{'consecutiveTopupCount' | translate}}
                                th {{'rewardPoints' | translate}}
                                th {{'rewardTitle' | translate}}
                                th {{'rewardContent' | translate}}
                                th
                        tbody
                            tr(ng-repeat="(idx,val) in vm.rewardPointsEvent | orderBy: 'index'" ng-class="{'bg-secondary': !val.status}")
                                td(style="min-width:70px;") {{'TOPUP_REWARD_POINTS' | translate}}
                                td(style="min-width:80px;")
                                    select.form-control(ng-model="val.level" ng-disabled='!val.isEditing')
                                        option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.period' ng-change='vm.rewardPointsEventPeriodChange(idx,val)' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!val.isEditing')
                                    br(ng-if="val.period==6")
                                    div.dateTimePicker(id="rewardPointsEventStartDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                    div(ng-if="val.period==6") {{ 'to' | translate}}
                                    div.dateTimePicker(id="rewardPointsEventEndDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.index' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.userAgent' ng-options="+(i) as v | translate for (i,v) in vm.userAgentTypeWithSelectAll" ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    select.form-control(ng-model='val.target.merchantTopupMainType' ng-options="+(i) as v | translate for (i,v) in vm.topupTypeListWithSelectAll" ng-disabled='!val.isEditing')
                                td(style="min-width:140px;")
                                    select.form-control(ng-model='val.target.merchantTopupType' ng-options="+(i) as v | translate for (i,v) in vm.merchantTopupType" ng-disabled='!val.isEditing')
                                        option(value='') {{'EMPTY'|translate}}
                                td(style="min-width:180px;")
                                    select.form-control(ng-model='val.target.depositMethod' ng-options="+(i) as v | translate for (i,v) in depositMethod" ng-disabled='!val.isEditing')
                                        option(value='') {{'EMPTY'|translate}}
                                td(style="min-width:200px;")
                                    select.form-control(ng-model='val.target.bankType' ng-options="+(i) as v | translate for (i,v) in vm.allBankTypeList" ng-disabled='!val.isEditing')
                                        option(value='') {{'EMPTY'|translate}}
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.target.dailyTopupAmount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.target.singleTopupAmount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.consecutiveCount' ng-disabled='!val.isEditing')
                                td(style="min-width:80px;")
                                    input.form-control(type='number' ng-model='val.rewardPoints' ng-disabled='!val.isEditing')
                                td(style="min-width:150px;")
                                    input.form-control(type='text' ng-model='val.rewardTitle' ng-disabled='!val.isEditing')
                                td(style="min-width:185px;")
                                    input.form-control(type='text' ng-model='val.rewardContent' ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    button.btn.btn-primary(ng-if='val.isEditing && !val._id' ng-click='vm.createRewardPointsEvent(val);vm.endLoadWeekDay();' ng-disabled='!val.rewardTitle' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-primary(ng-if='val.isEditing && val._id' ng-click='vm.updateRewardPointsEvent(idx,val);' ng-disabled='!val.rewardTitle' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-danger(ng-if='val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,true);vm.rewardPointsEventReset(idx);' style='margin: 1px 1px;') {{'CANCEL' | translate}}
                                    button.btn.btn-primary(ng-if='!val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,false);' style='margin: 1px 1px;') {{'EDIT' | translate}}
                                    button.btn.btn-danger(ng-if='!val.isEditing' data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click="vm.deletingRewardPointsEvent=val" style='margin: 1px 1px;') {{'DELETE' | translate}}
                                    button.btn(class="{{val.status? 'btn-danger':'btn-success'}}" ng-if='!val.isEditing' ng-click='val.status = !val.status; vm.updateRewardPointsEvent(idx,val);' style='margin: 1px 1px;') {{val.status? 'Closed':'Open' | translate}}
                    br
                    .pull-left
                        button.btn.btn-primary.common-button(ng-click='vm.allRewardPointsEventStatus(true);')
                            text {{'OPEN_ALL'| translate}}
                        button.btn.btn-danger.common-button(ng-click='vm.allRewardPointsEventStatus(false);')
                            text {{'CLOSE_ALL'| translate}}
                        button.btn.btn-danger.common-button(data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click='vm.deleteAllRewardPointsEvent()')
                            text {{'DELETE_ALL'| translate}}

                    .pull-right
                        button.btn.btn-primary.common-button(ng-if='!vm.rewardPointsEventUpdateAll' ng-click='vm.rewardPointsEventSetEditStatusAll();')
                            text {{'EDIT_ALL' | translate}}
                            img.img-edit
                        button.btn.btn-primary.common-button(ng-if='vm.rewardPointsEventUpdateAll' ng-click='vm.updateAllRewardPointsEvent();')
                            text {{'UPDATE_ALL' | translate}}
                            img.img-edit
                        button.btn.btn-primary.common-button(ng-click='vm.rewardPointsEventAddNewRow(constRewardPointsTaskCategory.TOPUP_REWARD_POINTS);vm.endLoadWeekDay();')
                            text {{'ADD' | translate}}
                            img.img-create

                // Tab - gameRewardPoints
                div(ng-if='vm.selectedRewardPointTab=="gameRewardPoints" && checkViewPermission("Platform", "rewardPoints", "gameRewardPoints")')
                    table.simple-table(style="width:100%;font-size: 13px;")
                        thead
                            tr
                                th {{'rewardPointsCategory' | translate}}
                                th {{'LEVEL' | translate}}↑
                                th {{'refreshPeriod' | translate}}
                                th {{'displayOrder' | translate}}
                                th {{'GAME_LOBBY' | translate}}
                                th {{'gameType' | translate}}
                                th {{'betType' | translate}}

                                th {{'dailyConsumptionCount' | translate}}
                                th {{'singleConsumptionAmountGreaterThan' | translate}}
                                th {{'dailyValidConsumptionAmount' | translate}}
                                th {{'dailyWinGameCount' | translate}}

                                th {{'consecutiveBet' | translate}}
                                th {{'rewardPoints' | translate}}
                                th {{'rewardTitle' | translate}}
                                th {{'rewardContent' | translate}}
                                th
                        tbody
                            tr(ng-repeat="(idx,val) in vm.rewardPointsEvent | orderBy: 'index'" ng-class="{'bg-secondary': !val.status}")
                                td(style="min-width:70px;") {{'gameRewardPoints' | translate}}
                                td(style="min-width:150px;")
                                    select.form-control(ng-model="val.level" ng-disabled='!val.isEditing')
                                        option(ng-repeat='(i,v) in vm.allPlayerLvl', value='{{v._id}}') {{v.name | translate}}
                                td(style="min-width:190px;")
                                    select.form-control(ng-model='val.period' ng-change='vm.rewardPointsEventPeriodChange(idx,val)' ng-options="+(i) as v | translate for (i,v) in constRewardPointsIntervalPeriod" ng-disabled='!val.isEditing' required)
                                    br(ng-if="val.period==6")
                                    div.dateTimePicker(id="rewardPointsEventStartDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                    div(ng-if="val.period==6") {{ 'to' | translate}}
                                    div.dateTimePicker(id="rewardPointsEventEndDate-{{idx}}" style="display: inline-block" ng-if="val.period==6")
                                td(style="min-width:75px;")
                                    input.form-control(type='number' ng-model='val.index' ng-disabled='!val.isEditing')
                                //td(style="min-width:105px;")
                                //    select.form-control(ng-model='val.userAgent' ng-options="+(i) as v | translate for (i,v) in constPlayerRegistrationInterface" ng-disabled='!val.isEditing')
                                td(style="min-width:105px;")
                                    select.form-control(data-container="body" ng-model="val.target.targetDestination" data-width='100%' data-actions-box='true' ng-disabled='!val.isEditing')
                                        option(style="display: inline-block" value='') {{"any" | translate}}
                                        option(style="display: inline-block" ng-repeat='(i,v) in vm.allGameProviders', value='{{v._id}}') {{v.name}}
                                td(style="min-width:105px;")
                                    // display select form if game provider is not required to manually insert game id
                                    select.form-control(ng-model="val.target.gameType", data-width="100%", data-actions-box="true", ng-disabled="!val.isEditing", ng-if="vm.gameProviderManuallyInsertGameId.indexOf(val.target.targetDestination) === -1", ng-options="i as i for (i,v) in vm.gameProvidersList[val.target.targetDestination].gameTypes")
                                        option(style="display: inline-block" value='') {{"any" | translate}}
                                        //option(style="display: inline-block" ng-repeat='(i,v) in vm.gameProvidersList[val.target.targetDestination].gameTypes', value='{{i}}') {{i}}
                                    // display input form if game provider is required to manually insert game id
                                    input.form-control(type="text", ng-model="val.target.gameType", ng-disabled="!val.isEditing", ng-if="vm.gameProviderManuallyInsertGameId.indexOf(val.target.targetDestination) > -1")
                                td(style="min-width:105px;")
                                    select.spicker.form-control(ng-model="val.target.betType" ,multiple, data-width='100%', data-actions-box='true', ng-disabled='!val.isEditing', data-container="body" ,bsp, ng-options ='data for data in vm.gameProvidersList[val.target.targetDestination].gameTypes[val.target.gameType]')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.dailyConsumptionCount' ng-change='val.target.dailyWinGameCount = val.target.dailyValidConsumptionAmount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.singleConsumptionAmount' ng-change='val.target.dailyWinGameCount = val.target.dailyValidConsumptionAmount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.dailyValidConsumptionAmount' ng-change='val.target.dailyWinGameCount = val.target.singleConsumptionAmount = val.target.dailyConsumptionCount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.target.dailyWinGameCount' ng-change='val.target.dailyConsumptionCount = val.target.singleConsumptionAmount = val.target.dailyValidConsumptionAmount = null' ng-disabled='!val.isEditing')
                                td(style="min-width:95px;")
                                    input.form-control(type='number' ng-model='val.consecutiveCount' ng-disabled='!val.isEditing')
                                td(style="min-width:90px;")
                                    input.form-control(type='number' ng-model='val.rewardPoints' ng-disabled='!val.isEditing')
                                td(style="min-width:135px;")
                                    input.form-control(type='text' ng-model='val.rewardTitle' ng-disabled='!val.isEditing' required)
                                td(style="min-width:185px;")
                                    input.form-control(type='text' ng-model='val.rewardContent' ng-disabled='!val.isEditing')
                                td(style="min-width:200px;")
                                    button.btn.btn-primary(ng-if='val.isEditing && !val._id' ng-click='vm.createRewardPointsEvent(val);vm.endLoadWeekDay();' ng-disabled='!val.rewardTitle' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-primary(ng-if='val.isEditing && val._id' ng-click='vm.updateRewardPointsEvent(idx,val);' ng-disabled='!val.rewardTitle' style='margin: 1px 1px;') {{'CONFIRM' | translate}}
                                    button.btn.btn-danger(ng-if='val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,true);vm.rewardPointsEventReset(idx);' style='margin: 1px 1px;') {{'CANCEL' | translate}}
                                    button.btn.btn-primary(ng-if='!val.isEditing' ng-click='vm.rewardPointsEventSetDisable(idx,val,false);' style='margin: 1px 1px;') {{'EDIT' | translate}}
                                    button.btn.btn-danger(ng-if='!val.isEditing' data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click="vm.deletingRewardPointsEvent=val" style='margin: 1px 1px;') {{'DELETE' | translate}}
                                    button.btn(class="{{val.status? 'btn-danger':'btn-success'}}" ng-if='!val.isEditing' ng-click='val.status = !val.status; vm.updateRewardPointsEvent(idx,val);' style='margin: 0px 5px;') {{val.status? 'Closed':'Open' | translate}}

                    br
                    .pull-left
                        button.btn.btn-primary.common-button(ng-click='vm.allRewardPointsEventStatus(true);')
                            text {{'OPEN_ALL'| translate}}
                        button.btn.btn-danger.common-button(ng-click='vm.allRewardPointsEventStatus(false);')
                            text {{'CLOSE_ALL'| translate}}
                        button.btn.btn-danger.common-button(data-toggle="modal", data-target='#modalDeleteRewardPointsEvent' ng-click='vm.deleteAllRewardPointsEvent()')
                            text {{'DELETE_ALL'| translate}}

                    .pull-right
                        button.btn.btn-primary.common-button(ng-if='!vm.rewardPointsEventUpdateAll' ng-click='vm.rewardPointsEventSetEditStatusAll();')
                            text {{'EDIT_ALL' | translate}}
                            img.img-edit
                        button.btn.btn-primary.common-button(ng-if='vm.rewardPointsEventUpdateAll' ng-click='vm.updateAllRewardPointsEvent();')
                            text {{'UPDATE_ALL' | translate}}
                            img.img-edit
                        button.btn.btn-primary.common-button(ng-click='vm.rewardPointsEventAddNewRow(constRewardPointsTaskCategory.GAME_REWARD_POINTS);vm.endLoadWeekDay();')
                            text {{'ADD' | translate}}
                            img.img-create

                // Tab - rewardPointsRanking
                div(ng-if='vm.selectedRewardPointTab=="rewardPointsRanking" && checkViewPermission("Platform", "rewardPoints", "rewardPointsRanking")')
                    table#rewardRankingTable.common-table.display(style="min-width:100% ;overflow: scroll")
                    #rewardRankingTablePage
                    div.block-query.col-md-12.well(style="margin-top:25px !important;")
                        label {{'FAKE_ACCOUNT_GENERATE' | translate}}
                        table.simple-table(style="width:100%")
                            thead
                                tr
                                    th {{'ACTION_BUTTON' | translate}}
                                    th {{'INSERT_FAKE_ACCOUNT' | translate}}
                                    th {{'FAKE_ACC_WORD_COUNT' | translate}}
                                    th {{'FAKE_ACC_COMBINATION' | translate}}
                                    th {{'INSERT_FAKE_REWARD_POINTS' | translate}}
                                    th {{'INSERT_FAKE_REWARD_COUNT' | translate}}
                                    th {{'LOWEST_RANDOM_LEVEL' | translate}}
                            tbody
                                //tr(ng-repeat='(idx,val) in vm.topupRewardPoints')
                                tr(ng-repeat="v in vm.playerRankingRandom track by $index")
                                    td
                                        i.fa.fa-minus(ng-click='vm.deleteRankingRandomRow($index)' ng-show ='vm.isEditRandomData')
                                    td
                                        input.form-control(type='text' ng-disabled ='!vm.isEditRandomData' ng-model='v.prefix')
                                    td
                                        input.form-control(style='width:80px;display:inline-block' type='number' ng-disabled ='!vm.isEditRandomData' ng-model='v.minAccountLength')
                                        div.text-center(style="width:15px;display:inline-block") ~
                                        input.form-control(style='width:80px;display:inline-block' type='number' ng-disabled ='!vm.isEditRandomData' ng-model='v.maxAccountLength')
                                    td
                                        div(style='display:inline-block')
                                            input.form-control(style='width:50px;display:inline-block' type='checkbox' ng-model='v.isRandomAlphabet' ng-disabled ='!vm.isEditRandomData')
                                            text(style='display:inline-block') {{'ENGLISH' | translate}}
                                        div(style='display:inline-block')
                                            input.form-control(style='width:50px;display:inline-block' type='checkbox' ng-model='v.isRandomDigit' ng-disabled ='!vm.isEditRandomData')
                                            text(style='display:inline-block') {{'DIGIT' | translate}}
                                    td
                                        input.form-control(style='width:40%;display:inline-block' type='number' ng-model='v.minRewardPoints' ng-disabled ='!vm.isEditRandomData')
                                        div.text-center(style="width:15px;display:inline-block") ~
                                        input.form-control(style='width:40%;display:inline-block' type='number' ng-model='v.maxRewardPoints' ng-disabled ='!vm.isEditRandomData' required)
                                    td
                                        input.form-control(type='number' style='width:80px;display:inline-block;text-align:center' ng-model='v.randomCount' ng-disabled ='!vm.isEditRandomData')
                                    td
                                        select.form-control(ng-model='v.lowestLevel', ng-options='v._id as v.name for (i,v) in vm.allPlayerLvl' ng-disabled ='!vm.isEditRandomData')
                        .pull-right
                            br
                            label &nbsp;
                            button.common-button.margin-right-5.btn.btn-primary(ng-click='vm.isEditRandomData = true' ng-if = "!vm.isEditRandomData && checkViewPermission('Platform', 'rewardPoints', 'Create')") {{'EDIT' | translate}}
                            button.common-button.btn.btn-warning.margin-right-5(ng-click='vm.isEditRandomData = false; vm.playerRankingRandom = vm.playerRankingRandomClone' ng-if = 'vm.isEditRandomData') {{'CANCEL' | translate}}
                            button.common-button.margin-right-5.btn.btn-primary(ng-click='vm.playerRankingRandom.push({})' ng-if = 'vm.isEditRandomData') {{'ADD' | translate}}
                            button.common-button.btn.btn-success(ng-click='vm.isEditRandomData = false; vm.submitRankingRandomConfig()' ng-if = 'vm.isEditRandomData') {{'CONFIRM' | translate}}
                            button.common-button.btn.btn-success(ng-click='vm.insertRandomData()' ng-if = "!vm.isEditRandomData && checkViewPermission('Platform', 'rewardPoints', 'Create')") {{'RANDOM_GENERATE' | translate}}
                    br
                    div(style="margin-top:25px;")
                        //label {{'INCLUDE_FAKE_ACC' | translate}}
                        table#rewardRankingRandomTable.common-table.display(style="min-width:100% ;overflow: scroll")
                        button.btn.btn-primary.common-button.pull-right(ng-if='!vm.editFakeAcc' ng-click='vm.toggleDeleteFakeAcc(true)') {{"deleteMultipleFakeData" | translate}}
                        button.btn.btn-success.common-button.pull-right(ng-if='vm.editFakeAcc' ng-click='vm.toggleDeleteFakeAcc(false)') {{"CANCEL" | translate}}
                        button.btn.btn-danger.common-button.pull-right(ng-if='vm.displayFrontEndRewardPointsRankingData' ng-click='vm.toggleFrontEndRewardPointsRankingData(false)') {{"disableFrontEndRewardPointsRankingData" | translate}}
                        button.btn.btn-success.common-button.pull-right(ng-if='!vm.displayFrontEndRewardPointsRankingData' ng-click='vm.toggleFrontEndRewardPointsRankingData(true)') {{"enableFrontEndRewardPointsRankingData" | translate}}
                        button.btn.btn-danger.common-button.pull-right(ng-if='vm.editFakeAcc' ng-disabled='!vm.multiRandomRankingSelected || vm.multiRandomRankingSelected.length < 1'
                        ng-click='vm.toggleDeleteFakeAcc(false);vm.deleteMultipleRandomRanking()') {{"DELETE" | translate}}
                        br
                        br
                        #rewardRankingRandomTablePage

                // Tab - rewardPointsLog
                div(ng-if='vm.selectedRewardPointTab=="rewardPointsLog" && checkViewPermission("Platform", "rewardPoints", "rewardPointsLog")')
                    .row
                        .col-md-12
                            .well
                                .search-filters-item
                                    label {{'Member Account' | translate}}
                                    input.form-control(type="text" ng-model="vm.rewardPointsLogQuery.playerName")

                                .search-filters-item
                                    label {{'Reward Points Proposal No' | translate}}
                                    input.form-control(type="number" ng-model="vm.rewardPointsLogQuery.proposalId")

                                .search-filters-item
                                    label {{'Reward Points Type' | translate}}
                                    select.form-control(ng-model='vm.rewardPointsLogQuery.category')
                                        option(value='all') {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in constRewardPointsLogCategory' value='{{i}}') {{ v | translate }}

                                .search-filters-item
                                    label {{'Reward Title' | translate}}
                                    input.form-control(type="text" ng-model="vm.rewardPointsLogQuery.rewardTitle")

                                .search-filters-item
                                    label {{'userAgent' | translate}}
                                    select.form-control(ng-model='vm.rewardPointsLogQuery.userAgent')
                                        option(value='all') {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in constPlayerRegistrationInterface' value='{{i}}') {{ v | translate }}

                                .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.rewardPointsLogQuery.rewardPointsOperator === "range")}')
                                    label {{'Reward Point Variable' | translate}}
                                    div
                                        select.threeBoxes.form-control(ng-model='vm.rewardPointsLogQuery.rewardPointsOperator')
                                            option(value='>=') >=
                                            option(value='=') =
                                            option(value='<=') <=
                                            option(value='range') {{'range' | translate}}
                                        input.threeBoxes.form-control(ng-model='vm.rewardPointsLogQuery.rewardPointsAmountOne' type = 'number')
                                        div.symbol(ng-if="vm.rewardPointsLogQuery.rewardPointsOperator === 'range'") ~
                                        input.threeBoxes.form-control(type="number" ng-model="vm.rewardPointsLogQuery.rewardPointsAmountTwo" ng-if="vm.rewardPointsLogQuery.rewardPointsOperator === 'range'")

                                .search-filters-item
                                    label {{'Proposal Status' | translate}}
                                    select.form-control(ng-model='vm.rewardPointsLogQuery.status')
                                        option(value='all') {{'ALL' | translate}}
                                        option(ng-repeat='(i,v) in constRewardPointsLogStatus' value='{{i}}') {{ v | translate }}

                                .search-filters-item
                                    label {{'Create Time(Start)' | translate}}
                                    #rpRecordStartDate.input-append.form-control
                                        input(data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')

                                .search-filters-item
                                    label {{'Create Time(End)' | translate}}
                                    #rpRecordEndDate.input-append.form-control
                                        input(data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                        span.add-on
                                            i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                                .text-right.widthto100
                                    button.btn.btn-primary(ng-if="checkViewPermission('Platform', 'rewardPoints', 'Read')",ng-click='vm.submitRewardPointsLogQuery(true)') {{"SEARCH" | translate}}
                                    i#loadRewardPointsLogIcon.fa.fa-refresh.fa-spin.collapse.margin-left-5.text-danger.fa-2x
                    .row.margin-top-bottom-small
                        .col-md-12
                            label.margin-left-5 {{"total" | translate}} {{vm.allRewardPointsLog.size}} {{"records" | translate}} &nbsp; &nbsp;
                            label.margin-left-5 {{"TOTAL_PLAYER_COUNT" | translate}} {{vm.allRewardPointsLog.playerCount}}
                            table#allRewardPointsTable.display.common-table.widthto100
                            #allRewardPointsTablePage

#modalDeleteRewardPointsRandom.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_REWARD_POINTS" | translate}}  {{vm.selectedRandomRanking.playerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"Are you sure you want to delete reward points event"|translate}}
                                    strong.text-danger &nbsp;{{vm.deletingRewardPointsEvent.rewardTitle}}
                                    label ?
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.deleteRandomRanking()') {{"DELETE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalEditRewardPointsRandom.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"EDIT_REWARD_POINTS_RANKING" | translate}}  {{vm.selectedRandomRanking.playerName}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .form-group.col-md-6
                                    label.control-label {{"PLAYERNAME" | translate}}
                                    input.form-control(type="text", ng-model="vm.selectedRandomRanking.playerName")
                                .form-group.col-md-6
                                    label.control-label {{"PLAYER_LEVEL" | translate}}
                                    select.form-control(ng-model='vm.selectedRandomRanking.playerLevel._id', ng-options='v._id as v.name for (i,v) in vm.allPlayerLvl' )
                            .col-md-12
                                .form-group.col-md-6
                                    label.control-label {{"REWARD_POINTS_CURRENT" | translate}}
                                    input.form-control(type="Number", ng-model="vm.selectedRandomRanking.points")
            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.editRandomRanking()') {{"UPDATE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}

#modalDeleteRewardPointsEvent.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"DELETE_REWARD_POINTS" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well(ng-if="!vm.deletingRewardPointsEvent.length")
                                    label {{"Are you sure you want to delete reward points event"|translate}}
                                    strong.text-danger &nbsp;{{vm.deletingRewardPointsEvent.rewardTitle}}
                                    label ?
                                .well(ng-if="vm.deletingRewardPointsEvent.length")
                                    label {{"Are you sure you want to delete all reward points event"|translate}} ?

            .modal-footer
                button.btn-sm.margin-right-5.btn.btn-primary.col-md-2(data-dismiss='modal' ng-click='vm.deleteRewardPointsEvent(vm.deletingRewardPointsEvent)') {{"DELETE" | translate}}
                button.btn-sm.margin-right-5.btn.btn-warning.col-md-2(data-dismiss='modal') {{"CANCEL" | translate}}
