form#formEditPlayer(name="form_edit_player", novalidate)
    .row.margin-left-5.margin-right-5
        .form-group.col-md-6
            label.control-label {{"Bankcard Group"|translate}}
            select.form-control(ng-model='playerBeingEdited.bankCardGroup')
                option(ng-repeat='(i,v) in platformBankCardGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.bankCardGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"MERCHANT_GROUP"|translate}}
            select.form-control(ng-model='playerBeingEdited.merchantGroup')
                option(ng-repeat='(i,v) in platformMerchantGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.merchantGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"alipayGroup"|translate}}
            select.form-control(ng-model='playerBeingEdited.alipayGroup')
                option(ng-repeat='(i,v) in platformAlipayGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.alipayGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"WechatPay Group"|translate}}
            select.form-control(ng-model='playerBeingEdited.wechatPayGroup')
                option(ng-repeat='(i,v) in platformWechatPayGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.wechatPayGroup==v._id') {{v.displayName}}
        .form-group.col-md-6.collapse
            label.control-label {{"QuickPay Group"|translate}}
            select.form-control(ng-model='playerBeingEdited.quickPayGroup')
                option(ng-repeat='(i,v) in platformQuickPayGroupList', value='{{v._id}}', ng-selected='playerBeingEdited.quickPayGroup==v._id') {{v.displayName}}
        .form-group.col-md-6
            label.control-label {{"TrustLevel"|translate}}
            select.form-control(ng-model='playerBeingEdited.trustLevel')
                option(ng-repeat='(i,v) in allPlayerTrustLvl', value='{{v.value}}', ng-selected='playerBeingEdited.trustLevel==v.value') {{v.name | translate}}
        .form-group.col-md-12
            label {{'REMARKS' | translate}}:
            div
                textarea.form-control(style="overflow: auto; margin-bottom: 12px;", rows="3", ng-model="topUpGroupRemark", placeholder="{{'Topup Group' | translate}}{{'REMARKS' | translate}}")
        //.form-group.col-md-12
        //    label {{'TOPUP_GROUP_RECORD' | translate}}
            //div(align="center").we`ll
                table.paddingTbl(style='min-width:100%')
                    thead
                        tr
                            th {{"OPERATOR_NAME" | translate}}
                            th {{"Topup Group" | translate}}
                            th {{"TIME" | translate}}
                            th {{"OPERATOR_ACTION" | translate}}
                            th {{"remark" | translate}}
                    tbody
                        tr(ng-repeat='(i, data) in playerTopUpGroupLog')

                            td(style="text-align:center;border: 1px solid #0099CC")
                                text {{data.admin.adminName}}
                            td(style="text-align:left;border: 1px solid #0099CC")
                                text {{data.topUpGroupNames$ | translate}}
                            td(style= "border: 1px solid #0099CC")
                                text {{data.createTime}}
                            td(style= "border: 1px solid #0099CC")
                                text {{data.topUpGroupChanges}}
                            td(style = "background-color:white;border: 1px solid #0099CC")
                                text {{data.remark}}
            #topUpGroupRecordPage

//.form-group.col-md-6
    //   label.control-label {{"TELEPHONE" | translate}}
    //   span.pull-right
    //      label Change Phone number
    //         input.pull-left(style='margin-right:5px' type='checkbox' ng-model='vm.changeMobile')
    //   input.form-control(ng-if='!vm.changeMobile' type="text", placeholder="{{'MOBILE' | translate}}", ng-model="vm.editPlayer.phoneNumber", disabled)
    //   input.form-control(ng-if='vm.changeMobile' type="text", placeholder="{{'MOBILE' | translate}}",ng-pattern="vm.phonePattern", ng-model="vm.newPhoneNumber")
