.resizable-content.container-fluid
   .resizable-row.row(resizable="resizable", r-directions="['bottom']", r-flex="true")
        #proposalDataTableDiv.tab-pane.fade.in.active.col-md-12(style="overflow: scroll;")
            #search.well
                .label.label-success 提案列表
                .inlineBlk(ng-show="checkViewPermission('Operation', 'Proposal', 'queryByProposalId')")
                    div.all-proposal-type(ng-repeat="item in vm.allProposalType", style="display: inline-block;")
                        .checkbox
                            label
                                input(name="{{item.name}}", type="checkbox", value="{{item.name}}")
                                {{item.name | translate}}
            .clearfix
            .proposalMessage
                text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.timeAllProposal}}
                label.text-danger.newProposalAlert
                a(ng-click='vm.loadProposalQueryData(true)')
                    .fa.fa-refresh
                .pull-right
                    label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                        input#autoRefreshProposalFlag2.margin-left-5(type='checkbox', checked)
                    .inlineBlk.hidden
                        text {{"Time left until next refresh" | translate}} :&nbsp;
                        text.timeLeftRefreshOperation
                        text s
            .row
                .col-md-12
                    label {{"Total" | translate}} {{vm.queryProposal.totalCount}} {{"records" | translate}}
                    table.common-table#proposalDataTable.display(style="width:100%;min-width:100%;max-height:450px;")
                    #proposalDataTablePage
    .resizable-row.row
        .col-md-6(resizable="resizable", r-directions="['right']", r-flex="true")
            #paymentMonitorQuery.block-query.well
                div
                    .label.label-success 在线充值提案
                br
                div
                    label {{'topupType' | translate}}
                    select.form-control(ng-model='vm.paymentMonitorQuery.mainTopupType', required)
                        option(value='') {{"any" | translate}}
                        option(value='') {{"any" | translate}}
                        option(ng-repeat='(i,v) in vm.topUpTypeList', value='{{v}}') {{"TOPUP"+i | translate}}
                div(style='max-width:125px')
                    label {{'Online Topup Type' | translate}}
                    select.form-control(ng-model='vm.paymentMonitorQuery.topupType')
                        option(value='') {{'any' | translate}}
                        option(value='1') 网银支付(NetPay)
                        option(value='2') 微信扫码(WechatQR)
                        option(value='3') 支付宝扫码(AlipayQR)
                        option(value='4') 微信App支付(WechatApp)
                        option(value='5') 支付宝App支付(AlipayApp)
                        option(value='6') 快捷支付(FASTPAY)
                        option(value='7') QQ扫码(QQPAYQR)
                div(style='max-width:125px')
                    label {{'Merchant Group' | translate}}
                    select.form-control(ng-model='vm.paymentMonitorQuery.merchantGroup',ng-options='mer.list as mer.name for mer in vm.merchantGroups')
                        option(value='') {{'any' | translate}}
                div(style='max-width:125px')
                    label {{'Merchant No' | translate}}
                    select.form-control(ng-model='vm.paymentMonitorQuery.merchantNo', ng-options='index as name for (index, name) in vm.merchantNumbers')
                        option(value='') {{'any' | translate}}
                div(style='max-width:125px')
                    label {{'PLAYER_NAME' | translate}}
                    input.form-control(ng-model='vm.paymentMonitorQuery.playerName', type='text')
                div
                    label.control-label {{'Start date' | translate}}
                    .startTime
                div
                    label.control-label {{'End date' | translate}}
                    .endTime
                div
                    label &nbsp;
                    button.btn.btn-warning(ng-click='vm.resetTopUpMonitorQuery()') {{'Reset' | translate}}
                div
                    label &nbsp;
                    button.btn.btn-success(ng-click='vm.getPaymentMonitorRecord(true)') {{'SEARCH' | translate}}
                    span#paymentMonitorTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            .proposalMessage
                text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.lastTopUpRefresh}}
                label.text-danger.newProposalAlert
                a(ng-click='vm.getPaymentMonitorRecord()')
                    .fa.fa-refresh
                .pull-right
                    label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                        input#autoRefreshProposalFlag.margin-left-5(type='checkbox', checked)
                    .inlineBlk.hidden
                        text {{"Time left until next refresh" | translate}} :&nbsp;
                        text.timeLeftRefreshOperation
                        text s
            label {{"Total" | translate}} {{vm.paymentMonitorQuery.totalCount}} {{"records" | translate}}
            table#paymentMonitorTable.common-table.display(style="min-width:100% ;overflow: scroll")
            #paymentMonitorTablePage
            #modalProposal.modal.fade(data-backdrop='static', role='dialog', aria-hidden='true', aria-labelledby='myModalLabel', tabindex='-1', keyboard=false)
                .modal-dialog
                    .modal-content
                        .modal-header
                            a.fa.fa-times.close(data-dismiss='modal', type='button')
                            span
                                ul.nav.nav-tabs
                                    li
                                        label {{vm.selectedProposal.type.name | translate}}
                                    li.active
                                        a(data-toggle="tab", ng-click="", href="#ProposalDetail")
                                            .fa.fa-user
                                            | {{ 'DETAIL' | translate }}
                        .modal-body
                            .panel.panel-primary
                                .panel-body
                                    .tab-content
                                        #ProposalDetail.tab-pane.fade.in.active
                                            include ./proposal-dialog-detail
                        .modal-footer
                            button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
        .col-md-6
            #proposalNewUserDataTableDiv.tab-pane.fade.in.active
                h1
                    .label.label-success 开户提案
                .clearfix
                .proposalMessage
                    text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.timeAllProposal}}
                    label.text-danger.newProposalAlert
                    a(ng-click='vm.loadProposalQueryData(true)')
                        .fa.fa-refresh
                    .pull-right
                        label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                            input#autoRefreshProposalFlag2.margin-left-5(type='checkbox', checked)
                        .inlineBlk.hidden
                            text {{"Time left until next refresh" | translate}} :&nbsp;
                            text.timeLeftRefreshOperation
                            text s
                .row
                    .col-md-12
                        label {{"Total" | translate}} {{vm.queryProposal.totalCount}} {{"records" | translate}}
                        table.common-table#proposalNewUserDataTable.display(style="width:100%;min-width:100%;max-height:450px;")
                        #proposalNewUserDataTablePage
