//div(ng-if='vm.pageName === "Payment Monitor"')
div
    #paymentMonitorTotalQuery.col-md-12.well
        .search-filters-item
            label {{'PRODUCT_NAME'| translate}} ({{'Multiple' | translate}})
            select.form-control.merchantNoList.spicker(ng-model='vm.paymentMonitorTotalQuery.platformList', bsp, multiple, data-actions-box='true', ng-options='v._id as v.name for v in vm.platformByAdminId | orderBy:"platformId$"')
        .search-filters-item
            label {{'PLAYER_NAME' | translate}}
            input.form-control(type='text', ng-model='vm.paymentMonitorTotalQuery.playerName')
        .search-filters-item
            label {{'Proposal No' | translate}}
            input.form-control(type='text', ng-model='vm.paymentMonitorTotalQuery.proposalID')
        .search-filters-item
            label {{'topupType' | translate}}
            select.form-control(ng-change='vm.filterMerchant(true)',ng-model='vm.paymentMonitorTotalQuery.mainTopupType', required)
                option(value='') {{'any' | translate}}
                option(ng-repeat='(i,v) in vm.topUpTypeList', value='{{v}}') {{ i | translate}}
        .search-filters-item
            label {{'DEVICE' | translate}}
            select.form-control.merchantNoList(ng-change='vm.filterMerchant(true)',ng-model='vm.paymentMonitorTotalQuery.userAgent', required, multiple, static-bsp, data-actions-box='true')
                option(value='1') WEB
                option(value='2') APP
                option(value='3') H5

        .search-filters-item
            label {{'Online Topup Type' | translate}}
            select.form-control.merchantNoList(ng-change='vm.filterMerchant(true)',ng-model='vm.paymentMonitorTotalQuery.topupType', multiple, static-bsp, data-actions-box='true')
                option(ng-repeat='(i,v) in merchantTopupTypeJson', value='{{i}}') {{ v | translate}}({{v}})
        .search-filters-item
            label {{'3rd Party Platform' | translate}}
            select.form-control.merchantNoList(ng-change='vm.filterMerchant(true)',ng-model='vm.paymentMonitorTotalQuery.merchantGroup',ng-options='mer.list as mer.name for mer in vm.merchantGroupCloneList', multiple, bsp, data-actions-box='true')
        .search-filters-item
            label {{'DEPOSIT_METHOD' | translate}}
            select.form-control.merchantNoList(ng-change='vm.filterMerchant(true)',ng-model='vm.paymentMonitorTotalQuery.depositMethod', multiple, static-bsp, data-actions-box='true')
                option(value='1') 网银转账(OnlineTransfer)
                option(value='2') 自动取款机(ATM)
                option(value='3') 银行柜台(Counter)
                option(value='4') 支付宝转帐(AliPay Transfer)
                option(value='5') 微信转帐(WeChatPay Transfer)
                option(value='6') 云闪付(CloudFlashPay)
                option(value='7') 云闪付转账(CloudFlashPay Transfer)

        .search-filters-item
            label 收款银行类别
            select.form-control.merchantNoList(ng-change='vm.filterMerchant(true)',ng-model='vm.paymentMonitorTotalQuery.bankTypeId', ng-options='i as v | translate for (i,v) in vm.allBankTypeList', multiple, bsp, data-actions-box='true')
        .search-filters-item
            label {{'Business Acc/ Bank Acc' | translate}}
            //select.form-control.merchantNoList( ng-model='vm.paymentMonitorTotalQuery.merchantNo')
            select.form-control.merchantNoList(ng-model='vm.paymentMonitorTotalQuery.merchantNo', ng-options='a.merchantNo as a.name group by a.merchantTypeName for a in vm.merchantCloneList' , multiple, bsp, data-actions-box='true')
                //option(value='') {{'any' | translate}}
                //option(ng-repeat='(i,v) in vm.merchants' ,ng-init='$last && vm.initMultiSelect()', value='{{v.merchantNo}}') {{v.name}}
        //.search-filters-item
        //    label {{'STATUS' | translate}}
        //    select.form-control.merchantNoList(ng-model='vm.paymentMonitorTotalQuery.status', ng-options='v as v | translate for (i,v) in vm.proposalStatusList', multiple, static-bsp, data-actions-box='true')
        .search-filters-item
            label.control-label {{'Start date' | translate}}
            .startTime
        .search-filters-item
            label.control-label {{'End date' | translate}}
            .endTime
        .search-filters-item
            label {{'Fail Counter' | translate}}
            select.form-control.merchantNoList(ng-model='vm.paymentMonitorTotalQuery.failCount', multiple, static-bsp, data-actions-box='true')
                //option(value='merchant') {{'merchantCount' | translate}}
                option(value='member') {{'memberCount' | translate}}
        .text-right.widthto100
            button.btn.btn-warning.btn-space(ng-click='vm.resetTopUpMonitorQuery()') {{'Reset' | translate}}
            button.btn.btn-success.btn-space(ng-click='vm.getPaymentMonitorTotalRecord(true); vm.getPaymentMonitorTotalCompletedRecord(true)') {{'SEARCH' | translate}}
            span#paymentMonitorTableSpin.collapse
                i.fa.fa-spinner.fa-spin
    .clearfix
    .penal.panel-info
        .panel-heading {{'A: Pending To Collect' | translate}}
            span#paymentMonitorTableASpin.collapse
                i.fa.fa-spinner.fa-spin
        .penal_body
            .proposalMessage
                text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.lastTopUpRefresh}}
                label.text-danger.newProposalAlert
                a(ng-click='vm.getPaymentMonitorTotalRecord();vm.getPaymentMonitorTotalCompletedRecord()')
                    .fa.fa-refresh
                .pull-right
                    label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                        input#paymentTotalAutoRefreshProposalFlag.margin-left-5(type='checkbox', checked)
                    .inlineBlk.hidden
                        text {{"Time left until next refresh" | translate}} :&nbsp;
                        text#timeLeftRefreshOperation {{vm.paymentTotalRefreshTime }}
                        text s
            label {{"Total" | translate}} {{vm.paymentMonitorTotalQuery.totalCount}} {{"records" | translate}} / {{"Search time" | translate}}: {{vm.paymentMonitorTotalQuery.querySearchTime}} {{"Seconds" | translate}}
            table#paymentMonitorTotalTable.common-table.display(style="width:100%;table-layout:fixed;overflow: scroll;display: block;max-height:600px")
            #paymentMonitorTotalTablePage
        br
        br
        br
        .panel-heading {{'B: Follow Up Completed' | translate}}
            span#paymentMonitorTableBSpin.collapse
                i.fa.fa-spinner.fa-spin
        .penal_body
            label {{"Total" | translate}} {{vm.paymentMonitorTotalQuery.totalCompletedCount}} {{"records" | translate}} / {{"Search time" | translate}}: {{vm.paymentMonitorTotalQuery.querySearchTime2}} {{"Seconds" | translate}}
            table#paymentMonitorTotalCompletedTable.common-table.display(style="min-width:100% ;overflow: scroll;display: block;max-height:600px")
            #paymentMonitorTotalCompletedTablePage
#modalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
