//div(ng-if='vm.pageName === "Payment Monitor"')
div
    #paymentMonitorQuery.block-query.col-md-12.well
        div(style='max-width:125px')
            label {{'PLAYER_NAME' | translate}}
            input.form-control(type='text', ng-model='vm.paymentMonitorQuery.playerName')
        div(style='max-width:125px')
            label {{'Proposal No' | translate}}
            input.form-control(type='text', ng-model='vm.paymentMonitorQuery.proposalID')
        div
            label {{'topupType' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.mainTopupType', required)
                option(value='') {{"any" | translate}}
                option(ng-repeat='(i,v) in vm.topUpTypeList', value='{{v}}') {{"TOPUP"+i | translate}}
        div(style='max-width:125px')
            label {{'DEVICE' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.userAgent', required)
                option(value='') {{"any" | translate}}
                option(value='1') WEB
                option(value='2') APP
                option(value='3') H5

        div(style='max-width:180px')
            label {{'Online Topup Type' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.topupType')
                option(value='') {{'any' | translate}}
                option(value='1') 网银支付(NetPay)
                option(value='2') 微信扫码(WechatQR)
                option(value='3') 支付宝扫码(AlipayQR)
                option(value='4') 微信App支付(WechatApp)
                option(value='5') 支付宝App支付(AlipayApp)
                option(value='6') 快捷支付(FASTPAY)
                option(value='7') QQ扫码(QQPAYQR)
                option(value='8') 银联扫码支付(UnPayQR)
                option(value='9') 京东钱包扫码支付(JdPayQR)
        div(style='max-width:125px')
            label {{'3rd Party Platform' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.merchantGroup',ng-options='mer.list as mer.name for mer in vm.merchantGroups')
                option(value='') {{'any' | translate}}
        div(style='max-width:125px')
            label {{'DEPOSIT_METHOD' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.depositMethod')
                option(value='') {{'any' | translate}}
                option(value='1') 网银转账(OnlineTransfer)
                option(value='2') 自动取款机(ATM)
                option(value='3') 银行柜台(Counter)
                option(value='4') 网银跨行(Online Banking - InterBank Transfer)
                option(value='5') 支付宝(AliPay)

        div
            label 收款银行类别
            select.form-control(ng-model='vm.paymentMonitorQuery.bankTypeId', ng-options='i as v | translate for (i,v) in vm.allBankTypeList')
                option(value='') {{'any' | translate}}
        div(style='max-width:125px')
            label {{'Business Acc/ Bank Acc' | translate}}
            //select.form-control.merchantNoList( ng-model='vm.paymentMonitorQuery.merchantNo')
            select.form-control.merchantNoList( ng-model='vm.paymentMonitorQuery.merchantNo', ng-options='a.merchantNo as a.name group by a.merchantTypeName for a in vm.merchants' , multiple, bsp, data-actions-box='true')
                //option(value='') {{'any' | translate}}
                //option(ng-repeat='(i,v) in vm.merchants' ,ng-init='$last && vm.initMultiSelect()', value='{{v.merchantNo}}') {{v.name}}
        div
            label {{'STATUS' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.status', ng-options='v as v | translate for (i,v) in vm.proposalStatusList')
                option(value='') {{'any' | translate}}
        div
            label.control-label {{'Start date' | translate}}
            .startTime
        div
            label.control-label {{'End date' | translate}}
            .endTime




        //div
            label {{'topupType' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.mainTopupType', required)
                option(value='') {{"any" | translate}}
                option(ng-repeat='(i,v) in vm.topUpTypeList', value='{{v}}') {{"TOPUP"+i | translate}}
        //div(ng-show='!vm.paymentMonitorQuery.mainTopupType || vm.paymentMonitorQuery.mainTopupType=="2"',style='max-width:125px')
            label {{'Online Topup Type' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.topupType')
                option(value='') {{'any' | translate}}
                option(value='1') 网银支付(NetPay)
                option(value='2') 微信扫码(WechatQR)
                option(value='3') 支付宝扫码(AlipayQR)
                option(value='4') 微信App支付(WechatApp)
                option(value='5') 支付宝App支付(AlipayApp)
                option(value='6') 快捷支付(FASTPAY)
                option(value='7') QQ扫码(QQPAYQR)
        //div(ng-show='!vm.paymentMonitorQuery.mainTopupType || vm.paymentMonitorQuery.mainTopupType=="2"',style='max-width:125px')
            label {{'Merchant Group' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.merchantGroup',ng-options='mer.list as mer.name for mer in vm.merchantGroups')
                option(value='') {{'any' | translate}}
        //div(ng-show='!vm.paymentMonitorQuery.mainTopupType || vm.paymentMonitorQuery.mainTopupType=="2"',style='max-width:125px')
            label {{'Merchant No' | translate}}
            select.form-control(ng-model='vm.paymentMonitorQuery.merchantNo',ng-options='index as name for (index, name) in vm.merchantNumbers')
                option(value='') {{'any' | translate}}
        //div(style='max-width:125px')
            label {{'PLAYER_NAME' | translate}}
            input.form-control(type='text', ng-model='vm.paymentMonitorQuery.playerName')
        //div
            label.control-label {{'Start date' | translate}}
            .startTime
        //div
            label.control-label {{'End date' | translate}}
            .endTime
        div
            label &nbsp;
            button.btn.btn-warning(ng-click='vm.resetTopUpMonitorQuery()') {{'Reset' | translate}}
        div
            label &nbsp;
            button.btn.btn-success(ng-click='vm.getPaymentMonitorRecord(true)') {{'SEARCH' | translate}}
            span#paymentMonitorTableSpin.collapse
                i.fa.fa-spinner.fa-spin
    .clearfix
    .proposalMessage
        text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.lastTopUpRefresh}}
        label.text-danger.newProposalAlert
        a(ng-click='vm.getPaymentMonitorRecord()')
            .fa.fa-refresh
        .pull-right
            label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                input#autoRefreshProposalFlag.margin-left-5(type='checkbox', checked)
            .inlineBlk.hidden
                text {{"Time left until next refresh" | translate}} :&nbsp;
                text#timeLeftRefreshOperation
                text s
    label {{"Total" | translate}} {{vm.paymentMonitorQuery.totalCount}} {{"records" | translate}}
    table#paymentMonitorTable.common-table.display(style="min-width:100% ;overflow: scroll")
    #paymentMonitorTablePage
#modalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        //li(ng-if='vm.chartData')
                        //    a(data-toggle="tab", href="#Workflow", ng-click="")
                        //        .fa.fa-user
                        //        | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
