style.
    .merchantExceed .merchantCount {
        background-color: #C7EA46;
    }

    .playerExceed .playerCount {
        background-color: #FFFF66;
    }

#monitorRightTable.panel.panel-danger(style='width:100%;display:inline-block')
    .panel-heading
        .pull-left(style='margin-top: -5px;')
            a.fa.fa-chevron-circle-left.contractIcon(ng-show='!vm.hideLeftPanel', ng-click='vm.setPanel(true)')
            a.fa.fa-chevron-circle-right.contractIcon(ng-show='vm.hideLeftPanel', ng-click='vm.setPanel(false)')
        label {{vm.pageName | translate}}
    .panel-body
        ui-view
