style.
    .merchantExceed .merchantCount {
        background-color: #C7EA46;
    }

    .playerExceed .playerCount {
        background-color: #FFFF66;
    }

#monitorRightTable.panel.panel-danger(style='width:100%;display:inline-block')
    .panel-heading
        .pull-left(style='margin-top: -5px;')
            a.fa.fa-chevron-circle-left.contractIcon(ng-if='!vm.hideLeftPanel', ng-click='vm.setPanel(true)')
            a.fa.fa-chevron-circle-right.contractIcon(ng-if='vm.hideLeftPanel', ng-click='vm.setPanel(false)')
        label {{vm.pageName | translate}}
    .panel-body
        ui-view



#modalProposal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            #ProposalDetail.tab-pane.fade.in.active
                                include ./proposal-dialog-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')
