div
    #wechatGroupControlMonitor.block-query.col-md-12.well
        div(style='width:210px')
            label.control-label  {{'DEPARTMENT' | translate}}
            select.form-control#selectWechatGroupControlDepartment(multiple='multiple', ng-model='vm.wechatGroupControlMonitorQuery.department')
                option(ng-repeat='(i,v) in vm.wechatGroupControlDepartmentList', value='{{v._id}}') {{v.departmentName}}
        div(style='width:155px')
            label.control-label  {{'Device Name' | translate}}
            select.form-control#selectWechatGroupControlDeviceNickName(multiple='multiple',ng-model='vm.wechatGroupControlMonitorQuery.deviceNickName')
                option(ng-repeat='(i,v) in vm.deviceNicknameList', value='{{v}}') {{v}}
        div(style='width:155px')
            label.control-label  {{'Login Account' | translate}}
            select.form-control#selectWechatGroupControlAdminId(multiple='multiple', ng-model='vm.wechatGroupControlMonitorQuery.csOfficer')
                option(ng-repeat='(i,v) in vm.wechatGroupControlAdminList', value='{{v._id}}') {{v.adminName}}
        div
            label &nbsp;
            button.btn.btn-warning(ng-click='vm.resetWechatGroupControlMonitor()') {{'Reset' | translate}}
        div
            label &nbsp;
            button.btn.btn-success(ng-click='vm.searchWechatMonitorRecord(true)') {{'SEARCH' | translate}}
            span#wechatGroupMonitorTableSpin.collapse
                i.fa.fa-spinner.fa-spin
    .clearfix
        .proposalMessage
            text {{'LAST_REFRESH_TIME' | translate}}  : {{vm.lastWechatRefresh}}
            label.text-danger.newProposalAlert
            a(ng-click='vm.searchWechatMonitorRecord()')
                .fa.fa-refrestimeLeftRefreshOperationh
            .pull-right
                label.inlineBlk.pull-right {{'Auto Refresh' | translate}}
                    input#autoRefreshWechatFlag.margin-left-5(type='checkbox', checked)
                .inlineBlk.hidden
                    text {{"Time left until next refresh" | translate}} :&nbsp;
                    text#timeLeftRefreshOperation
                    text s
        label {{"Total" | translate}} {{vm.wechatGroupControlMonitorQuery.totalCount}} {{"records" | translate}}
        table#wechatGroupMonitorTable.common-table.display(style="min-width:100%; overflow: scroll")
        #wechatGroupMonitorTablePage

#modalWCGroupControlSessionHistory.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"7 Day(s) History" | translate}}
            .modal-body
                #wcGroupControlSessionHistoryQuery.well
                    .inlineBlk
                        label {{"PRODUCT" | translate}} &nbsp;
                        input.form-control(ng-model='vm.wcGroupControlSessionHistory.platformName' disabled)
                    .inlineBlk
                        label {{"Device Name" | translate}} &nbsp;
                        input.form-control(ng-model='vm.wcGroupControlSessionHistory.deviceNickName' disabled)
                    .inlineBlk
                        div(style='width:155px')
                            label {{"Login Account" | translate}}
                            select.form-control#selectWCGroupControlSessionHistoryAdminId(multiple='multiple', ng-model='vm.wcGroupControlSessionHistory.csOfficer')
                                option(ng-repeat='(i,v) in vm.wechatGroupControlAdminList', value='{{v._id}}') {{v.adminName}}
                    .inlineBlk
                        label {{"Start Connection Time" | translate}}
                        .startTime
                    .inlineBlk
                        label {{"Offline Time" | translate}}
                        .endTime
                    button.btn.btn-primary.common-button(ng-click='vm.getWCGroupControlSessionHistory(true)', style='vertical-align: bottom') {{"SEARCH" | translate}}
                label {{"Total" | translate}} {{vm.wcGroupControlSessionHistory.totalCount}} {{"records" | translate}}
                table#wcGroupControlSessionHistoryTable.common-table.display(style='min-width:100%; overflow: scroll')
                #wcGroupControlSessionHistoryTablePage.height30