.panel.panel-primary
    .panel-heading.padding-all-5
        .panel-title.left-col
            .fa.fa-cubes(ng-if='vm.selectedPlatform')
            select.platform-select(ng-if="vm.showPlatformList" ng-model='vm.selectedPlatformID', ng-change='vm.setPlatformById(vm.selectedPlatformID)', required)
                option(ng-repeat='(i,v) in vm.platformList', value='{{v._id}}', ng-selected='vm.selectedPlatform._id==v._id') {{v.name}}
    .panel-body.common-left-panel-body.leftPanel-vlist
        #monitorCategory.panel-groupc
            .panel.panel-default(style="margin-bottom: 5px;")
                .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#monitorCategory", href='#paymentMonitor')
                    h4.panel-title
                        label.text-success {{'PAYMENT_MONITOR' | translate}}
                #paymentMonitor.panel-collapse.collapse.in
                    .panel-body
                        div
                            //a.list-group-item(class="{{vm.seleDataType.PAYMENT_MONITOR}}", ng-if="checkViewPermission('Monitor', 'Payment', 'Read')",href="/monitor/payment", ng-click="vm.showPlatformList = true; vm.loadPage('PAYMENT_MONITOR');")
                                text {{'PAYMENT_MONITOR' | translate}}
                            a.list-group-item(class="{{vm.seleDataType.PROPOSAL_PAYMENT_MONITOR}}", ng-if="checkViewPermission('Monitor', 'ProposalAndPayment', 'Read')",href="/monitor/proposal_and_payment", ng-click="vm.showPlatformList = true;vm.loadPage('PROPOSAL_PAYMENT_MONITOR');" )
                                text {{'PROPOSAL_AND_PAYMENT_MONITOR' | translate}}
                            a.list-group-item(class="{{vm.seleDataType.PAYMENT_MONITOR_TOTAL}}", ng-if="checkViewPermission('Monitor', 'Payment', 'Read')",href="/monitor/paymentTotal", ng-click="vm.showPlatformList = true; vm.loadPage('PAYMENT_MONITOR_TOTAL');")
                                text {{'PAYMENT_MONITOR_TOTAL' | translate}}
                            a.list-group-item(class="{{vm.seleDataType.CONSUMPTION_RECORD_MONITOR}}", ng-if="checkViewPermission('Monitor', 'ConsumptionRecord', 'Read')",href="/monitor/consumptionRecord", ng-click="vm.showPlatformList = true; vm.loadPage('CONSUMPTION_RECORD_MONITOR');")
                                text {{'CONSUMPTION_RECORD_MONITOR' | translate}}
                            a.list-group-item(class="{{vm.seleDataType.ATTEMPT_CREATE_MONITOR}}", ng-if="checkViewPermission('Monitor', 'AttemptCreate', 'Read')",href="/monitor/attemptCreate", ng-click="vm.showPlatformList = true; vm.loadPage('ATTEMPT_CREATE_MONITOR');")
                                text {{'ATTEMPT_CREATE_MONITOR' | translate}}
                            a.list-group-item(class="{{vm.seleDataType.WINNER_MONITOR}}", ng-if="checkViewPermission('Monitor', 'WinnerMonitor', 'Read')",href="/monitor/winner", ng-click="vm.showPlatformList = true; vm.loadPage('WINNER_MONITOR');")
                                text {{'WINNER_MONITOR' | translate}}

            .panel.panel-default
                .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#monitorCategory", href='#wechatMonitor')
                    h4.panel-title
                        label.text-success {{'WeChatMonitor' | translate}}
                #wechatMonitor.panel-collapse.collapse
                    .panel-body
                        div
                            a.list-group-item(class="{{vm.seleDataType.WECHAT_GROUP_CONTROL_MONITOR}}", ng-if="checkViewPermission('Monitor', 'WechatGroupControl', 'Read')",href="/monitor/wechatGroup", ng-click="vm.showPlatformList = true; vm.loadPage('WECHAT_GROUP_CONTROL_MONITOR');")
                                text {{'WeChatGroupControlMonitor' | translate}}
            .panel.panel-default
                .panel-heading.panel-heading-sm(data-toggle='collapse', data-parent="#monitorCategory", href='#qqMonitor')
                    h4.panel-title
                        label.text-success {{'QQ Monitor' | translate}}
                #qqMonitor.panel-collapse.collapse
                    .panel-body
                        div
                            a.list-group-item(class="{{vm.seleDataType.QQ_GROUP_CONTROL_MONITOR}}", ng-if="checkViewPermission('Monitor', 'QQGroupControl', 'Read')",href="/monitor/qqGroup", ng-click="vm.showPlatformList = true; vm.loadPage('QQ_GROUP_CONTROL_MONITOR');")
                                text {{'QQ Group Control Monitor' | translate}}