div
    .titleBackground.margin-bottom-5.text-center {{'Basic' | translate}}
    .label-value
        label {{'TITLE' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.type.name || 'none'|translate}}
    .label-value
        label {{'STATUS' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.status || vm.selectedProposal.process.status || 'none' | translate}}
    .label-value
        label {{'PROPOSAL_NO' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.proposalId || 'none' | translate}}
    .label-value
        label {{'CREATOR' | translate}}&nbsp;:&nbsp;
        label {{vm.selectedProposal.creator.name || 'System' | translate}}
    .label-value
        label {{'CREATION_TIME' | translate}}&nbsp;:&nbsp;
        label {{vm.dateReformat(vm.selectedProposal.createTime) || 'none'}}

    //.titleBackground.margin-bottom-5.text-center {{'Proposal History Process' | translate}}
    //div(ng-repeat='(i,v) in vm.thisProposalSteps', ng-show='v.operator')
    //    .label-value
    //        label {{'DEPARTMENT' | translate}}&nbsp;:&nbsp;
    //        label {{v.department.departmentName || 'Unknown' | translate}}
    //    .label-value
    //        label {{'Operator' | translate}}&nbsp;:&nbsp;
    //        label {{v.operator.adminName || 'Unknown' | translate}}
    //    .label-value
    //        label {{'OperationTime' | translate}}&nbsp;:&nbsp;
    //        label {{vm.dateReformat(v.operationTime) || 'Unknown' | translate}}
    //    .label-value(ng-show='v.memo')
    //        label {{'remark' | translate}}&nbsp;:&nbsp;
    //        label {{v.memo}}
    //    hr
div.proposalDataDetail(ng-switch="vm.selectedProposal.type.name")
    label {{'UPDATE_DETAIL' | translate}}
    div(ng-switch-default)
        table.table(style='width:100%',ng-if='vm.selectedProposal')
            thead
            tbody(ng-if='vm.selectedProposal')
                tr
                    td {{'PLAYER_NAME' | translate}}
                    td {{ vm.selectedProposal.data.playerName}}
                tr
                    td {{'BankCardGroup' | translate}}
                    td　""
                tr
                    td {{'playerLevelName' | translate}}
                    td {{vm.selectedProposal.data.playerLevelName}}
                tr
                    td {{'PlayerCredibilityStatus' | translate}}
                    td ""
                tr
                    td {{'PlayerValue' | translate}}
                    td {{vm.selectedProposal.data.proposalPlayerLevelValue}}
                tr
                    td {{'TopupAmount' | translate }}
                    td {{ vm.selectedProposal.data.amount }}
                tr
                    td {{'DEVICE' | translate}}
                    td {{ userAgentType[vm.selectedProposal.data.userAgent] }}
                tr(ng-if="vm.selectedProposal.data.validTime")
                    td {{'DEPOSITTIME' | translate}}
                    td {{ vm.selectedProposal.data.validTime }}

                //onlineTopupType
                tr(ng-if="vm.selectedProposal.data.mainTopupType")
                    td {{'OnlineTopUpType' | translate}}
                    td {{ vm.selectedProposal.data.mainTopupType }}
                tr(ng-if="vm.selectedProposal.data.merchantGroup")
                    td {{'3rdPartyPlatform' | translate}}
                    td {{ vm.selectedProposal.data.merchantGroup }}
                tr(ng-if="vm.selectedProposal.data.merchantNo")
                    td {{'merchantNo' | translate}}
                    td {{ vm.selectedProposal.data.merchantNo }}
                tr(ng-if="vm.selectedProposal.data.merchantNo")
                    td {{'MerchantBackendId' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.merchantNo")
                    td {{'SINGLELIMIT' | translate }}
                    td ""　
                tr(ng-if="vm.selectedProposal.data.merchantNo")
                    td {{'DAYLIMIT' | translate }}
                    td ""

                // manual topup
                tr(ng-if="vm.selectedProposal.data.validTime")
                    td {{'DEPOSITTIME' | translate}}
                    td {{ vm.selectedProposal.data.validTime }}
                tr(ng-if="vm.selectedProposal.data.depositMethod")
                    td {{'DEPOSITMETHOD' | translate}}
                    td {{ vm.getDepositMethodbyId[vm.selectedProposal.data.depositMethod] || "" }}
                tr(ng-if="vm.selectedProposal.data.inputData.realName")
                    td {{'ACCNAME' | translate}}
                    td {{ vm.selectedProposal.data.inputData.realName }}
                tr(ng-if="vm.selectedProposal.data.inputData.provinceId")
                    td {{'ACCPROVINCE' | translate}}
                    td {{ vm.selectedProposal.data.provinceName }}
                tr(ng-if="vm.selectedProposal.data.inputData.cityId")
                    td {{'ACCCITY' | translate}}
                    td {{ vm.selectedProposal.data.cityName }}
                tr(ng-if="vm.selectedProposal.data.inputData.bankTypeId")
                    td {{'ToBankTypeId' | translate}}
                    td {{ vm.allBankTypeList[vm.selectedProposal.data.inputData.bankTypeId] || "" }}
                tr(ng-if="vm.selectedProposal.data.bankCardNo")
                    td {{'ToBankCardNo' | translate}}
                    td {{ vm.selectedProposal.data.bankCardNo }}
                tr(ng-if="vm.selectedProposal.data.cardOwner")
                    td {{'ToCardOwner' | translate}}
                    td {{ vm.selectedProposal.data.cardOwner }}
                tr(ng-if="vm.selectedProposal.data.merchantNo")
                    td {{'DAYLIMIT' | translate }}
                    td

                //alipay
                tr(ng-if="vm.selectedProposal.data.alipayName")
                    td {{'AliPayAccName' | translate }}
                    td {{ vm.selectedProposal.data.alipayName }}
                tr(ng-if="vm.selectedProposal.data.alipayAccount")
                    td {{'AliPayAcc' | translate }}
                    td {{ vm.selectedProposal.data.alipayAccount }}
                tr(ng-if="vm.selectedProposal.data.alipayAccount")
                    td {{'SINGLELIMIT' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.alipayAccount")
                    td {{'DAYLIMIT' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.alipayQRCode")
                    td {{'alipayQRCode' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.validTime")
                    td {{'validTime' | translate }}
                    td {{ vm.selectedProposal.data.validTime }}

                //wechat
                tr(ng-if="vm.selectedProposal.data.weChatAccount")
                    td {{'WeChatACC' | translate }}
                    td {{ vm.selectedProposal.data.weChatAccount }}
                tr(ng-if="vm.selectedProposal.data.weChatAccount")
                    td {{'WeChatNick' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.weChatAccount")
                    td {{'SINGLELIMIT' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.weChatAccount")
                    td {{'DAYLIMIT' | translate }}
                    td ""
                tr(ng-if="vm.selectedProposal.data.alipayQRCode")
                    td {{'weChatQRCode' | translate }}
                    td {{ vm.selectedProposal.data.validTime }}
                tr(ng-if="vm.selectedProposal.data.weChatAccount")
                    td {{'validTime' | translate }}
                    td {{ vm.selectedProposal.data.validTime }}
