.padding-all-5
    .panel.panel-primary
        .panel-heading.padding-all-5
            .panel-title.left-col
                .fa.fa-cubes
                text &nbsp;{{"PLATFORM" | translate}}
                i.fa.fa-spin.fa-spinner.pull-right(style='font-size:1.7em', ng-show='vm.showPlatformSpin')
        .panel-body.common-left-panel-body
            div#platformTree
