extends layout

block body
    div#wrapper(ng-cloak)
        div(ng-controller='AppCtrl')
            include header
            #pageWrapper(ui-view)
            .clearfix

            #tooltip.dashboardTip
            include category/common-widget/message
            include category/common-widget/confirmation-modal

    include category/common-widget/templates