extends layout

block body
    div#wrapper(style='display:none')
        div(ng-controller='AppCtrl')
            include header
            #pageWrapper(ui-view)
            #pageConnectionLoader
            .clearfix

            #tooltip.dashboardTip
            include category/common-widget/message
            include category/common-widget/confirmation-modal



    script(src='js/lib/angular/angular-cookies.js')

    // sheetjs.com js-xlsx - spreadsheet parser and writer
    script(src='js/lib/xlsx.full.min.js')
    script(src='js/lib/ods.js')
    script(src='js/lib/ui-grid.min.js')
    script(src='js/lib/FileSaver.min.js')

    script(src='js/lib/bootstrap-colorpicker-module.min.js')
    script(src='js/lib/angular-local-storage.min.js')
    script(src='js/lib/angular-ui-router.min.js')
    script(src='js/lib/angular-translate.min.js')
    script(src='js/lib/angular-translate-loader-static-files.min.js')

    script(src='js/lib/jquery-ui.min.js')
    script(src='js/lib/jquery.dataTables.min.js')
    script(src='js/lib/dataTables.bootstrap.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='js/lib/bootstrap-datepicker.js')
    script(src='js/lib/bootstrap-select.min.js')
    script(src='js/lib/defaults-zh_TW.min.js')

    script(src='js/lib/multiple-select.js')
    script(src='js/lib/angular-resizable.min.js')

    // Deprecated
    script(src='js/lib/angular-datepicker.min.js')
    script(src='js/lib/bootstrap-treeview.min.js')

    //- script(src='js/lib/sinostrap/collapsible-dialogs.js')
    script(src='js/lib/sinostrap/floating-dialogs.js')
    script(src='js/lib/sinostrap/GeneralModal.js')

    //- Angular datepicker
    //script(src='js/lib/angular-datepicker/angular-datepicker.min.js')
    //link(rel='stylesheet', href='js/lib/angular-datepicker/angular-datepicker.min.css')

    // - Bootstrap dateTime Picker
    //script(src='js/lib/bootstrap/bootstrap-datetimepicker.min.js')
    //script(src='sb-admin-2/js/bootstrap-datetimepicker.pt-BR.js')
    //link(rel='stylesheet', href='public/css/bootstrap-datetimepicker.min.css')

    // Metis Menu Plugin Js
    //script(src='sb-admin-2/js/plugins/metisMenu/metisMenu.min.js')

    //Custom Theme Js
    //script(src='sb-admin-2/js/sb-admin-2.js')

    //socket io client
    //script(src='js/lib/socket.io.js')
    script(src='js/lib/socket.io.slim.js')

    //q lib
    script(src='js/lib/q.js')

    //script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/wsconfig.js')

    //flow chart js
    script(src='js/svg_class.js')
    script(src='js/services/mouse_capture_service.js')
    script(src='js/services/dragging_service.js')
    script(src='js/flowchart_viewmodel.js')
    script(src='js/flowchart_directive.js')

    //file upload js
    //script(src='js/lib/ng-file-upload-shim.min.js')
    //script(src='js/lib/ng-file-upload.min.js')

    // export csv js
    script(src='js/lib/ng-csv.min.js')

    script(src='js/lib/angular/angular-sanitize.min.js')
    script(src='js/lib/ui-bootstrap.min.js')

    //script(src='js/lib/multiple-select.js')

    //Load custom scripts via RequireJS
    script(src="js/lib/require.js" data-main="js/main")
    //script(src='js/components/platform/platformListSidebar.component.js')

    include category/common-widget/templates