doctype html
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/')
        title Fantasy Player Management Tool

        link(rel='stylesheet', href='/css/site.min.css')
        link(rel='stylesheet', href='/css/site2.min.css')
        link(rel='stylesheet', href='/css/site3.min.css')

        // angular ui grid
        link(rel='stylesheet', href="/css/ui-grid.min.css")


        // Bootstrap Core CSS
        //link(rel='stylesheet', href='/sb-admin-2/css/bootstrap.min.css')

        // MetisMenu CSS
        //link(rel='stylesheet', href='/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css')

        // Timeline CSS
        //link(href='/sb-admin-2/css/plugins/timeline.css', rel='stylesheet')

        // Social Buttons CSS
        //link(href='/sb-admin-2/css/plugins/social-buttons.css', rel='stylesheet')

        // SB Admin Theme CSS
        //link(rel='stylesheet', href='/sb-admin-2/css/sb-admin-2.css')

        // Custom Fonts
        //link(rel='stylesheet', type='text/css', href='/sb-admin-2/font-awesome-4.6.3/css/font-awesome.min.css')

        // Custom CSS
        //link(rel='stylesheet', href='/css/app.css')
        //
        //// Common CSS
        //link(rel='stylesheet', href='/css/common.css')
        //link(rel='stylesheet', href='/css/multiple-select.css')
        //
        //link(rel='stylesheet', href='/css/common-table.css')
        //// Top Navigation Menu CSS
        //link(rel='stylesheet', href='/css/headerNav.css')

        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        <![endif]-->
    body
        block body
