.panel.panel-primary
    .panel-heading.panel-heading-sm
        label(style="text-align:center;display:block") {{"WORKFLOW" | translate}}
    .panel-body.common-left-sub-panel-body
        .row
            br
            div(style='width:90%;margin:auto' ng-if='vm.clientQnAData && checkViewPermission("Platform", "ClientAutoQnA", "Read")')
                label(style="text-align:center;display:block;color:red" ng-if='vm.clientQnADataErr') {{vm.clientQnADataErr | translate}}
                div(style="text-align:left;display:block" ng-if='vm.clientQnAData.questionTitle')
                    label {{vm.clientQnAData.questionTitle | translate}}
                    label(style='color:red' ng-if='vm.clientQnAInputCheck && vm.clientQnAInputCheck.hasOwnProperty("totalWrongCount")') {{"&nbsp("}} {{"WRONG_COUNT" | translate}}{{"&nbsp" + vm.clientQnAInputCheck.totalWrongCount + "/" + vm.clientQnASecurityQuesConfig.config.wrongCount + ")"}}
                label(style="text-align:center;display:block" ng-if='vm.clientQnAData.clientQnAEnd && vm.clientQnAData.clientQnAEnd.title') {{vm.clientQnAData.clientQnAEnd.title | translate}}
                label(style="text-align:center;display:block" ng-if='vm.clientQnAData && vm.clientQnAData.updateTitle') {{vm.clientQnAData.updateTitle | translate}}
                br(ng-if='vm.clientQnAData.questionTitle || (vm.clientQnAData.clientQnAEnd && vm.clientQnAData.clientQnAEnd.title)')
                div(ng-repeat='(i,v) in vm.clientQnAData.question')
                    //- label(style="text-align:center;display:block;color:red") {{vm.clientQnADataErr | translate}}
                    label(ng-if='vm.clientQnAData.isSecurityQuestion') {{v.questionNo + ".&nbsp"}}
                    label(style="{{vm.questionLabelStyle}}") {{v.des | translate}}
                    i.fa.fa-check.text-success(style='width:10px' ng-repeat='(k,o) in vm.clientQnAInputCheck.correctAns' ng-if='vm.clientQnAInputCheck && vm.clientQnAInputCheck.correctAns && o==v.questionNo')
                    i.fa.fa-times.text-danger(style='width:10px' ng-repeat='(k,o) in vm.clientQnAInputCheck.incorrectAns' ng-if='vm.clientQnAInputCheck && vm.clientQnAInputCheck.incorrectAns && o==v.questionNo')
                    //- br
                    div(ng-repeat='dataObj in vm.clientQnAData.data', ng-if="vm.clientQnAData.data.length > 1")
                        input(type='radio' ng-model='vm.clientQnAInput.playerObjId' ng-value='dataObj._id', ng-click="vm.chosenUserName=dataObj.name")
                        label {{ dataObj.name }}
                    div(ng-repeat='dataObj in vm.clientQnAData.data', ng-if="vm.clientQnAData.data.length == 1")
                        input(type='hidden' ng-model='vm.clientQnAInput.playerObjId=dataObj._id', ng-init="vm.chosenUserName=dataObj.name")
                        label {{ dataObj.name }}

                    input.form-control(ng-repeat='(k,o) in vm.clientQnAData.answerInput' ng-if='o.questionNo == v.questionNo && o.type!="select" && o.type!="checkbox"' type='{{o.type}}' ng-model='vm.clientQnAInput[o.objKey]' placeholder='{{o.placeHolder | translate}}' ng-disabled="o.disabled" ng-init="o.value ? vm.clientQnAInput[o.objKey] = o.value : null")
                    select.form-control(ng-repeat='(k,o) in vm.clientQnAData.answerInput' ng-if='o.questionNo == v.questionNo && o.type == "select"' ng-model="vm.clientQnAInput[o.objKey]" ng-options="va.id as va.name | translate for (in,va) in vm[o.options]" ng-change='vm[o.options + "Change"]()' ng-init="o.value ? vm.clientQnAInput[o.objKey] = o.value : null; vm[o.options + 'Change']()")
                    br

                text(ng-if='vm.clientQnAData && vm.clientQnAData.hint') {{vm.clientQnAData.hint | translate}}
                br
                .pull-right
                    label.alternative-question-label(style="color:red" ng-if='vm.clientQnAData.alternativeQuestion && vm.clientQnAData.alternativeQuestion.des && vm.clientQnAData.type !="forgotUserID"' ng-click='vm.getClientQnAProcess(true)') {{vm.clientQnAData.alternativeQuestion.des | translate}}
                    label.alternative-question-label(style="color:red" ng-if='vm.clientQnAData.alternativeQuestion && vm.clientQnAData.alternativeQuestion.des && vm.clientQnAData && vm.clientQnAData.type =="forgotUserID"' ng-click='vm.getClientQnAProcess(true, {type:"forgotPassword", processNo:"1", action:"forgotPassword1", username:vm.chosenUserName})') {{vm.clientQnAData.alternativeQuestion.des | translate}}

                text(ng-if='vm.clientQnAData.clientQnAEnd && vm.clientQnAData.clientQnAEnd.des') {{vm.clientQnAData.clientQnAEnd.des | translate}}
                text(ng-if='vm.clientQnAData && vm.clientQnAData.updateDes') {{vm.clientQnAData.updateDes | translate}}
                br(ng-if='vm.clientQnAData && vm.clientQnAData.updateQuestion')
                br(ng-if='vm.clientQnAData && vm.clientQnAData.updateQuestion')
                div(ng-if="vm.clientQnAData && vm.clientQnAData.updateQuestion" ng-repeat='(i,v) in vm.clientQnAData.updateQuestion')

                    label(ng-if="v.star", style="text-align:left; display:inline-block;") *{{v.des | translate}}
                    label(ng-if="!v.star", style="text-align:left; display:inline-block;") {{v.des | translate}}
                    input.form-control(ng-repeat='(k,o) in vm.clientQnAData.updateAnswer' ng-if='o.questionNo == v.questionNo && o.type!="select" && o.type!="checkbox"' type='{{o.type}}' ng-disabled="o.disabled", ng-model='vm.clientQnAInput[o.objKey]' placeholder='{{o.placeHolder | translate}}')
                    select.form-control(ng-repeat='(k,o) in vm.clientQnAData.updateAnswer' ng-if='o.questionNo == v.questionNo && o.type == "select"' ng-model="vm.clientQnAInput[o.objKey]" ng-options="va.id as va.name | translate for (in,va) in vm[o.options]" ng-change='vm[o.options + "Change"]()')
                    br
                br
                br
                .pull-right
                    button.common-button.btn.btn-success(ng-if='(vm.clientQnAData.clientQnAEnd && vm.clientQnAData.clientQnAEnd.isSuccess && !vm.clientQnAData.clientQnAEnd.linkage) || vm.clientQnAData.question' ng-click="vm.copyClientQnA()") {{'COPY_TEXT' | translate}}
                    button.common-button.btn.btn-success(ng-if='vm.clientQnAData.updateLinkageTitle' ng-click="vm.getClientQnAProcess()") {{vm.clientQnAData.updateLinkageTitle | translate}}
                    button.common-button.btn.btn-danger(ng-if='vm.clientQnAData.updateLinkageTitle && vm.clientQnAData.updateLinkageTitle == "Complete bank account detail"', ng-click="vm.endClientQnAProcess()") {{'END' | translate}}
                    //button.common-button.btn.btn-success(ng-if='(vm.clientQnAData.clientQnAEnd && vm.clientQnAData.clientQnAEnd.linkage)' ng-click="vm.getClientQnAProcess()") {{vm.clientQnAData.clientQnAEnd.linkageTitle | translate}}
                    button.common-button.btn.btn-info(ng-if='!vm.clientQnAData.clientQnAEnd && vm.clientQnAData.question' ng-click="vm.getClientQnAProcess()") {{'NEXT_STEP' | translate}}
                    button.common-button.btn.btn-danger(ng-if='vm.clientQnAData.clientQnAEnd', ng-click="vm.endClientQnAProcess()") {{'END' | translate}}
                .clearfix
