//- .row(mouse-capture ng-keydown="vm.keyDown($event)" ng-keyup="vm.keyUp($event)")
.row
    .col-md-12
        .well.col-xs-12
            .search-filters-item
                label {{'PRODUCT_NAME' | translate}}
                select.form-control(ng-model='vm.filterClientQnAPlatform', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change='vm.buildClientQnATypeList()')
.text-center(ng-if="!vm.filterClientQnAPlatform")
    label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}

.row(ng-if="vm.filterClientQnAPlatform")
    .col-sm-3
        include ./clientQnA-left-panel
    .col-md-6(style='padding-left:0')
        div(ng-if='!vm.selectedClientQnAType.text')
            .text-center
                text.text-danger {{"Please select a type" | translate}}
        div(ng-if='vm.selectedClientQnAType.text')
            include ./clientQnA-mid-panel
    .col-md-3(style='padding-left:0')
        div(ng-if='!vm.selectedClientQnAType.text')
            .text-center
                text.text-danger {{"Please select a type" | translate}}
        div(ng-if='vm.selectedClientQnAType.text')
            include ./clientQnA-right-panel

