div(ng-if="checkViewPermission('Analysis')")
    .analysisHeader.col-md-12
        button.btn.common-button(class='{{vm.platformOverviewClass}}', ng-click='vm.loadPage("PLATFORM_OVERVIEW");') {{"OVERVIEW" | translate}}

        .fa.fa-cubes.fa-2x
        .dropdown
            button.btn.btn-primary.common-button.dropdown-toggle(ng-if='vm.showPageName=="PLATFORM_OVERVIEW"', href='#' data-toggle='dropdown')
                | {{"ALL_PLATFORM" | translate}}
            button.btn.btn-danger.common-button.dropdown-toggle(ng-if='vm.showPageName!=="PLATFORM_OVERVIEW"', href='#' data-toggle='dropdown')
                | {{vm.selectedPlatform.name | translate}}
            ul.dropdown-menu(role='menu')
                li(ng-repeat='(i,v) in vm.platformList')
                    a(ng-click='vm.selectPlatform(v._id)') {{v.name}}
        strong(style='display:inline-block;font-size:1.5em') {{'Data Type' | translate}}:
        .dropdown
            button.btn.btn-primary.common-button.dropdown-toggle(href='#' data-toggle='dropdown')
                |  {{vm.showPageName | translate}}
            ul.dropdown-menu(role='menu', ng-if='vm.showPageName!=="PLATFORM_OVERVIEW"')
                li(ng-if="checkViewPermission('Analysis','Analysis','NewPlayer')", ng-click='vm.loadPage("NEW_PLAYER")')
                    a  {{'NEW_PLAYER' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','ValidActivePlayer')", ng-click='vm.loadPage("VALID_ACTIVE_PLAYER")')
                    a  {{'VALID_ACTIVE_PLAYER' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','ActivePlayer')", ng-click='vm.loadPage("ACTIVE_PLAYER")')
                    a  {{'ACTIVE_PLAYER' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','LoginPlayer')", ng-click='vm.loadPage("LOGIN_PLAYER")')
                    a  {{'LOGIN_PLAYER' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','AppPlayer')", ng-click='vm.loadPage("APP_PLAYER")')
                    a  {{'APP_PLAYER' | translate}}
                //li(ng-click='vm.loadPage("PEAK_HOUR")')
                    a  {{'PEAK_HOUR' | translate}}
                //li(ng-click='vm.loadPage("PLAYER_SOURCE")')
                    a  {{'PLAYER_SOURCE' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','Location')",ng-click='vm.loadPage("PLAYER_IP_LOCATION")')
                    a  {{'PLAYER_IP_LOCATION' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','Location')",ng-click='vm.loadPage("PLAYER_PHONE_LOCATION")')
                    a  {{'PLAYER_PHONE_LOCATION' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','Reward')",ng-click='vm.loadPage("REWARD_ANALYSIS")')
                    a  {{'REWARD_ANALYSIS' | translate}}
                //li(ng-click='vm.loadPage("PLAYER_ANALYSIS")')
                    a  {{'PLAYER_ANALYSIS' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','Device')",ng-click='vm.loadPage("PLAYER_LOGIN_DEVICE_ANALYSIS")')
                    a  {{'PLAYER_LOGIN_DEVICE_ANALYSIS' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','PlayerDomain')",ng-click='vm.loadPage("PLAYER_DOMAIN_ANALYSIS")')
                    a  {{'PLAYER_DOMAIN_ANALYSIS' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','PlayerRetention')",ng-click='vm.loadPage("PLAYER_RETENTION")')
                    a  {{'PLAYER_RETENTION' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','Consumption')",ng-click='vm.loadPage("PLAYER_EXPENSES")')
                    a  {{'PLAYER_EXPENSES' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','TopUp')",ng-click='vm.loadPage("PLAYER_TOPUP")')
                    a  {{'PLAYER_TOPUP' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','ClientSource')",ng-click='vm.loadPage("CLIENT_SOURCE")')
                    a  {{'CLIENT_SOURCE' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','Bonus')",ng-click='vm.loadPage("BONUS_AMOUNT")')
                    a  {{'BonusAmount' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','ConsumptionInterval')",ng-click='vm.loadPage("CONSUMPTION_INTERVAL")')
                    a  {{'CONSUMPTION_INTERVAL' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','OnlineTopupSuccessRate')",ng-click='vm.loadPage("ONLINE_TOPUP_SUCCESS_RATE")')
                    a  {{'ONLINE_TOPUP_SUCCESS_RATE' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','TopUp')",ng-click='vm.loadPage("TOPUPMANUAL")')
                    a  {{'TOPUPMANUAL' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','TopUp')",ng-click='vm.loadPage("PlayerAlipayTopUp")')
                    a  {{'PlayerAlipayTopUp' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','TopUp')",ng-click='vm.loadPage("PlayerWechatTopUp")')
                    a  {{'PlayerWechatTopUp' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','TopupMethodRate')",ng-click='vm.loadPage("TOPUP_METHOD_RATE")')
                    a  {{'TOPUP_METHOD_RATE' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','DemoPlayer')",ng-click='vm.loadPage("DEMO_PLAYER")')
                    a  {{'DEMO_PLAYER' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','ClickCount')", ng-click='vm.loadPage("CLICK_COUNT")')
                    a  {{'CLICK_COUNT' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','ManualApproval')", ng-click='vm.loadPage("MANUAL_APPROVAL_PERCENTAGE")')
                    a  {{'MANUAL_APPROVAL_PERCENTAGE' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','FrontEndRegistrationAttritionRate')", ng-click='vm.loadPage("FRONT_END_REGISTRATION_ATTRITION_RATE")')
                    a  {{'FRONT_END_REGISTRATION_ATTRITION_RATE' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','WithdrawalSpeed')", ng-click='vm.loadPage("WITHDRAWAL_SPEED")')
                    a  {{'WITHDRAWAL_SPEED' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','PlayerOnlineTime')", ng-click='vm.loadPage("PLAYER_ONLINE_TIME")')
                    a  {{'PLAYER_ONLINE_TIME' | translate}}
                li(ng-if="checkViewPermission('Analysis','Analysis','IpDomain')", ng-click='vm.loadPage("DOMAIN_VISIT_AMOUNT")')
                    a  {{'DOMAIN_VISIT_AMOUNT' | translate}}

                //li(ng-click='vm.loadPage("GAME_ANALYSIS")')
                    a  {{'GAME_ANALYSIS' | translate}}
        a.pull-right(ng-click='vm.loadPageFunc(vm.showPageName)')
            text.text-primary.margin-right-5 {{'Refresh' | translate}}
            .fa.fa-refresh.fa-2x.rotateOnHover
    .col-md-12
        #analysisPanel.panel.panel-danger.padding-all-5
            div(ng-if='vm.showPageName=="PLATFORM_OVERVIEW"')
                include category/platform-overview
            div(ng-if='vm.showPageName=="NEW_PLAYER"')
                include category/player-new
            div(ng-if='vm.showPageName=="LOGIN_PLAYER"')
                include category/player-login
            div(ng-if='vm.showPageName=="APP_PLAYER"')
                include category/app-player
            div(ng-if='vm.showPageName=="ACTIVE_PLAYER"')
                include category/player-active
            div(ng-if='vm.showPageName=="VALID_ACTIVE_PLAYER"')
                include category/player-valid-active
            div(ng-if='vm.showPageName=="PEAK_HOUR"')
                include category/peak-hour
            div(ng-if='vm.showPageName=="PLAYER_IP_LOCATION"')
                include category/player-location
            div(ng-if='vm.showPageName=="PLAYER_PHONE_LOCATION"')
                include category/player-location
            div(ng-if='vm.showPageName=="REWARD_ANALYSIS"')
                include category/reward-analysis
            div(ng-if='vm.showPageName=="PLAYER_ANALYSIS"')
                include category/player-analysis
            div(ng-if='vm.showPageName=="PLAYER_LOGIN_DEVICE_ANALYSIS"')
                include category/player-device
            div(ng-if='vm.showPageName=="PLAYER_DOMAIN_ANALYSIS"')
                include category/player-domain
            div(ng-if='vm.showPageName=="PLAYER_RETENTION"')
                include category/player-retention
            div(ng-if='vm.showPageName=="GAME_ANALYSIS"')
                include category/game-analysis
            div(ng-if='vm.showPageName=="PLAYER_EXPENSES"')
                include category/player-credit
            div(ng-if='vm.showPageName=="PLAYER_TOPUP"')
                include category/player-credit
            div(ng-if='vm.showPageName=="BONUS_AMOUNT"')
                include category/bonus-amount
            div(ng-if='vm.showPageName=="CLIENT_SOURCE"')
                include category/client-source
            div(ng-if='vm.showPageName=="CONSUMPTION_INTERVAL"')
                include category/consumption-interval
            div(ng-if='vm.showPageName=="ONLINE_TOPUP_SUCCESS_RATE"')
                include category/online-topup-success-rate
            div(ng-if='vm.showPageName=="TOPUPMANUAL"')
                include category/player-top-up
            div(ng-if='vm.showPageName=="PlayerAlipayTopUp"')
                include category/player-top-up
            div(ng-if='vm.showPageName=="PlayerWechatTopUp"')
                include category/player-top-up
            div(ng-if='vm.showPageName=="TOPUP_METHOD_RATE"')
                include category/topup-method-rate
            div(ng-if='vm.showPageName=="DEMO_PLAYER"')
                include category/demo-player
            div(ng-if='vm.showPageName=="CLICK_COUNT"')
                include category/click-count
            div(ng-if='vm.showPageName=="MANUAL_APPROVAL_PERCENTAGE"')
                include category/manual-approval
            div(ng-if='vm.showPageName=="FRONT_END_REGISTRATION_ATTRITION_RATE"')
                include category/registration-attrition-rate
            div(ng-if='vm.showPageName=="WITHDRAWAL_SPEED"')
                include category/withdrawal-speed
            div(ng-if='vm.showPageName=="PLAYER_ONLINE_TIME"')
                include category/player-online-time
            div(ng-if='vm.showPageName=="DOMAIN_VISIT_AMOUNT"')
                include category/ip-domain
            div(ng-if='vm.showPageName==""')
                label Please select a Data type
    include category/common/input-date
link(rel='stylesheet', href='css/analysis.css')
script(src='js/lib/flot/jquery.flot.min.js')
script(src='js/lib/flot/jquery.flot.pie.min.js')
script(src='js/lib/flot/jquery.flot.barnumbers.enhanced.js')
script(src='js/lib/flot/jquery.flot.axislabels.js')
script(src='js/lib/flot/jquery.flot.time.min.js')
