.row.margin-left-5.margin-right-5(ng-show="checkViewPermission('ThemeControl')")
    #themeControlContent(style="padding-left:0;", ng-class='vm.rightPanelClass')
        .padding-all-5
            .panel.panel-primary
                .panel-heading.common-left-panel-heading
                    //ul.nav.nav-tabs.common-nav-tabs.padding-left-5
                    ul.nav.nav-tabs.common-nav-tabs
                        li.active
                            a.common-tab(style="margin-left: 20px;", ng-if="checkViewPermission('ThemeControl', 'playerTheme', 'Read')", data-toggle="tab", href="#playerTheme", ng-click="vm.editForm ='player'; vm.setThemeFooter(null); vm.reloadThemeSetting('player'); vm.themeSettingEdit = false; vm.addNewTheme = false; vm.themeControlPageName='playerTheme';")
                                .fa.fa-wrench.margin-right-5
                                text.span {{"playerTheme" | translate}}
                        li
                            a.common-tab(ng-if="checkViewPermission('ThemeControl', 'partnerTheme', 'Read')", data-toggle="tab", href="#partnerTheme", ng-click="vm.editForm ='partner'; vm.setThemeFooter(null); vm.reloadThemeSetting('partner'); vm.themeControlPageName='partnerTheme'; vm.themeSettingEdit = false; vm.addNewTheme = false")
                                .fa.fa-wrench.margin-right-5
                                text.span {{"partnerTheme" | translate}}
                .panel-body.common-right-panel-body
                    div.tab-content
                        #playerTheme.tab-pane.fade.in.active
                            div(style="margin-top: 20px;")
                                label(style="color: red") *{{ "Theme style and Theme ID must be unique" | translate }}
                            div.col-md-6(ng-repeat= '(i,v) in vm.playerThemeData', style="float:none; display: inline-block; vertical-align: top; margin-bottom: 40px; margin-top: 30px")
                                button(ng-if='vm.themeSettingEdit' style= 'width:20px; height:20px; background-color:#337ab7;', class='fa fa-times close', ng-click="vm.updateCollectionInEdit('player', 'remove', null, i, v, vm.playerThemeData)")
                                table.simple-table
                                    thead
                                        tr(ng-if="!vm.themeSettingEdit")
                                            th(colspan = 3) {{"Theme Style" | translate}} : {{v.themeStyle}}
                                        tr(ng-if="vm.themeSettingEdit")
                                            th(colspan = 3) {{"Theme Style" | translate}}
                                                input.form-control(type='text', value='{{v.themeStyle}}', ng-model='v.themeStyle', ng-change="vm.checkDuplicatedThemeSetting(v.themeStyle, 'style')")
                                        tr
                                            th(style="width: 40%;") {{"Theme" | translate}} {{" "}} ID
                                            th(style="width: 40%;") {{"REMARK" | translate}}
                                            th(style="width: 20%") {{"ACTION_BUTTON" | translate}}
                                    tbody
                                        tr(ng-repeat= 'item in v.content')
                                            td(ng-if="vm.themeSettingEdit")
                                                input.form-control(type='text', value='{{item.themeId}}', ng-model='item.themeId', ng-change="vm.checkDuplicatedThemeSetting(item.themeId, 'id')")
                                            td(ng-if="vm.themeSettingEdit")
                                                input.form-control(type='text', value='{{item.remark}}', ng-model='item.remark')
                                            td(ng-if="vm.themeSettingEdit")
                                                strong(ng-click='vm.updateCollectionInEdit("player","remove", v.content, $index, v)') (-) {{"DELETE"|  translate}}


                                            td(ng-if="!vm.themeSettingEdit", ) {{ item.themeId ? item.themeId : ''}}
                                            td(ng-if="!vm.themeSettingEdit", ) {{ item.remark ? item.remark : ''}}
                                            td(ng-if="!vm.themeSettingEdit", style="width: 20%; background: lightgray;")


                                        tr(ng-if='vm.themeSettingEdit')
                                            td(colspan=3) {{'Adding In' | translate}}
                                        tr(ng-if='vm.themeSettingEdit')

                                            td
                                                input.form-control(type="text", ng-model="vm.newThemeId[i]", ng-change="vm.checkDuplicatedThemeSetting(vm.newThemeId[i], 'id'); vm.checkInstantDuplicatedThemeIdFromList(vm.newThemeId[i], 'player')")
                                            td
                                                input.form-control(type="text", ng-model="vm.newRemark[i]")
                                            td
                                                strong(ng-if="!vm.repetitiveBoolean && !vm.instRepetitiveBoolean", ng-click='vm.updateCollectionInEdit("player", "add", v.content, {themeId: vm.newThemeId[i], remark: vm.newRemark[i]}); vm.newThemeId[i]=""; vm.newRemark[i]="";') (+) {{"ADD" | translate}}


                            .well(style="margin-top: 50px; background-color: white;", ng-if="vm.addNewTheme" )
                                .row(style="text-align: center; margin-bottom: 10px;" ng-if="vm.addNewTheme")
                                    label {{"Add New Player Theme" | translate}}
                                .row(ng-if="vm.addNewTheme")
                                    div.col-md-12(style="float:none; display: inline-block; vertical-align: top; margin-bottom: 40px;")
                                        //button(style= 'width:20px; height:20px;background-color:#337ab7;', class='fa fa-times close', ng-click='vm.removeModule("aaa", $index)')
                                        table.simple-table
                                            thead
                                                tr
                                                    th(colspan = 3) {{"Theme Style" | translate}} :
                                                        input.form-control(type='text', value='{{vm.newPlayerThemeSetting.themeStyle}}', ng-model='vm.newPlayerThemeSetting.themeStyle', ng-change="vm.checkDuplicatedThemeSetting(vm.newPlayerThemeSetting.themeStyle, 'style')")
                                                tr
                                                    th(style="width: 40%;") {{"THEME ID" | translate}}
                                                    th(style="width: 40%;") {{"REMARK" | translate}}
                                                    th(style="width: 20%") {{"ACTION_BUTTON" | translate}}
                                            tbody
                                                tr(ng-if="vm.addNewTheme && vm.newPlayerThemeSetting.content && vm.newPlayerThemeSetting.content.length > 0", ng-repeat="item in vm.newPlayerThemeSetting.content")
                                                    td
                                                        input.form-control(type='text', value='{{item.themeId}}', ng-model='item.themeId', ng-change="vm.checkDuplicatedThemeSetting(item.themeId, 'id'); ")
                                                    td
                                                        input.form-control(type='text', value='{{item.remark}}', ng-model='item.remark')
                                                    td
                                                        strong(ng-click='vm.simpleUpdateCollectionInEdit("player", "remove", vm.newPlayerThemeSetting.content, $index)') (-) {{"DELETE"|  translate}}


                                                tr(ng-if='!vm.newPlayerThemeSetting.content || vm.newPlayerThemeSetting.content.length == 0 || vm.addNewTheme')
                                                    td(colspan=3) {{'Adding In' | translate}}
                                                tr(ng-if='!vm.newPlayerThemeSetting.content || vm.newPlayerThemeSetting.content.length == 0 || vm.addNewTheme')
                                                    td
                                                        input.form-control(type="text", ng-model="vm.refThemeId", ng-change="vm.checkDuplicatedThemeSetting(vm.refThemeId, 'id'); vm.checkInstantDuplicatedThemeId(vm.refThemeId, 'player')")
                                                    td
                                                        input.form-control(type="text", ng-model="vm.redRemark")
                                                    td
                                                        strong(ng-if="!vm.repetitiveBoolean && !vm.instRepetitiveBoolean", ng-click='vm.simpleUpdateCollectionInEdit("add", vm.newPlayerThemeSetting.content, {themeId: vm.refThemeId, remark: vm.redRemark}); vm.refThemeId=""; vm.redRemark="";') (+) {{"ADD" | translate}}
                                .row(style="text-align: right; margin-bottom: 10px;" ng-if="vm.addNewTheme")
                                    button.common-button.btn.btn-info(ng-if="vm.addNewTheme", ng-click="vm.addNewTheme=false; vm.reloadThemeSetting('player'); vm.addNewTheme=false; vm.setThemeFooter(null);" style="width: auto; background-color: #5bc0de") {{'CANCEL' | translate}}
                                    button.common-button.btn.btn-info(ng-disabled="vm.repetitiveBoolean || vm.instRepetitiveBoolean", ng-if="vm.addNewTheme", ng-click="vm.editThemeSetting('save', vm.newPlayerThemeSetting, 'player');vm.addNewTheme=false; vm.reloadThemeSetting('player'); vm.setThemeFooter(null);" style="width: auto; background-color: #5bc0de") {{'SAVE' | translate}}


                        #partnerTheme.tab-pane.fade
                            div(style="margin-top: 20px;")
                                label(style="color: red") *{{ "Theme style and Theme ID must be unique" | translate }}
                            div.col-md-6(ng-repeat= '(i,v) in vm.partnerThemeData', style="float:none; display: inline-block; vertical-align: top; margin-bottom: 40px; margin-top: 30px")
                                button(ng-if='vm.themeSettingEdit' style= 'width:20px; height:20px; background-color:#337ab7;', class='fa fa-times close', ng-click="vm.updateCollectionInEdit('partner', 'remove', null, i, v, vm.partnerThemeData)")
                                table.simple-table
                                    thead
                                        tr(ng-if="!vm.themeSettingEdit")
                                            th(colspan = 3) {{"Theme Style" | translate}} : {{v.themeStyle}}
                                        tr(ng-if="vm.themeSettingEdit")
                                            th(colspan = 3) {{"Theme Style" | translate}}
                                                input.form-control(type='text', value='{{v.themeStyle}}', ng-model='v.themeStyle', ng-change="vm.checkDuplicatedThemeSetting(v.themeStyle, 'style')")
                                        tr
                                            th(style="width: 40%;") {{"Theme" | translate}} {{" "}} ID
                                            th(style="width: 40%;") {{"REMARK" | translate}}
                                            th(style="width: 20%") {{"ACTION_BUTTON" | translate}}
                                    tbody
                                        tr(ng-repeat= 'item in v.content')
                                            td(ng-if="vm.themeSettingEdit")
                                                input.form-control(type='text', value='{{item.themeId}}', ng-model='item.themeId', ng-change="vm.checkDuplicatedThemeSetting(item.themeId, 'id')")
                                            td(ng-if="vm.themeSettingEdit")
                                                input.form-control(type='text', value='{{item.remark}}', ng-model='item.remark')
                                            td(ng-if="vm.themeSettingEdit")
                                                strong(ng-click='vm.updateCollectionInEdit("partner", "remove", v.content, $index, v)') (-) {{"DELETE"|  translate}}


                                            td(ng-if="!vm.themeSettingEdit", ) {{ item.themeId ? item.themeId : ''}}
                                            td(ng-if="!vm.themeSettingEdit", ) {{ item.remark ? item.remark : ''}}
                                            td(ng-if="!vm.themeSettingEdit", style="width: 20%; background: lightgray;")


                                        tr(ng-if='vm.themeSettingEdit')
                                            td(colspan=3) {{'Adding In' | translate}}
                                        tr(ng-if='vm.themeSettingEdit')

                                            td
                                                input.form-control(type="text", ng-model="vm.newThemeId[i]", ng-change="vm.checkDuplicatedThemeSetting(vm.newThemeId[i], 'id'); vm.checkInstantDuplicatedThemeIdFromList(vm.newThemeId[i], 'partner')")
                                            td
                                                input.form-control(type="text", ng-model="vm.newRemark[i]")
                                            td
                                                strong(ng-if="!vm.repetitiveBoolean && !vm.instRepetitiveBoolean", ng-click='vm.updateCollectionInEdit("partner", "add", v.content, {themeId: vm.newThemeId[i], remark: vm.newRemark[i]}); vm.newThemeId[i]=""; vm.newRemark[i]="";') (+) {{"ADD" | translate}}


                            .well(style="margin-top: 50px; background-color: white;", ng-if="vm.addNewTheme" )
                                .row(style="text-align: center; margin-bottom: 10px;" ng-if="vm.addNewTheme")
                                    label {{"Add New Partner Theme" | translate}}
                                .row(ng-if="vm.addNewTheme")
                                    div.col-md-12(style="float:none; display: inline-block; vertical-align: top; margin-bottom: 40px;")
                                        //button(style= 'width:20px; height:20px;background-color:#337ab7;', class='fa fa-times close', ng-click='vm.removeModule("aaa", $index)')
                                        table.simple-table
                                            thead
                                                tr
                                                    th(colspan = 3) {{"Theme Style" | translate}} :
                                                        input.form-control(type='text', value='{{vm.newPartnerThemeSetting.themeStyle}}', ng-model='vm.newPartnerThemeSetting.themeStyle', ng-change="vm.checkDuplicatedThemeSetting(vm.newPartnerThemeSetting.themeStyle, 'style')")
                                                tr
                                                    th(style="width: 40%;") {{"THEME ID" | translate}}
                                                    th(style="width: 40%;") {{"REMARK" | translate}}
                                                    th(style="width: 20%") {{"ACTION_BUTTON" | translate}}
                                            tbody
                                                tr(ng-if="vm.addNewTheme && vm.newPartnerThemeSetting.content && vm.newPartnerThemeSetting.content.length > 0", ng-repeat="item in vm.newPartnerThemeSetting.content")
                                                    td
                                                        input.form-control(type='text', value='{{item.themeId}}', ng-model='item.themeId', ng-change="vm.checkDuplicatedThemeSetting(item.themeId, 'id'); ")
                                                    td
                                                        input.form-control(type='text', value='{{item.remark}}', ng-model='item.remark')
                                                    td
                                                        strong(ng-click='vm.simpleUpdateCollectionInEdit("remove", vm.newPartnerThemeSetting.content, $index)') (-) {{"DELETE"|  translate}}


                                                tr(ng-if='!vm.newPartnerThemeSetting.content || vm.newPartnerThemeSetting.content.length == 0 || vm.addNewTheme')
                                                    td(colspan=3) {{'Adding In' | translate}}
                                                tr(ng-if='!vm.newPartnerThemeSetting.content || vm.newPartnerThemeSetting.content.length == 0 || vm.addNewTheme')
                                                    td
                                                        input.form-control(type="text", ng-model="vm.refThemeId", ng-change="vm.checkDuplicatedThemeSetting(vm.refThemeId, 'id'); vm.checkInstantDuplicatedThemeId(vm.refThemeId, 'partner')")
                                                    td
                                                        input.form-control(type="text", ng-model="vm.redRemark")
                                                    td
                                                        strong(ng-if="!vm.repetitiveBoolean && !vm.instRepetitiveBoolean", ng-click='vm.simpleUpdateCollectionInEdit("add", vm.newPartnerThemeSetting.content, {themeId: vm.refThemeId, remark: vm.redRemark}); vm.refThemeId=""; vm.redRemark="";') (+) {{"ADD" | translate}}
                                .row(style="text-align: right; margin-bottom: 10px;" ng-if="vm.addNewTheme")
                                    button.common-button.btn.btn-info(ng-if="vm.addNewTheme", ng-click="vm.addNewTheme=false; vm.reloadThemeSetting('partner'); vm.addNewTheme=false; vm.setThemeFooter(null);" style="width: auto; background-color: #5bc0de") {{'CANCEL' | translate}}
                                    button.common-button.btn.btn-info(ng-disabled="vm.repetitiveBoolean || vm.instRepetitiveBoolean", ng-if="vm.addNewTheme", ng-click="vm.editThemeSetting('save', vm.newPartnerThemeSetting, 'partner');vm.addNewTheme=false; vm.reloadThemeSetting('partner'); vm.setThemeFooter(null);" style="width: auto; background-color: #5bc0de") {{'SAVE' | translate}}



                .modal-footer
                    button.btn.btn-primary.common-button(ng-if="!vm.themeAction", ng-click="vm.addNewTheme = true; vm.setThemeFooter('new theme')") {{ 'Add New Theme' | translate}}
                    button.btn.btn-primary.common-button(ng-disabled="!vm.themeDataLength", ng-if="!vm.themeAction", ng-click="vm.setThemeFooter('edit'); vm.themeSettingEdit = true; vm.initPlatform(true); ") {{"EDIT" | translate}}
                    //button.btn.btn-primary.common-button(ng-disabled="vm.partnerThemeData.length == 0", ng-if="!vm.themeAction && vm.editForm =='partner'", ng-click="vm.setThemeFooter('edit'); vm.themeSettingEdit = true; vm.initPlatform(true); ") {{"EDIT" | translate}}

                    button.btn.btn-primary.common-button(ng-disabled="vm.repetitiveBoolean", ng-show="vm.themeAction=='edit' && vm.editForm =='player'", ng-click="vm.editThemeSetting('update', vm.playerThemeData); vm.setThemeFooter(null); vm.themeSettingEdit = false;") {{"CONFIRM" | translate}}
                    button.btn.btn-primary.common-button(ng-disabled="vm.repetitiveBoolean", ng-show="vm.themeAction=='edit' && vm.editForm =='partner'", ng-click="vm.editThemeSetting('update', vm.partnerThemeData); vm.setThemeFooter(null); vm.themeSettingEdit = false;") {{"CONFIRM" | translate}}
                    button.btn.btn-warning.common-button(ng-show="vm.themeAction && vm.themeAction != 'new theme' && vm.editForm =='player'", ng-click="vm.setThemeFooter(null); vm.reloadThemeSetting('player'); vm.themeSettingEdit = false" ) {{"CANCEL" | translate}}
                    button.btn.btn-warning.common-button(ng-show="vm.themeAction && vm.themeAction != 'new theme' && vm.editForm =='partner'", ng-click="vm.setThemeFooter(null); vm.reloadThemeSetting('partner'); vm.themeSettingEdit = false" ) {{"CANCEL" | translate}}

#modalThemeSetting.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"CONFIRM TO DELETE?" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .well
                            text {{"The theme setting is currently using, confirm to delete this setting?" | translate}}
                            br
                            br
                            div(ng-repeat="item in vm.listedThemeSettingDetail")
                                text {{item}}
            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-click="vm.confirmDeleteThemeSetting()") {{"CONFIRM" | translate}}
                button.btn.btn-warning.common-button(data-dismiss='modal') {{"CANCEL" | translate}}