//
   Created by wanglz on 30/5/16.

.section
    .row
        .titlePic
            .title
                text {{"ONLINE_TOPUP_SUCCESS_RATE" | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#allOnlineTopupSuccessRateAnalysis .block-query","allOnlineTopupSuccessRate")')
                        text.pull-left.margin-right-5 {{vm.optionText.allOnlineTopupSuccessRate | translate}}
    #allOnlineTopupSuccessRateAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div(style='width:200px;')
                label {{'PRODUCT_NAME' | translate}} ({{'Multiple' | translate}})
                select.form-control(ng-model='vm.queryPara.allOnlineTopupSuccessRate.platformList', ng-options='v._id as v.name for v in vm.platformList', multiple, bsp, data-actions-box='true')
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            div
                label {{"Analysis category"|translate}}
                select.form-control(ng-model='vm.queryPara.allOnlineTopupSuccessRate.analysisCategory')
                    option(value='onlineTopupType') {{'OnlineTopUpType' | translate}}
                    option(value='thirdPartyPlatform') {{'thirdPartyPlatform' | translate}}
                    option(value='merchantNo') {{'merchantNo' | translate}}
            div
                label {{"Processing Time For Successful Proposals (Additional Function/ No Impact On Success Rate/ In Minutes)"|translate}}
                div
                    select.form-control(ng-model="vm.queryPara.allOnlineTopupSuccessRate.timeOperator" style="width:75px; display:inline-block;")
                        option(value='>=') {{'>='}}
                        option(value='=') {{'='}}
                        option(value='<=') {{'<='}}
                        option(value='range') {{'range'|translate}}
                    div(style="width:8px;display:inline-block")
                    input.form-control(type="number" ng-model="vm.queryPara.allOnlineTopupSuccessRate.timesValue" style="width:80px;display:inline-block")
                    div.text-center(style="width:15px;display:inline-block" ng-if="vm.queryPara.allOnlineTopupSuccessRate.timeOperator === 'range'") ~
                    input.form-control(type="number" ng-model="vm.queryPara.allOnlineTopupSuccessRate.timesValueTwo" style="width:80px;display:inline-block" ng-if="vm.queryPara.allOnlineTopupSuccessRate.timeOperator === 'range'")
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.getAllOnlineToupSuccessRateData()') {{'SEARCH' | translate}}
        .row
            .col-md-12
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%;margin-top: 0 !important;margin-bottom: 0 !important;')
                        thead
                            tr
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'name')") {{ 'onlineTopupTypeWeb' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'merchantTypeName')" ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'") {{ 'thirdPartyPlatform' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'merchantNo')" ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'") {{ 'merchantNo' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'successCount')") {{ "successCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'totalCount')") {{ "totalCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'successRate')") {{ "successRate" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'receivedAmount')") {{ "receivedAmount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'amountRatio')") {{ "amountRatio" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'userCount')") {{ "userCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'userCountRatio')") {{ "userCountRatio" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('WEB', 'successCountInInterval')") {{ "successCount" | translate}} ({{ "Preset-Processing Time" | translate}})
                        tbody
                            tr(ng-repeat="(i, v) in vm.allPlatformOnlineTopupAnalysisByType | orderBy: vm.allPlatformOnlineTopupSuccessTableSort.WEB | filter: {type: 'WEB'}")
                                td(style='width: 200px;')
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "WEB", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.name | translate }} (WEB)
                                td(style='width: 200px;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "WEB", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.merchantTypeName }}
                                td(style='width: 200px;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "WEB", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.merchantNo }}
                                td
                                    span {{ v.successCount }}
                                td
                                    span {{ v.totalCount }}
                                td
                                    span {{ v.successRate }} %
                                td
                                    span {{ v.receivedAmount }}
                                td
                                    span {{ v.amountRatio }} %
                                td
                                    span {{ v.userCount }}
                                td
                                    span {{ v.userCountRatio }} %
                                td(ng-if="v.proposalArr.length == 0")
                                    span {{v.proposalArr.length || 0}}
                                td(ng-if="v.proposalArr.length != 0")
                                    a(ng-click='vm.initOnlineTopUpAnalysisProposalDetail(v.proposalArr)', data-toggle= 'modal', data-target= '#modalAllOnlineTopupSuccessProposal') {{ v.proposalArr.length}}
                            tr
                                td
                                    span {{ 'subtotal' | translate }}
                                td(ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td(ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.successCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.totalCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.successRate }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.receivedAmount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.amountRatio }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.userCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.userCountRatio }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.WEB.proposalCount }}
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%;margin-top: 0 !important;margin-bottom: 0 !important;')
                        thead
                            tr
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'name')") {{ 'onlineTopupTypeH5' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'merchantTypeName')" ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'") {{ 'thirdPartyPlatform' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'merchantNo')" ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'") {{ 'merchantNo' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'successCount')") {{ "successCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'totalCount')") {{ "totalCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'successRate')") {{ "successRate" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'receivedAmount')") {{ "receivedAmount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'amountRatio')") {{ "amountRatio" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'userCount')") {{ "userCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'userCountRatio')") {{ "userCountRatio" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('H5', 'successCountInInterval')") {{ "successCount" | translate}} ({{ "Preset-Processing Time" | translate}})

                        tbody
                            tr(ng-repeat="(i, v) in vm.allPlatformOnlineTopupAnalysisByType | orderBy: vm.allPlatformOnlineTopupSuccessTableSort.H5 | filter: {type: 'H5'}")
                                td(style='width: 200px;')
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "H5", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.name | translate }} (H5)
                                td(style='width: 200px;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "H5", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.merchantTypeName }}
                                td(style='width: 200px;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "H5", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.merchantNo }}
                                td
                                    span {{ v.successCount }}
                                td
                                    span {{ v.totalCount }}
                                td
                                    span {{ v.successRate }} %
                                td
                                    span {{ v.receivedAmount }}
                                td
                                    span {{ v.amountRatio }} %
                                td
                                    span {{ v.userCount }}
                                td
                                    span {{ v.userCountRatio }} %
                                td(ng-if="v.proposalArr.length == 0")
                                    span {{v.proposalArr.length || 0}}
                                td(ng-if="v.proposalArr.length != 0")
                                    a(ng-click='vm.initOnlineTopUpAnalysisProposalDetail(v.proposalArr)', data-toggle= 'modal', data-target= '#modalAllOnlineTopupSuccessProposal') {{ v.proposalArr.length}}
                            tr
                                td
                                    span {{ 'subtotal' | translate }}
                                td(ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td(ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.successCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.totalCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.successRate }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.receivedAmount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.amountRatio }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.userCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.userCountRatio }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.H5.proposalCount }}
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%;margin-top: 0 !important;margin-bottom: 0 !important;')
                        thead
                            tr
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'name')") {{ 'onlineTopupTypeAPP' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'merchantTypeName')" ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'") {{ 'thirdPartyPlatform' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'merchantNo')" ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'") {{ 'merchantNo' | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'successCount')") {{ "successCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'totalCount')") {{ "totalCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'successRate')") {{ "successRate" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'receivedAmount')") {{ "receivedAmount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'amountRatio')") {{ "amountRatio" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'userCount')") {{ "userCount" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'userCountRatio')") {{ "userCountRatio" | translate}}
                                th(ng-click="vm.allOnlineTopupTypeDataSort('APP', 'successCountInInterval')") {{ "successCount" | translate}} ({{ "Preset-Processing Time" | translate}})
                        tbody
                            tr(ng-repeat="(i, v) in vm.allPlatformOnlineTopupAnalysisByType | orderBy: vm.allPlatformOnlineTopupSuccessTableSort.APP | filter: {type: 'APP'}")
                                td(style='width: 200px;')
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "APP", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.name | translate }} (APP)
                                td(style='width: 200px;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "APP", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.merchantTypeName }}
                                td(style='width: 200px;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    a(ng-click='vm.allPlatformOnlineTopupAnalysisShowDetail(v.merchantTopupTypeId, v.userAgent, "APP", v.receivedAmount, v.userCount, v.merchantNo, v.merchantTypeName)') {{ v.merchantNo }}
                                td
                                    span {{ v.successCount }}
                                td
                                    span {{ v.totalCount }}
                                td
                                    span {{ v.successRate }} %
                                td
                                    span {{ v.receivedAmount }}
                                td
                                    span {{ v.amountRatio }} %
                                td
                                    span {{ v.userCount }}
                                td
                                    span {{ v.userCountRatio }} %
                                td(ng-if="v.proposalArr.length == 0")
                                    span {{v.proposalArr.length || 0}}
                                td(ng-if="v.proposalArr.length != 0")
                                    a(ng-click='vm.initOnlineTopUpAnalysisProposalDetail(v.proposalArr)', data-toggle= 'modal', data-target= '#modalAllOnlineTopupSuccessProposal') {{ v.proposalArr.length}}
                            tr
                                td
                                    span {{ 'subtotal' | translate }}
                                td(ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td(ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.successCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.totalCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.successRate }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.receivedAmount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.amountRatio }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.userCount }}
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.userCountRatio }} %
                                td
                                    span {{ vm.allPlatformOnlineTopupAnalysisSubTotalData.APP.proposalCount }}
                            tr
                                td(style='background-color: #ffc1c1;')
                                    span {{ 'Total' | translate }}
                                td(style='background-color: #ffc1c1;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'thirdPartyPlatform' || vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td(style='background-color: #ffc1c1;' ng-if="vm.allPlatformOnlineTopupAnalysisCategory === 'merchantNo'")
                                    span {{ '' | translate }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.successCount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.totalCount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.successRate }} %
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.receivedAmount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.amountRatio }} %
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.userCount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.userCountRatio }} %
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisTotalData.proposalCount }}

    div(ng-if='vm.allPlatformOnlineTopupAnalysisDetailMerchantId' style='margin-top:20px')
        .row
            .col-md-12
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%;margin-top: 0 !important;margin-bottom: 0 !important;')
                        thead
                            tr
                                th {{ merchantTopupTypeJson[vm.allPlatformOnlineTopupAnalysisDetailMerchantId] | translate}} ({{ userAgentType[vm.allPlatformOnlineTopupAnalysisDetailUserAgent] }}) {{ vm.allPlatformOnlineTopupAnalysisDetailMerchantName }} {{ vm.allPlatformOnlineTopupAnalysisDetailMerchantNo ? '- ' + vm.allPlatformOnlineTopupAnalysisDetailMerchantNo : '' }}
                                th {{ "successCount" | translate}}
                                th {{ "totalCount" | translate}}
                                th {{ "successRate" | translate}}
                                th {{ "receivedAmount" | translate}}
                                th {{ "amountRatio" | translate}}
                                th {{ "userCount" | translate}}
                                th {{ "userCountRatio" | translate}}
                                th {{ "successCount" | translate}} ({{ "Preset-Processing Time" | translate}})
                        tbody
                            tr(ng-repeat="(i, v) in vm.allPlatformOnlineTopupDetailDataByType")
                                td(style='width: 400px;')
                                    span {{ v.platformName }}
                                td
                                    span {{ v.successCount }}
                                td
                                    span {{ v.totalCount }}
                                td
                                    span {{ v.successRate }} %
                                td
                                    span {{ v.receivedAmount }}
                                td
                                    span {{ v.amountRatio }} %
                                td
                                    span {{ v.userCount }}
                                td
                                    span {{ v.userCountRatio }} %
                                td(ng-if="v.proposalArr.length == 0")
                                    span {{v.proposalArr.length || 0}}
                                td(ng-if="v.proposalArr.length != 0")
                                    a(ng-click='vm.initOnlineTopUpAnalysisProposalDetail(v.proposalArr)', data-toggle= 'modal', data-target= '#modalAllOnlineTopupSuccessProposal') {{ v.proposalArr.length}}
                            tr
                                td(style='background-color: #ffc1c1;')
                                    span {{ 'subtotal' | translate }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.successCount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.totalCount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.successRate }} %
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.receivedAmount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.amountRatio }} %
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.userCount }}
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.userCountRatio }} %
                                td(style='background-color: #ffc1c1;')
                                    span {{ vm.allPlatformOnlineTopupAnalysisDetailTotalData.proposalCount }}


#modalAllOnlineTopupSuccessProposal.modal.fade(tabindex='-2', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:90%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{vm.titleTag}}
            .modal-body
                div
                    table.simple-table
                        thead
                            tr
                                th {{'PROPOSAL ID' | translate}}
                                th {{'CREATOR' | translate}}
                                th {{'INPUT_DEVICE' | translate}}
                                th {{'PROPOSAL TYPE' | translate}}
                                th {{'PROPOSAL_SUB_TYPE' | translate}}
                                th {{'Proposal Status' | translate}}
                                th {{'INVOLVED_ACC' | translate}}
                                th {{'Amount Involved' | translate}}
                                th {{'START_TIME' | translate}}
                                th {{'Player Level' | translate}}
                                th {{'REMARKS' | translate}}
                        tbody
                            tr(ng-repeat=" item in vm.allOnlineTopUpSuccessProposal")
                                td
                                    a(ng-click='vm.showProposalModalNew(item.proposalId, item.data.platformId)') {{item.proposalId}}
                                td {{item.creator$}}
                                td {{item.inputDevice$}}
                                td {{item.mainType$}}
                                td {{item.typeName$}}
                                td {{item.status$}}
                                td {{item.$involvedAcc}}
                                td {{item.involveAmount$}}
                                td {{item.createTime$}}
                                td {{item.data.proposalPlayerLevel}}
                                td {{item.data.remark}}


#modalProposalDetail.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            div(ng-if='vm.proposalDialog == "proposalTopUp" || vm.proposalDialog == "proposal"')
                                #ProposalDetail.tab-pane.fade.in.active
                                    include ../../report/proposal-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                button.btn.btn-success.common-button(ng-if="vm.showCopyProposal()" ng-click="vm.copyTopUpProposal()") {{"COPY_TO_CLIPBOARD" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')