.section
    .row
        .titlePic
            .title
                text {{vm.showPageName | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#clickCountAnalysis .block-query","clickCount")')
                        text.pull-left.margin-right-5 {{vm.optionText.clickCount | translate}}
    #clickCountAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.clickCount.periodText')
                    option(value='day') {{"DAY" | translate}}
                    option(value='week') {{"WEEK" | translate}}
                    option(value='month') {{"MONTH" | translate}}
            div
                label {{'Start date' | translate}}
                .startTime
            div
                label {{'End date' | translate}}
                .endTime
            div
                label {{'DEVICE' | translate}}
                select.form-control(ng-model='vm.queryPara.clickCount.inputDevice', ng-options="i as v | translate for (i,v) in vm.clickCountDevice", style='max-width:200px', ng-change="vm.getClickCountPageName(vm.queryPara.clickCount.inputDevice)")
            div
                label {{'PAGE_NAME' | translate}}
                select.form-control(ng-model='vm.queryPara.clickCount.pageName', ng-options="i as v | translate for (i,v) in vm.clickCountPageName", style='max-width:200px', ng-change="vm.getClickCountDomain(vm.queryPara.clickCount.inputDevice, vm.queryPara.clickCount.pageName)")
            div
                label {{'DOMAIN NAME' | translate}}
                select.form-control(ng-model='vm.queryPara.clickCount.domain', ng-options="i as v | translate for (i,v) in vm.clickCountDomain", style='max-width:200px', ng-change="vm.getClickCountButtonName(vm.queryPara.clickCount.inputDevice, vm.queryPara.clickCount.pageName, vm.queryPara.clickCount.domain)")
                    option(value='') {{"any" | translate}}
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.getClickCountAnalysis(vm.queryPara.clickCount.inputDevice, vm.queryPara.clickCount.pageName, vm.queryPara.clickCount.domain)') {{'SEARCH' | translate}}
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-if="checkViewPermission('Analysis','Analysis','DeleteClickCount')" ng-click='vm.initDeleteClickCountModal()') {{'DELETE' | translate}}

        label.text-primary {{'clickCount' | translate}}: {{'DEVICE' | translate}}, {{'PAGE_NAME' | translate}}, {{'DOMAIN NAME' | translate}} VS {{vm.queryPara.clickCount.periodText | translate}}
        .row
            .col-md-12
                .graph
                    table#clickCountAnalysisTable1.display.tableDiv(style='min-width:100%')
        .row.margin-top-10
            .col-md-12
                .panel.panel-default
                    div
                        #clickCountAnalysisBar.barChart.graphDiv(style='height:550px;width:100%;')
            //.col-md-12
            //    .graph
            //        .panel.panel-default
            //            .pieChart
            //                div.graphDiv

#modalDeleteClickCount.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:80%")
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Delete click count record' | translate}}
            .modal-body
                table.simple-table(style='max-width:100%;text-align:left')
                    thead
                        tr
                            th(colspan='2') {{'Please select click count option to delete (Attention! all related record will be delete)' | translate}}
                        tr
                            th(style='background-color:#0b97c4;color: #FFFFFF;') {{'DEVICE' | translate}}
                            th(style='background-color:#0b97c4;color: #FFFFFF;') {{'PAGE_NAME' | translate}}
                    tbody(ng-repeat='(i,device) in vm.clickCountDevice')
                        tr(ng-repeat='(k,page) in vm.pageNameDataObj[device]')
                            td(rowspan='{{vm.pageNameDataObj[device].length}}' ng-if="$index===0") 
                                input(type='checkbox' ng-model='vm.deleteClickCountDevice[device]' ng-change='vm.selectDevicePage(device)')
                                text {{device}}
                            td
                                input(type='checkbox' ng-model='vm.deleteClickCountPage[device][page]' ng-change='vm.clickCountDeleteCheckParent(device,page);vm.selectPageButton(device,page)')
                                a(ng-click='vm.initSelectButtonClickCount(device, page)') {{page}}
                            
                        
                                
                           

            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal' ng-click='vm.deleteClickCountRecord()') {{"CONFIRM" | translate}}
                button.btn.btn-success.common-button(data-dismiss='modal') {{"CLOSE" | translate}}

#modalSelectClickCountDomain.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style="width:65%")
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{'Select domain to delete record' | translate}}
            .modal-body
                table.simple-table(style='max-width:100%;text-align:left')
                    thead
                        tr
                            th(colspan='2') {{'Please select click count option to delete (Attention! all record related to the button will be delete)' | translate}}
                        tr
                            th(style='background-color:#0b97c4;color: #FFFFFF;') {{'PAGE_NAME' | translate}}
                            th(style='background-color:#0b97c4;color: #FFFFFF;') {{'BUTTON NAME' | translate}}
                    tbody
                        tr(ng-repeat='(k,domain) in vm.clickCountButtonNameObj[vm.selectedDeleteButton.device][vm.selectedDeleteButton.page]')
                            td(rowspan='{{vm.clickCountButtonNameObj[vm.selectedDeleteButton.device][vm.selectedDeleteButton.page].length}}' ng-if="$index===0") 
                                input(type='checkbox' ng-model='vm.deleteClickCountPage[vm.selectedDeleteButton.device][vm.selectedDeleteButton.page]' ng-change='vm.selectPageButton(vm.selectedDeleteButton.device, vm.selectedDeleteButton.page);vm.clickCountDeleteCheckParent(vm.selectedDeleteButton.device, vm.selectedDeleteButton.page)')
                                text {{vm.selectedDeleteButton.page}}
                            td
                                input(type='checkbox' ng-model='vm.deleteClickCountButton[vm.selectedDeleteButton.device][vm.selectedDeleteButton.page][domain]' ng-change='vm.clickCountDeleteCheckParent(vm.selectedDeleteButton.device,vm.selectedDeleteButton.page, domain)')
                                text {{domain}}
                            

            .modal-footer
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"CONFIRM" | translate}}
                button.btn.btn-success.common-button(data-dismiss='modal' ng-click='vm.cancelSelectDomainClickCount()') {{"CLOSE" | translate}}


p(ng-init="vm.loadPageFunc(vm.showPageName)")