.section
    .row
        .titlePic
            .title
                text {{vm.showPageName | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#demoPlayerAnalysis .block-query","demoPlayer")')
                        text.pull-left.margin-right-5 {{vm.optionText.demoPlayer | translate}}
    #demoPlayerAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.demoPlayer.periodText')
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.getDemoPlayerAnalysis()') {{'SEARCH' | translate}}

        label.text-primary {{'demoPlayer' | translate}}{{'DEVICE' | translate}} VS {{vm.queryPara.demoPlayer.periodText | translate}}
        .row

            .col-md-6
                .graph
                    table#demoPlayerDeviceAnalysisTable.display.tableDiv(style='min-width:100%')
            .col-md-6

                .graph
                    .panel.panel-default
                        .pieChart
                            div.graphDiv

    #demoPlayerStatusAnalysis
        label.text-primary {{'demoPlayer' | translate}}{{'STATUS' | translate}} VS {{vm.queryPara.demoPlayer.periodText | translate}}
        .row
            .col-md-6
                .graph
                    table#demoPlayerStatusAnalysisTable.display.tableDiv(style='min-width:100%')
            .col-md-6
                .graph
                    .panel.panel-default
                        .pieChart
                            div.graphDiv(style='width: 100%;height:600px')

    #demoPlayerConvertRateAnalysis
        label.text-primary {{'demoPlayer' | translate}}{{'CONVERT_RATE' | translate}} VS {{vm.queryPara.demoPlayer.periodText | translate}}
        .row
            .col-md-6
                .graph
                    .panel.panel-default
                        .pieChart
                            div.graphDiv(style='width: 100%;height:600px')
            .col-md-6
                div(style='min-width:100%')


p(ng-init="vm.loadPageFunc(vm.showPageName)")