.section
    .row
        .titlePic
            .title
                text {{vm.showPageName | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#manualApprovalAnalysis .block-query","manualApproval")')
                        text.pull-left.margin-right-5 {{vm.optionText.manualApproval | translate}}
    #manualApprovalAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.manualApproval.periodText')
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.drawManualApprovalRate();') {{'SEARCH' | translate}}
        .row
            .col-md-6
                label.text-primary {{"PLAYER_BONUS_MANUAL_APPROVAL_RATE" | translate}} VS {{vm.queryPara.manualApproval.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-playerBonusManualApproval.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                //label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort( 'playerBonus', 'date')") {{ vm.queryPara.manualApproval.periodText | translate}}
                                th(ng-click="vm.dataArraySort('playerBonus','totalCount')") {{"Total_Proposal"| translate}}
                                th(ng-click="vm.dataArraySort('playerBonus','successCount')") {{'Approved_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('playerBonus','rejectCount')") {{'Rejected_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('playerBonus','manualCount')") {{'Total_ManualApproval' | translate}}

                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.playerBonusAvgData.totalCount }}
                                td
                                    span {{ vm.playerBonusAvgData.successCount }}
                                td
                                    span {{ vm.playerBonusAvgData.rejectCount }}
                                td
                                    span {{ vm.playerBonusAvgData.manualCount }}
                            tr(ng-repeat='(i, v) in vm.playerBonusData | orderBy: vm.dataSort.playerBonus')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('playerBonusDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'playerBonus', 'Success'); vm.playerBonusDetailTableIsHide = false; vm.updatePlayerDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.successCount }}
                                td(ng-click="vm.setAnchor('playerBonusDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'playerBonus', 'Fail'); vm.playerBonusDetailTableIsHide = false; vm.updatePlayerDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.rejectCount }}
                                td
                                    span {{ v.manualCount}}

        #playerBonusDetailTable
        .row(ng-if='vm.dataToDraw.length > 0 && !vm.playerBonusDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.playerBonusDetailTableIsHide = !vm.playerBonusDetailTableIsHide') {{ vm.playerBonusDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.dataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}


        label &nbsp;
        .row
            .col-md-6
                label.text-primary {{"UPDATE_PLAYER_MANUAL_APPROVAL_RATE" | translate}} VS {{vm.queryPara.manualApproval.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-updatePlayerManualApproval.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                //label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort( 'updatePlayer', 'date')") {{ vm.queryPara.manualApproval.periodText | translate}}
                                th(ng-click="vm.dataArraySort('updatePlayer','totalCount')") {{"Total_Proposal"| translate}}
                                th(ng-click="vm.dataArraySort('updatePlayer','successCount')") {{'Approved_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('updatePlayer','rejectCount')") {{'Rejected_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('updatePlayer','manualCount')") {{'Total_ManualApproval' | translate}}
                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.updatePlayerAvgData.totalCount }}
                                td
                                    span {{ vm.updatePlayerAvgData.successCount }}
                                td
                                    span {{ vm.updatePlayerAvgData.rejectCount }}
                                td
                                    span {{ vm.updatePlayerAvgData.manualCount }}
                            tr(ng-repeat='(i, v) in vm.updatePlayerData | orderBy: vm.dataSort.updatePlayer')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('updatePlayerDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'updatePlayer', 'Success'); vm.updatePlayerDetailTableIsHide = false; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.successCount }}
                                td(ng-click="vm.setAnchor('updatePlayerDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'updatePlayer', 'Fail'); vm.updatePlayerDetailTableIsHide = false; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.rejectCount }}
                                td
                                    span {{ v.manualCount}}

        #updatePlayerDetailTable
        .row(ng-if='vm.dataToDraw.length > 0 && !vm.updatePlayerDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.updatePlayerDetailTableIsHide = !vm.updatePlayerDetailTableIsHide') {{ vm.updatePlayerDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.dataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}

        label &nbsp;
        .row
            .col-md-6
                label.text-primary {{"UPDATE_PARTNER_MANUAL_APPROVAL_RATE" | translate}} VS {{vm.queryPara.manualApproval.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-updatePartnerManualApproval.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                //label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort( 'updatePartner', 'date')") {{ vm.queryPara.manualApproval.periodText | translate}}
                                th(ng-click="vm.dataArraySort('updatePartner','totalCount')") {{"Total_Proposal"| translate}}
                                th(ng-click="vm.dataArraySort('updatePartner','successCount')") {{'Approved_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('updatePartner','rejectCount')") {{'Rejected_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('updatePartner','manualCount')") {{'Total_ManualApproval' | translate}}
                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.updatePartnerAvgData.totalCount }}
                                td
                                    span {{ vm.updatePartnerAvgData.successCount }}
                                td
                                    span {{ vm.updatePartnerAvgData.rejectCount }}
                                td
                                    span {{ vm.updatePartnerAvgData.manualCount }}
                            tr(ng-repeat='(i, v) in vm.updatePartnerData | orderBy: vm.dataSort.updatePartner')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('updatePartnerDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'updatePartner', 'Success'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = false; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.successCount }}
                                td(ng-click="vm.setAnchor('updatePartnerDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'updatePartner', 'Fail'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = false; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.rejectCount }}
                                td
                                    span {{ v.manualCount}}

        #updatePartnerDetailTable
        .row(ng-if='vm.dataToDraw.length > 0 && !vm.updatePartnerDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.updatePartnerDetailTableIsHide = !vm.updatePartnerDetailTableIsHide') {{ vm.updatePartnerDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.dataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}

        label &nbsp;
        .row
            .col-md-6
                label.text-primary {{"ALL_REWARD_MANUAL_APPROVAL_RATE" | translate}} VS {{vm.queryPara.manualApproval.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-rewardManualApproval.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                //label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort( 'allReward', 'date')") {{ vm.queryPara.manualApproval.periodText | translate}}
                                th(ng-click="vm.dataArraySort('allReward','totalCount')") {{"Total_Proposal"| translate}}
                                th(ng-click="vm.dataArraySort('allReward','successCount')") {{'Approved_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('allReward','rejectCount')") {{'Rejected_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('allReward','manualCount')") {{'Total_ManualApproval' | translate}}
                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.rewardAvgData.totalCount }}
                                td
                                    span {{ vm.rewardAvgData.successCount }}
                                td
                                    span {{ vm.rewardAvgData.rejectCount }}
                                td
                                    span {{ vm.rewardAvgData.manualCount }}
                            tr(ng-repeat='(i, v) in vm.rewardData | orderBy: vm.dataSort.allReward')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('rewardDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'reward', 'Success'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = false; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.successCount }}
                                td(ng-click="vm.setAnchor('rewardDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'reward', 'Fail'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = false; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = true;")
                                    a {{ v.rejectCount }}
                                td
                                    span {{ v.manualCount}}
        #rewardDetailTable
        .row(ng-if='vm.dataToDraw.length > 0 && !vm.rewardDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.rewardDetailTableIsHide = !vm.rewardDetailTableIsHide') {{ vm.rewardDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.dataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}

        label &nbsp;
        .row
            .col-md-6
                label.text-primary {{"MISCELLANEOUS_MANUAL_APPROVAL_RATE" | translate}} VS {{vm.queryPara.manualApproval.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-othersManualApproval.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                //label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort( 'miscellaneous', 'date')") {{ vm.queryPara.manualApproval.periodText | translate}}
                                th(ng-click="vm.dataArraySort('miscellaneous','totalCount')") {{"Total_Proposal"| translate}}
                                th(ng-click="vm.dataArraySort('miscellaneous','successCount')") {{'Approved_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('miscellaneous','rejectCount')") {{'Rejected_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('miscellaneous','manualCount')") {{'Total_ManualApproval' | translate}}
                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.othersAvgData.totalCount }}
                                td
                                    span {{ vm.othersAvgData.successCount }}
                                td
                                    span {{ vm.othersAvgData.rejectCount }}
                                td
                                    span {{ vm.othersAvgData.manualCount }}
                            tr(ng-repeat='(i, v) in vm.othersData | orderBy: vm.dataSort.miscellaneous')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('othersDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'others', 'Success'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = false; vm.allDetailTableIsHide = true;")
                                    a {{ v.successCount }}
                                td(ng-click="vm.setAnchor('othersDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'others', 'Fail'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = false; vm.allDetailTableIsHide = true;")
                                    a {{ v.rejectCount }}
                                td
                                    span {{ v.manualCount}}
        #othersDetailTable
        .row(ng-if='vm.dataToDraw.length > 0 && !vm.othersDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.othersDetailTableIsHide = !vm.othersDetailTableIsHide') {{ vm.othersDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.dataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}
        label &nbsp;
        .row
            .col-md-6
                label.text-primary {{"ALL_PROPOSAL_MANUAL_APPROVAL_RATE" | translate}} VS {{vm.queryPara.manualApproval.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-allManualApproval.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort( 'all', 'date')") {{ vm.queryPara.manualApproval.periodText | translate}}
                                th(ng-click="vm.dataArraySort('all','totalCount')") {{"Total_Proposal"| translate}}
                                th(ng-click="vm.dataArraySort('all','successCount')") {{'Approved_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('all','rejectCount')") {{'Rejected_Manual_Approval' | translate}}
                                th(ng-click="vm.dataArraySort('all','manualCount')") {{'Total_ManualApproval' | translate}}
                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.allAvgData.totalCount }}
                                td
                                    span {{ vm.allAvgData.successCount }}
                                td
                                    span {{ vm.allAvgData.rejectCount }}
                                td
                                    span {{ vm.allAvgData.manualCount }}
                            tr(ng-repeat='(i, v) in vm.allManualApprovalData | orderBy: vm.dataSort.all')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('allDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'all', 'Success'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = false;")
                                    a {{ v.successCount }}
                                td(ng-click="vm.setAnchor('allDetailTable'); vm.clickForDetail(v.date, 'manualSuccess', vm.queryPara.manualApproval.periodText, 'all', 'Fail'); vm.updatePlayerDetailTableIsHide = true; vm.playerBonusDetailTableIsHide = true; vm.updatePartnerDetailTableIsHide = true; vm.rewardDetailTableIsHide = true; vm.othersDetailTableIsHide = true; vm.allDetailTableIsHide = false;")
                                    a {{ v.rejectCount }}
                                td
                                    span {{ v.manualCount}}
        #allDetailTable
        .row(ng-if='vm.dataToDraw.length > 0 && !vm.allDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.allDetailTableIsHide = !vm.allDetailTableIsHide') {{ vm.allDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.dataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}


#modalProposalDetail.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            div(ng-if='vm.proposalDialog == "proposalTopUp" || vm.proposalDialog == "proposal"')
                                #ProposalDetail.tab-pane.fade.in.active
                                    include ../../report/proposal-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                button.btn.btn-success.common-button(ng-if="vm.showCopyProposal()" ng-click="vm.copyTopUpProposal()") {{"COPY_TO_CLIPBOARD" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')


p(ng-init="vm.loadPageFunc(vm.showPageName)")