//
   Created by wanglz on 30/5/16.

.section
    .row
        .titlePic
            .title
                text {{vm.showPageName | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#playerCreditAnalysis .block-query","playerCredit")')
                        text.pull-left.margin-right-5 {{vm.optionText.playerCredit | translate}}
    #playerCreditAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.playerCredit.periodText')
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            //div
            //    label {{"Start date"|translate}}
            //    input.form-control(type='date', ng-model='vm.queryPara.playerCredit.startTime')
            //div
            //    label {{"End date"|translate}}
            //    input.form-control(type='date', ng-model='vm.queryPara.playerCredit.endTime')
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.drawPlayerCreditLine(vm.showPageName); vm.drawPlayerCreditCountLine(vm.showPageName);') {{'SEARCH' | translate}}
        .row
            .col-md-6
                .graph
                    .panel.panel-default
                        #line-playerCredit.lineChart.graphDiv
            .col-md-6
                .graph
                    table#playerCreditAnalysisTable.display.tableDiv(style='min-width:100%')

    #playerCreditCountAnalysis
        .row
            .col-md-6
                .graph
                    .panel.panel-default
                        #line-playerCreditCount.lineChart.graphDiv(style='height: 600px;')
            .col-md-6
                .graph
                    table#playerCreditCountAnalysisTable.display.tableDiv(style='min-width:100%')

p(ng-init="vm.loadPageFunc(vm.showPageName)")