//
   Created by wanglz on 30/5/16.

.section
    .row
        .titlePic
            .title
                text {{"ACTIVE_PLAYER" | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#activePlayerAnalysis .block-query","activePlayer")')
                        text.pull-left.margin-right-5 {{vm.optionText.activePlayer | translate}}
    #activePlayerAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            //div
            //    label {{"Start date"|translate}}
            //    input.form-control(type='date', ng-model='vm.queryPara.activePlayer.startTime')
            //div
            //    label {{"End date"|translate}}
            //    input.form-control(type='date', ng-model='vm.queryPara.activePlayer.endTime')
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.plotActivePlayerLine()') {{'SEARCH' | translate}}
        .row
            .col-md-6
                .graph
                    .panel.panel-default
                        #line-activePlayer.lineChart.graphDiv
            .col-md-6
                .graph
                    table#activePlayerAnalysisTable.display.tableDiv(style='min-width:100%')

p(ng-init="vm.loadPageFunc('ACTIVE_PLAYER')")