.section
    .row
        .titlePic
            .title {{vm.showPageName | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#topUpAnalysis .block-query","topUpAnalysis")')
                        text.pull-left.margin-right-5 {{vm.optionText.topUp | translate}}
    #topUpAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.topUp.periodText')
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.drawPlayerTopUp(vm.showPageName)') {{'SEARCH' | translate}}
        .row
            .col-md-6
                label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    .panel.panel-default
                        #line-topUpAmount.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                //label.text-primary {{vm.queryPara.topUp.amountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.typeDataSort('amountSort','date')") {{ vm.platformTopUpDataPeriodText | translate}}
                                th(ng-click="vm.typeDataSort('amountSort','totalSum')") {{"Credit_Amount"| translate}}
                                th(ng-click="vm.typeDataSort('amountSort','web.amount')") {{'WEB'}}
                                th(ng-click="vm.typeDataSort('amountSort','H5.amount')") {{'H5'}}
                                th(ng-click="vm.typeDataSort('amountSort','App.amount')") {{'APP'}}
                                th(ng-click="vm.typeDataSort('amountSort','backStage.amount')") {{'Backstage'| translate}}
                        tbody
                            tr(ng-repeat='(i, v) in vm.platformTopUpAnalysisData | orderBy: vm.platformTopupTableSort.amountSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalSum }}
                                td
                                    span {{ v.web.amount }}
                                td
                                    span {{ v.H5.amount }}
                                td
                                    span {{ v.App.amount }}
                                td
                                    span {{ v.backStage.amount }}

                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.platformTopUpAmountAverage.average }}
                                td
                                    span {{ vm.platformTopUpAmountAverage.web }}
                                td
                                    span {{ vm.platformTopUpAmountAverage.H5 }}
                                td
                                    span {{ vm.platformTopUpAmountAverage.App }}
                                td
                                    span {{ vm.platformTopUpAmountAverage.backStage }}
        .row
            .col-md-6
                label.text-primary {{vm.queryPara.topUp.countTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    .panel.panel-default
                        #line-topUpCount.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.typeDataSort('countSort','date')") {{ vm.platformTopUpDataPeriodText | translate}}
                                th(ng-click="vm.typeDataSort('countSort','totalSuccessCount')") {{ "COUNT" | translate}}
                                th(ng-click="vm.typeDataSort('countSort','web.count')") {{'WEB'}}
                                th(ng-click="vm.typeDataSort('countSort','H5.count')") {{'H5'}}
                                th(ng-click="vm.typeDataSort('countSort','App.count')") {{'APP'}}
                                th(ng-click="vm.typeDataSort('countSort','backStage.count')") {{'Backstage'| translate}}
                        tbody
                            tr(ng-repeat='(i, v) in vm.platformTopUpAnalysisData | orderBy: vm.platformTopupTableSort.countSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalSuccessCount }}
                                td
                                    span {{ v.web.successCount }}
                                td
                                    span {{ v.H5.successCount }}
                                td
                                    span {{ v.App.successCount }}
                                td
                                    span {{ v.backStage.successCount }}

                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.platformTopUpCountAverage.average }}
                                td
                                    span {{ vm.platformTopUpCountAverage.web }}
                                td
                                    span {{ vm.platformTopUpCountAverage.H5 }}
                                td
                                    span {{ vm.platformTopUpCountAverage.App }}
                                td
                                    span {{ vm.platformTopUpCountAverage.backStage }}

        .row
            .col-md-6
                label.text-primary {{vm.queryPara.topUp.headCountTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    .panel.panel-default
                        #line-topUpHeadCount.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.typeDataSort('headCountSort','date')") {{ vm.platformTopUpDataPeriodText | translate}}
                                th(ng-click="vm.typeDataSort('headCountSort','totalHeadCount')") {{ "HEAD_COUNT" | translate}}
                                th(ng-click="vm.typeDataSort('headCountSort','web.headCount')") {{'WEB'}}
                                th(ng-click="vm.typeDataSort('headCountSort','H5.headCount')") {{'H5'}}
                                th(ng-click="vm.typeDataSort('headCountSort','App.headCount')") {{'APP'}}
                                th(ng-click="vm.typeDataSort('headCountSort','backStage.headCount')") {{'Backstage'| translate}}
                        tbody
                            tr(ng-repeat='(i, v) in vm.platformTopUpAnalysisData | orderBy: vm.platformTopupTableSort.headCountSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalHeadCount }}
                                td
                                    span {{ v.web.headCount }}
                                td
                                    span {{ v.H5.headCount }}
                                td
                                    span {{ v.App.headCount }}
                                td
                                    span {{ v.backStage.headCount }}

                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.platformTopUpHeadCountAverage.average }}
                                td
                                    span {{ vm.platformTopUpHeadCountAverage.web }}
                                td
                                    span {{ vm.platformTopUpHeadCountAverage.H5 }}
                                td
                                    span {{ vm.platformTopUpHeadCountAverage.App }}
                                td
                                    span {{ vm.platformTopUpHeadCountAverage.backStage }}

        .row
            .col-md-6
                label.text-primary {{vm.queryPara.topUp.successRateTag | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .graph
                    .panel.panel-default
                        #line-topUpSuccessRate.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.typeDataSort('rateSort','date')") {{ vm.platformTopUpDataPeriodText | translate}}
                                th(ng-click="vm.typeDataSort('rateSort','web.successRate')") {{'WEB'}}
                                th(ng-click="vm.typeDataSort('rateSort','web.successRate')") {{'WEB'}}{{'successRate'| translate}}
                                th(ng-click="vm.typeDataSort('rateSort','H5.successRate')") {{'H5'}}
                                th(ng-click="vm.typeDataSort('rateSort','H5.successRate')") {{'H5'}}{{'successRate'| translate}}
                                th(ng-click="vm.typeDataSort('rateSort','App.successRate')") {{'APP'}}
                                th(ng-click="vm.typeDataSort('rateSort','App.successRate')") {{'APP'}}{{'successRate'| translate}}

                        tbody
                            tr(ng-repeat='(i, v) in vm.platformTopUpAnalysisData | orderBy: vm.platformTopupTableSort.rateSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{v.web.successCount }} / {{ v.web.count }}
                                td
                                    span {{v.web.successRate}} %
                                td
                                    span {{v.H5.successCount}} / {{ v.H5.count }}
                                td
                                    span {{v.H5.successRate}} %
                                td
                                    span {{v.App.successCount}} / {{ v.App.count }}
                                td
                                    span {{v.App.successRate}} %
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.platformTopUpCountAverage.web }} / {{ vm.platformTopUpSuccessRateAverage.webTotalCount}}
                                td
                                    span {{ vm.platformTopUpSuccessRateAverage.web }} %
                                td
                                    span {{ vm.platformTopUpCountAverage.H5 }} / {{ vm.platformTopUpSuccessRateAverage.H5TotalCount}}
                                td
                                    span {{ vm.platformTopUpSuccessRateAverage.H5 }} %
                                td
                                    span {{ vm.platformTopUpCountAverage.App }} / {{ vm.platformTopUpSuccessRateAverage.AppTotalCount}}
                                td
                                    span {{ vm.platformTopUpSuccessRateAverage.App }} %
        .row(ng-if = "vm.showPageName == 'TOPUPMANUAL' ")
            .col-md-6
                label.text-primary {{'BANK_RECEIVEDAMOUNT' | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .panel.panel-default(style='padding-bottom:5px')
                    .pieChart
                        #pie-all-bank-receivedAmount(style='height:500px;')
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.typeDataSort('bankSort','date')") {{ vm.platformTopUpDataPeriodText | translate}}
                                th(ng-click="vm.typeDataSort('bankSort','totalAmount')") {{"Credit_Amount"| translate}}
                                th(ng-click="vm.typeDataSort('bankSort','bankInfo', i)", ng-repeat = '(i, v) in vm.selectedBank') {{ v }}
                        tbody
                            tr(ng-repeat='(i, v) in vm.manualTopUpBankInfo | orderBy: vm.platformTopupTableSort.bankSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalAmount}}
                                td(ng-repeat='(a, b) in v.bankInfo')
                                    span {{ b.amount }}
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{vm.totalAverageAmount }}
                                td(ng-repeat='(a, b) in vm.bankAverageAmount')
                                    span {{b.number}}

        .row(ng-if = "vm.showPageName == 'TOPUPMANUAL' ")
            .col-md-6
                label.text-primary {{'MANUALTOPUP_METHOD_RECEIVEDAMOUNT' | translate}} VS {{vm.platformTopUpDataPeriodText | translate}}
                .panel.panel-default(style='padding-bottom:5px')
                    .pieChart
                        #pie-all-methodAmount(style='height:500px;')
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.typeDataSort('methodSort','date')") {{ vm.platformTopUpDataPeriodText | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','totalSum')") {{"Credit_Amount"| translate}}
                                th(ng-click="vm.typeDataSort('methodSort','Online.amount')") {{'Online' | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','ATM.amount')") {{'ATM' | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','Counter.amount')") {{'Counter' | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','AliPayTransfer.amount')") {{'AliPayTransfer' | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','weChatPayTransfer.amount')") {{'weChatPayTransfer' | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','CloudFlashPay.amount')") {{'CloudFlashPay' | translate}}
                                th(ng-click="vm.typeDataSort('methodSort','CloudFlashPayTransfer.amount')") {{'CloudFlashPayTransfer' | translate}}

                        tbody
                            tr(ng-repeat='(i, v) in vm.manualTopUpMethod | orderBy: vm.platformTopupTableSort.methodSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{v.totalSum}}
                                td
                                    span {{v.Online.amount}}
                                td
                                    span {{v.ATM.amount}}
                                td
                                    span {{v.Counter.amount}}
                                td
                                    span {{v.AliPayTransfer.amount}}
                                td
                                    span {{v.weChatPayTransfer.amount}}
                                td
                                    span {{v.CloudFlashPay.amount}}
                                td
                                    span {{v.CloudFlashPayTransfer.amount}}
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.average }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.Online }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.ATM }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.Counter }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.AliPayTransfer }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.weChatPayTransfer }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.CloudFlashPay }}
                                td
                                    span {{ vm.manualTopUpMethodAmountAverage.CloudFlashPayTransfer }}


p(ng-init="vm.loadPageFunc(vm.showPageName)")