
.section
    .row
        .titlePic
            .title
                text {{"Total Login Player(Without Duplicate)" | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#loginPlayerAnalysis .block-query","loginPlayer")')
                        text.pull-left.margin-right-5 {{vm.optionText.loginPlayer | translate}}
    #loginPlayerAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.loginPlayer.periodText')
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            div
                label {{'USER_TYPE' | translate}}
                select.form-control(ng-model='vm.queryPara.loginPlayer.userType')
                    option(value='all') {{"REAL_PLAYER_ALL"|translate}}
                    option(value='individual') {{"REAL_PLAYER_INDIVIDUAL"|translate}}
                    option(value='underPartner') {{"REAL_PLAYER_UNDER_PARTNER"|translate}}
                    option(value='test') {{"Test Player"|translate}}
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.plotLoginPlayerLine()') {{'SEARCH' | translate}}
        .row
            .col-md-6
                .graph
                    .panel.panel-default
                        #line-loginPlayer.lineChart.graphDiv
            .col-md-6
                .graph
                    //table#loginPlayerAnalysisTable.display.tableDiv(style='min-width:100%')
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click='vm.platformLoginPlayerAnalysisSort.loginPlayerSort = vm.platformLoginPlayerAnalysisSort.loginPlayerSort == "date" ? "-date":"date"') {{ vm.platformLoginPlayerDataPeriodText | translate}}
                                th(ng-click='vm.platformLoginPlayerAnalysisSort.loginPlayerSort = vm.platformLoginPlayerAnalysisSort.loginPlayerSort == "number" ? "-number":"number"')
                                    | {{ "Total Login Players" | translate}}
                                    br
                                    | {{ "Exclude Duplicate Login" | translate}}
                                th H5
                                th WEB
                                th APP-ANDROID
                                th APP-IOS
                                th {{ "PC-Download" | translate }}
                        tbody
                        tr(ng-repeat='(i, v) in vm.platformLoginPlayerAnalysisData | orderBy: vm.platformLoginPlayerAnalysisData.loginPlayerSort')
                            td
                                span {{ v._id | date:"yyyy-MM-dd" }}
                            td
                                span(ng-show="v['playerLogin'] == 0") 0
                                a(ng-show="v['playerLogin'] > 0",ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayer.periodText, null, 1)') {{ v['playerLogin'] }}

                            td
                                span(ng-show="v['device']['H5'] == 0") 0
                                a(ng-show="v['device']['H5'] > 0",ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayer.periodText, 2, 1)') {{ v['device']['H5'] }}
                            td
                                span(ng-show="v['device']['WEB'] == 0") 0
                                a(ng-show="v['device']['WEB'] > 0",ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayer.periodText, 1, 1)') {{ v['device']['WEB'] }}
                            td
                                span(ng-show="v['device']['APP-ANDROID'] == 0") 0
                                a(ng-show="v['device']['APP-ANDROID'] > 0",ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayer.periodText, 3, 1)') {{ v['device']['APP-ANDROID'] }}
                            td
                                span(ng-show="v['device']['APP-IOS'] == 0") 0
                                a(ng-show="v['device']['APP-IOS'] > 0",ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayer.periodText, 4, 1)') {{ v['device']['APP-IOS'] }}
                            td
                                span(ng-show="v['device']['PC-DOWNLOAD'] == 0") 0
                                a(ng-show="v['device']['PC-DOWNLOAD'] > 0",ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayer.periodText, 5, 1)') {{ v['device']['PC-DOWNLOAD'] }}

                        tr
                            td
                                span {{'average value' | translate}}
                            td
                                span {{ vm.avgPlayerLogin }}
                            td
                                span {{ vm.avgTotalPlayerLogin['device']['H5'] }}
                            td
                                span {{ vm.avgTotalPlayerLogin['device']['WEB'] }}
                            td
                                span {{ vm.avgTotalPlayerLogin['device']['APP-ANDROID'] }}
                            td
                                span {{ vm.avgTotalPlayerLogin['device']['APP-IOS'] }}
                            td
                                span {{ vm.avgTotalPlayerLogin['device']['PC-DOWNLOAD'] }}

       .row
           .titlePic
               .title
                   text {{"Percentage of Login Devices" | translate}}
        #loginPlayerDeviceAnalysis
            .col-md-12.block-query.well(style='margin-bottom:3px;')
                div
                    label {{'PERIOD' | translate}}
                    select.form-control(ng-model='vm.queryPara.loginPlayerDevice.periodText')
                        option(value='day') {{"DAY"|translate}}
                        option(value='week') {{"WEEK"|translate}}
                        option(value='month') {{"MONTH"|translate}}
                div
                    label {{"Start date"|translate}}
                    .startTime
                div
                    label {{"End date"|translate}}
                    .endTime
                div
                    label {{'USER_TYPE' | translate}}
                    select.form-control(ng-model='vm.queryPara.loginPlayerDevice.userType')
                        option(value='all') {{"REAL_PLAYER_ALL"|translate}}
                        option(value='individual') {{"REAL_PLAYER_INDIVIDUAL"|translate}}
                        option(value='underPartner') {{"REAL_PLAYER_UNDER_PARTNER"|translate}}
                        option(value='test') {{"Test Player"|translate}}
                div
                    label &nbsp;
                    button.btn.btn-primary.common-button(ng-click='vm.plotLoginPlayerDeviceLine()') {{'SEARCH' | translate}}
            .row
                .col-md-6
                    .graph
                        .panel.panel-default
                              #pie-loginPlayerDevice.graphDiv
                .col-md-6
                    .graph
                        //table#loginPlayerAnalysisTable.display.tableDiv(style='min-width:100%')
                        table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                            thead
                                tr
                                    th(ng-click='vm.platformLoginPlayerAnalysisSort.loginPlayerSort = vm.platformLoginPlayerAnalysisSort.loginPlayerSort == "date" ? "-date":"date"') {{ vm.platformLoginPlayerDataPeriodText | translate}}
                                    th(ng-click='vm.platformLoginPlayerAnalysisSort.loginPlayerSort = vm.platformLoginPlayerAnalysisSort.loginPlayerSort == "number" ? "-number":"number"')
                                        | {{ "Total Login Players" | translate}}
                                        br
                                        | {{ "Include Duplicate Player Login" | translate}}
                                    th H5
                                    th WEB
                                    th APP-ANDROID
                                    th APP-IOS
                                    th {{ "PC-Download" | translate }}

                            tbody
                                tr(ng-repeat='(i, v) in vm.platformLoginPlayerDeviceAnalysisData | orderBy: vm.platformLoginPlayerDeviceAnalysisData.loginPlayerSort')
                                    td
                                        span {{ v._id | date:"yyyy-MM-dd" }}
                                    td
                                        span(ng-show="v['subTotal'] <= 0") 0
                                        a(ng-show="v['subTotal'] > 0", ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayerDevice.periodText, null, 2)') {{ v['subTotal'] }}
                                    td
                                        span(ng-show="v['device']['H5'] <= 0") 0
                                        a(ng-show="v['device']['H5'] > 0", ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayerDevice.periodText, 2, 2)') {{ v['device']['H5'] }}
                                    td
                                        span(ng-show="v['device']['WEB'] <= 0") 0
                                        a(ng-show="v['device']['WEB'] > 0", ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayerDevice.periodText, 1, 2)') {{ v['device']['WEB'] }}
                                    td
                                        span(ng-show="v['device']['APP-ANDROID'] <= 0") 0
                                        a(ng-show="v['device']['APP-ANDROID'] > 0", ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayerDevice.periodText, 3, 2)') {{ v['device']['APP-ANDROID'] }}
                                    td
                                        span(ng-show="v['device']['APP-IOS'] <= 0") 0
                                        a(ng-show="v['device']['APP-IOS'] > 0", ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayerDevice.periodText, 4, 2)') {{ v['device']['APP-IOS'] }}
                                    td
                                        span(ng-show="v['device']['PC-DOWNLOAD'] <= 0") 0
                                        a(ng-show="v['device']['PC-DOWNLOAD'] > 0", ng-click='vm.getLoginUserList(v._id, vm.queryPara.loginPlayerDevice.periodText, 5, 2)') {{ v['device']['PC-DOWNLOAD'] }}
                                tr
                                    td
                                        span {{'average value' | translate}}
                                    td
                                        span {{ vm.avgTotalDevice['avg'] }}
                                    td
                                        span {{ vm.avgTotalDevice['device']['H5'] }}
                                    td
                                        span {{ vm.avgTotalDevice['device']['WEB'] }}
                                    td
                                        span {{ vm.avgTotalDevice['device']['APP-ANDROID'] }}
                                    td
                                        span {{ vm.avgTotalDevice['device']['APP-IOS'] }}
                                    td
                                        span {{ vm.avgTotalDevice['device']['PC-DOWNLOAD'] }}


#modalLoginDevice.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content(style='overflow-y:scroll;max-height:600px;')
                            div
                                table.table.table-striped.table-bordered
                                    thead
                                        th {{ 'Seq No' | translate }}
                                        th {{ 'playerAccount' | translate }}
                                        th {{ 'Login Date' | translate }}（{{ vm.displayPeriodText | translate }}）
                                        th {{ 'Login Device' | translate }}
                                    tbody
                                        tr(ng-repeat='(i, v) in vm.playerLoginRecords')
                                            td {{ i+1 }}
                                            td {{ v.player.name }}
                                            td {{ v.loginTime | date:"yyyy-MM-dd"}}
                                            td {{ vm.deviceType[v.inputDeviceType] }}


p(ng-init="vm.loadPageFunc('LOGIN_PLAYER')")
