p
.row
    .col-md-12
        label.margin-left-5(style='display:inline-block;font-size:1.5em') &nbsp;{{'REWARD_TYPE' | translate}}&nbsp;:&nbsp;

        .dropdown(style='display:inline-block')
            button.btn.btn-primary.common-button.dropdown-toggle(href='#' data-toggle='dropdown')
                | {{vm.selectReward.name}}
            ul.dropdown-menu(role='menu')
                li(ng-repeat='(i,v) in vm.rewardList')
                    a(ng-click='vm.rewardClicked(v)') {{v.name}}

.section
    .row
        .titlePic
            .title {{"REWARD_ANALYSIS" | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#rewardAnalysis .block-query","rewardAnalysis")')
                        text.pull-left.margin-right-5 {{vm.optionText.rewardAnalysis | translate}}
    #rewardAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.reward.periodText' ng-disabled="vm.checkRewardWithRetentionRate")
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            //div
            //    label {{"Start date"|translate}}
            //    .startTime
            //div
            //    label {{"End date"|translate}}
            //    .endTime

            div
                label {{"Start date"|translate}}
                input.form-control(type='date', ng-model='vm.queryPara.reward.startTime', ng-change = 'vm.retentionFilterOnChange("reward", !vm.checkRewardWithRetentionRate)')
            div
                label {{"End date"|translate}}
                input.form-control(type='date', ng-model='vm.queryPara.reward.endTime', ng-change = 'vm.retentionFilterOnChange("reward", !vm.checkRewardWithRetentionRate)')
            //div
            //    label {{"Start date"|translate}}
            //    input.form-control(type='date', ng-model='vm.queryPara.reward.startTime')
            //div
            //    label {{"End date"|translate}}
            //    input.form-control(type='date', ng-model='vm.queryPara.reward.endTime')
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-show="!vm.checkRewardWithRetentionRate" ng-click='vm.plotRewardLine()') {{'SEARCH' | translate}}
                button.btn.btn-primary.common-button(ng-show="vm.checkRewardWithRetentionRate" ng-click='vm.getRewardPlayerRetention()') {{'SEARCH' | translate}}

            br
            br
            div
                label {{'Inspect the player retention rate in accordance with reward' | translate}}
                input.transform150(type="checkbox", ng-model='vm.checkRewardWithRetentionRate' style="width: auto;" ng-change="vm.changeToRetentionMode(vm.checkRewardWithRetentionRate)")

            div(ng-show="vm.checkRewardWithRetentionRate")
                label {{"newRegistrationType"|translate}}
                select.form-control(ng-model="vm.queryPara.reward.playerType" ng-change = 'vm.retentionFilterOnChange("reward", !vm.checkRewardWithRetentionRate)')
                    option(ng-repeat='(i,v) in vm.allNewPlayerType', value = '{{i}}') {{v | translate}}

            div(ng-show="vm.checkRewardWithRetentionRate")
                label {{'DEVICE' | translate}}
                select.form-control(ng-model='vm.queryPara.reward.device')
                    option(value='all') {{"ALL_DEVICE"|translate}}
                    option(value='app') APP
                    option(value='web') WEB
                    option(value='h5') H5
                    option(value='backstage') {{"BACKSTAGE"|translate}}

                //select.form-control.merchantNoList(ng-options='i as v|translate for (i,v) in vm.playerInputDevice' ng-change='vm.filterMerchant()',ng-model='vm.queryPara.reward.registrationInterface', required, multiple, static-bsp, data-actions-box='true')

            div(ng-show="vm.checkRewardWithRetentionRate")
                label {{'USER_TYPE' | translate}}
                select.form-control(ng-model='vm.queryPara.reward.userType', ng-change = 'vm.retentionFilterOnChange("reward", !vm.checkRewardWithRetentionRate)')
                    option(value='all') {{"REAL_PLAYER_ALL"|translate}}
                    option(value='individual') {{"REAL_PLAYER_INDIVIDUAL"|translate}}
                    option(value='underPartner') {{"REAL_PLAYER_UNDER_PARTNER"|translate}}
                    option(value='test') {{"Test Player"|translate}}

            div(style='max-width:250px;' ng-show="vm.checkRewardWithRetentionRate")
                label {{'Registration Domain' | translate}} ({{'Multiple' | translate}})
                select.form-control.spicker(ng-options='item for item in vm.domainList', ng-model='vm.queryPara.reward.domain', multiple, bsp, data-actions-box='true', data-live-search="true")
            div(ng-show="vm.checkRewardWithRetentionRate")
                label &nbsp;
                label.blink(ng-if='!vm.domainList') {{"Searching related domain name..." | translate}}

            br
            br
            div(ng-show="vm.checkRewardWithRetentionRate")
                table.simple-table
                    tbody
                        tr
                            td(colspan='{{vm.queryPara.reward.days.length}}')
                                label {{'day N' | translate}}
                            td
                                label {{'Add'| translate}}
                        tr
                            td(ng-repeat='(i,v) in vm.queryPara.reward.days') {{vm.queryPara.reward.days[i]}}
                            td
                                select(ng-model='vm.newDay')
                                    option(ng-repeat='(i,v) in vm.dayListLength') {{vm.queryPara.reward.days[vm.queryPara.reward.days.length-1]+v}}
                        tr.noBoderTable
                            td(ng-repeat='(i,v) in vm.queryPara.reward.days')
                                a.fa.fa-minus-square(ng-show='$last', ng-click='vm.retentionRemoveDay("reward")')
                            td
                                a.fa.fa-plus-square(ng-click='vm.retentionAddDay("reward")')
        .row(ng-show="!vm.checkRewardWithRetentionRate")
            .col-md-6
                label.text-primary {{"Reward amount" | translate}} VS {{vm.queryPara.reward.periodText | translate}}
                .graph
                    .panel.panel-default
                        #line-reward-amount.lineChart.graphDiv
            //.col-md-6
            //    label &nbsp;
            //    .graph
            //
            .col-md-6
                label &nbsp;
                .graph
                    //table#newPlayerAnalysisTable.display.tableDiv(style='width:100%')
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click='vm.platformRewardAnalysisSort.RewardAmountSort = vm.platformRewardAnalysisSort.RewardAmountSort == "date" ? "-date":"date"') {{ vm.platformRewardDataPeriodText | translate}}
                                th(ng-click='vm.platformRewardAnalysisSort.RewardAmountSort = vm.platformRewardAnalysisSort.RewardAmountSort == "rewards" ? "-rewards":"rewards"') {{ "amount" | translate}}
                        tbody
                            tr(ng-repeat='(i, v) in vm.platformRewardAnalysisAmount | orderBy: vm.platformRewardAnalysisSort.RewardAmountSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.rewards }}
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.platformRewardAmountAverage }}
        .row(ng-show="!vm.checkRewardWithRetentionRate")
            .col-md-6
                label.text-primary {{"Reward number" | translate}} VS {{vm.queryPara.reward.periodText | translate}}
                .graph
                    .panel.panel-default
                        #line-reward-number.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    //table#rewardNumberAnalysisTable.display.tableDiv(style='min-width:100%')
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click='vm.platformRewardAnalysisSort.RewardNumberSort = vm.platformRewardAnalysisSort.RewardNumberSort == "date" ? "-date":"date"') {{ vm.platformRewardDataPeriodText | translate}}
                                th(ng-click='vm.platformRewardAnalysisSort.RewardNumberSort = vm.platformRewardAnalysisSort.RewardNumberSort == "rewards.length" ? "-rewards.length":"rewards.length"') {{ "amount" | translate}}
                        tbody
                            tr(ng-repeat='(i, v) in vm.platformRewardAnalysisData | orderBy: vm.platformRewardAnalysisSort.RewardNumberSort')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.rewards.length }}
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.platformRewardNumberAverage }}

        .col-md-5(ng-show="vm.checkRewardWithRetentionRate")
            .panel.panel-default(style='padding-bottom:5px; min-height: 500px;')
                div(style='width:100%;overflow-x:auto;overflow-y:auto; height:100%;')
                    table.simple-table(style='width:100%;')
                        thead
                            tr
                                th(rowspan=2)
                                    input(type='checkbox', ng-model='vm.retentionCheckAll', ng-click='vm.toggleRewardRetentionCheckAll()')
                                th(colspan=2) {{'day 0' | translate}}
                                th(colspan='{{vm.queryPara.reward.days.length}}') {{'day N' | translate}}
                            tr
                                th {{'date' | translate}}
                                th {{'amount' | translate}}
                                th(ng-repeat='(i,j) in vm.queryPara.reward.days') {{vm.queryPara.reward.days[i]}}
                        tbody
                            tr(ng-repeat='(i,v) in vm.rewardRetentionData', ng-model='vm.showRewardRetention[i]')
                                td
                                    input(type='checkbox', ng-model='vm.showRetention[i]', ng-click='vm.drawRewardRetentionGraph()')
                                td(ng-if="i == 0") {{v.date}}
                                td(ng-if="i != 0") {{v.date | date:"yyyy-MM-dd"}}
                                td {{vm.tableDataReformat(v.day0)}}
                                td(ng-repeat='a in vm.queryPara.reward.days') {{vm.tableDataReformat(v[a])}}
        .col-md-7(ng-show="vm.checkRewardWithRetentionRate")
            .graph
                .panel.panel-default(style="min-height: 500px;")
                    #line-playerRewardRetention.lineChart
                        label(ng-show='!vm.allRetentionLineData || vm.allRetentionLineData.length==0') Please select a date at left.

p(ng-init="vm.loadPageFunc('REWARD_ANALYSIS')")