.section
    .row
        .titlePic
            .title
                text {{vm.showPageName | translate}}
                .pull-right
                    a.fa.fa-cog(ng-click='vm.toggleGraphSettingPanel("#withdrawalSpeedAnalysis .block-query","withdrawalSpeed")')
                        text.pull-left.margin-right-5 {{vm.optionText.withdrawalSpeed | translate}}
    #withdrawalSpeedAnalysis
        .col-md-12.block-query.well(style='margin-bottom:3px;')
            div
                label {{'PERIOD' | translate}}
                select.form-control(ng-model='vm.queryPara.withdrawalSpeed.periodText')
                    option(value='day') {{"DAY"|translate}}
                    option(value='week') {{"WEEK"|translate}}
                    option(value='month') {{"MONTH"|translate}}
            div
                label {{"Start date"|translate}}
                .startTime
            div
                label {{"End date"|translate}}
                .endTime
            div
                label &nbsp;
                button.btn.btn-primary.common-button(ng-click='vm.drawWithdrawSpeed();') {{'SEARCH' | translate}}
        .row
            .col-md-6
                label.text-primary {{"WITHDRAWAL_SPEED_SUCCESS" | translate}} VS {{vm.queryPara.withdrawalSpeed.periodText | translate}} {{"SUBMIT_TO_APPROVED" | translate}}
                .graph
                    .panel.panel-default
                        #pie-withdrawSuccess.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort('withdrawSuccess', 'date')") {{ vm.queryPara.withdrawalSpeed.periodText | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','totalCount')") {{"WITHDRAWAL_SUCCESS_TOTAL_TIMES"| translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count1')") 0~1{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count2')") 1~3{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count3')") 3~5{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count4')") 5~10{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count5')") 10~20{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count6')") 20~30{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count7')") 30~45{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count8')") 45~60{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count9')") 60{{'mins' | translate}}{{'above' | translate}}

                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.withdrawSuccessAvg.totalCount }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count1 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count2 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count3 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count4 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count5 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count6 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count7 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count8 }}
                                td
                                    span {{ vm.withdrawSuccessAvg.count9 }}
                            tr(ng-repeat='(i, v) in vm.withdrawSuccessData | orderBy: vm.dataSort.withdrawSuccess')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal1); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count1 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal2); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count2 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal3); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count3 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal4); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count4 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal5); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count5 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal6); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count6 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal7); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count7 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal8); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count8 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessDetailTable'); vm.clickWithdrawDetail(v.proposal9); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessDetailTableIsHide')")
                                    a {{ v.count9 }}

        #withdrawSuccessDetailTable
        .row(ng-if='vm.withdrawDataToDraw.length > 0 && !vm.withdrawSuccessDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.withdrawSuccessDetailTableIsHide = !vm.withdrawSuccessDetailTableIsHide') {{ vm.withdrawSuccessDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.withdrawDataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}


        .row.margin-top-bottom-20
            .col-md-6
                label.text-primary {{"WITHDRAWAL_SPEED_SUCCESS_PAY" | translate}} VS {{vm.queryPara.withdrawalSpeed.periodText | translate}} {{"APPROVED_TO_SUCCESS" | translate}}
                .graph
                    .panel.panel-default
                        #pie-withdrawSuccessPay.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay', 'date')") {{ vm.queryPara.withdrawalSpeed.periodText | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','totalCount')") {{"WITHDRAWAL_SUCCESS_TOTAL_TIMES"| translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count1')") 0~1{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count2')") 1~3{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count3')") 3~5{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count4')") 5~10{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count5')") 10~20{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count6')") 20~30{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count7')") 30~45{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count8')") 45~60{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPay','count9')") 60{{'mins' | translate}}{{'above' | translate}}

                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.totalCount }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count1 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count2 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count3 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count4 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count5 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count6 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count7 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count8 }}
                                td
                                    span {{ vm.withdrawSuccessPayAvg.count9 }}
                            tr(ng-repeat='(i, v) in vm.withdrawSuccessPayData | orderBy: vm.dataSort.withdrawSuccessPay')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal1); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count1 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal2); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count2 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal3); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count3 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal4); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count4 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal5); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count5 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal6); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count6 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal7); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count7 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal8); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count8 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayDetailTable'); vm.clickWithdrawDetail(v.proposal9); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayDetailTableIsHide')")
                                    a {{ v.count9 }}
        #withdrawSuccessPayDetailTable
        .row(ng-if='vm.withdrawDataToDraw.length > 0 && !vm.withdrawSuccessPayDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.withdrawSuccessPayDetailTableIsHide = !vm.withdrawSuccessPayDetailTableIsHide') {{ vm.withdrawSuccessPayDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.withdrawDataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}

        .row.margin-top-bottom-20
            .col-md-6
                label.text-primary {{"WITHDRAWAL_SPEED_FAILED" | translate}} VS {{vm.queryPara.withdrawalSpeed.periodText | translate}}
                .graph
                    .panel.panel-default
                        #pie-withdrawFailed.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort('withdrawSuccess', 'date')") {{ vm.queryPara.withdrawalSpeed.periodText | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','totalCount')") {{"WITHDRAWAL_FAILED_TOTAL_TIMES"| translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count1')") 0~1{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count2')") 1~3{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count3')") 3~5{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count4')") 5~10{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count5')") 10~20{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count6')") 20~30{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count7')") 30~45{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count8')") 45~60{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccess','count9')") 60{{'mins' | translate}}{{'above' | translate}}
                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.withdrawFailedAvg.totalCount }}
                                td
                                    span {{ vm.withdrawFailedAvg.count1 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count2 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count3 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count4 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count5 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count6 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count7 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count8 }}
                                td
                                    span {{ vm.withdrawFailedAvg.count9 }}
                            tr(ng-repeat='(i, v) in vm.withdrawFailedData | orderBy: vm.dataSort.withdrawFailed')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal1); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count1 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal2); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count2 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal3); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count3 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal4); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count4 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal5); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count5 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal6); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count6 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal7); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count7 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal8); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count8 }}
                                td(ng-click="vm.setAnchor('withdrawFailedDetailTable'); vm.clickWithdrawDetail(v.proposal9); vm.hideExpandWithdrawSpeedProposalDetail('withdrawFailedDetailTableIsHide')")
                                    a {{ v.count9 }}

        #withdrawFailedDetailTable
        .row(ng-if='vm.withdrawDataToDraw.length > 0 && !vm.withdrawFailedDetailTableIsHide')
            .col-md-12
                button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.withdrawFailedDetailTableIsHide = !vm.withdrawFailedDetailTableIsHide') {{ vm.withdrawFailedDetailTableIsHide ? "expand" : "collapse" | translate}}
            .col-md-12
                table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                    thead
                        tr
                            th {{ 'PROPOSAL ID' | translate}}
                            th {{ 'CREATOR' | translate}}
                            th {{ 'INPUT_DEVICE' | translate}}
                            th {{ 'PROPOSAL TYPE' | translate}}
                            th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                            th {{ 'Proposal Status' | translate}}
                            th {{ 'INVOLVED_ACC' | translate}}
                            th {{ 'Amount Involved' | translate}}
                            th {{ 'START_TIME' | translate}}
                            th {{ 'Player Level' | translate}}
                            th {{ 'REMARKS' | translate}}

                    tbody
                        tr(ng-repeat='(i, v) in vm.withdrawDataToDraw')
                            td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                a {{ v.proposalId }}
                            td
                                span {{ v.creator$ }}
                            td
                                span {{ v.inputDevice$ }}
                            td
                                span {{ v.mainType$ }}
                            td
                                span {{ v.typeName$}}
                            td
                                span {{ v.status$}}
                            td
                                span {{ v.involvedAcc$}}
                            td
                                span {{ v.involveAmount$}}
                            td
                                span {{ v.createTime$}}
                            td
                                span {{ v.data.proposalPlayerLevel}}
                            td
                                span {{ v.remark$}}

        .row.margin-top-bottom-20
            .col-md-6
                label.text-primary {{"WITHDRAWAL_SPEED_SUCCESS_PAY_TOTAL" | translate}} VS {{vm.queryPara.withdrawalSpeed.periodText | translate}} {{"SUBMIT_TO_SUCCESS" | translate}}
                .graph
                    .panel.panel-default
                        #pie-withdrawSuccessPayTotal.lineChart.graphDiv
            .col-md-6
                label &nbsp;
                .graph
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal', 'date')") {{ vm.queryPara.withdrawalSpeed.periodText | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','totalCount')") {{"WITHDRAWAL_SUCCESS_TOTAL_TIMES"| translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count1')") 0~1{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count2')") 1~3{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count3')") 3~5{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count4')") 5~10{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count5')") 10~20{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count6')") 20~30{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count7')") 30~45{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count8')") 45~60{{'mins' | translate}}
                                th(ng-click="vm.dataArraySort('withdrawSuccessPayTotal','count9')") 60{{'mins' | translate}}{{'above' | translate}}

                        tbody
                            tr
                                td
                                    span {{ "average value" | translate }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.totalCount }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count1 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count2 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count3 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count4 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count5 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count6 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count7 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count8 }}
                                td
                                    span {{ vm.withdrawSuccessPayTotalAvg.count9 }}
                            tr(ng-repeat='(i, v) in vm.withdrawSuccessPayTotalData | orderBy: vm.dataSort.withdrawSuccessPayTotal')
                                td
                                    span {{ v.date | date:"yyyy-MM-dd" }}
                                td
                                    span {{ v.totalCount }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal1); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count1 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal2); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count2 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal3); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count3 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal4); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count4 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal5); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count5 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal6); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count6 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal7); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count7 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal8); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count8 }}
                                td(ng-click="vm.setAnchor('withdrawSuccessPayTotalDetailTable'); vm.clickWithdrawDetail(v.proposal9); vm.hideExpandWithdrawSpeedProposalDetail('withdrawSuccessPayTotalDetailTableIsHide')")
                                    a {{ v.count9 }}


        #withdrawSuccessPayTotalDetailTable
            .row(ng-if='vm.withdrawDataToDraw.length > 0 && !vm.withdrawSuccessPayTotalDetailTableIsHide')
                .col-md-12
                    button.btn.btn-primary.common-button.pull-right(style="margin-bottom: 0px;", ng-click='vm.withdrawSuccessPayTotalDetailTableIsHide = !vm.withdrawSuccessPayTotalDetailTableIsHide') {{ vm.withdrawSuccessPayTotalDetailTableIsHide ? "expand" : "collapse" | translate}}
                .col-md-12
                    table.table-striped.display.tableDiv.no-footer.dataTable.text-center(style='width:100%')
                        thead
                            tr
                                th {{ 'PROPOSAL ID' | translate}}
                                th {{ 'CREATOR' | translate}}
                                th {{ 'INPUT_DEVICE' | translate}}
                                th {{ 'PROPOSAL TYPE' | translate}}
                                th {{ 'PROPOSAL_SUB_TYPE' | translate}}
                                th {{ 'Proposal Status' | translate}}
                                th {{ 'INVOLVED_ACC' | translate}}
                                th {{ 'Amount Involved' | translate}}
                                th {{ 'START_TIME' | translate}}
                                th {{ 'Player Level' | translate}}
                                th {{ 'REMARKS' | translate}}

                        tbody
                            tr(ng-repeat='(i, v) in vm.withdrawDataToDraw')
                                td(ng-click="vm.showProposalModalNew(v.proposalId)")
                                    a {{ v.proposalId }}
                                td
                                    span {{ v.creator$ }}
                                td
                                    span {{ v.inputDevice$ }}
                                td
                                    span {{ v.mainType$ }}
                                td
                                    span {{ v.typeName$}}
                                td
                                    span {{ v.status$}}
                                td
                                    span {{ v.involvedAcc$}}
                                td
                                    span {{ v.involveAmount$}}
                                td
                                    span {{ v.createTime$}}
                                td
                                    span {{ v.data.proposalPlayerLevel}}
                                td
                                    span {{ v.remark$}}


#modalProposalDetail.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false,aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                span
                    ul.nav.nav-tabs
                        li
                            label {{vm.selectedProposal.type.name | translate}}
                        li.active
                            a(data-toggle="tab", href="#ProposalDetail", ng-click="")
                                .fa.fa-user
                                | {{ 'DETAIL' | translate }}
                        li(ng-if='vm.chartData')
                            a(data-toggle="tab", href="#Workflow", ng-click="")
                                .fa.fa-user
                                | {{ 'WORKFLOW' | translate }}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .tab-content
                            div(ng-if='vm.proposalDialog == "proposalTopUp" || vm.proposalDialog == "proposal"')
                                #ProposalDetail.tab-pane.fade.in.active
                                    include ../../report/proposal-detail
                            #Workflow.tab-pane.fade(mouse-capture, style="max-height:600px;overflow-y:auto")
                                flow-chart#flowChart(style='width: 100%; height: 550px;overflow:auto;', chart='vm.chartViewModel')
            .modal-footer
                .inlineBlk(ng-show='vm.selectedProposal.isLocked && !vm.selectedProposal.showUnlockBtn')
                    label.form-control {{'Lock Status' | translate}} : {{vm.selectedProposal.isLocked.adminName}}
                .inlineBlk(ng-show='!vm.selectedProposal.isLocked || vm.selectedProposal.showUnlockBtn')
                    button.btn.btn-success.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","ApproveProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, true)") {{"APPROVE" | translate}}
                    button.btn.btn-danger.common-button(data-dismiss='modal', ng-if='(vm.selectedProposal.process.status=="Pending" || vm.selectedProposal.status=="Pending") && vm.rightPanelTitle == "APPROVAL_PROPOSAL" && checkViewPermission("Operation", "Proposal","RejectProposal")', ng-click="vm.updateProposal(vm.selectedProposal._id, false)") {{"REJECT" | translate}}
                button.btn.btn-warning.common-button(ng-if='vm.selectedProposal.showCancel', ng-click="vm.submitCancelProposal(vm.selectedProposal)") {{"Cancel Proposal" | translate}}
                .inlineBlk(ng-if='vm.selectedProposal.cancelling')
                    label {{'Cancelling Proposal' | translate}}
                    i.fa.fa-spin.fa-2x.fa-spinner
                label.inlineBlk(ng-if='vm.selectedProposal.cancelled') {{"Cancel" | translate}}
                button.btn.btn-primary.common-button(data-dismiss='modal') {{"OK" | translate}}
                button.btn.btn-primary.common-button(ng-if='vm.selectedProposal.status==="AutoAudit" && !vm.changeStatusToPendingFromAutoAuditMessage && !vm.selectedProposal.cancelling && !vm.selectedProposal.cancelled', ng-click='vm.changeStatusToPendingFromAutoAudit()') {{"Manual" | translate}}
                button.btn.btn-success.common-button(ng-if="vm.showCopyProposal()" ng-click="vm.copyTopUpProposal()") {{"COPY_TO_CLIPBOARD" | translate}}
                label.inlineBlk.wordWrap(ng-if='vm.changeStatusToPendingFromAutoAuditMessage') {{vm.changeStatusToPendingFromAutoAuditMessage}}
                .inlineBlk.pull-left(ng-show='vm.rightPanelTitle == "APPROVAL_PROPOSAL"')
                    label.inlineBlk {{'remark' | translate}}
                    input#proposalRemark.inlineBlk.proposalRemark.form-control(style='width:400px;')


p(ng-init="vm.loadPageFunc(vm.showPageName)")