.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-if="vm.curPlatformText", style='padding-left:0')
    .panel.panel-primary(ng-if="checkViewPermission('TeleMarketing', 'SMSMission','Read')")
        .tab-content
            //.panel.panel-primary
            .panel-heading.common-left-panel-heading
                ul.nav.nav-tabs.common-nav-tabs(id='ulMenu', style='background-color: #337AB7')
                    #platformTree(ng-show='vm.showPlatformDropDownList', style="min-width: 200px; position: absolute; right: 0; color: black; z-index: 9;")

                    li.active(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'Read')" style="margin-left: 20px;")
                        a.common-tab(data-toggle="tab", ng-click="vm.teleMarketingTaskTab ='TELEMARKETING_TASK_OVERVIEW'; vm.initTeleMarketingOverview();" )
                            .fa.fa-wrench.margin-right-5
                            text.span {{"SMS_TASK_OVERVIEW" | translate}}
                    li(ng-show="checkViewPermission('TeleMarketing', 'SMSMission', 'Create')")
                        a.common-tab(data-toggle="tab", ng-click="vm.teleMarketingTaskTab ='CREATE_TELEMARKETING_TASK';")
                            .fa.fa-file-text.margin-right-5
                            text.span {{"CREATE_SMS_TASK" | translate}}

                    //button.btn.btn-primary.common-button(ng-class='{active: vm.teleMarketingTaskTab ="TELEMARKETING_TASK_OVERVIEW"}', ng-click="vm.teleMarketingTaskTab ='TELEMARKETING_TASK_OVERVIEW'; vm.initTeleMarketingOverview();")
                    //    span {{"TELEMARKETING_TASK_OVERVIEW" | translate}}
                    //button.btn.btn-primary.common-button(ng-class='{active: vm.teleMarketingTaskTab ="CREATE_TELEMARKETING_TASK"}', ng-click='vm.teleMarketingTaskTab ="CREATE_TELEMARKETING_TASK";')
                    //    span {{"CREATE_TELEMARKETING_TASK" | translate}}
            .panel-body.common-right-panel-body
                div(ng-show="vm.teleMarketingTaskTab == 'TELEMARKETING_TASK_OVERVIEW'")
                    #teleMarketingOverview.tab-pane.fade.in.active
                        .search-filters-item
                            label {{'PRODUCT_NAME' | translate}}
                            select.form-control(ng-model='vm.teleMarketingOverview.platformObjId', ng-options='v._id as v.name$ for v in vm.allPlatformData')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTaskName')")
                            label {{'TASK_NAME' | translate}}
                            input.form-control(type='text', ng-model='vm.teleMarketingOverview.taskName')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByCreationStartDate')")
                            label {{'START_DATE' | translate}}
                            #teleMarketingOverviewStartDatetimePicker.input-append.form-control
                                input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByCreationEndDate')")
                            label {{'END_DATE' | translate}}
                            br
                            #teleMarketingOverviewEndDatetimePicker.input-append.form-control
                                input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTotalImportedList')")
                            label {{"TOTAL_IMPORTED_LIST"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalImportedListOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalImportedListOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalImportedListValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalImportedListOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalImportedListValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalImportedListOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTotalPlayerRegistration')")
                            label {{"TOTAL_PLAYER_REGISTRATION"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalPlayerRegistrationOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalPlayerRegistrationOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalPlayerRegistrationValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalPlayerRegistrationOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalPlayerRegistrationValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalPlayerRegistrationOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTotalPlayerDeposit')")
                            label {{"TOTAL_PLAYER_DEPOSIT"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalPlayerDepositOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalPlayerDepositOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalPlayerDepositValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalPlayerDepositOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalPlayerDepositValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalPlayerDepositOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTotalPlayerMultiDeposit')")
                            label {{"TOTAL_PLAYER_MULTI_DEPOSIT"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalPlayerMultiDepositOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalPlayerMultiDepositOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalPlayerMultiDepositValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalPlayerMultiDepositOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalPlayerMultiDepositValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalPlayerMultiDepositOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTotalValidPlayer')")
                            label {{"TOTAL_VALID_PLAYER"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalValidPlayerOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalValidPlayerOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalValidPlayerValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalValidPlayerOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalValidPlayerValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalValidPlayerOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByTotalDepositAmount')")
                            label {{"TOTAL_DEPOSIT_AMOUNT"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalDepositAmountOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalDepositAmountOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalDepositAmountValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalDepositAmountOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalDepositAmountValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalDepositAmountOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'teleMarketingOverview')")
                            label {{"TOTAL_VALID_CONSUMPTION"|translate}}
                            br
                            select.form-control(ng-model="vm.teleMarketingOverview.totalValidConsumptionOperator" style="width:75px;display:inline-block" ng-init="vm.teleMarketingOverview.totalValidConsumptionOperator='>='")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalValidConsumptionValue" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.teleMarketingOverview.totalValidConsumptionOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.teleMarketingOverview.totalValidConsumptionValueTwo" style="width:80px;display:inline-block" ng-if="vm.teleMarketingOverview.totalValidConsumptionOperator === 'range'")
                        .inlineBlk.pull-right(style='width:100px;padding-top:20px' ng-show="checkViewPermission('TeleMarketing', 'Overview', 'Read')")
                            button.common-button.btn.btn-primary(ng-click='vm.showTeleMarketingOverview()') {{'SEARCH' | translate}}
                        .inlineBlk(ng-show='vm.loadingTeleMarketingOverviewTable')
                            i.fa.fa-spin.fa-spinner

                        .clearfix
                            label {{"Total" | translate}} {{vm.teleMarketingOverview.totalCount}} {{"records" | translate}}
                            table#teleMarketingOverviewTable.common-table.display(style="min-width:100% ;overflow: scroll")
                            #teleMarketingOverviewTablePage

                    #telePlayerTableAnchor
                    #overViewSubTable(ng-show="vm.showPlayerTable")
                         div(style="margin-top:60px; position:relative;")
                            label {{"totalCount" | translate}} {{vm.teleMarketingPlayerInfo.count}} {{"records" | translate}}
                            label(style="margin-left:100px;") {{vm.teleMarketingPlayerInfo.missionData.name}} - {{vm.teleMarketingPlayerInfo.missionData.description}}
                            button.common-button.btn.btn-primary(ng-click="vm.showPlayerTable = false", style="position:absolute;right:0px;margin:0px;") {{ 'collapse' | translate}}
                            table#telePlayerTable.common-table.display(style="min-width:100% ;overflow: scroll")
                            #telePlayerTablePage
                    //br
                    //br
                    #smsTableAnchor
                    #sendSMSTabletab-pane.well.fade.in.active(ng-show="vm.showSMSTable", style="margin-top: 100px; padding: 35px 20px;")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'Read')")
                            label {{"CUSTOMER_ACCOUNT_ID"|translate}}
                            br
                            select.form-control(ng-model="vm.telePlayerSendingMsgTable.customerType" style="width:90px;display:inline-block;")
                                option(value='all') {{ 'ALL' | translate}}
                                option(value='created') {{ 'CREATED_ACCOUNT' | translate}}
                                option(value='notCreated') {{'NOT_YET_CREATE_ACCOUNT' | translate}}
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByCreationStartDate')")
                            label {{'START_TIME_IMPORTED_PHONE_NUMBER' | translate}}
                            #sendSMSTableStartDatetimePicker.input-append.form-control
                                input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByCreationEndDate')")
                            label {{'END_TIME_IMPORTED_PHONE_NUMBER' | translate}}
                            br
                            #sendSMSTableEndDatetimePicker.input-append.form-control
                                input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByCreationStartDate')")
                            label {{'START_TIME_FOR_LAST_MSG_SENDING' | translate}}
                            #sendSMSTableMsgStartDatetimePicker.input-append.form-control
                                input(style='width:calc(100% - 15px)',data-format="yyyy/MM/dd HH:mm:ss PP", type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'queryByCreationEndDate')")
                            label {{'END_TIME_FOR_LAST_MSG_SENDING' | translate}}
                            br
                            #sendSMSTableMsgEndDatetimePicker.input-append.form-control
                                input(style='width:calc(100% - 15px)', data-format='yyyy/MM/dd HH:mm:ss PP', type='text')
                                span.add-on
                                    i.fa.fa-calendar(data-time-icon='fa fa-clock-o', data-date-icon='fa fa-calendar')
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'Read')")
                            label {{"SENDING_TIMES"|translate}}
                            br
                            select.form-control(ng-model="vm.telePlayerSendingMsgTable.msgTimesOperator", style="width:75px;display:inline-block;")
                                option(value='>=') {{'>='}}
                                option(value='=') {{'='}}
                                option(value='<=') {{'<='}}
                                option(value='range') {{'range'|translate}}
                            div(style="width:8px;display:inline-block")
                            input.form-control(type="number" ng-model="vm.telePlayerSendingMsgTable.msgTimes" style="width:80px;display:inline-block")
                            div.text-center(style="width:15px;display:inline-block" ng-if="vm.telePlayerSendingMsgTable.msgTimesOperator === 'range'") ~
                            input.form-control(type="number" ng-model="vm.telePlayerSendingMsgTable.msgTimes2" style="width:80px;display:inline-block" ng-if="vm.telePlayerSendingMsgTable.msgTimesOperator === 'range'")
                        .inlineBlk(ng-show="checkViewPermission('TeleMarketing', 'Overview', 'Read')")
                            label {{'IMPORTED_PHONE_NUMBER' | translate}}
                                br
                            input.form-control(ng-model="vm.telePlayerSendingMsgTable.phoneNumber" style="display:inline-block; width:calc(100% - 15px)")
                        .inlineBlk.pull-right(style='width:100px;padding-top:20px' ng-show="checkViewPermission('TeleMarketing', 'Overview', 'Read')")
                            button.common-button.btn.btn-primary(ng-click='vm.getTelePlayerSendingMsgTable(true)') {{'SEARCH' | translate}}
                        .inlineBlk(ng-show='vm.loadingTelePlayerSendingSMSTable')
                                i.fa.fa-spin.fa-spinner

                        div(style="position:relative; margin-top:60px;")
                            label {{"Total" | translate}} {{vm.teleMarketingSendSMS.count}} {{"records" | translate}}
                            label(style="margin-left:100px;") {{vm.msgTemplate.name}} - {{vm.msgTemplate.description}}
                            button.common-button.btn.btn-primary(ng-click="vm.showSMSTable = false", style="position:absolute;right:0px;margin:0px;") {{ 'collapse' | translate}}
                            table#telePlayerSendingMsgTable.table-striped.display.text-center.dataTable.table-condensed(style="min-width:100% ;overflow: scroll;margin-top:10px;")
                                thead
                                    tr
                                        th {{'ORDER' | translate}}
                                        th {{'IMPORTED_PHONE_NUMBER' | translate}}
                                        th {{'SMS URL' | translate}}
                                        th {{'CUSTOMER_ACCOUNT_ID' | translate}}
                                        th {{'TIME_IMPORTED_PHONE_NUMBER' | translate}}
                                        th {{'LAST_SENDING' | translate}}
                                        th {{'SENDING_TIMES' | translate}}
                                        th {{'loginTimes' | translate}}
                                        th {{'TOP_UP_TIMES' | translate}}
                                        th
                                            input(type='checkbox' id='checkAll' name='checkAll' ng-click='vm.checkUncheckSelectAll()')
                                        th {{'REMARKS' | translate}}
                                tbody
                                    tr(ng-repeat='(i,v) in vm.teleMarketingSendSmsPageData')
                                        td {{ vm.telePlayerSendingMsgTable.index + $index + 1}}
                                        td
                                            a(ng-click="vm.callNewPlayerBtn(v.phoneNumber, v)") {{ v.phoneNumber$ }}
                                        td {{ v.url }}
                                        td {{ v.playerName }}
                                        td {{ v.createTime }}
                                        td {{ v.lastTime }}
                                        td {{ v.count }}
                                        td {{ v.loginTimes }}
                                        td {{ v.topupTimes }}
                                        td(ng-if="!v.isLocked")
                                            input(type="checkbox" ng-model='vm.selectedSendingSMSData[v._id]' ng-click="vm.updateSelectCustomerSms(v)")
                                        td(ng-if="v.isLocked")
                                            span -
                                        td(ng-if="!v.isLocked")
                                            input.margin-right-5(type='text' ng-init='vm.changePlayerMsgTableRemark(v)' ng-show='!vm.showPhoneNumberRemark' ng-model='vm.phoneNumberInfo.remark[v._id]' disabled)
                                            button.btn.btn-danger(type='edit' ng-click='vm.showPhoneNumberRemark=true' ng-show='!vm.showPhoneNumberRemark') {{'EDIT' | translate}}
                                            input.margin-right-5(type='text' ng-model='vm.phoneNumberInfo.remark[v._id]' ng-show='vm.showPhoneNumberRemark')
                                            button.btn.btn-success(type='edit' ng-click='vm.savePhoneNumberInfoRemark()' ng-show='vm.showPhoneNumberRemark') {{'SAVE' | translate}}
                                        td(ng-if="v.isLocked")
                                            span -

                                tfoot
                                    tr
                                        th
                                            div(style='display:inline-block;font-weight:normal')
                                                text.margin-right-5(style='display:inline-block') {{'EachPage' | translate}}
                                                input.form-control(style='max-width:80px;display:inline-block;',type='number',ng-init=10,ng-model='vm.telePlayerSendingMsgTable.limit' ,ng-blur='vm.searchTeleMarketingSendSmsPageData()')
                                                text.margin-left-5(style="display:inline-block") {{'COUNT1' | translate}}
                                        th(colspan=10 style="text-align:right")
                                            div(style='display:inline-block;font-weight:normal')
                                                text.margin-right-5(style='display:inline-block') {{'Jump to' | translate}}
                                                input.form-control.margin-right-5(style='max-width:60px;display:inline-block', type='number',ng-model='vm.telePlayerSendingMsgTable.currentPage',ng-init=1 ,ng-blur="vm.gotoTelePlayerSendingMsgTablePage((vm.telePlayerSendingMsgTable.currentPage),null)")
                                                text(style="display:inline-block") / {{ vm.telePlayerSendingMsgTable.totalPage }} {{'Page' | translate}}
                                            div(style='display:inline-block')
                                                button.btn.btnPage.first_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("first_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == 1') {{'FIRST_PAGE' | translate}}
                                            div(style='display:inline-block')
                                                button.btn.btnPage.prev_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("previous_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == 1') {{'PREVIOUS_PAGE' | translate}}
                                            div(style='display:inline-block')
                                                button.btn.btnPage.next_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("next_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == vm.telePlayerSendingMsgTable.totalPage') {{'NEXT_PAGE' | translate}}
                                            div(style='display:inline-block')
                                                button.btn.btnPage.last_page.margin-left-5(style='border: 1px solid #878787;margin-top:2px' ng-click='vm.changeTelePlayerSendingMsgTablePage("last_page")', ng-disabled='vm.telePlayerSendingMsgTable.currentPage == vm.telePlayerSendingMsgTable.totalPage') {{'LAST_PAGE' | translate}}

                            //table#telePlayerSendingMsgTable.common-table.display(style="min-width:100% ;overflow: scroll;margin-top:10px;")

                            //#telePlayerSendingMsgTablePage
                            #msgPreview(ng-if="vm.totalmsg > 0", style="text-align:right;margin-top:60px;")
                                table.simple-table#actionLogDataTable(style='max-width:100%;')
                                    thead
                                        tr
                                            th(style='width:15%') {{'MESSAGE_PREVIEW' | translate}}
                                            th(style='width:70%; background-color: #f2f2f2; border-top: none;border-right: none; color: black;')
                                                span(style="margin-right: 30px;") {{ 'Word Count' | translate}} : {{vm.msgTemplate.invitationTemplate.length}},
                                                span(style="margin-right: 30px;") {{ 'Total' | translate }} : {{vm.totalmsg}} {{ 'message(s)' | translate }},
                                                span(style="margin-right: 30px;") {{ 'Current channel allow' | translate }} : 100 {{ 'Words/Message' | translate}}
                                            th(style='width:15%; background-color: #f2f2f2; border: none;')
                                    tbody
                                        tr
                                            td(colspan=2) {{ vm.msgTemplate.invitationTemplate}}
                                            td(style="border:none;") {{ 'Channel' | translate }} :
                                                select.form-control(ng-model='vm.smsChannel', ng-options='a for a in usableChannelList', style="width:75px;display:inline-block;")
                                                //select.form-control(ng-model="vm.smsChannel", ng-init="vm.smsChannel = '2'", style="width:75px;display:inline-block;")
                                                    option(value='2') {{'2'}}
                                                    option(value='3') {{'3'}}


                            div(ng-if="vm.totalmsg > 0", style="text-align:right;margin-top:20px;")
                                button.common-button.btn.btn-success.margin-right-5(ng-click="vm.sendMsgToTelePlayer();", style="height:40px;") {{'SEND_TO_SELECTED_CUSTOMER' | translate}} ({{vm.totalmsg || 0}})
                                label.inlineBlk.wordWrap(ng-if='vm.responseMsg') {{vm.responseMsg}}


                div(ng-show="vm.teleMarketingTaskTab == 'CREATE_TELEMARKETING_TASK'")
                    .col-md-12
                        form(name='form_create_telemarketing_task', novalidate)
                            div
                                .full-width-input-block
                                    label {{"PRODUCT_NAME" | translate}}: (*)
                                    select.form-control(type='text', ng-model='vm.createTeleMarketing.platformObjId', ng-options='v._id as v.name$ for v in vm.allPlatformData' required)
                                .full-width-input-block
                                    label {{"Please Enter Task Name" | translate}}: (*)
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.name', required)
                                .full-width-input-block
                                    label {{"Please Enter Task Description" | translate}}:
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.description')

                                .full-width-input-block
                                    label {{"Please Enter Account Prefix" | translate}}: (*)
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.playerPrefix', required)
                                .full-width-input-block
                                    label {{"Please Enter Number of Last Digits of Phone Number as Account Name" | translate}}: (*)
                                    input.form-control(type='number', ng-model='vm.createTeleMarketing.lastXDigit', required)

                                .full-width-input-block
                                    label {{"Please Enter Default Password" | translate}}: (*)
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.password', required)

                                .full-width-input-block
                                    label {{"Please Enter Registration URL" | translate}}: (*)
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.domain', required)

                                .full-width-input-block
                                    label {{"Please Enter Login URL" | translate}}: (*)
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.loginUrl', required)

                                .full-width-input-block
                                    label {{"Please Enter Free Credit Amount" | translate}}:
                                    input.form-control(type='number', ng-model='vm.createTeleMarketing.creditAmount')

                                .full-width-input-block
                                    label {{"Please Choose Locking Provider Group" | translate}}: (*)
                                    select.form-control(ng-model='vm.createTeleMarketing.providerGroup')
                                        option(value='') {{'LOCAL_CREDIT' | translate}}
                                        option(ng-repeat='(i,v) in vm.gameProviderGroupNames', value='{{i}}') {{v}}

                                .full-width-input-block
                                    label {{"Please Enter Required Consumption Amount" | translate}}: (*)
                                    input.form-control(type='number', ng-model='vm.createTeleMarketing.requiredConsumption', required)

                                .full-width-input-block
                                    label {{"Please Update Invitation Template" | translate}}:
                                    textarea.form-control(ng-model='vm.createTeleMarketing.invitationTemplate')

                                .full-width-input-block
                                    label {{"Please Update Registration Succeed Message Title" | translate}}:
                                    input.form-control(type='text', ng-model='vm.createTeleMarketing.welcomeTitle')

                                .full-width-input-block
                                    label {{"Please Update Registration Succeed Message Template" | translate}}:
                                    textarea.form-control(ng-model='vm.createTeleMarketing.welcomeContent')

                                .full-width-input-block
                                    label {{"Please Enter Number of Days for Alert" | translate}}:
                                    input.form-control(type='number', ng-model='vm.createTeleMarketing.alertDays')

                                .full-width-input-block
                                    label {{"Forbid withdraw if there is balance after unlock" | translate}}:
                                    input.form-control(type='number', ng-model='vm.createTeleMarketing.forbidWithdrawIfBalanceAfterUnlock')

                                .full-width-input-block
                                    label {{"REQUIRE_SMS_VERIFICATION" | translate}}:
                                    input.form-control(type='checkbox', ng-model='vm.createTeleMarketing.requireSMSVerification')
                        br
                        table.simple-table
                            thead
                                th {{'PARAMETER' | translate}}
                                th {{'MESSAGE_TEMPLATE_PARAMETER_DESCRIPTION' | translate}}
                            tbody
                                td {{"\{\{username\}\}"}}
                                td 账号
                            tbody
                                td {{"\{\{password\}\}"}}
                                td 密码
                            tbody
                                td {{"\{\{registrationUrl\}\}"}}
                                td 自动开户网址
                            tbody
                                td {{"\{\{loginUrl\}\}"}}
                                td 登入主站网址
                            tbody
                                td {{"\{\{creditAmount\}\}"}}
                                td 免费金额
                            tbody
                                td {{"\{\{providerGroup\}\}"}}
                                td 大厅
                            tbody
                                td {{"\{\{requiredConsumption\}\}"}}
                                td 流水需求
                        br
                        .pull-right
                            div(style='display:inline-block;font-weight:bold') {{vm.createTaskResult | translate}}
                            div(style='display:inline-block')
                              button.common-button.btn.btn-primary(ng-click="vm.resetTeleMarketing()") {{'Reset' | translate}}
                            div(style='display:inline-block')
                              button.common-button.btn.btn-primary(ng-if="checkViewPermission('TeleMarketing', 'SMSMission', 'Create')",
                            ng-click="vm.createTeleMarketingTask()", ng-disabled="form_create_telemarketing_task.$invalid") {{'CREATE' | translate}}

            //
            //.panel-footer
            //      //#modalPlayerAddRewardTask
            //      div(ng-if="true")
            //          button.common-button.margin-right-5.btn.btn-success(ng-click="vm.sendMsgToTelePlayer()") {{'SEND' | translate}}
