#workloadReport
    .col-md-12(ng-show="vm.curPlatformText")
        .col-md-12.search-filters-container.well
            .col-xs-12.col-sm-6.col-md-2
                label.control-label {{'NAME_LIST_TITLE' | translate}}
                select.spicker.form-control
            .col-xs-12.col-sm-6.col-md-2
                label.control-label {{"Start date"|translate}}
                #workloadStartTimePicker
            .col-xs-12.col-sm-6.col-md-2
                label.control-label {{'End date' | translate}}
                #workloadEndTimePicker
            .col-xs-12.col-sm-6.col-md-2
                label.control-label {{'DEPARTMENT' | translate}}
                select.spicker.form-control
            .col-xs-12.col-sm-6.col-md-2
                label.control-label {{'ROLE' | translate}}
                select.spicker.form-control
            .col-xs-12.col-sm-6.col-md-2
                label.control-label {{'CUSTOMER_SERVICE' | translate}}
                select.spicker.form-control
            .col-xs-12.col-sm-6
                label(style="color:red; margin-top:.5em;") {{"* The status has been decomposed in the search menu. Any items that are not checked can still be displayed in the list." | translate}}
            .col-xs-12.col-sm-6
                label.control-label
                button#searchWorkloadReport.btn.btn-primary.common-button-sm(style="margin-top:.5em; float:right;" ng-click="vm.tsShowWorkloadReport()") {{'SEARCH' | translate}}
    .col-md-12
        div(ng-show="vm.showWorkloadReport")
            .row
                .col-md-12
                    table.common-table.playerLvlTable(style='width:auto;min-width:99.9%;white-space:normal;')
                        thead
                            tr
                                th {{'Connected list' | translate}}
                                th {{'csOfficer' | translate}}
                                th {{'Amount of Phone list' | translate}}
                                    a(style="margin-left:.5em;" class="fa bg-pale fa-info-circle" href="#" data-toggle="tooltip" title="{{'The Number of Distributed within a Specific Time in this Whitelist.' | translate}}")
                                th {{'Used Time' | translate}}
                                    a(style="margin-left:.5em;" class="fa bg-pale fa-info-circle" href="#" data-toggle="tooltip" title="{{'Do not repeat, count the number of times this call was added back.' | translate}}")
                                th {{'Success Answers' | translate}}
                                    a(style="margin-left:.5em;" class="fa bg-pale fa-info-circle" href="#" data-toggle="tooltip" title="{{'Do not repeat, calculate the number of success add return visits. (Only see the white list), according to the system definition, what is meant by success return visits.' | translate}}")
                                th {{'Amount of Success Account Opening' | translate}}
                                th {{'DETAILS' | translate}}

                        tbody
                            tr
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                    a(href="#modalWorkloadList", data-toggle="modal", data-target='#modalWorkloadList') {{'DETAILS' | translate}}

//ModalWorkloadList
#modalWorkloadList.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:80%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"FILTER_THEN_IMPORT_XLS_TS" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    table.common-table.playerLvlTable(style='width:auto;min-width:99.9%;white-space:normal;')
                                        thead
                                            tr
                                                th {{'Connected list' | translate}}
                                                th {{'csOfficer' | translate}}
                                                th {{'Amount of Phone list' | translate}}
                                                    a(style="margin-left:.5em;" class="fa bg-pale fa-info-circle" href="#" data-toggle="tooltip" title="{{'The Number of Distributed within a Specific Time in this Whitelist.' | translate}}")
                                                th {{'Used Time' | translate}}
                                                    a(style="margin-left:.5em;" class="fa bg-pale fa-info-circle" href="#" data-toggle="tooltip" title="{{'Do not repeat, count the number of times this call was added back.' | translate}}")
                                                th {{'Success Answers' | translate}}
                                                    a(style="margin-left:.5em;" class="fa bg-pale fa-info-circle" href="#" data-toggle="tooltip" title="{{'Do not repeat, calculate the number of success add return visits. (Only see the white list), according to the system definition, what is meant by success return visits.' | translate}}")

                                                th {{'Amount of Success Account Opening' | translate}}
                                        tbody
                                            tr
                                                td
                                                td
                                                td
                                                td
                                                td
                                                td

                                            tr
                                                td(colspan="2") {{'Totalsum' | translate}}
                                                td
                                                td
                                                td
                                                td
