.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-if="vm.curPlatformText", style='padding-left:0')
    .row
        .col-md-12(ng-if='checkViewPermission("TeleMarketing", "phoneNumFilter", "FilterAllPlatform")')
            .panel-body
                label {{"FILTER_ALL_PLATFORM" | translate}}:
                label(style='color:green', ng-if='vm.filterAllPlatform') &nbsp; {{"FILTER_ALL_PLATFORM_ENABLED" | translate}}
                label(style='color:red', ng-if='!vm.filterAllPlatform') &nbsp; {{"FILTER_ALL_PLATFORM_DISABLED" | translate}}
                div(ng-if='!vm.filterAllPlatform')
                    button.btn.btn-lg.btn-toggle(type='button', data-toggle='button', aria-pressed='false', autocomplete='off', ng-click='vm.filterAllPlatform=!vm.filterAllPlatform')
                        .handle
                div(ng-if='vm.filterAllPlatform')
                    button.btn.btn-lg.btn-toggle.active(type='button', data-toggle='button', aria-pressed='true', autocomplete='off', ng-click='vm.filterAllPlatform=!vm.filterAllPlatform')
                        .handle

        //.col-md-4
        //    .panel.panel-primary
        //        .panel-heading
        //            .fa.fa-file-text.margin-right-5
        //            label {{"SUPPORTED_FILE_FORMAT" | translate}}:
        //            |  .csv
        //        .panel-body
        //            .alert.alert-info.alert-dismissable
        //                a.close(href='#', data-dismiss='alert', aria-label='close') ×
        //                i.fa.fa-info-circle.margin-right-5
        //                text
        //                    strong {{"ADD_PHONE_NUMBER_CSV_INSTRUCTION" | translate}}
        //            div
        //                form
        //                    input(type='file', name='file' on-read-file='vm.uploadPhoneFileCSV($fileContent); vm.showContentCSV($fileContent)', ng-if='!vm.resetInputCSV', ng-click="vm.phoneNumCSVResult=false;")
        //                    input(type='file', name='file' on-read-file='vm.uploadPhoneFileCSV($fileContent); vm.showContentCSV($fileContent)', ng-if='vm.resetInputCSV', ng-click="vm.phoneNumCSVResult=false;")
        //                    br
        //                    .well(ng-if='vm.contentCSV')
        //                        label {{"CONTENT_CSV" | translate}}:
        //                        p {{vm.contentCSV}}
        //                    .pull-right
        //                        button.btn.btn-danger.common-button(ng-click="vm.resetCSV()")
        //                            i.fa.fa-refresh
        //                            text {{"RESET_CSV" | translate}}
        //                        button.btn.btn-primary.common-button(ng-click="vm.phoneNumCSVResult=true;")
        //                            i.fa.fa-check
        //                            text {{"SUBMIT" | translate}}
        //            // display result
        //            div(ng-if="vm.phoneNumCSVResult")
        //                br
        //                label {{"RESULT" | translate}}:
        //                .well
        //                    label {{"DUPLICATE_PHONE" | translate}}:
        //                    | &nbsp;
        //                    label(style="color:red") ({{vm.samePhoneTotalCSV}})
        //                    p {{vm.samePhoneCSV}}
        //                .well
        //                    label {{"NON_DUPLICATE_PHONE" | translate}}:
        //                    | &nbsp;
        //                    label(style="color:red") ({{vm.diffPhoneTotalCSV}})
        //                    p {{vm.diffPhoneCSV}}
        //                .pull-right
        //                    button.btn.btn-primary.common-button(type='button', ng-csv='vm.diffPhoneCSVArray', filename='phoneNumberFilter.csv')
        //                        i.fa.fa-check
        //                        text {{"EXPORT_CSV" | translate}}

        .col-md-6
            .panel.panel-primary
                .panel-heading
                    .fa.fa-file-text.margin-right-5
                    label {{"SUPPORTED_FILE_FORMAT" | translate}}:
                    |  .txt
                .panel-body
                    .alert.alert-info.alert-dismissable
                        a.close(href='#', data-dismiss='alert', aria-label='close') ×
                        i.fa.fa-info-circle.margin-right-5
                        text
                            strong {{"ADD_PHONE_NUMBER_TXT_INSTRUCTION" | translate}}
                    div
                        form
                            input(type='file', name='file' on-read-file='vm.uploadPhoneFileTXT($fileContent); vm.showContentTXT($fileContent)', ng-if='!vm.resetInputTXT', ng-click="vm.phoneNumTXTResult=false;")
                            input(type='file', name='file' on-read-file='vm.uploadPhoneFileTXT($fileContent); vm.showContentTXT($fileContent)', ng-if='vm.resetInputTXT', ng-click="vm.phoneNumTXTResult=false;")
                            br
                            .well(ng-if='vm.contentTXT')
                                label {{"CONTENT_TXT" | translate}}:
                                p(style="word-wrap:break-word; width:100%") {{vm.contentTXT}}
                            .pull-right
                                button.btn.btn-danger.common-button(ng-click="vm.resetTXT()")
                                    i.fa.fa-refresh
                                    text {{"RESET_TXT" | translate}}
                                button.btn.btn-primary.common-button(ng-click="vm.phoneNumTXTResult=true;")
                                    i.fa.fa-check
                                    text {{"SUBMIT" | translate}}
                    // display result
                    div(ng-if="vm.phoneNumTXTResult")
                        br
                        label {{"RESULT" | translate}}:
                        .well
                            label {{"DUPLICATE_PHONE" | translate}}:
                            | &nbsp;
                            label(style="color:red") ({{vm.samePhoneTotalTXT}})
                            p {{vm.samePhoneTXT}}
                        .well
                            label {{"NON_DUPLICATE_PHONE" | translate}}:
                            | &nbsp;
                            label(style="color:red") ({{vm.diffPhoneTotalTXT}})
                            p {{vm.diffPhoneTXT}}
                        .pull-right
                            button.btn.btn-success.common-button(data-toggle="modal", data-target='#modalSelectDxMissionTXT' ng-click="vm.importPhoneResult = ''; vm.getAllDxMission();")
                                i.fa.fa-upload
                                text {{"IMPORT_TXT" | translate}}
                            button.btn.btn-primary.common-button(ng-click="vm.exportTXTFile(vm.diffPhoneTXT);")
                                i.fa.fa-download
                                text {{"EXPORT_TXT" | translate}}

        .col-md-6
            .panel.panel-primary
                .panel-heading
                    .fa.fa-phone.margin-right-5
                    label {{"ADD_PHONE_NUMBER_FILTER" | translate}}
                .panel-body
                    .alert.alert-info.alert-dismissable
                        a.close(href='#', data-dismiss='alert', aria-label='close') ×
                        i.fa.fa-info-circle.margin-right-5
                        text
                            strong {{"ADD_PHONE_NUMBER_FILTER_INSTRUCTION" | translate}}
                    textarea.form-control(rows='5', placeholder="14444444444, 15555555555, 16666666666", ng-model="vm.inputNewPhoneNum")
                    br
                    .pull-right
                        button.btn.btn-danger.common-button(ng-click="vm.resetTextarea()")
                            i.fa.fa-refresh
                            text {{"RESET_TEXTAREA" | translate}}
                        button.btn.btn-primary.common-button(ng-click="vm.phoneNumListResult=true; vm.comparePhoneNum(vm.inputNewPhoneNum);")
                            i.fa.fa-check
                            text {{"SUBMIT" | translate}}
                    // display result
                    div(ng-if="vm.phoneNumListResult")
                        br
                        label {{"RESULT" | translate}}:
                        .well
                            label {{"DUPLICATE_PHONE" | translate}}:
                            | &nbsp;
                            label(style="color:red") ({{vm.samePhoneTotal}})
                            p {{vm.samePhoneList}}
                        .well
                            label {{"NON_DUPLICATE_PHONE" | translate}}:
                            | &nbsp;
                            label(style="color:red") ({{vm.diffPhoneTotal}})
                            p#copyHere {{vm.diffPhoneList}}
                        .pull-right
                            button.btn.btn-success.common-button(data-toggle="modal", data-target='#modalSelectDxMissionTextarea' ng-click="vm.importPhoneResult = ''; vm.getAllDxMission();")
                                i.fa.fa-upload
                                text {{"IMPORT_PHONE_TEXTAREA" | translate}}
                            button.btn.btn-primary.common-button(ng-click="vm.copyToClipboard('copyHere'); vm.copyHere=true;")
                                i.fa.fa-copy
                                text {{"COPY_TO_CLIPBOARD" | translate}}
                        br
                        br
                        .alert.alert-success.alert-dismissable(ng-if="vm.copyHere")
                            a.close(href='#', data-dismiss='alert', aria-label='close') ×
                            p {{"COPIED_SUCCESS" | translate}}!

        .col-md-12
            .panel.panel-primary
                .panel-heading
                    .fa.fa-file-text.margin-right-5
                    label {{"SUPPORTED_FILE_FORMAT" | translate}}:
                    |  .csv, .xls, .xlsx, .xlsm, .ods
                .panel-body
                    .alert.alert-info.alert-dismissable
                        a.close(href='#', data-dismiss='alert', aria-label='close') ×
                        i.fa.fa-info-circle.margin-right-5
                        text
                            strong {{"ADD_PHONE_NUMBER_XLS_INSTRUCTION" | translate}}
                        br
                        i.fa.fa-info-circle.margin-right-5
                        text
                            strong {{"ADD_PHONE_NUMBER_XLS_INSTRUCTION_2" | translate}}
                        br
                        i.fa.fa-info-circle.margin-right-5
                        text
                            strong {{"ADD_PHONE_NUMBER_XLS_INSTRUCTION_3" | translate}}
                    div
                        #grid1.grid(ng-if='vm.gridOptions', ui-grid='vm.gridOptions', ui-grid-edit='', ui-grid-exporter='', ui-grid-resize-columns='', ui-grid-move-columns='')
                            .grid-msg-overlay(ng-show='!vm.gridOptions.data.length')
                                .msg
                                    .center
                                        span.muted {{"SELECT_XLS_FILE" | translate}}
                                        br
                                        input(type='file', accept='.csv, .xls, .xlsx, .xlsm, .ods', fileread='', opts='vm.gridOptions', multiple='false')
                        br
                        .pull-left
                            label {{"The phone number is at position:" | translate}} &nbsp
                            select(ng-model="vm.tsNewList.phoneIdx")
                                option(value=0) 1
                                option(value=1) 2
                        .pull-left(ng-if="vm.phoneNumXLSResult")
                            label {{"XLS_LENGTH" | translate}}:
                            | &nbsp;
                            label(style="color:red") {{vm.xlsTotal}}
                            br
                            label {{"DUPLICATE_PHONE" | translate}}:
                            | &nbsp;
                            label(style="color:red") {{vm.samePhoneTotalXLS}}
                            br
                            label {{"NON_DUPLICATE_PHONE" | translate}}:
                            | &nbsp;
                            label(style="color:red") {{vm.diffPhoneTotalXLS}}
                        .pull-right
                            button.btn.btn-success.common-button(data-toggle="modal", data-target='#modalNewTSPhoneListXLS' ng-click="vm.importPhoneResult = ''; vm.initFilterAndImportDXSystem();")
                                i.fa.fa-upload
                                text {{"FILTER_THEN_IMPORT_XLS_TS" | translate}}
                            button.btn.btn-success.common-button(data-toggle="modal", data-target='#modalSelectDxMissionXLS' ng-click="vm.importPhoneResult = ''; vm.getAllDxMission();")
                                i.fa.fa-upload
                                text {{"FILTER_IMPORT_DXMISSION" | translate}}
                            button.btn.btn-danger.common-button(type='button', ng-click='vm.resetUIGrid()')
                                i.fa.fa-refresh
                                text {{"RESET_GRID" | translate}}
                            button.btn.btn-primary.common-button(type='button', ng-click='vm.phoneNumXLSResult=true; vm.uploadPhoneFileXLS()')
                                i.fa.fa-download
                                text {{"FILTER_THEN_EXPORT_XLS" | translate}}



#modalSelectDxMissionTXT.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:60%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"IMPORT_TXT" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"SELECT_DXMISSION_INSTRUCTION" | translate}}
                                    select.form-control(ng-model='vm.selectedDxMission', data-width='100%')
                                        option(ng-repeat='v in vm.allDxMission', value='{{v._id}}') {{v.name || translate}}
            .modal-footer
                div(style='display:inline-block;font-weight:bold;margin:10px 10px 0 0;font-size:16px') {{vm.importPhoneResult | translate}}
                button.btn.btn-success.common-button(ng-if="!vm.importPhoneResult" ng-click="vm.importDiffPhoneNum(vm.diffPhoneTXT, vm.selectedDxMission)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                bbutton.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}

#modalSelectDxMissionTextarea.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:60%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"IMPORT_PHONE_TEXTAREA" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"SELECT_DXMISSION_INSTRUCTION" | translate}}
                                    select.form-control(ng-model='vm.selectedDxMission', data-width='100%')
                                        option(ng-repeat='v in vm.allDxMission', value='{{v._id}}') {{v.name || translate}}
            .modal-footer
                div(style='display:inline-block;font-weight:bold;margin:10px 10px 0 0;font-size:16px') {{vm.importPhoneResult | translate}}
                button.btn.btn-success.common-button(ng-if="!vm.importPhoneResult" ng-click="vm.importDiffPhoneNum(vm.diffPhoneList, vm.selectedDxMission)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                bbutton.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}

#modalSelectDxMissionXLS.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:60%;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"FILTER_THEN_IMPORT_XLS" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                .well
                                    label {{"SELECT_DXMISSION_INSTRUCTION" | translate}}
                                    select.form-control(ng-model='vm.selectedDxMission', data-width='100%')
                                        option(ng-repeat='v in vm.allDxMission', value='{{v._id}}') {{v.name || translate}}
            .modal-footer
                div(style='display:inline-block;font-weight:bold;margin:10px 10px 0 0;font-size:16px') {{vm.importPhoneResult | translate}}
                button.btn.btn-success.common-button(ng-if="!vm.importPhoneResult" ng-click="vm.uploadPhoneFileXLS('', true, vm.selectedDxMission)")
                    i.fa.fa-check
                    text {{"CONFIRM" | translate}}
                bbutton.btn.btn-danger.common-button(data-dismiss='modal')
                    i.fa.fa-ban
                    text {{"CANCEL" | translate}}

include ./modalNewTSPhoneListXLS