#trashClassificationDecompositionListRightTable.panel.panel-danger(style='width:100%;display:inline-block')
    .panel-heading
        .pull-left(style='margin-top: -5px;')
            a.fa.fa-chevron-circle-left.contractIcon(ng-show='!vm.hideLeftPanel', ng-click='vm.setPanel(true)')
            a.fa.fa-chevron-circle-right.contractIcon(ng-show='vm.hideLeftPanel', ng-click='vm.setPanel(false)')
        label {{vm.showPageName | translate}}
    .panel-body
        div(ng-if='vm.showPageName=="Trash Classification（Export）"')
            #topUpReportQuery.block-query.col-md-12.well
                div
                    label.control-label {{'Name List (Decomposed / Last 10)' | translate}}
                    select.spicker.form-control(ng-model='vm.trashClassificationTradeQuery.phoneLists' bsp multiple data-actions-box='true')
                        option(ng-repeat='(i,v) in vm.lastTenDecomposedPhontList' ng-if="v.status == '7'" value='{{v._id}}') {{v.name}}
                div
                    label.control-label {{'RECYCLE_TIME_START' | translate}}
                    #trashClassificationStartTimePicker
                div
                    label.control-label {{'RECYCLE_TIME_END' | translate}}
                    #trashClassificationEndTimePicker
                div
                    label &nbsp;
                    button#searchTrashClassification.btn.btn-primary.common-button-sm(style="margin-top:.5em; float:right;" ng-click="vm.searchTrashClassificationTrade(true)") {{'SEARCH' | translate}}
                    span#trashClassificationTableSpin.collapse
                        i.fa.fa-spinner.fa-spin
            .clearfix
            table#trashClassificationTradeTable.common-table.display(style="min-width:100% ;overflow: scroll")
            #trashClassificationTradeTablePage
            br
            br
            button.btn.btn-danger.common-button(data-target="#modalExportTsPhoneTrade" data-toggle="modal" ng-click="vm.initModalExportTsPhoneTrade()") {{"Manual Export to New Phone List" | translate}}

        div(ng-if='vm.showPageName=="New Phone"')
            div
                #decomposedNewPhoneQuery.block-query.col-md-12.well
                    div
                        label {{"Trade Time(Start)"|translate}}
                        .startTime
                    div
                        label {{"Trade Time(End)"|translate}}
                        .endTime
                    div
                        label &nbsp;
                        button.btn.btn-success(ng-click='vm.searchDecomposedNewPhoneQuery(true)') {{'SEARCH' | translate}}
                        span#decomposedNewPhoneTableSpin.collapse
                            i.fa.fa-spinner.fa-spin
                .clearfix
                label {{"Total" | translate}} {{vm.decomposedNewPhoneQuery.totalCount}} {{"records" | translate}}
                table.common-table#decomposedNewPhoneTable.display(style="width:100% ;overflow-x: scroll")
                #decomposedNewPhoneTablePage
            br
            br
            div(style='text-align:right')
                button.btn.btn-danger(data-target="#modalIMPORT_XLS_TS" data-toggle="modal", ng-click='vm.initModalImportTsPhoneTrade()', ng-disabled='!vm.multiDecomposedNewPhoneSelected.length') {{'IMPORT_XLS_TS' | translate}}

#modalIMPORT_XLS_TS.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:35%; margin-top: 12.5em;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"IMPORT_XLS_TS" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
                                    thead
                                        tr
                                            th(colspan=2) {{'Import X numbers into telemarketing system' | translate}}
                                    tbody
                                        tr
                                            td(style='background-color: LightGrey')
                                                label {{"SELECTED_COUNT" | translate}}
                                            td(style='background-color: LightGrey')
                                                text {{vm.multiDecomposedNewPhoneSelected.length}}
                                        tr
                                            td
                                                text {{"Please enter quantity (random select)" | translate}}
                                            td
                                                input.form-control(style='width:60%; display: inline-block' type='number', ng-model='vm.totalTsPhoneTrade', min=1, max='{{vm.multiDecomposedNewPhoneSelected.length}}')
                                                span &nbsp;
                                                a(ng-click='vm.totalTsPhoneTrade = vm.multiDecomposedNewPhoneSelected.length')
                                                    u {{"All phone number?" | translate}}

            .modal-footer
                div(style='display:inline-block;font-weight:bold;margin:10px 10px 0 0;font-size:16px')
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-disabled="!vm.totalTsPhoneTrade", data-toggle="modal",
                data-target='#modalNewTSPhoneListXLS', ng-click="vm.importPhoneResult = ''; vm.initFilterAndImportDXSystem();") {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal') {{"CANCEL" | translate}}

#modalExportTsPhoneTrade.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', keyboard=false, aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(style='width:35%; margin-top: 12.5em;')
        .modal-content
            .modal-header
                a.fa.fa-times.close(type='button', data-dismiss='modal')
                h4.modal-title {{"Manual Export to New Phone List" | translate}}
            .modal-body
                .panel.panel-primary
                    .panel-body
                        .row
                            .col-md-12
                                table.common-table.playerLvlTable(style='width:auto;min-width:99.9%;white-space:normal;')
                                    thead
                                        tr
                                            th(colspan=2) {{'Export X numbers into new phone list pool' | translate}}
                                    tbody
                                        tr
                                            td(style='background-color: LightGrey')
                                                label {{"sourceTsPhoneType" | translate}}
                                            td(style='background-color: LightGrey')
                                                text {{vm.exportTsPhoneTrade.topic}}
                                        tr
                                            td(style='background-color: LightGrey')
                                                label {{"SELECTED_COUNT" | translate}}
                                            td(style='background-color: LightGrey')
                                                text {{vm.trashClassificationTradeSelection.length}}
                                        tr
                                            td
                                                text {{"Please enter quantity (random select)" | translate}}
                                            td
                                                input.form-control(style='width:60%; display: inline-block' type='number', ng-model='vm.exportTsPhoneTrade.exportCount', min=1, max='{{vm.trashClassificationTradeSelection.length}}')
                                                span &nbsp;
                                                a(ng-click='vm.exportTsPhoneTrade.exportCount = vm.trashClassificationTradeSelection.length')
                                                    u {{"All phone number?" | translate}}
                                        tr
                                            td
                                                text {{"Please select target department (single selection)" | translate}}
                                            td
                                                select.form-control(ng-model='vm.exportTsPhoneTrade.targetPlatform')
                                                    option(ng-repeat='(i,v) in vm.allPlatformData' value='{{v._id}}') {{v.name}}

            .modal-footer
                div(style='display:inline-block;font-weight:bold;margin:10px 10px 0 0;font-size:16px')
                button.btn.btn-primary.common-button(data-dismiss='modal', ng-disabled="!vm.exportTsPhoneTrade.exportCount", data-toggle="modal",
                data-target='#modalExportTsPhoneTrade', ng-click="vm.initModalExportTsPhoneTrade();") {{"CONFIRM" | translate}}
                button.btn.btn-danger.common-button(data-dismiss='modal') {{"CANCEL" | translate}}
