.text-center
    p(ng-if="!vm.curPlatformText")
        label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
div(ng-show="vm.curPlatformText")
    #adminPhoneListManageTable-search-filter.col-md-12.well
        .search-filters-item
            label {{'PRODUCT_NAME' | translate}}
            select.form-control(ng-model='vm.queryAdminPhoneList.platformObjId', ng-options='v._id as v.name$ for v in vm.allPlatformData', ng-change='vm.getActivePhoneListNameForAdmin(vm.queryAdminPhoneList.platformObjId);vm.getPlayerFeedbackTopic(vm.queryAdminPhoneList.platformObjId)')
        .search-filters-item
            label {{'PHONE_LIST' | translate}}
            select.spicker.form-control(ng-model='vm.queryAdminPhoneList.phoneListName', bsp, multiple, data-actions-box='true', ng-options='v as v for (i,v) in vm.adminPhoneListName')
        .search-filters-item
            label {{"MY_LAST_FEEDBACK_RESULT"|translate}}
            select.spicker.form-control(ng-model='vm.queryAdminPhoneList.resultName', bsp, multiple, data-actions-box='true')
                option(value= '') {{'NO_FEEDBACK' | translate}}
                option(ng-repeat="(i,v) in vm.allPlayerFeedbackResults", value='{{v.value}}') {{v.value | translate}}
        .search-filters-item
            label {{"MY_LAST_FEEDBACK_TOPIC"|translate}}
            select.spicker.form-control(ng-model='vm.queryAdminPhoneList.topic', bsp, multiple, data-actions-box='true', ng-options='v.key as v.value for (i,v) in vm.playerFeedbackTopic')
                //option(ng-repeat="(i,v) in vm.playerFeedbackTopic", value='{{v.value}}') {{v.value | translate}}
        .search-filters-item
            label {{'My last feedback time (start)' | translate}}
            #adminPhoneListLastFeedbackStart
        .search-filters-item
            label {{'My last feedback time (end)' | translate}}
            #adminPhoneListLastFeedbackEnd

        .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.queryAdminPhoneList.feedbackTimesOperator === "range")}')
            label {{'My feedback times' | translate}}
            div
                select.threeBoxes.form-control(ng-init='vm.queryAdminPhoneList.feedbackTimesOperator = ">="' ng-model="vm.queryAdminPhoneList.feedbackTimesOperator")
                    option(value='>=') {{'>='}}
                    option(value='=') {{'='}}
                    option(value='<=') {{'<='}}
                    option(value='range') {{'range'|translate}}
                input.threeBoxes.form-control(type="number" ng-model="vm.queryAdminPhoneList.feedbackTimes")
                div.symbol(ng-if="vm.queryAdminPhoneList.feedbackTimesOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.queryAdminPhoneList.feedbackTimesTwo" ng-if="vm.queryAdminPhoneList.feedbackTimesOperator === 'range'")
        .search-filters-item
            label {{'Phone distributed time (start)' | translate}}
            #adminPhoneListDistributeStart
        .search-filters-item
            label {{'Phone distributed time (end)' | translate}}
            #adminPhoneListDistributeEnd

        .search-filters-item(ng-class='{"search-filters-threeBoxes": (vm.queryAdminPhoneList.reclaimDayOperator === "range")}')
            //label.control-label(style='display: block') {{'Phone number reclaim in X day' | translate}}
            label {{'Phone number reclaim in X day' | translate}}
            div
                select.threeBoxes.form-control(ng-init='vm.queryAdminPhoneList.reclaimDayOperator = ">="' ng-model="vm.queryAdminPhoneList.reclaimDayOperator")
                    option(value='>=') {{'>='}}
                    option(value='=') {{'='}}
                    option(value='<=') {{'<='}}
                    option(value='range') {{'range'|translate}}
                input.threeBoxes.form-control(type="number" ng-model="vm.queryAdminPhoneList.reclaimDays")
                div.symbol(ng-if="vm.queryAdminPhoneList.reclaimDayOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.queryAdminPhoneList.reclaimDaysTwo" ng-if="vm.queryAdminPhoneList.reclaimDayOperator === 'range'")

        .search-filters-twoBoxes(ng-class='{"search-filters-threeBoxes": (vm.queryAdminPhoneList.assignTimesOperator === "range")}')
            label {{'Assign times (numerator)' | translate}}
            div
                select.threeBoxes.form-control(ng-init='vm.queryAdminPhoneList.assignTimesOperator = ">="' ng-model="vm.queryAdminPhoneList.assignTimesOperator")
                    option(value='>=') {{'>='}}
                    option(value='=') {{'='}}
                    option(value='<=') {{'<='}}
                    option(value='range') {{'range'|translate}}
                input.threeBoxes.form-control(type="number" ng-model="vm.queryAdminPhoneList.assignTimes")
                div.symbol(ng-if="vm.queryAdminPhoneList.assignTimesOperator === 'range'") ~
                input.threeBoxes.form-control(type="number" ng-model="vm.queryAdminPhoneList.assignTimesTwo" ng-if="vm.queryAdminPhoneList.assignTimesOperator === 'range'")

        .search-filters-item
            label {{'Filter non-dial areas' | translate}}
            select.form-control(ng-init='vm.queryAdminPhoneList.isFilterDangerZone="true"' ng-model="vm.queryAdminPhoneList.isFilterDangerZone")
                option(value='true') {{'YES' | translate}}
                option(value='') {{'NO' | translate}}
        .text-right.widthto100
            label &nbsp;
            button.btn.btn-primary.btn-space(ng-click="vm.searchAdminPhoneList(true);") {{'SEARCH' | translate}}
            button.btn.btn-primary.btn-space(ng-if="vm.ctiData.hasOnGoingMission && !vm.showFinishCalloutMissionButton", ng-click='vm.toggleCallOutMissionStatus()') {{"Pause/Resume Mission" | translate}}
            button.btn.btn-primary.btn-space(ng-if="vm.ctiData.hasOnGoingMission && !vm.showFinishCalloutMissionButton", ng-click='vm.stopCallOutMission()') {{"Stop Mission" | translate}}
            //button.btn.btn-warning.common-button(ng-if="vm.ctiData.hasOnGoingMission && vm.showFinishCalloutMissionButton",ng-click='vm.initBulkAddPlayerFeedback()') {{"Failed Call Player Feedback" | translate}}
            button.btn.btn-warning.btn-space(ng-if="vm.ctiData.hasOnGoingMission && vm.showFinishCalloutMissionButton", ng-click='vm.initBulkSMSToFailCallee()') {{"Bulk SMS to Failed Callee" | translate}}
            button.btn.btn-success.btn-space(ng-if="vm.ctiData.hasOnGoingMission && vm.showFinishCalloutMissionButton", ng-click='vm.endCallOutMission()') {{"Finish Mission" | translate}}
            span#adminPhoneListTableSpin.collapse
                i.fa.fa-spinner.fa-spin
    .widthto100
            .btn.btn-primary(ng-click="vm.createCallOutMission()" ng-if="!vm.ctiData.hasOnGoingMission") {{"BULK_CALL" | translate}}
            .btn.btn-primary.btn-space(ng-click="vm.createCallOutMission(true)" ng-if="!vm.ctiData.hasOnGoingMission") {{"SELECTED_CALL" | translate}}
            .btn.btn-primary.btn-space(ng-click="vm.initSMSModal(vm.queryAdminPhoneList.platformObjId);vm.bulkSmsToTsPhoneBtn(vm.selectedTsPhoneToSms)" ng-if="!vm.ctiData.hasOnGoingMission") {{"Send Bulk SMS to Player" | translate}}
        .inlineBlk.margin-top-5
            label {{"Total" | translate}} {{vm.queryAdminPhoneList.totalCount}} {{"records" | translate}}
        .inlineBlk
            label.inlineBlk(ng-show='vm.ctiData.hasOnGoingMission') {{vm.callOutMissionStatus}}
            label.inlineBlk(ng-show='vm.ctiData.hasOnGoingMission') {{vm.ctiData.adminName}} : {{vm.callOutMissionStatusText}}  /  {{"Completed" | translate}} : ({{vm.callOutMissionProgressText}})
    div
        table.common-table#adminPhoneListTable.display(style="width:100%;overflow: scroll;max-height:700px")
        #adminPhoneListTablePage


ez-modal(modal-id="bulkSmsToTsPhoneModal", modal-title="{{'Send Bulk SMS to Player' | translate}}")
    ez-modal-body
        .row
            div.form-group.col-md-12
                label.control-label {{"TO_PLAYER" | translate}}:&nbsp;
                text {{vm.smsTsPhone.name}}

        .row
            div.form-group.col-md-12
                label.control-label {{"Channel" | translate}}:&nbsp;
                select(ng-model='vm.smsTsPhone.channel', ng-options='a for a in usableChannelList')

                label.margin-left-5.blink.text-danger(ng-if="!vm.smsTsPhone.hasPhone") {{'This Player did not input phone number' | translate}}

                .pull-right(ng-if='vm.sendSMSResult.sent===true')
                    .fa.fa-check.text-success(ng-if='vm.sendSMSResult.result')
                        text {{'SEND' | translate}} {{'SUCCESS' | translate}}
                    .fa.fa-times.text-danger(ng-if='!vm.sendSMSResult.result')
                        text {{'SEND' | translate}} {{'FAIL' | translate}}
                .pull-right(ng-if='vm.sendSMSResult.sent==="sending"')
                    text.text-danger.blink {{"Sending" | translate}}

        .row
            div.form-group.col-md-12
                label.control-label {{"SMS Templates" | translate}}
                    select.form-control(style='width:100%;resize:none', ng-change="vm.changeSMSTemplateTs()", ng-model='vm.smstpl' ng-options='a.type | translate for a in vm.smsTemplate')
                        option(value="")
        .row
            div.form-group.col-md-12
                label.control-label {{"CONTENT" | translate}}
                textarea.form-control(ng-model="vm.smsTsPhone.message", placeholder="...", rows="8", ng-disabled="!vm.smsTsPhone.hasPhone", maxlength="100")

    ez-modal-footer
        button.btn.common-button.btn-primary(ng-click="vm.bulkSendSMSToTsList()", ng-disabled="!vm.smsTsPhone.hasPhone") {{"SEND" | translate}}
        button.btn.common-button.btn-warning(data-dismiss='modal') {{"CLOSE" | translate}}
