.row(ng-show="checkViewPermission('TeleMarketing', 'TeleMarketing', 'Read')")
    .col-md-3
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label &nbsp;{{"MISSION_LIST" | translate}}
            .panel-body.common-left-sub-panel-body
                ul.list-group.treeview(style="height: 430px; overflow-y: auto;")
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "overview"}', ng-click='vm.configTabClicked("overview")')
                        span {{"TELEMARKETING_OVERVIEW" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "createTask"}', ng-click='vm.configTabClicked("createTask")')
                        span {{"TELEMARKETING_CREATE" | translate}}

    .col-md-9(style="padding-left:0;padding-right:15px")
        .panel.panel-primary
                //.panel-body.common-right-sub-panel-body(ng-if="!vm.curPlatformText")
                .panel-body.common-right-sub-panel-body

                div(ng-if='vm.selectedConfigTab=="overview" && checkViewPermission("TeleMarketing", "TeleMarketing", "Read")')



                div(ng-if='vm.selectedConfigTab=="createTask" && checkViewPermission("TeleMarketing", "TeleMarketing", "Read")')



