form(name="form_edit_partner_commission_type", novalidate)
    div
        table.simple-table(ng-if='!vmm.checkIsChildPartner()')
            thead
                tr
                    th {{'PARTNER_NAME' | translate}}
                    th(colspan=2)  {{'bonusAmount1' | translate}}
                    th {{'Spent Amount' | translate}}
                    th {{'CLOSED_COMMISSION' | translate}}
            tbody
                tr
                    td
                        text {{newPartner.partnerName}}
                    //td
                        label.radio-inline {{'DAILY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='1' ng-click="switchCommissionTab('DAILY_BONUS_AMOUNT', newPartner.commissionType);")
                    td
                        label.radio-inline {{'WEEKLY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='2' ng-click="switchCommissionTab('WEEKLY_BONUS_AMOUNT', newPartner.commissionType);")
                    td
                        label.radio-inline {{'MONTHLY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='4' ng-click="switchCommissionTab('MONTHLY_BONUS_AMOUNT', newPartner.commissionType);")
                    td
                        label.radio-inline {{'DAILY_CONSUMPTION' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='7' ng-click="switchCommissionTab('DAILY_CONSUMPTION', newPartner.commissionType);")
                    //td
                        label.radio-inline {{'BIWEEKLY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='3' ng-click="switchCommissionTab('BIWEEKLY_BONUS_AMOUNT', newPartner.commissionType);")
                    //td
                        label.radio-inline {{'WEEKLY_CONSUMPTION' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='5' ng-click="switchCommissionTab('WEEKLY_CONSUMPTION', newPartner.commissionType);")
                    td
                        label.radio-inline {{'CLOSED_COMMISSION' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='0' ng-click="switchCommissionTab('CLOSED', newPartner.commissionType);")
        br

    .panel.panel-primary(ng-if="newPartner.commissionType == vmm.selectedSinglePartner.commissionType")
        .panel-heading.common-left-panel-heading
            ul.nav.nav-tabs.common-nav-tabs
                //li.active
                    a.common-tab(data-toggle="tab", ng-click="switchCommissionTab(vmm.commissionSettingTab, newPartner.commissionType);getCommissionRateGameProviderGroup()")
                        text.span {{"Customize commission rate" | translate}}
                li.active
                    a.common-tab(data-toggle="tab", ng-click="vmm.isEditAllGroupMode=false;switchCommissionTab(vmm.commissionSettingTab, newPartner.commissionType, true);getCommissionRateGameProviderGroup()")
                        text.span {{"customizeMultiLevelPartnerCommission" | translate}}
                li
                    a.common-tab(data-toggle="tab", ng-if="!vmm.checkIsChildPartner()", ng-click="vmm.isEditAllGroupMode=true")
                        text.span {{"BULK_SETTING_ALL_GROUP" | translate}}
        .panel-body.common-right-panel-body
            div.tab-content(ng-if="!vmm.isEditAllGroupMode")
                //h4 {{'Customize commission rate' | translate}}
                table.simple-table(ng-if="!partnerCommission.isGameProviderIncluded")
                    thead
                        tr
                            th(colspan=6) {{'Total'| translate}}{{'Commission'| translate}}:{{vmm.commissionSettingTab | translate}}
                        tr
                            th(colspan=2) {{vmm.playerConsumptionTableHeader | translate}}
                            th(colspan=2) {{vmm.activePlayerTableHeader | translate}}
                            th(rowspan=2) {{'Commission Rate' | translate}}
                            th(rowspan=2) {{'ACTION_BUTTON' | translate}}
                        tr
                            th {{'From' | translate}}
                            th {{'To' | translate}}
                            th {{'From' | translate}}
                            th {{'To' | translate}}
                    tbody
                        tr(ng-repeat='(idx,val) in partnerCommission.showConfig.commissionSetting')
                            td
                                input.form-control(type='number', ng-model='val.playerConsumptionAmountFrom' ng-disabled='!val.isEditing')
                            td
                                input.form-control(type='number', ng-model='val.playerConsumptionAmountTo' ng-disabled='!val.isEditing')
                            td
                                input.form-control(type='number', ng-model='val.activePlayerValueFrom' ng-disabled='!val.isEditing')
                            td
                                input.form-control(type='number', ng-model='val.activePlayerValueTo' ng-disabled='!val.isEditing')
                            td
                                span.percentage
                                    input(type='number', percentage, ng-model='val.commissionRate' ng-disabled='!val.isEditing')
                            td
                                a(href="" ng-if="!val.isEditing" ng-click="vm.commissionSettingEditRow(idx, vm.partnerCommission.showConfig.commissionSetting)") {{'Edit' | translate}}
                                a(href="" ng-if="val.isEditing && !val.isCreateNew" ng-click="vm.commissionSettingCancelRow(idx, vm.partnerCommission.showConfig.commissionSetting)") {{'CANCEL' | translate}}

                div(ng-repeat="gpg in partnerCommission.gameProviderGroup track by $index" ng-if="partnerCommission.isGameProviderIncluded")
                    table.simple-table
                        thead
                            tr
                                th(colspan=6) {{gpg.name | translate}}{{'Commission'| translate}}:{{vmm.commissionSettingTab | translate}}
                            tr
                                th(colspan=2) {{vmm.playerConsumptionTableHeader | translate}}
                                th(colspan=2) {{vmm.activePlayerTableHeader | translate}}
                                th(rowspan=2) {{'Commission Rate' | translate}}
                                th(rowspan=2) {{'ACTION_BUTTON' | translate}}
                            tr
                                th {{'From' | translate}}
                                th {{'To' | translate}}
                                th {{'From' | translate}}
                                th {{'To' | translate}}
                        tbody
                            tr(ng-repeat='commissionSetting in gpg.showConfig.commissionSetting track by $index')
                                td
                                    input.form-control(ng-style='commissionSetting.isConfigCustomized ? {color: "red"} : {}', type='number', ng-model='commissionSetting.playerConsumptionAmountFrom', ng-change='isDetectChangeCustomizeCommissionRate(gpg.showConfig)', ng-disabled='!commissionSetting.isEditing || (vmm.isMultiLevelCommission && vmm.checkIsChildPartner())')
                                td
                                    input.form-control(ng-style='commissionSetting.isConfigCustomized ? {color: "red"} : {}', type='number', ng-model='commissionSetting.playerConsumptionAmountTo', ng-change='isDetectChangeCustomizeCommissionRate(gpg.showConfig)', ng-disabled='!commissionSetting.isEditing || (vmm.isMultiLevelCommission && vmm.checkIsChildPartner())')
                                td
                                    input.form-control(ng-style='commissionSetting.isConfigCustomized ? {color: "red"} : {}', type='number', ng-model='commissionSetting.activePlayerValueFrom', ng-change='isDetectChangeCustomizeCommissionRate(gpg.showConfig)', ng-disabled='!commissionSetting.isEditing || (vmm.isMultiLevelCommission && vmm.checkIsChildPartner())')
                                td
                                    input.form-control(ng-style='commissionSetting.isConfigCustomized ? {color: "red"} : {}', type='number', ng-model='commissionSetting.activePlayerValueTo', ng-change='isDetectChangeCustomizeCommissionRate(gpg.showConfig)', ng-disabled='!commissionSetting.isEditing || (vmm.isMultiLevelCommission && vmm.checkIsChildPartner())')
                                td
                                    span.percentage(ng-style='commissionSetting.isCustomized ? {color: "red"} : {}')
                                        input(type='number' step='0.01', ng-model='commissionSetting.commissionRate', ng-change='isDetectChangeCustomizeCommissionRate(gpg.showConfig)', ng-disabled='!commissionSetting.isEditing')
                                td
                                    a(href="" ng-if="!commissionSetting.isEditing" ng-click="commissionSettingEditRow($index, gpg.showConfig.commissionSetting)") {{'Edit' | translate}}
                                    a(href="" ng-if="commissionSetting.isEditing && !commissionSetting.isCreateNew" ng-click="commissionSettingCancelRow($index, gpg.showConfig.commissionSetting, gpg.srcConfig.commissionSetting, true, true, gpg.srcCustomConfig.commissionSetting)") {{'CANCEL' | translate}}
                                    text(ng-if="!commissionSetting.isCreateNew && (!vmm.isMultiLevelCommission || vmm.isMultiLevelCommission && commissionSetting.isEditing)") /
                                    a(href="" ng-if="commissionSetting.isEditing" ng-click="customizeCommissionRate($index, gpg, gpg.showConfig, gpg.srcConfig)") {{'Customize' | translate}}
                                    a(href="" ng-if="!commissionSetting.isEditing && !vmm.isMultiLevelCommission" ng-click="customizeCommissionRate($index, gpg, gpg.showConfig, gpg.srcConfig, true)") {{'Reset default' | translate}}
                                    text(ng-if="commissionSetting.isEditing && vmm.isMultiLevelCommission && !vmm.checkIsChildPartner()") /
                                    a(href="", ng-if='commissionSetting.isEditing && vmm.isMultiLevelCommission && !vmm.checkIsChildPartner()', ng-click="isDetectChangeCustomizeCommissionRate(gpg.showConfig);commissionSettingNewRow(gpg.showConfig.commissionSetting, $index)", style="cursor:pointer") {{'INSERT' | translate}}
                                    //a(href="", ng-if='!vm.isSettingExist', style="pointer-events:none;") {{'INSERT' | translate}}
                                    text(ng-if="commissionSetting.isEditing && vmm.isMultiLevelCommission && !vmm.checkIsChildPartner() && partnerCommission.isCustomized && partnerCommission.isGameProviderIncluded && commissionSettingIsEditAll(0)") /
                                    a(href="", ng-if='commissionSetting.isEditing && vmm.isMultiLevelCommission && !vmm.checkIsChildPartner() && partnerCommission.isCustomized && partnerCommission.isGameProviderIncluded && commissionSettingIsEditAll(0)',
                                        ng-click="isDetectChangeCustomizeCommissionRate(gpg.showConfig);commissionSettingDeleteRow($index, gpg.showConfig.commissionSetting)", style="cursor:pointer") {{'DELETE' | translate}}
                                    //a(href="", ng-if='!vm.isSettingExist', style="pointer-events:none;") {{'DELETE' | translate}}
                        br
                br
                br
                .pull-right
                    button.btn.btn-primary.common-button(ng-if="!vm.partnerCommission.isGameProviderIncluded && vm.partnerCommission.isEditing" ng-click='vm.createUpdatePartnerCommissionConfig()') {{'SUBMIT' | translate}}
                    button.btn.btn-primary.common-button(ng-if="vm.partnerCommission.isGameProviderIncluded" ng-click='vm.submitPartnerCommissionConfigWithGameProviderGroup()') {{'SUBMIT' | translate}}
                    button.btn.btn-danger.common-button(ng-if="partnerCommission.isCustomized && partnerCommission.isGameProviderIncluded && !commissionSettingIsEditAll(0)" ng-click = "commissionSettingEditAll(partnerCommission.gameProviderGroup, true)") {{"EDIT_ALL_COMMISSION_RATE" | translate}}
                    button.btn.btn-primary.common-button(ng-if="partnerCommission.isCustomized && partnerCommission.isGameProviderIncluded && commissionSettingIsEditAll(0)" ng-click = "updateAllCustomizeCommissionRate(partnerCommission.gameProviderGroup)") {{"UPDATE_ALL_COMMISSION_RATE" | translate}}
                    //button.btn.btn-primary.common-button(ng-click='resetAllCustomizedCommissionRate()') {{'RESET_ALL_COMMISSION_RATE' | translate}}
            div.tab-content(ng-if="vmm.isEditAllGroupMode")
                table.simple-table
                    thead
                        tr
                            th(colspan=6) {{vmm.commissionSettingTab | translate}}
                        tr
                            th(colspan=2) {{vmm.playerConsumptionTableHeader | translate}}
                            th(colspan=2) {{vmm.activePlayerTableHeader | translate}}
                            th(rowspan=2) {{'Commission Rate' | translate}}
                            th(rowspan=2) {{'ACTION_BUTTON' | translate}}
                        tr
                            th {{'From' | translate}}
                            th {{'To' | translate}}
                            th {{'From' | translate}}
                            th {{'To' | translate}}
                    tbody
                        tr(ng-repeat='commissionSetting in vmm.allGroupCommRateSetting track by $index')
                            td
                                input.form-control(type='number', ng-model='commissionSetting.playerConsumptionAmountFrom')
                            td
                                input.form-control(type='number', ng-model='commissionSetting.playerConsumptionAmountTo')
                            td
                                input.form-control(type='number', ng-model='commissionSetting.activePlayerValueFrom')
                            td
                                input.form-control(type='number', ng-model='commissionSetting.activePlayerValueTo')
                            td
                                span.percentage
                                    input(type='number' step='0.01', ng-model='commissionSetting.commissionRate')
                            td
                                a(href="", ng-click="allGroupCommSettingNewRow(vmm.allGroupCommRateSetting, $index)", style="cursor:pointer") {{'INSERT' | translate}}
                                text /
                                a(href="", ng-click="allGroupCommSettingDeleteRow($index, vmm.allGroupCommRateSetting)", style="cursor:pointer") {{'DELETE' | translate}}
                    br
                br
                br
                .pull-right
                    button.btn.btn-primary.common-button(ng-click = "updateAllCustomizeCommissionRate(vmm.allGroupCommRateSetting, true)") {{"UPDATE_ALL_COMMISSION_RATE" | translate}}


    .col-md-12.panel.panel-body.panel-primary.common-right-panel-body(style="min-height: 450px;", ng-if='newPartner.commissionType == vmm.selectedSinglePartner.commissionType && newPartner.commissionType != 7 && (!vmm.checkIsChildPartner() || !vmm.isMultiLevelCommission) && !vmm.isEditAllGroupMode')
        div
            h4 {{'Partner Rate Setting' | translate}}
            table.common-table.playerLvlTable
                thead
                    tr
                        th {{'NAME' | translate}}
                        th {{'VALUE' | translate}}
                        th {{'ACTION_BUTTON' | translate}}
                tbody
                    tr
                        td {{'Rate After Rebate Promo' | translate}}
                        td
                            span.percentage(ng-style='vmm.commissionRateConfig.isCustomizedField.indexOf("rateAfterRebatePromo") >= 0 ? {color: "red"} : {}')
                                input(ng-model='vmm.commissionRateConfig.rateAfterRebatePromo' ng-disabled='!vmm.commissionRateConfig.isEditing["rateAfterRebatePromo"]')
                        td
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="commissionRateEditRow('rateAfterRebatePromo', true);") {{'Edit' | translate}}
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="commissionRateEditRow('rateAfterRebatePromo', false);") {{'CANCEL' | translate}}
                            text /
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebatePromo')") {{'Customize' | translate}}
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebatePromo', true)") {{'Reset default' | translate}}
                    tr
                        td {{'Rate After Rebate Platform' | translate}}
                        td
                            div(ng-if="vmm.commissionRateConfig.rateAfterRebateGameProviderGroup")
                                span.percentage(ng-style='vmm.commissionRateConfig.isCustomizedField.indexOf("rateAfterRebatePlatform") >= 0 ? {color: "red"} : {}')
                                    input(ng-model='vmm.commissionRateConfig.rateAfterRebatePlatform' ng-disabled='!vmm.commissionRateConfig.isEditing["rateAfterRebatePlatform"]')
                            div(ng-if="!vmm.commissionRateConfig.rateAfterRebateGameProviderGroup")
                                text -
                        td
                            div(ng-if="vmm.commissionRateConfig.rateAfterRebateGameProviderGroup")
                                a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="commissionRateEditRow('rateAfterRebatePlatform', true);") {{'Edit' | translate}}
                                a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="commissionRateEditRow('rateAfterRebatePlatform', false);") {{'CANCEL' | translate}}
                                text /
                                a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebatePlatform')") {{'Customize' | translate}}
                                a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebatePlatform', true)") {{'Reset default' | translate}}
                            div(ng-if="!vmm.commissionRateConfig.rateAfterRebateGameProviderGroup")
                                text -

                    tr(ng-repeat='(idx,val) in vmm.commissionRateConfig.rateAfterRebateGameProviderGroup')
                        td {{val.name | translate}}
                        td
                            span.percentage(ng-style='val.isCustom ? {color: "red"} : {}')
                                //input(type='number', percentage, ng-model='val.rate', ng-disabled='!vm.isCommissionRateEditing')
                                input(ng-model='val.rate' ng-disabled='!vmm.commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]')
                        td
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="commissionRateEditRow('rateAfterRebateGameProviderGroup', true);") {{'Edit' | translate}}
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="commissionRateEditRow('rateAfterRebateGameProviderGroup', false);") {{'CANCEL' | translate}}
                            text /
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebateGameProviderGroup')",) {{'Customize' | translate}}
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="val.isRevert = true; customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebateGameProviderGroup', true)",) {{'Reset default' | translate}}
                    tr
                        td {{'Rate After Rebate Total Deposit' | translate}}
                        td
                            span.percentage(ng-style='vmm.commissionRateConfig.isCustomizedField.indexOf("rateAfterRebateTotalDeposit") >= 0 ? {color: "red"} : {}')
                                input(ng-model='vmm.commissionRateConfig.rateAfterRebateTotalDeposit' ng-disabled='!vmm.commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]')
                        td
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="commissionRateEditRow('rateAfterRebateTotalDeposit', true);") {{'Edit' | translate}}
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="commissionRateEditRow('rateAfterRebateTotalDeposit', false);") {{'CANCEL' | translate}}
                            text /
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebateTotalDeposit')") {{'Customize' | translate}}
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebateTotalDeposit', true)") {{'Reset default' | translate}}
                    tr
                        td {{'Rate After Rebate Total Withdrawal' | translate}}
                        td
                            span.percentage(ng-style='vmm.commissionRateConfig.isCustomizedField.indexOf("rateAfterRebateTotalWithdrawal") >= 0 ? {color: "red"} : {}')
                                input(ng-model='vmm.commissionRateConfig.rateAfterRebateTotalWithdrawal' ng-disabled='!vmm.commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]')
                        td
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="commissionRateEditRow('rateAfterRebateTotalWithdrawal', true);") {{'Edit' | translate}}
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="commissionRateEditRow('rateAfterRebateTotalWithdrawal', false);") {{'CANCEL' | translate}}
                            text /
                            a(href="" ng-if='vmm.commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebateTotalWithdrawal')") {{'Customize' | translate}}
                            a(href="" ng-if='!vmm.commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="customizePartnerRate(vmm.commissionRateConfig, 'rateAfterRebateTotalWithdrawal', true)") {{'Reset default' | translate}}
    .pull-right(ng-if="!vmm.isEditAllGroupMode")
        button.btn.btn-danger.common-button(ng-if="partnerCommission.isCustomized && !commissionRateIsEditAll() && newPartner.commissionType == vmm.selectedSinglePartner.commissionType && newPartner.commissionType != 7 && (!vmm.checkIsChildPartner() || !vmm.isMultiLevelCommission)" ng-click = "commissionRateEditAll(true)") {{"EDIT_ALL_FEE_RATE" | translate}}
        button.btn.btn-primary.common-button(ng-if="partnerCommission.isCustomized && commissionRateIsEditAll()" ng-click = "commissionRateEditAll(false); customizePartnerRate(vmm.commissionRateConfig)") {{"UPDATE" | translate}}
        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"EXIT" | translate}}
        button.btn.btn-primary.common-button(ng-if="!partnerCommission.isCustomized" data-dismiss='dialog', ng-disabled='form_edit_partner_commission_type.$invalid || form_edit_partner_commission_type.$pristine', ng-click="updateEditedPartner();") {{"SUBMIT_CHANGES" | translate}}
        button.btn.btn-danger.common-button(ng-if="!partnerCommission.isCustomized && newPartner.commissionType == vmm.selectedSinglePartner.commissionType" ng-click="partnerCommission.isCustomized = true;") {{"Customize commission rate" | translate}}
    .pull-right(ng-if="vmm.isEditAllGroupMode")
        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"EXIT" | translate}}