form(name="form_edit_partner_commission_type", novalidate)
    div
        table.simple-table(style='width:auto;min-width:99.9%')
            thead
                tr
                    th {{'PARTNER_NAME' | translate}}
                    th(colspan=4) {{'bonusAmount1' | translate}}
                    th {{'Spent Amount' | translate}}
                    th {{'CLOSED_COMMISSION' | translate}}
            tbody
                tr
                    td
                        text {{newPartner.partnerName}}
                    td
                        label.radio-inline {{'DAILY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='1' ng-click="openCommissionRecord('DAILY_BONUS_AMOUNT', vm.isOneSelectedPartner()._id);")
                    td
                        label.radio-inline {{'WEEKLY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='2' ng-click="openCommissionRecord('WEEKLY_BONUS_AMOUNT', vm.isOneSelectedPartner()._id);")
                    td
                        label.radio-inline {{'BIWEEKLY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='3' ng-click="openCommissionRecord('BIWEEKLY_BONUS_AMOUNT', vm.isOneSelectedPartner()._id);")
                    td
                        label.radio-inline {{'MONTHLY_BONUS_AMOUNT' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='4' ng-click="openCommissionRecord('MONTHLY_BONUS_AMOUNT', vm.isOneSelectedPartner()._id);")
                    td
                        label.radio-inline {{'WEEKLY_CONSUMPTION' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='5' ng-click="openCommissionRecord('WEEKLY_CONSUMPTION', vm.isOneSelectedPartner()._id);")
                    td
                        label.radio-inline {{'CLOSED_COMMISSION' | translate}}
                            input.pull-left.relative(type='radio', ng-model='newPartner.commissionType', value='0' ng-click="openCommissionRecord('CLOSED', vm.isOneSelectedPartner()._id);")
        br
    div(ng-if="partnerCommission.isCustomized || commissionRateConfig.isCustomized")
        .col-md-12.panel.panel-body.panel-primary
            .panel-body.common-right-panel-body
                div.tab-content
                    h4 {{'Customize commission rate' | translate}}
                    table.simple-table(ng-if="!partnerCommission.isGameProviderIncluded" style='width:auto;min-width:99.9%')
                        thead
                            tr
                                th(colspan=6) {{'Total'| translate}}{{'Commission'| translate}}:{{commissionSettingTab | translate}}
                            tr
                                th(colspan=2) {{playerConsumptionTableHeader | translate}}
                                th(colspan=2) {{activePlayerTableHeader | translate}}
                                th(rowspan=2) {{'Commission Rate' | translate}}
                                th(rowspan=2) {{'ACTION_BUTTON' | translate}}
                            tr
                                th {{'From' | translate}}
                                th {{'To' | translate}}
                                th {{'From' | translate}}
                                th {{'To' | translate}}
                        tbody
                            tr(ng-repeat='(idx,val) in partnerCommission.showConfig.commissionSetting')
                                td
                                    input.form-control(type='number', ng-model='val.playerConsumptionAmountFrom' ng-disabled='!val.isEditing')
                                td
                                    input.form-control(type='number', ng-model='val.playerConsumptionAmountTo' ng-disabled='!val.isEditing')
                                td
                                    input.form-control(type='number', ng-model='val.activePlayerValueFrom' ng-disabled='!val.isEditing')
                                td
                                    input.form-control(type='number', ng-model='val.activePlayerValueTo' ng-disabled='!val.isEditing')
                                td
                                    span.percentage
                                        input(type='number', percentage, style="display: inline-block", ng-model='val.commissionRate' ng-disabled='!val.isEditing')
                                td
                                    a(href="" ng-if="!val.isEditing" ng-click="vm.commissionSettingEditRow(idx, vm.partnerCommission.showConfig.commissionSetting)", style="cursor:pointer") {{'Edit' | translate}}
                                    a(href="" ng-if="val.isEditing && !val.isCreateNew" ng-click="vm.commissionSettingCancelRow(idx, vm.partnerCommission.showConfig.commissionSetting)", style="cursor:pointer") {{'CANCEL' | translate}}

                    div(ng-repeat="gpg in partnerCommission.gameProviderGroup track by $index" ng-if="partnerCommission.isGameProviderIncluded")
                        table.simple-table(style='width:auto;min-width:99.9%')
                            thead
                                tr
                                    th(colspan=6) {{gpg.name | translate}}{{'Commission'| translate}}:{{commissionSettingTab | translate}}
                                tr
                                    th(colspan=2) {{playerConsumptionTableHeader | translate}}
                                    th(colspan=2) {{activePlayerTableHeader | translate}}
                                    th(rowspan=2) {{'Commission Rate' | translate}}
                                    th(rowspan=2) {{'ACTION_BUTTON' | translate}}
                                tr
                                    th {{'From' | translate}}
                                    th {{'To' | translate}}
                                    th {{'From' | translate}}
                                    th {{'To' | translate}}
                            tbody
                                tr(ng-repeat='commissionSetting in gpg.showConfig.commissionSetting track by $index')
                                    td
                                        input.form-control(type='number', ng-model='commissionSetting.playerConsumptionAmountFrom' disabled)
                                    td
                                        input.form-control(type='number', ng-model='commissionSetting.playerConsumptionAmountTo' disabled)
                                    td
                                        input.form-control(type='number', ng-model='commissionSetting.activePlayerValueFrom' disabled)
                                    td
                                        input.form-control(type='number', ng-model='commissionSetting.activePlayerValueTo' disabled)
                                    td
                                        span.percentage(ng-style='commissionSetting.isCustomized ? {color: "red"} : {}')
                                            input(type='number' step='0.01' style="display: inline-block", ng-model='commissionSetting.commissionRate', ng-change='isDetectChangeCustomizeCommissionRate(gpg.showConfig)', ng-disabled='!commissionSetting.isEditing')
                                    td
                                        a(href="" ng-if="!commissionSetting.isEditing" ng-click="commissionSettingEditRow($index, gpg.showConfig.commissionSetting)", style="cursor:pointer") {{'Edit' | translate}}
                                        a(href="" ng-if="commissionSetting.isEditing && !commissionSetting.isCreateNew" ng-click="commissionSettingCancelRow($index, gpg.showConfig.commissionSetting, gpg.srcConfig.commissionSetting, true, true, gpg.srcCustomConfig.commissionSetting)", style="cursor:pointer") {{'CANCEL' | translate}}
                                        text(ng-if="!commissionSetting.isCreateNew") /
                                        a(href="" ng-if="commissionSetting.isEditing" ng-click="customizeCommissionRate($index, gpg, gpg.showConfig, gpg.srcConfig)", style="cursor:pointer") {{'Customize' | translate}}
                                        a(href="" ng-if="!commissionSetting.isEditing" ng-click="customizeCommissionRate($index, gpg, gpg.showConfig, gpg.srcConfig, true)", style="cursor:pointer") {{'Reset default' | translate}}
                            br
                    br
                    br
                    .pull-right
                        button.btn.btn-primary.common-button(ng-if="!vm.partnerCommission.isGameProviderIncluded && vm.partnerCommission.isEditing" ng-click='vm.createUpdatePartnerCommissionConfig()') {{'SUBMIT' | translate}}
                        button.btn.btn-primary.common-button(ng-if="vm.partnerCommission.isGameProviderIncluded" ng-click='vm.submitPartnerCommissionConfigWithGameProviderGroup()') {{'SUBMIT' | translate}}
                        button.btn.btn-danger.common-button(ng-if="partnerCommission.isCustomized && partnerCommission.isGameProviderIncluded && !commissionSettingIsEditAll(0)" ng-click = "commissionSettingEditAll(partnerCommission.gameProviderGroup, true)") {{"EDIT_ALL_COMMISSION_RATE" | translate}}
                        button.btn.btn-primary.common-button(ng-if="partnerCommission.isCustomized && partnerCommission.isGameProviderIncluded && commissionSettingIsEditAll(0)" ng-click = "commissionSettingEditAll(partnerCommission.gameProviderGroup, false); updateAllCustomizeCommissionRate(partnerCommission.gameProviderGroup)") {{"UPDATE_ALL_COMMISSION_RATE" | translate}}
                        button.btn.btn-primary.common-button(ng-click='resetAllCustomizedCommissionRate()') {{'RESET_ALL_COMMISSION_RATE' | translate}}

        .col-md-12.panel.panel-body.panel-primary.common-right-panel-body(style="min-height: 450px;")
            div
                h4 {{'Partner Rate Setting' | translate}}
                table.common-table.playerLvlTable(style='width:auto;min-width:99.9%')
                    thead
                        tr
                            th {{'NAME' | translate}}
                            th {{'VALUE' | translate}}
                            th {{'ACTION_BUTTON' | translate}}
                    tbody
                        tr
                            td {{'Rate After Rebate Promo' | translate}}
                            td
                                span.percentage(ng-style='commissionRateConfig.isCustomizedField.indexOf("rateAfterRebatePromo") >= 0 ? {color: "red"} : {}')
                                    input(style="display: inline-block", ng-model='commissionRateConfig.rateAfterRebatePromo' ng-disabled='!commissionRateConfig.isEditing["rateAfterRebatePromo"]')
                            td
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="commissionRateEditRow('rateAfterRebatePromo', true);" style="cursor:pointer") {{'Edit' | translate}}
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="commissionRateEditRow('rateAfterRebatePromo', false);" style="cursor:pointer") {{'CANCEL' | translate}}
                                text /
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebatePromo')", style="cursor:pointer") {{'Customize' | translate}}
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebatePromo"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebatePromo', true)", style="cursor:pointer") {{'Reset default' | translate}}
                        tr
                            td {{'Rate After Rebate Platform' | translate}}
                            td
                                div(ng-if="Boolean(commissionRateConfig.rateAfterRebateGameProviderGroup)")
                                    span.percentage(ng-style='commissionRateConfig.isCustomizedField.indexOf("rateAfterRebatePlatform") >= 0 ? {color: "red"} : {}')
                                        input(style="display: inline-block", ng-model='commissionRateConfig.rateAfterRebatePlatform' ng-disabled='!commissionRateConfig.isEditing["rateAfterRebatePlatform"]')
                                div(ng-if="!Boolean(commissionRateConfig.rateAfterRebateGameProviderGroup)")
                                    text -
                            td
                                div(ng-if="Boolean(commissionRateConfig.rateAfterRebateGameProviderGroup)")
                                    a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="commissionRateEditRow('rateAfterRebatePlatform', true);" style="cursor:pointer") {{'Edit' | translate}}
                                    a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="commissionRateEditRow('rateAfterRebatePlatform', false);" style="cursor:pointer") {{'CANCEL' | translate}}
                                    text /
                                    a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebatePlatform')", style="cursor:pointer") {{'Customize' | translate}}
                                    a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebatePlatform"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebatePlatform', true)", style="cursor:pointer") {{'Reset default' | translate}}
                                div(ng-if="!Boolean(commissionRateConfig.rateAfterRebateGameProviderGroup)")
                                    text -

                        tr(ng-repeat='(idx,val) in commissionRateConfig.rateAfterRebateGameProviderGroup')
                            td {{val.name | translate}}
                            td
                                span.percentage(ng-style='val.isCustomized ? {color: "red"} : {}')
                                    //input(type='number', percentage, style="display: inline-block", ng-model='val.rate', ng-disabled='!vm.isCommissionRateEditing')
                                    input(style="display: inline-block", ng-model='val.rate' ng-disabled='!commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]')
                            td
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="commissionRateEditRow('rateAfterRebateGameProviderGroup', true);" style="cursor:pointer") {{'Edit' | translate}}
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="commissionRateEditRow('rateAfterRebateGameProviderGroup', false);" style="cursor:pointer") {{'CANCEL' | translate}}
                                text /
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebateGameProviderGroup')", style="cursor:pointer") {{'Customize' | translate}}
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebateGameProviderGroup"]' ng-click="val.isRevert = true; customizePartnerRate(commissionRateConfig, 'rateAfterRebateGameProviderGroup', true)", style="cursor:pointer") {{'Reset default' | translate}}
                        tr
                            td {{'Rate After Rebate Total Deposit' | translate}}
                            td
                                span.percentage(ng-style='commissionRateConfig.isCustomizedField.indexOf("rateAfterRebateTotalDeposit") >= 0 ? {color: "red"} : {}')
                                    input(style="display: inline-block", ng-model='commissionRateConfig.rateAfterRebateTotalDeposit' ng-disabled='!commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]')
                            td
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="commissionRateEditRow('rateAfterRebateTotalDeposit', true);" style="cursor:pointer") {{'Edit' | translate}}
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="commissionRateEditRow('rateAfterRebateTotalDeposit', false);" style="cursor:pointer") {{'CANCEL' | translate}}
                                text /
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebateTotalDeposit')", style="cursor:pointer") {{'Customize' | translate}}
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebateTotalDeposit"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebateTotalDeposit', true)", style="cursor:pointer") {{'Reset default' | translate}}
                        tr
                            td {{'Rate After Rebate Total Withdrawal' | translate}}
                            td
                                span.percentage(ng-style='commissionRateConfig.isCustomizedField.indexOf("rateAfterRebateTotalWithdrawal") >= 0 ? {color: "red"} : {}')
                                    input(style="display: inline-block", ng-model='commissionRateConfig.rateAfterRebateTotalWithdrawal' ng-disabled='!commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]')
                            td
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="commissionRateEditRow('rateAfterRebateTotalWithdrawal', true);" style="cursor:pointer") {{'Edit' | translate}}
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="commissionRateEditRow('rateAfterRebateTotalWithdrawal', false);" style="cursor:pointer") {{'CANCEL' | translate}}
                                text /
                                a(href="" ng-if='commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebateTotalWithdrawal')", style="cursor:pointer") {{'Customize' | translate}}
                                a(href="" ng-if='!commissionRateConfig.isEditing["rateAfterRebateTotalWithdrawal"]' ng-click="customizePartnerRate(commissionRateConfig, 'rateAfterRebateTotalWithdrawal', true)", style="cursor:pointer") {{'Reset default' | translate}}
    .pull-right
        button.btn.btn-danger.common-button(ng-if="partnerCommission.isCustomized && !commissionRateIsEditAll()" ng-click = "commissionRateEditAll(true)") {{"EDIT_ALL_FEE_RATE" | translate}}
        button.btn.btn-primary.common-button(ng-if="partnerCommission.isCustomized && commissionRateIsEditAll()" ng-click = "commissionRateEditAll(false); customizePartnerRate(commissionRateConfig)") {{"UPDATE" | translate}}
        button.btn.btn-warning.common-button(data-dismiss='dialog') {{"CANCEL" | translate}}
        button.btn.btn-primary.common-button(ng-if="!partnerCommission.isCustomized" data-dismiss='dialog', ng-disabled='form_edit_partner_commission_type.$invalid || form_edit_partner_commission_type.$pristine', ng-click="updateEditedPartner();") {{"SUBMIT_CHANGES" | translate}}
        button.btn.btn-danger.common-button(ng-if="!partnerCommission.isCustomized" ng-click="partnerCommission.isCustomized = true;") {{"Customize commission rate" | translate}}
