.row
    .col-md-3
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                .fa.fa-wrench
                label &nbsp;{{"CONFIGURATION" | translate}}
            .panel-body.common-left-sub-panel-body
                p(ng-if="!vm.curPlatformText")
                    label.text-danger {{"NO_PLATFORM_MESSAGE" | translate}}
                ul.list-group.treeview(style="height: 430px; overflow-y: auto;", ng-if="vm.curPlatformText")
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "validActive"}', ng-click='vm.configTabClicked("validActive")')
                        span {{"VALID_ACTIVE" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "partnerCommission"}', ng-click='vm.configTabClicked("partnerCommission"); vm.commissionSettingTab = "DAILY_CONSUMPTION"')
                        span {{"Partner Commission" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "partnerBasic"}', ng-click='vm.configTabClicked("partnerBasic")', ng-if="checkViewPermission('Partner', 'Config', 'PartnerBasic')" )
                        span {{"Partner Basic" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "autoApproval"}', ng-click='vm.configTabClicked("autoApproval")', ng-if="checkViewPermission('Partner', 'Config', 'AutoApproval')")
                        span {{"Auto Approval Setting" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "largeWithdrawalPartnerSetting"}', ng-click='vm.configTabClicked("largeWithdrawalPartnerSetting")', ng-if="checkViewPermission('Partner', 'Config', 'largeWithdrawalSetting')" )
                        span {{"largeWithdrawalSetting" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "emailNotificationConfig"}', ng-click='vm.configTabClicked("emailNotificationConfig")', ng-if="checkViewPermission('Partner', 'Config', 'emailNotificationConfig')" )
                        span {{"emailNotificationConfig" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "partnerDisplay"}', ng-click='vm.configTabClicked("partnerDisplay")', ng-if="checkViewPermission('Partner', 'Config', 'PartnerDisplay')")
                        span {{"PartnerDisplay" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "partnerAdvert"}', ng-click='vm.configTabClicked("partnerAdvert")', ng-if="checkViewPermission('Partner', 'Config', 'PartnerAdvertisement')")
                        span {{"PartnerAdvertisement" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "partnerPosterAds"}', ng-click='vm.configTabClicked("partnerPosterAds")', ng-if="checkViewPermission('Partner', 'Config', 'partnerPosterAds')")
                        span {{"partnerPosterAds" | translate}}
                    li.list-group-item(ng-class='{active: vm.selectedConfigTab === "commissionBillboard"}', ng-click='vm.configTabClicked("commissionBillboard")', ng-if="checkViewPermission('Partner', 'Config', 'commissionBillboard')")
                        span {{"commissionBillboard" | translate}}



    .col-md-9(style="padding-left:0;padding-right:15px")
        .panel.panel-primary
            .panel-heading.panel-heading-sm
                label {{"CONFIGURATION_DETAIL" | translate}}
            .panel-body.common-right-sub-panel-body
                .text-center(ng-if='!vm.selectedConfigTab')
                    label.text-danger {{'Please select a type' | translate}}
                div(ng-if='vm.selectedConfigTab=="validActive"')
                    include ./setting/partner-setting-valid-active
                div(ng-if='vm.selectedConfigTab=="partnerBasic"')
                    include ./setting/partner-setting-basic
                div(ng-if='vm.selectedConfigTab=="partnerCommission"')
                    include ./setting/partner-setting-commission
                div(ng-if='vm.selectedConfigTab=="autoApproval"')
                    include ./setting/partner-setting-auto-approval
                div(ng-if='vm.selectedConfigTab=="largeWithdrawalPartnerSetting"')
                    include ./setting/partner-setting-large-withdrawal
                div(ng-if='vm.selectedConfigTab=="emailNotificationConfig"')
                    include ./setting/partner-setting-email-notification
                div(ng-if='vm.selectedConfigTab=="partnerDisplay"')
                    include ./setting/partner-setting-display
                div(ng-if='vm.selectedConfigTab=="partnerAdvert"')
                    include ./setting/partner-setting-advert
                div(ng-if='vm.selectedConfigTab=="partnerPosterAds"')
                    include ./setting/partner-setting-poster-advertisement
                div(ng-if='vm.selectedConfigTab=="commissionBillboard"')
                    include ./setting/partner-setting-commission-billboard