.row.margin-left-5.margin-right-5(ng-show="checkViewPermission('Partner') && vm.curPlatformText")
    #partnerContent(style="padding-left:0;",ng-class='vm.rightPanelClass')
        .padding-all-5
            .panel.panel-primary
                .panel-heading.common-left-panel-heading
                    ul.nav.nav-tabs.common-nav-tabs(id='ulMenu')

                        li.active(ng-if="checkViewPermission('Partner', 'Partner')")
                            a.common-tab(data-toggle="tab", href="#Infolist", ng-click="vm.loadTab('Infolist');")
                                .fa.fa-volume-control-phone.margin-right-5
                                text.span {{"Partner Information list" | translate}}
                        li(ng-if="checkViewPermission('Partner', 'Config')")
                            a.common-tab(data-toggle="tab", href="#Config", ng-click="vm.loadTab('Config');")
                                .fa.fa-volume-control-phone.margin-right-5
                                text.span {{"CONFIG" | translate}}
                        li(ng-if="checkViewPermission('Partner', 'Settlement')")
                            a.common-tab(data-toggle="tab", href="#Settlement", ng-click="vm.loadTab('Settlement');")
                                .fa.fa-volume-control-phone.margin-right-5
                                text.span {{"SETTLEMENT" | translate}}
                        li(ng-if="checkViewPermission('Partner', 'Report')")
                            a.common-tab(data-toggle="tab", href="#Report", ng-click="vm.loadTab('Report');")
                                .fa.fa-volume-control-phone.margin-right-5
                                text.span {{"REPORT" | translate}}



                .panel-body(style="position: relative;")
                    div.tab-content

                        #Infolist.tab-pane.fade.in.active
                            include ./platform-partner
                        #Config.tab-pane.fade.in
                            include ./partner-config
                        #Settlement.tab-pane.fade.in
                            include ./partner-settlement
                        #Report.tab-pane.fade.in
                            include ./report/partner-report-home

// modals (maybe move to a separate file?)

include modals/partner-common-modal
include modals/partner-commission-modal
include partner-feedback-popup
include ../common-widget/telephone-popover
include ../common-widget/modalYesNo







